/* Apply to all media types and resolutions. Inherits to all layouts. */

#pageslide {
    /* These styles MUST be included. Do not change. */
    background: #fff;
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;
    overflow: hidden;

    /* Specify the width of your pageslide here */
    width: 100%;
    padding: 0px 3px;
    
    /* These styles are optional, and describe how the pageslide will look 

    background: #fff url(/images/ajax.gif) no-repeat center center;
    */
    
    /*
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-box-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
    */
}

#toolbar {
    background: #000; 
    border-bottom: 1px solid #ffcc00;
    position: relative;
    height: 35px;
}

#closebutton {background: #ffcc00; padding:7px 10px; width: 60px; cursor: pointer; text-align: center; float:left;}

#slidecontent {
    margin-top: 8px;
    height: 100%;
    width: 100%;
}

.modal {display: none;}


/* Tablet(portrait) Layout. */
@media all and (max-width: 768px) {
    
     
}


/* Tablet(portrait) Layout. */
@media all and (max-width: 500px) {
    
     
}


/* Tablet(landscape) and Small Desktop Layout. */
@media screen and (min-width:1000px){

    #slidecontent {
        height: 100%;
        width: 100%;
    }

}


/* Laptop Layout. */
@media screen and (min-width:1300px){


}


/* Large Desktop Layout. */
@media screen and (min-width:1600px){


}