/* Apply to all media types and resolutions. Inherits to all layouts. */

#pageslide {
    /* These styles MUST be included. Do not change. */
    background: #fff;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    z-index: 999999;
    overflow: hidden;

    /* Specify the width of your pageslide here */
    width: 100%;
    padding: 0px 3px;

}

#toolbar {
    //background: #000; 
    //border-bottom: 1px solid #ffcc00;
    //position: relative;
    height: 50px;
}

#closebutton {
    //background: #ffcc00;
    padding: 7px 10px;
    width: 60px;
    cursor: pointer;
    display: block;
    //text-align: center;
    //float: left;
}

#slidecontent {
    margin-top: 1px;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.modal {
    display: none;
}