#pageslide {
    /* These styles MUST be included. Do not change. */
    display: none;
    position: absolute;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 999999;

    /* Specify the width of your pageslide here */
    width: 100%;
    padding: 6px 0 0 3px;
    
    /* These styles are optional, and describe how the pageslide will look */
    background-color: #333;
    color: #FFF;
    -webkit-box-shadow: inset 0 0 5px 5px #222;
    -moz-box-shadow: inset 0 0 5px 5px #222;
    box-shadow: inset 0 0 5px 5px #222;
}



        
.modal {
    display: none;
}


@media all and (min-width: 501px) {

}


@media all and (min-width: 769px) {

}


@media screen and (min-width: 1025px) {
    
    .closebutton {background: #ffcc00; padding:7px 10px; width: 100px; height: 30px; cursor: pointer;}
    .slidecontent {margin-top: 8px;overflow: hidden;height: 97%;}

}