@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Dosis|Cantora+One|Quicksand|Titillium+Web|Roboto|Advent+Pro);

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
	font-family: Satisfy;
	src: local("Satisfy"), url(http://themes.googleusercontent.com/static/fonts/satisfy/v3/swgYNTW5Q6X61bBH6SDBsg.eot) format("embedded-opentype"), url(http://themes.googleusercontent.com/static/fonts/satisfy/v3/ch7X2unYkww0EzsjlC3m8w.woff) format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src:url('/content/font/icomoon.eot');
	src:url('/content/font/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/content/font/icomoon.woff') format('woff'),
		url('/content/font/icomoon.ttf') format('truetype'),
		url('/content/font/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'arrows';
	src:url('/content/font/arrows.eot');
	src:url('/content/font/arrows.eot?#iefix') format('embedded-opentype'),
		url('/content/font/arrows.woff') format('woff'),
		url('/content/font/arrows.ttf') format('truetype'),
		url('/content/font/arrows.svg#arrows') format('svg');
	font-weight: normal;
	font-style: normal;
}
