/* =============================================================================
   Variables
   ========================================================================== */

$main-color: #3fa3d5; // #FF3D7F
$black: #000;
$darkgrey: #444;
$mediumgrey: #666;
$lightgrey: #999;
$white: #FFF;
$space: 1em;