@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Degree Programs";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Graduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}


                            
<section>
    <div class="container">

        <div class="row">
            <div class="col-md-12"><!--placeholder--></div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h2>MBA <small>(3)</small></h2>
                <p></p>
            </div>
            <div class="col-md-4">
                <div><a href="~/graduate/programs/executive-mba">Executive</a></div>
                <div><a href="~/graduate/programs/professional-mba">Professional</a></div>
                <div><a href="~/graduate/programs/lockstep-mba">Lockstep</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h2>Masters <small>(3)</small></h2>
                <div><a href="~/graduate/programs/ms-accounting">Accounting</a></div>
                <div><a href="~/graduate/programs/ms-taxation">Taxation</a></div>
                <div><a href="~/graduate/programs/msbm-sport-business-management">Sport Business</a></div>
            </div>
            <div class="col-md-6">
                <h2>Professional Masters <small>(2)</small></h2>
                <div><a href="~/graduate/programs/professional-ms-management">Management</a></div>
                <div><a href="~/graduate/programs/professional-ms-real-estate">Real Estate</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><h2>Doctorate</h2><a href="~/graduate/programs/doctorate">Learn more.</a></div>



            @*<div class="col-md-4">
                <p><ul>
                    <li><a href="~/undergraduate/programs/minor-accounting">Accounting</a></li>
                    <li><a href="~/undergraduate/programs/minor-economics">Economics</a></li>
                    <li><a href="~/undergraduate/programs/minor-economics-policy">Economics Policy</a></li>
                    <li><a href="~/undergraduate/programs/minor-entrepreneurship">Entrepreneurship</a></li>
                </ul></p>
            </div>
            <div class="col-md-4">
                <p><ul>
                    <li><a href="~/undergraduate/programs/minorfinance-">Finance</a></li>
                    <li><a href="~/undergraduate/programs/minor-general-business">General Business</a></li>
                    <li><a href="~/undergraduate/programs/minor-international-business">International Business</a></li>
                    <li><a href="~/undergraduate/programs/minor-marketing">Marketing</a></li>
                </ul></p>
            </div>
            <div class="col-md-4">
                <p><ul>
                    <li><a href="~/undergraduate/programs/minor-real-estate">Real Estate</a></li>
                    <li><a href="~/undergraduate/programs/minor-sport-business">Sport Business Management</a></li>
                    <li><a href="~/undergraduate/programs/minor-technological-entrepreneurship">Technological Entrepreneurship</a></li>
                </ul></p>
            </div>*@


        </div>
                            

    </div>
</section>
