@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Doctorate in Business Administration";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1></h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                 <p>The objective of the full-time doctoral program in Business Administration is to prepare students for academic careers in higher education and management opportunities in profit and nonprofit organizations.</p>

<h3>Contacts</h3>
<ul>
<li>Accounting Advisor: Steve Sutton, Ph.D.</li>
<li>Finance Advisor: Charles Schnitzlein, Ph.D.</li>
<li>Management Advisor: Dean Cleavenger, Ph.D.</li>
<li>Marketing Advisor: Ron Michaels, Ph.D.</li>

</ul>
          
		                </div>
	                </div>
                </section>

                                
                <section id="">
                    <div class="canvas">
		                <div class="container">
<h3>Course Catalog</h3>
<p>Track options include:</p>
<ul>
<li>Accounting Concentration</li>
<li>Finance Concentration</li>
<li>Management Concentration</li>
<li>Marketing Concentration</li>
</ul>                     
		                </div>
	                </div>
                </section>

                                
                <section id="">
                    <div class="canvas">
		                <div class="container">
 <h3>Admission Requirements</h3>
<p>Students applying for admission to the doctoral program in Business Administration will be required to submit competitive Graduate Management Admission Test (GMAT) scores. International students must submit a score of 233 (computer-based test; or equivalent score on the paper-based test) on the Test of English as a Foreign Language (TOEFL) if they are not a graduate from an accredited college or university in the United States. International students may be required to submit a Test of Spoken English (TSE) score and all foreign transcripts will be evaluated by the College of Graduate Studies.</p>
<p>Admission decisions are made on the recommendation of the faculty of the appropriate department or school. Admissions will be made only for fall semester. All new students must participate in the Graduate Teaching Assistantship Orientation in August each year.</p>
<h4>Application Deadlines</h4>
<p>Fall admission only. All required documents including three letters of recommendation, application, official transcripts, GMAT test scores, goal statement, and resume must be received in the Office of Graduate Studies (Millican Hall 230) by the university's deadline, April 15. Consideration for financial assistance will begin for applications received by January 15.</p>
               
		                </div>
	                </div>
                </section>

            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->