@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Professional MBA";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    .cover-img {background-image: url('/images/pmba-bg.jpg');}
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h2>@Page.Title</h2>
        <h1></h1>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                            Providing today’s leaders the competitive advantage necessary for their career advancement

•	Designed for experienced executives
•	19-month cohort program
•	Requires minimum of 5 years relevant work experience and bachelor’s degree
•	Located in Downtown Orlando
Classes meet three Saturdays and one Friday per month
•	Leadership-relevant curriculum includes a 10-day international residency
•	Tuition includes 39-credit hours, international residency, text books, course materials, parking and administrative fees



		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->