@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Professional Masters in Real Estate";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    .cover-img {background-image: url('/images/pmre-bg.jpg');}
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h2>@Page.Title</h2>
        <h1></h1>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">

                            UCF’s Professional Master of Science in Real Estate (PMRE) is the Dr. P. Phillips School of Real Estate’s flagship program. It prepares students for senior-level positions in residential and commercial real estate brokerage, appraisal, development, and mortgage brokerage. Students continue their full-time careers while earning the accredited graduate degree.

                            Curriculum
PMRE classes meet Monday & Wednesday evenings, 6:00-9:50 p.m., at the Executive Development Center’s state-of-the-art downtown facility. The 30-credit hour curriculum comprises five sessions over 20 months. Core business courses in accounting, finance, and marketing will be offered with advanced coursework in residential and commercial real estate. Program graduates gain useful knowledge applicable to a variety of real estate-related fields.
Click here for a list of courses currently taught in the PMRE.

		                </div>
	                </div>
                </section>

                                
                <section id="">
                    <div class="canvas">
		                <div class="container">
                            Admissions Criteria
PMRE welcomes applications from well-rounded individuals with minimum 2 years’ work experience who bring unique insight to the classroom learning environment and team experience.
Follow these steps to apply:
1.	Complete the online application and remit the $30 application fee.
2.	Submit all required documents, including transcripts, GMAT or GRE test scores, letters of recommendation, and essay.
3.	Schedule an interview with the PMRE Admissions Committee.
   		                </div>
	                </div>
                </section>          
                            
                 <section id="">
                    <div class="canvas">
		                <div class="container">
                Tuition Schedule
The tuition for the PMRE program is an all-inclusive package. It covers all tuition costs, textbooks, laptop computer, orientation, parking during class times, class shirt, lifetime membership to the UCF Alumni Association, and all administrative fees. This fee applies to Florida residents only. Non-Florida residents should contact the Executive Development Center to determine the current out-of-state tuition rate for the PMBA program.
Many employers offer PMRE reimbursement packages. Please check with your employer to determine the availability of financial assistance.
Participants of the PMRE program are often eligible for financial aid. Contact UCF’s Financial Aid department for more information.

Click here for the current PMRE tuition schedule.
		                </div>
	                </div>
                </section>

            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->