@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>

        <link href="~/Stylesheet.css" rel="stylesheet" type="text/css" />

    </head>
    <body>
        <a id="top"></a>

            <nav id="menu" data-scrollspy="scrollspy">
                <div>
                    <!--BEGIN: Menu-->
                    <ul>
                        <li style="line-height:0;"><a href="#top"></a></li>
                        <li><a href="#content-one">About Department</a></li>
                        <li><a href="#content-two">About Academics</a></li>
                        <li><a href="#content-three">About Resources</a></li>
                    </ul>
                    <!--FINIS: Menu-->
                </div>
            </nav>

            <div id="main-content">
                
                <p>main-content</p>

                <section id="content-one" class="section persist-area">
        
                    <h1>C1- &lt;h1&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

                    <h2>&lt;h2&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                    Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                    netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                    Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                    ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                    <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
                    aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
                    Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
                    Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
                    leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                    Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                    netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                    Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                    ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>

                </section>

                <section id="content-two" class="section persist-area">

                    <h1>C2- &lt;h1&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

                    <h2>&lt;h2&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                    Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                    netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                    Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                    ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                    <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
                    aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
                    Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
                    Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
                    leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                    Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                    netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                    Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                    ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                </section>

                <div id="content-three" class="section persist-area">

                    <h1>C3- &lt;h1&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h1>

                    <h2>&lt;h2&gt; title. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
                    <p>&lt;p&gt; paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                    Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                    netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                    Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                    ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>
                    <p>Nam turpis nulla, scelerisque vitae imperdiet non, 
                    aliquet et metus. Pellentesque enim justo, placerat in consequat nec, iaculis quis mauris. 
                    Quisque placerat massa non magna luctus molestie. Sed dapibus odio sagittis libero consequat euismod sit amet non elit. 
                    Vivamus rutrum, elit in accumsan tincidunt, nisl elit commodo tortor, ut rutrum felis eros sagittis augue. Mauris egestas, 
                    leo nec pharetra accumsan, nisi dolor accumsan dui, sit amet aliquet nulla mauris sed elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nec massa sapien, sed laoreet elit. 
                    Donec aliquet massa ut odio tempus in faucibus neque facilisis. Pellentesque habitant morbi tristique senectus et 
                    netus et malesuada fames ac turpis egestas. Suspendisse dui dolor, aliquam eu gravida eu, fringilla in purus. 
                    Nulla vel consectetur dolor. Donec interdum ultricies sapien a ullamcorper. Aliquam nec augue eget lectus rhoncus 
                    ultrices sed non arcu. Pellentesque tempus rutrum mi sed sollicitudin.</p>

                </div>
            
            </div>
        

         <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script src="http://scripts.bus.ucf.edu/js/libs/bootstrap-scrollspy.js" type="text/javascript"></script>


    </body>
</html>
