@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "AACSB Accreditation";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    .cover-img {}
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Our College</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                
                <div class="container"> 
                <img src="~/images/aacsb-lowres-black.gif" width="120" height="120" alt="aacsb logo">
                    <br><br>
                <p>All of our undergraduate and graduate programs are accredited by <a href="https://datadirect.aacsb.edu/public/profiles/profile.cfm?runReport=1&unitid=54458&userType=All">AACSB International</a>- The Association to Advance Collegiate Schools of Business. This represents the highest standard of achievement for business schools worldwide. Less than 5% of business school programs worldwide have earned this accreditation, which requires strict adherence to rigorous standards of excellence. Read more about why AACSB accreditation is important.</p>

                <p>AACSB International - The Association to Advance Collegiate Schools of Business:</p>

                <ul>
                <li>College of Business Administration - 1975</li>
                <li>Dixon School of Accounting - 1991</li>
                </ul>
                The University of Central Florida has been accredited by the <a href="http://www.sacs.org/">Southern Association of Colleges and Schools (SACS)</a> since 1970. View the list of <a href="http://ikm.ucf.edu/academic-reports/accreditations/">all university accreditations</a>.
                </ul>
</div>

            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->