@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Administration";
}

@section Styles {

}

@section featured {
    <hgroup class="page-title">
        <h1>@Page.Title</h1>
    </hgroup>
}

<p><strong>Paul Jarley, Ph.D.</strong> - Dean</p>
<p><strong>Taylor Ellis, Ph.D.</strong> - Associate Dean</p>
<p><strong>Foard Jones, Ph.D.</strong> - Associate Dean</p>