@{
    //Access Database
    var db = Database.Open("ucfBusiness");
    var sql = "SELECT * FROM CBA_Calendars";
    var data = db.Query(sql);
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <!-- Test Data Access -->
        @foreach (var row in data)
        {
            <div>@row.Title</div>
            <div>Private: @row.IsPrivate</div>
            <br>
        }
    </body>
</html>
