@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";

    //Cache Page
    Response.Cache.SetExpires(DateTime.Now.AddSeconds(60));
    Response.Cache.SetCacheability(HttpCacheability.Public);
    Response.Cache.SetValidUntilExpires(true);
}

@section Scripts {
    @*<script>
    </script>*@
}

@section Styles {
    @*<style>
    </style>*@
}

@section featured {
    <section id="login" style="display: none;">
        <p>Authenticated: @WebSecurity.IsAuthenticated</p>
        @if (WebSecurity.IsAuthenticated) {
            <text>
                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                <form id="logoutForm" action="~/Account/Logout" method="post">
                    @AntiForgery.GetHtml()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </form>
            </text>
        } else {
            <ul>
                <li><a href="~/Account/Register">Register</a></li>
                <li><a href="~/Account/Login">Log in</a></li>
            </ul>
        }
    </section>
}
 
<!--// ROW - SPOTLIGHTS/FEATURED ANNOUNCEMENTS -->
<div class="pagespan">
    <section class="wrap">
        <div class="wrap-header"><span>&nbsp;@*Spotlights*@</span><span><small><< SCROLL ROWS TO VIEW MORE >></small></span></div>
        <div class="frame" id="row1" data-intro="row1" data-position="left">
			<ul class="clearfix">
                
                <li class="long-panel">
                    <div title="start here">
                        <a href="//issuu.com/ucfbusiness/docs/cba-viewbook-2012?e=0" class="target_blank">
                            <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" data-echo="/images/pixel.gif" style="background-image: url(/images/panels/viewbook.jpg);">
                            <p>Start Here...with our college guide</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="join our ambassadors">
                        <a href="//bit.ly/ambassadors2014" target="_blank">
                            <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/ambassadorprogram.jpg?@DateTime.Now.TimeOfDay">
                            <p>Register now to join our college ambassadors program</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="dr. paul jarley's blog">
                        <a href="//pauljarley.wordpress.com" class="target_blank">
                            <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/dean-blog.jpg?@DateTime.Now.TimeOfDay">
                            <p>Dean Jarley's Blog</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="meet our faculty">
                        <a href="//www.bus.ucf.edu/directory.aspx" class="target_blank">
                            <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/meet-our-faculty.jpg?@DateTime.Now.TimeOfDay">
                            <p>Search our faculty directory</p>
                        </a>
                    </div>
                </li>

			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"><span></span></div>
            </div>
        </div><!--/scrollbar --> 
        <div class="controls center use-fastclick">
            <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->    
    </section>
</div>

<!--// ROW - EVENTS -->
<div class="pagespan">
    <section class="wrap">
        <div class="wrap-header"><span>&nbsp;@*Events*@</span><span><small></small></span></div>
		<div class="frame" id="row2" data-intro="row2" data-position="left">
			<ul class="clearfix">

                <li>
                    <div title="executive development">
                        <a href="//edc.research.ucf.edu/performance-excellence" target="_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/execed-event.jpg?@DateTime.Now.TimeOfDay">
                            <p>The Path to Performance Excellence: How small changes in business processes lead to big improvements in organizational performance.</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="professional mba">
                        <a href="//edc.research.ucf.edu/pmba" target="_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/pmba-event.jpg?@DateTime.Now.TimeOfDay">
                            <p>Join us for a PMBA Palm Bay Information Session</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="executive mba">
                        <a href="//edc.research.ucf.edu/emba" target="_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/emba-event.jpg?@DateTime.Now.TimeOfDay">
                            <p>Join us for our next UCF EMBA Information Session</p>
                        </a>
                    </div>
                </li>

                <li> 
                    <div title="dean's speaker series">
                        <a href="//bit.ly/speakerseries-porter" target="_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/rporter.jpg?@DateTime.Now.TimeOfDay">
                            <p>Dr. Robert Porter: Why Your Business Strategy is Keeping You Up at Night (or should be!)</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="the joust">
                        <a href="//web.bus.ucf.edu/joust" target="_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/thejoust.jpg?@DateTime.Now.TimeOfDay">
                            <p>Join us for for our annual Joust competition</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="accounting conference">
                        <a href="//www.bus.ucf.edu/accounting/conference" target="_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/accountingconference.jpg?@DateTime.Now.TimeOfDay">
                            <p>33rd Annual Kenneth G. Dixon School of Accounting Conference</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="real estate conference">
                        <a href="//www.bus.ucf.edu/realestate/conference" target="_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/realestate.jpg?@DateTime.Now.TimeOfDay">
                            <p>Here Comes the Sun: Emerging Opportunities in a Recovering Market</p>
                        </a>
                    </div>
                </li>

			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"><span></span></div>
            </div>
        </div><!--/scrollbar --> 
        <div class="controls center use-fastclick">
            <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls --> 
    </section>
</div>

<!--// ROW - NEWS -->
<div class="pagespan">
    <section class="wrap">
        <div class="wrap-header"><span>&nbsp;@*News*@</span><span><small></small></span></div>
        <div class="frame" id="row3" data-intro="row3" data-position="left">
			<ul class="clearfix">

                <li>
                    <div title="ucf today">
                        <a href="//today.ucf.edu/section/business/" class="target_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/ucf-news.jpg?@DateTime.Now.TimeOfDay">
                            <p>Business and Economy News</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="dr. richard lapchick">
                        <a href="//www.huffingtonpost.com/2014/01/02/college-leaders-white-men-study_n_4532721.html?ncid=edlinkusaolp00000003" target="_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/rlapchick.jpg?@DateTime.Now.TimeOfDay">
                            <p>Most College Presidents, Coaches And Other Leaders Are White Men, Study Confirms</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="dr. sean snaith's economic forecasts">
                        <a href="//iec.ucf.edu/page/forecasts.aspx" class="target_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/snaith-forecasts.jpg?@DateTime.Now.TimeOfDay">
                            <p>Florida and U.S. Economic Forecasts from Dr. Sean Snaith</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="Stay connected with social media">
                        <a href="~/social-media">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/social-media.jpg?@DateTime.Now.TimeOfDay">
                            <p>Join the conversation</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="blackstone launchpad site">
                        <a href="//ucf.thelaunchpad.org" class="target_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/blackstone.jpg?@DateTime.Now.TimeOfDay">
                            <p>Blackstone Launchpad Open</p>
                        </a>
                    </div>
                </li>

			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"><span></span></div>
            </div>
        </div><!--/scrollbar --> 
        <div class="controls center use-fastclick">
            <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls --> 
    </section>
</div>

<!--// ROW -->
<div class="pagespan">
    <section class="wrap">
        <div class="wrap-header"><span>&nbsp;@*Special Events*@</span><span><small></small></span></div>
        <div class="frame" id="row4" data-intro="row4" data-position="left">
			<ul class="clearfix">

                <li class="long-panel">
                    <div title="graduate business programs">
                        <a href="//ucfmba.ucf.edu" target="_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" style="background-image: url(/images/panels/mba.jpg);">
                            <p>Get your UCF MBA</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="office of advising and professional development">
                        <a href="//www.bus.ucf.edu/students/undergraduate/" class="target_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/advising.jpg?@DateTime.Now.TimeOfDay">
                            <p>Undergraduate Advising and Professional Development</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="keon testing center">
                        <a href="//www.bus.ucf.edu/testingcenter" class="target_blank">
                            <img src="//images.bus.ucf.edu/testinglab/camshot.jpg?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%">
                            <p>Keon Testing Center</p>
                        </a>
                    </div>
                </li>
                
                <li>
                    <div title="Take the ball by Dr. Paul Jarley">
                        <a href="//www.bus.ucf.edu/dean/take-the-ball" class="target_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/take-the-ball.jpg?@DateTime.Now.TimeOfDay">
                            <p>Learn how to Take the Ball</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="Black and Gold Friday">
                        <a href="//www.bus.ucf.edu/events/black-and-gold-friday" target="_blank">
                            <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/black-gold-friday.jpg?@DateTime.Now.TimeOfDay">
                            <p></p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="Starter Riot">
                        <a href="//www.bus.ucf.edu/events/starter-riot" target="_blank">
                            <img src="~/images/blank.gif" alt="..." width="100%" height="100%" data-echo="/images/panels/starter-riot.jpg?@DateTime.Now.TimeOfDay">
                            <p></p>
                        </a>
                    </div>
                </li>                

			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"><span></span></div>
            </div>
        </div><!--/scrollbar --> 
        <div class="controls center use-fastclick">
            <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls --> 
    </section>
</div>
