@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";

    //Cache Page
    //Response.Cache.SetExpires(DateTime.Now.AddSeconds(720));
    //Response.Cache.SetCacheability(HttpCacheability.Public);
    //Response.Cache.SetValidUntilExpires(true);

    //System.Diagnostics.Trace.WriteLine("This message is forwarded to the TraceContext from System.Diagnostics using the WebPageTraceListener.");

}

@section Scripts {

    @*<script src="//scripts.bus.ucf.edu/cdn/js/libs/jquery.pageslide.min.js" type="text/javascript"></script>*@

    <script src="//scripts.bus.ucf.edu/cdn/js/libs/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script>
        $(function() {
            $('#pageslide').slimscroll({
                height: '200px'
            });
            $('.dl-home').tooltip();
        });
    </script>

}

@section Styles {
    <style> 
       .wrapper-inner {
            background: #111;
        }
         /*-- .frame ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }--*/
    </style>
}

@section featured {
    <div class="viewbook"><!--ViewBook is hidden temporarily-->
        <a href="http://issuu.com/ucfbusiness/docs/cba-viewbook-2012" target="_blank">
            <img src="~/images/view-book.png" alt="ucf college of business online viewbook" data-intro="Start Here." data-position="bottom">
        </a>
    </div>

    <section id="login" style="display: none;">
        <p>Authenticated: @WebSecurity.IsAuthenticated</p>
        @if (WebSecurity.IsAuthenticated) {
            <text>
                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                <form id="logoutForm" action="~/Account/Logout" method="post">
                    @AntiForgery.GetHtml()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </form>
            </text>
        } else {
            <ul>
                <li><a href="~/Account/Register">Register</a></li>
                <li><a href="~/Account/Login">Log in</a></li>
            </ul>
        }
    </section>
}

@*//-- NEWS *@
<div class="pagespan">
    <section class="wrap">
        <div class="frame" id="news" data-intro="News" data-position="left">
			<ul class="clearfix">
                <!-- 8 panel row -->
                <li>
                    <div title="Get to know us.">
                        <img src="~/images/panels/get-to-know-us.jpg" alt="...">
                        @*<a href="#" class="social tt-share">t</a>
                        <a href="#" class="social fb-share">f</a>*@
                    </div>
                </li>
                <li>
                    <div title="Dr. Paul Jarley's Blog">
                        <a href="//www.bus.ucf.edu/dean" class="target_blank">
                            <img src="~/images/panels/dean-blog.jpg" alt="...">
                            <p>Read the Dean's latest post.</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="Undergraduate Student Advising">
                        <a href="//www.bus.ucf.edu/students/undergraduate/" class="target_blank">
                            <img src="~/images/panels/advising.jpg" alt="...">
                            <p>Undergraduate Student Advising</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Keon Testing Center">
                        <a href="//www.bus.ucf.edu/testingcenter" class="target_blank">
                            <img src="//images.bus.ucf.edu/testinglab/camshot.jpg?@DateTime.Now.TimeOfDay" alt="...">
                            <p>Keon Testing Center</p>
                        </a>
                    </div>
                </li>

                <li>
                    <div title="Meet our ambassadors.">
                        <a href="~/student-ambassadors">
                            <img src="~/images/panels/ambassadors.jpg" alt="...">
                            <p>Learn more about our ambassadors.</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Stay connected with social media.">
                        <a href="~/social-media">
                            <img src="~/images/panels/social-media.jpg" alt="...">
                            <p>Stay connected with our social college.</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Take the ball by Dr. Paul Jarley.">
                        <a href="//www.bus.ucf.edu/dean/take-the-ball" class="target_blank">
                            <img src="~/images/panels/take-the-ball.jpg" alt="...">
                            <p>Learn more on how to take the ball.</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div title="View the video by the Dr. Glenn Hubbard.">
                        <a href="//tegr.it/y/1at78" class="target_blank">
                            <img id="proachieve" src="~/images/panels/video-play.png" alt="..." style="background-image: url(/images/panels/glenn-hubbard.jpg); background-size: 100% 100%;">
                            <p>Watch video</p>
                        </a>
                    </div>
                </li>
			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>
        @*<ul class="pages"></ul>*@<!--/pages --> 
        <div class="controls center use-fastclick">
            <button class="prev"><i class="fa fa-chevron-left"></i></button><!--/back button-->
            <button class="next"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->    
    </section>
</div>

@*//-- EVENTS *@
<div class="pagespan">
    <section class="wrap">
		<div class="frame" id="events" data-intro="Events" data-position="left">
			<ul class="clearfix">
                <!-- 8 panel row -->
                <li>
                    <div title="Find your opportunities in our upcoming events.">
                        <img src="~/images/panels/opportunities-events.jpg" alt="...">
                        @*<a href="#" class="social tt-share">t</a>
                        <a href="#" class="social fb-share">f</a>*@
                    </div>
                </li>
                <li>
                    <div title="graduate business programs">
                        <a href="//edc.research.ucf.edu/degrees" target="_blank">
                        <img src="~/images/panels/graduate-programs.jpg" alt="...">
                        <p>Learn more.</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div title="disrupting the status quo">
                        <a href="//events.ucf.edu/?y=2013&m=12&d=12&eventdatetime_id=15869" class="target_blank">
                            <img src="~/images/panels/status-quo.jpg" alt="...">
                            <p>Learn More.</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div title="hall of fame reception">
                        <a href="//www.google.com/calendar/event?eid=amVraGljZm5yY2NsdHNxazgycWtoY2l0NmsgY29sbGVnZW9mc2NpZW5jZXNAbQ&ctz=America/New_York" target="_blank">
                        <img src="~/images/panels/hall-of-fame.jpg" alt="...">
                        <p>Learn more.</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Professional Achievement Awardee, Mike Plaumann">
                        <a href="//www.youtube.com/embed/HGHnnM62wqI" class="target_blank">
                            <img id="proachieve" src="~/images/panels/video-play.png" alt="..." style="background-image: url(/images/panels/professional-achievement.jpg); background-size: 100% 100%;">
                            <p>Alumni Professional Achievements</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Dr. Sean Snaith's Economic Forecasts">
                        <a href="//iec.ucf.edu/page/forecasts.aspx" class="target_blank">
                            <img src="~/images/panels/snaith-forecasts.jpg" alt="...">
                            <p>Dr. Sean Snaith's Economic Forecasts.</p>
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Blackstone Launchpad site.">
                        <a href="//ucf.thelaunchpad.org" class="target_blank">
                            <img src="~/images/panels/blackstone.jpg" alt="...">
                            <p>The Launchpad is open. Learn more.</p>
                        </a>
                    </div>
                </li>
			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
        @*<ul class="pages"></ul>*@<!--/pages --> 
        <div class="controls center">
            <button class="prev"><i class="fa fa-chevron-left"></i></button><!--/back button-->
            <button class="next"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->
    </section>
</div>

@*//-- FACULTY *@
<div class="pagespan">
    <section class="wrap">
        <div class="frame" id="faculty" data-intro="Faculty" data-position="left">
			<ul class="clearfix">
                <!-- 8 panel row -->
                <li>
                    <div title="">
                        <img src="~/images/panels/meet-our-faculty.jpg" alt="...">
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Amit Joshi">
                        <a href="//www.youtube.com/embed/_Zo5DEEB6fw" class="target_blank">
                        <img id="ssnaith" src="~/images/panels/video-play.png" alt="..." style="background-image: url(/images/panels/amit-joshi.jpg)">
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Melanie Guldi">
                        <a href="//www.youtube.com/embed/MF0DHp5a8gk" class="target_blank">
                        <img id="ssnaith" src="~/images/panels/video-play.png" alt="..." style="background-image: url(/images/panels/melanie-guldi.jpg)">
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Robin Roberts">
                        <a href="//www.youtube.com/embed/9w_uBT_3xUc" class="target_blank">
                        <img id="ssnaith" src="~/images/panels/video-play.png" alt="..." style="background-image: url(/images/panels/robin-roberts.jpg)">
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Bob Porter">
                        <a href="//www.youtube.com/embed/m-0uCQIqjOw" class="target_blank">
                        <img id="bporter" src="~/images/panels/video-play.png" alt="..." style="background-image: url(/images/panels/bob-porter.jpg)">
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Carolyn Massiah">
                        <a href="//www.youtube.com/embed/e9Bn0I-vfzQ" class="target_blank">
                        <img id="cmassiah" src="~/images/panels/video-play.png" alt="..." style="background-image: url(/images/panels/carolyn-massiah.jpg)">
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Sean Snaith">
                        <a href="//www.youtube.com/embed/BGZry2AQz4E" class="target_blank">
                        <img id="ssnaith" src="~/images/panels/video-play.png" alt="..." style="background-image: url(/images/panels/sean-snaith.jpg)">
                        </a>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Vladimir Gatchev">
                        <a href="//www.youtube.com/embed/sBAw6MQkTCw" class="target_blank">
                        <img id="ssnaith" src="~/images/panels/video-play.png" alt="..." style="background-image: url(/images/panels/vladimir-gatchev.jpg)">
                        </a>
                    </div>
                </li>
			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
        @*<ul class="pages"></ul>*@<!--/pages -->
        <div class="controls center">
            <button class="prev"><i class="fa fa-chevron-left"></i></button><!--/back button-->
            <button class="next"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->
    </section>
</div>