@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section Scripts {

}

@section Styles {
<style> /*-- cover-img --*/
    .wrapper-inner {
        background: #111;
    }
</style>
}

@section featured {
  
<div class="viewbook">
    <a href="http://issuu.com/ucfbusiness/docs/cba-viewbook-2012" target="_blank">
        <img src="~/images/view-book.png" alt="ucf college of business online viewbook" data-intro="Start Here." data-position="bottom">
    </a>
</div>

    <section id="login" style="display: none;">
        <p>Authenticated: @WebSecurity.IsAuthenticated</p>
        @if (WebSecurity.IsAuthenticated) {
            <text>
                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                <form id="logoutForm" action="~/Account/Logout" method="post">
                    @AntiForgery.GetHtml()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </form>
            </text>
        } else {
            <ul>
                <li><a href="~/Account/Register">Register</a></li>
                <li><a href="~/Account/Login">Log in</a></li>
            </ul>
        }
    </section>

}

<div class="pagespan">
    <section class="wrap">
        <div class="frame" id="news" data-intro="News" data-position="left">
			<ul class="clearfix">
                <!-- 8 panel row -->
                <li>
                    <div title="Get to know us.">
                        <img src="~/images/panels/get-to-know-us.jpg" alt="...">
                        @*<p>Find what's happening around the college.</p>
                        <a href="#" class="social tt-share">t</a>
                        <a href="#" class="social fb-share">f</a>*@
                    </div>
                </li>
                <li>
                    <div title="Dr. Paul Jarley's Blog">
                        <img src="~/images/panels/dean-blog.jpg" alt="...">
                        <p><a href="http://www.bus.ucf.edu/dean" target="_blank">Read the Dean's latest post.</a></p>
                    </div>
                </li>

                <li>
                    <div title="Undergraduate Student Advising">
                        <img src="~/images/panels/advising.jpg" alt="...">
                        <p><a href="http://www.bus.ucf.edu/students/undergraduate/" target="_blank">Undergraduate Student Advising</a></p>
                    </div>
                </li>
                <li>
                    <div title="Keon Testing Center">
                        <img src="http://images.bus.ucf.edu/testinglab/camshot.jpg?@DateTime.Now.TimeOfDay" width="320" height="300" alt="...">
                        <p><a href="http://www.bus.ucf.edu/testingcenter" target="_blank">Keon Testing Center</a></p>
                    </div>
                </li>

                <li>
                    <div title="Meet our ambassadors.">
                        <img src="~/images/panels/ambassadors.jpg" alt="...">
                        <p><a href="~/student-ambassadors">Learn more about our ambassadors.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Stay connected with social media.">
                        <img src="~/images/panels/social-media.jpg" alt="...">
                        <p><a href="~/social-media" target="_blank">Stay connected with our social college.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Professional Achievement Awardee, Mike Plaumann">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/HGHnnM62wqI" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div title="Dr. Sean Snaith's Economic Forecasts">
                        <img src="~/images/panels/snaith-forecasts.jpg" alt="...">
                        <p><a href="http://iec.ucf.edu/page/forecasts.aspx" target="_blank">Dr. Sean Snaith's Economic Forecasts.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Blackstone Launchpad site.">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/4wpCjLyEaXM" frameborder="0" allowfullscreen></iframe>
                        <p><a href="http://ucf.thelaunchpad.org" target="_blank">The Launchpad is open. Learn more.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Take the ball by Dr. Paul Jarley.">
                        <img src="~/images/panels/take-the-ball.jpg" alt="...">
                        <p><a href="http://www.bus.ucf.edu/dean/take-the-ball" target="_blank">Learn more on how to take the ball.</a></p>
                    </div>
                </li>
                <li>
                    <div title="View the video by the Dr. Glenn Hubbard.">
                        <img src="~/images/panels/glenn-hubbard.jpg" alt="...">
                        <p><a href="https://tegr.it/y/1at78" target="_blank">Watch Dr. Glenn Hubbard's presentation.</a></p>
                    </div>
                </li>
			</ul>
		</div><!--/frame -->
        		<div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>
        <ul class="pages"></ul><!--/pages --> 
        <div class="controls center">
            <button class="prev"><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->    
    </section>
</div>

<div class="pagespan">
    <section class="wrap">
		<div class="frame" id="events" data-intro="Events" data-position="left">
			<ul class="clearfix">
                <!-- 8 panel row -->
                <li>
                    <div title="Find your opportunities in our upcoming events.">
                        <img src="~/images/panels/opportunities-events.jpg" alt="...">
                        @*<a href="#" class="social tt-share">t</a>
                        <a href="#" class="social fb-share">f</a>*@
                    </div>
                </li>
                <li>
                    <div title="Dean's Speaker Series: Dr. Maureen Ambrose">
                        <img src="~/images/panels/why-fairness-matters.jpg" alt="...">
                        <p><a href="https://events.ucf.edu/?y=2013&m=11&d=15&eventdatetime_id=15456" target="_blank">Register for this event.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Register for our Strategic Leadership seminar.">
                        <img src="~/images/panels/strategic-leadership.jpg" alt="...">
                        <p><a href="https://events.ucf.edu/?y=2013&m=11&d=13&eventdatetime_id=14928" target="_blank">Register for this event.</a></p>
                    </div>
                </li>
                <li>
                    <div title="executive mba info luncheon">
                        <img src="~/images/panels/executive-mba-info-luncheon.jpg" alt="...">
                        <p><a href="https://events.ucf.edu/?calendar_id=73&y=2013&m=10&d=18&eventdatetime_id=15453" target="_blank">Learn more.</a></p>
                    </div>
                </li>
                <li>
                    <div title=" ucf business alumni panels">
                        <img src="~/images/panels/alumni-panels.jpg" alt="...">
                        <p><a href="https://events.ucf.edu/?calendar_id=73&y=2013&m=10&d=25&eventdatetime_id=15452" target="_blank">Learn more.</a></p>
                    </div>
                </li>
                <li>
                    <div title="executive mba info session">
                        <img src="~/images/panels/emba-info-session.jpg" alt="...">
                        <p><a href="https://events.ucf.edu/?y=2013&m=11&d=07&eventdatetime_id=15454" target="_blank">Learn more.</a></p>
                    </div>
                </li>
                <li>
                    <div title="black and gold gala">
                        <img src="~/images/panels/black-and-gold-gala.jpg" alt="...">
                        <p><a href="https://www.google.com/calendar/event?eid=bWk5YnZnbmUzY2QxbmJtOWNoNzQ2NmZmczAgY29sbGVnZW9mc2NpZW5jZXNAbQ&ctz=America/New_York" target="_blank">Learn more.</a></p>
                    </div>
                </li>
                <li>
                    <div title="hall of fame">
                        <img src="~/images/panels/hall-of-fame.jpg" alt="...">
                        <p><a href="https://www.google.com/calendar/event?eid=amVraGljZm5yY2NsdHNxazgycWtoY2l0NmsgY29sbGVnZW9mc2NpZW5jZXNAbQ&ctz=America/New_York" target="_blank">Learn more.</a></p>
                    </div>
                </li>
			</ul>
		</div><!--/frame -->
                <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
        <ul class="pages"></ul><!--/pages --> 
        <div class="controls center">
            <button class="prev"><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->
    </section>
</div>

<div class="pagespan">
    <section class="wrap">
        <div class="frame" id="faculty" data-intro="Faculty" data-position="left">
			<ul class="clearfix">
                <!-- 8 panel row -->
                <li>
                    <div title="">
                        <img src="~/images/panels/meet-our-faculty.jpg" alt="...">
                        @*<p><a href="#" target="_blank">Lorem ipsum</a></p>
                        <a href="#" class="social tt-share">t</a>
                        <a href="#" class="social fb-share">f</a>*@
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Bob Porter">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/m-0uCQIqjOw" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Carolyn Massiah">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/e9Bn0I-vfzQ" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Sean Snaith">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/BGZry2AQz4E" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Vladimir Gatchev">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/sBAw6MQkTCw" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Amit Joshi">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/_Zo5DEEB6fw" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Melanie Guldi">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/MF0DHp5a8gk" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div title="Meet Dr. Robin Roberts">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/9w_uBT_3xUc" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
			</ul>
		</div><!--/frame -->
                <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
        <ul class="pages"></ul><!--/pages -->
        <div class="controls center">
            <button class="prev"><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->
    </section>
</div>
