@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "College of Business";
}

@section Styles {
    <style> /*-- cover-img --*/
        
        .cover-img {background-image: url('/images/finance-bg.jpg');}
        
        .wrapper-inner{
            background: url('/images/footer-bg.jpg') fixed;
            background-position: top center;
            background-repeat: no-repeat;
            
            border-left: 2px solid #000;
            border-right: 2px solid #000;
        }
        
    </style>
}

@section featured {

    <p><!-- Page headlines go here.--></p>

}

<div style="padding: 10px; max-width: 100%; text-align: center;">

    <p class="cover-actions">
		<a data-action="sign-in-with-twitter" href="/account/login" class="btn btn-primary">
            <span class="icons icons-twitter"></span>
            <span style="font-size: .8em">Sign in with Twitter</span>
        </a>
        <a data-action="sign-in-with-facebook" href="/account/login" class="btn btn-primary">
            <span class="icons icons-facebook"></span>
            <span style="font-size: .8em">Sign in with Facebook</span>
        </a>
	</p>

</div>

<!-- place <nav> for page navigation here -->

<section>
    <div id="example1" class="pagespan">

        <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
        <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->

		<div class="frame effects">
			<ul class="clearfix">
                <!-- 8 panels per row -->
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel2.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/take-the-ball.jpg" alt="...">
                    <a href="http://www.bus.ucf.edu/dean/take-the-ball" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/dean-blog.jpg" alt="...">
                    <a href="http://www.bus.ucf.edu/dean" target="_blank">
                        @*<p>Read the latest post from Dean Paul Jarley...</p>*@
                        <p>Read blog</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/meet-the-ambassadors.jpg" alt="...">
                    <a href="http://www.youtube.com/playlist?list=PLblI-5jkdoaLAGz-wPFnjv-WtZiEFP4VS" target="_blank">
                        @*<p>Meet the UCF College of Business Ambassadors...</p>*@
                        <p>Watch the videos</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/social-media.jpg" alt="...">
                    <a href="#" target="_blank">
                        @*<p>Follow us on twitter, facebook, and other popular social media...</p>*@
                        <p>Stay connected</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/blackstone-launchpad.jpg" alt="...">
                    <a href="http://cel.ucf.edu/about/news/blackstone-launchpad-featured-in-the-orlando-sentinel" target="_blank">
                        @*<p>UCF’s Blackstone LaunchPad announced the future opening of its student entrepreneurial center.</p>*@
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
			</ul>
		</div><!--/frames-->

        <ul class="pages"></ul><!--/position marker-->
        <br><br>

    </div>
</section>

<section>
    <div id="example2" class="pagespan">

        <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
        <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->

		<div class="frame effects">
			<ul class="clearfix">
                <!-- 8 panels per row -->
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel2.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel3.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/negotiate-to-the-top.jpg" alt="...">
                    <a href="http://edc.research.ucf.edu/negotiate" target="_blank">
                        @*<p>Join us for Negotiate To The Top, our interactive two-day seminar led by Tim Cullen.</p>*@
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/strategic-leadership.jpg" alt="...">
                    <a href="http://edc.research.ucf.edu/strategic-leadership" target="_blank">
                        @*<p>Implementing a business strategy is a key part of ensuring any firm’s success.</p>*@
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel3.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel2.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more.</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
			</ul>
		</div><!--/frames-->

        <ul class="pages"></ul><!--/position marker-->
        <br><br>

    </div>
</section>

<section>
    <div id="example3" class="pagespan">

        <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
        <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->

        <div class="frame effects">
			<ul class="clearfix">
                <!-- 8 panels per row -->
                <li>
                    <img src="~/images/panels/panel2.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel3.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/organizational-hypocrisy.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <iframe src="//www.youtube.com/embed/Z92QqcI5CmM?rel=0" width="300" height="320"></iframe>
                    <a href="#" target="_blank">
                        <p>Watch video</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel2.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel3.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
			</ul>
		</div><!--/frames-->

        <ul class="pages"></ul><!--/position marker-->
        <br><br>

    </div>
</section>

<footer class="wrapper-footer">
    <div class="content-wrapper">
        <!--BEGIN-->
        @*<ul class="clearfix">
            <li>
                <p class="home">Address</p>

                <a href="#">un-styled ink</i></a>
            </li>
            <li>
                <p class="services">Contact</p>

                <ul>
                    <li><a href="#">Link to page.</a></li>
                    <li><a href="#">Link to page.</a></li>
                    <li><a href="#">Link to page.</a></li>
                    <li><a href="#">Link to page.</a></li>
                </ul>
            </li>
            <li>
                <p class="social">Follow Us</p>

                <ul>
                    <li><a href="#">LinkedIn</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ul>
            </li>
            <li>
                <p class="qlinks">Quick Links</p>

                <ul>
                    <li><a href="#">Link to page.</a></li>
                    <li><a href="#">Link to page.</a></li>
                    <li><a href="#">Link to page.</a></li>
                </ul>
            </li>
        </ul>*@
        <a href="/account/login"><img src="/images/setting-icon.png" alt="drawbridge settings" width="20" height="20"> Options</a>
        <!--FINIS-->
    </div>
</footer>