@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "College of Business";


}

@section Styles {
    <!--<style> /*-- page-specific styles --*/ </style>-->
}

@section featured {
<section class="featured">
    <div class="content-wrapper">

        <hgroup class="title">
            <h1>@Page.Title</h1>
            <h2>Administration</h2>
        </hgroup>

        <p>Authenticated: @WebSecurity.IsAuthenticated</p>

        <section id="login">
            @if (WebSecurity.IsAuthenticated) {
                <text>
                    Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                    <form id="logoutForm" action="~/Account/Logout" method="post">
                        @AntiForgery.GetHtml()
                        <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                    </form>
                </text>
            } else {
                <ul>
                    <li><a href="~/Account/Register">Register</a></li>
                    <li><a href="~/Account/Login">Log in</a></li>
                </ul>
            }
        </section>

    </div>
</section>
}

<div class=""></div>

<div class="">

    <section>
        <div id="example1" class="pagespan">

            <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->

			<div class="frame effects">
				<ul class="clearfix">
                    <!-- 9 panels per row -->
                    <li><img src="~/images/panels/panel1.jpg" alt="..."><p>1. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel2.jpg" alt="..."><p>2. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel3.jpg" alt="..."><p>3. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel4.jpg" alt="..."><p>4. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel1.jpg" alt="..."><p>5. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel2.jpg" alt="..."><p>6. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel3.jpg" alt="..."><p>7. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel4.jpg" alt="..."><p>8. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel4.jpg" alt="..."><p>9. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
				</ul>
			</div><!--/frames-->

            <ul class="pages"></ul><!--/position marker-->
            <div class="scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div><!--/scrollbar-->

        </div>
    </section>

    <section>
        <div id="example2" class="pagespan">

            <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->

			<div class="frame effects">
				<ul class="clearfix">
                    <!-- 9 panels per row -->
                    <li><img src="~/images/panels/panel1.jpg" alt="..."><p>1. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel2.jpg" alt="..."><p>2. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel3.jpg" alt="..."><p>3. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel4.jpg" alt="..."><p>4. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel1.jpg" alt="..."><p>5. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel2.jpg" alt="..."><p>6. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel3.jpg" alt="..."><p>7. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel4.jpg" alt="..."><p>8. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel4.jpg" alt="..."><p>9. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
				</ul>
			</div><!--/frames-->

            <ul class="pages"></ul><!--/position marker-->
            <div class="scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div><!--/scrollbar-->

        </div>
    </section>

    <section>
        <div id="example3" class="pagespan">

            <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->

            <div class="frame effects">
				<ul class="clearfix">
                    <!-- 9 panels per row -->
                    <li><img src="~/images/panels/panel1.jpg" alt="..."><p>1. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel2.jpg" alt="..."><p>2. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel3.jpg" alt="..."><p>3. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel4.jpg" alt="..."><p>4. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel1.jpg" alt="..."><p>5. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel2.jpg" alt="..."><p>6. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel3.jpg" alt="..."><p>7. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel4.jpg" alt="..."><p>8. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                    <li><img src="~/images/panels/panel4.jpg" alt="..."><p>9. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
				</ul>
			</div><!--/frames-->

            <ul class="pages"></ul><!--/position marker-->
            <div class="scrollbar">
				<div class="handle">
					<div class="mousearea"></div>
				</div>
			</div><!--/scrollbar-->

        </div>
    </section>

</div>