@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section Styles {
    <style> /*-- cover-img --*/
        .wrapper-inner {
            background: #333;
        }
    </style>
}

@section featured {
    <p><!-- Page headlines go here.--></p>
    <p>Authenticated: @WebSecurity.IsAuthenticated</p>
    <section id="login">
        @if (WebSecurity.IsAuthenticated) {
            <text>
                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                <form id="logoutForm" action="~/Account/Logout" method="post">
                    @AntiForgery.GetHtml()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </form>
            </text>
        } else {
            <ul>
                <li><a href="~/Account/Register">Register</a></li>
                <li><a href="~/Account/Login">Log in</a></li>
            </ul>
        }
    </section>

}

<div class="pagespan">
    <section class="wrap">
        <div class="frame" id="news">
			<ul class="clearfix">
                <!-- 8 panel row -->
                <li>
                    <div title="Get to know us.">
                        <img src="~/images/panels/get-to-know-us.jpg" alt="...">
                        @*<p>Find what's happening around the college.</p>
                        <a href="#" class="social tt-share">t</a>
                        <a href="#" class="social fb-share">f</a>*@
                    </div>
                </li>
                <li>
                    <div title="Dr. Paul Jarley's Blog">
                        <img src="~/images/panels/dean-blog.jpg" alt="...">
                        <p><a href="http://www.bus.ucf.edu/dean" target="_blank">Read the Dean's latest post.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Meet our ambassadors.">
                        <img src="~/images/panels/ambassadors.jpg" alt="...">
                        <p><a href="~/ambassadors">Learn more about our ambassadors.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Stay connected with social media.">
                        <img src="~/images/panels/social-media.jpg" alt="...">
                        <p><a href="~/social-connections" target="_blank">Stay connected with our social college.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Professional Achievement Awardee, Mike Plaumann">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/HGHnnM62wqI" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div title="Dr. Sean Snaith's Economic Forecasts">
                        <img src="~/images/panels/snaith-forecasts.jpg" alt="...">
                        <p><a href="http://iec.ucf.edu/page/forecasts.aspx" target="_blank">Dr. Sean Snaith's Economic Forecasts.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Blackstone Launchpad site.">
                        <img src="~/images/panels/blackstone.jpg" alt="...">
                        <p><a href="http://ucf.thelaunchpad.org" target="_blank">The Launchpad is open. Learn more.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Take the ball by Dr. Paul Jarley.">
                        <img src="~/images/panels/take-the-ball.jpg" alt="...">
                        <p><a href="http://www.bus.ucf.edu/dean/take-the-ball" target="_blank">Learn more on how to take the ball.</a></p>
                    </div>
                </li>
                <li>
                    <div title="View the video by the Dr. Glenn Hubbard.">
                        <img src="~/images/panels/video.jpg" alt="...">
                        <p><a href="https://tegr.it/y/1at78" target="_blank">Watch Dr. Glenn Hubbard's presentation.</a></p>
                    </div>
                </li>
			</ul>
		</div><!--/frame -->
        		<div class="scrollbar">
			<div class="handle">
				<div class="mousearea"></div>
			</div>
		</div>
        <ul class="pages"></ul><!--/pages --> 
        <div class="controls center">
            <button class="prev"><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->    
    </section>
</div>

<div class="pagespan">
    <section class="wrap">
		<div class="frame" id="events">
			<ul class="clearfix">
                <!-- 8 panel row -->
                <li>
                    <div title="Find your opportunities in our upcoming events.">
                        <img src="~/images/panels/your-opportunities.jpg" alt="...">
                        @*<a href="#" class="social tt-share">t</a>
                        <a href="#" class="social fb-share">f</a>*@
                    </div>
                </li>
                <li>
                    <div title="Dean's Speaker Series: Dr. Maureen Ambrose">
                        <img src="~/images/panels/why-fairness-matters.jpg" alt="...">
                        <p><a href="#" target="_blank">Register for this event.</a></p>
                    </div>
                </li>
                <li>
                    <div title="Register for our Strategic Leadership seminar.">
                        <img src="~/images/panels/strategic-leadership.jpg" alt="...">
                        <p><a href="http://edc.research.ucf.edu/strategic-leadership" target="_blank">Register for this event.</a></p>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/.jpg" alt="...">
                        <p><a href="#" target="_blank">Lorem ipsum</a></p>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/.jpg" alt="...">
                        <p><a href="#" target="_blank">Lorem ipsum</a></p>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/.jpg" alt="...">
                        <p><a href="#" target="_blank">Lorem ipsum</a></p>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/.jpg" alt="...">
                        <p><a href="#" target="_blank">Lorem ipsum</a></p>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/.jpg" alt="...">
                        <p><a href="#" target="_blank">Lorem ipsum</a></p>
                    </div>
                </li>
			</ul>
		</div><!--/frame -->
                <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
        <ul class="pages"></ul><!--/pages --> 
        <div class="controls center">
            <button class="prev"><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->
    </section>
</div>

<div class="pagespan">
    <section class="wrap">
        <div class="frame" id="faculty">
			<ul class="clearfix">
                <!-- 8 panel row -->
                <li>
                    <div title="">
                        <img src="~/images/panels/meet-our-faculty.jpg" alt="...">
                        @*<p><a href="#" target="_blank">Lorem ipsum</a></p>
                        <a href="#" class="social tt-share">t</a>
                        <a href="#" class="social fb-share">f</a>*@
                    </div>
                </li>
                <li>
                    <div title="">
                        <iframe width="320" height="300" src="//www.youtube.com/embed/Z92QqcI5CmM?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/organizational-hypocrisy.jpg" alt="...">
                        <p><a href="#" target="_blank">Meet Dr. Robin Roberts</a></p>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/why-fairness-matters.jpg" alt="...">
                        <p><a href="#" target="_blank">Meet Dr. Maureen Ambrose</a></p>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/.jpg" alt="...">
                        <p><a href="#" target="_blank">Lorem ipsum</a></p>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/.jpg" alt="...">
                        <p><a href="#" target="_blank">Lorem ipsum</a></p>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/.jpg" alt="...">
                        <p><a href="#" target="_blank">Lorem ipsum</a></p>
                    </div>
                </li>
                <li>
                    <div title="">
                        <img src="~/images/panels/.jpg" alt="...">
                        <p><a href="#" target="_blank">Lorem ipsum</a></p>
                    </div>
                </li>
			</ul>
		</div><!--/frame -->
                <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
        <ul class="pages"></ul><!--/pages -->
        <div class="controls center">
            <button class="prev"><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->
    </section>
</div>
