@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";
}

@section Styles {
    <style> /*-- cover-img --*/
        
        .cover-img {background-image: url('/images/pegasus_sun_rev.jpg');}
        
        .wrapper-inner{
            background-image: url('/images/footer-bg.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            
            border-left: 2px solid #000;
            border-right: 2px solid #000;
        }
        
    </style>
}

@section featured {

    <p><!-- Page headlines go here.--></p>


    <p>Authenticated: @WebSecurity.IsAuthenticated</p>

    <section id="login">
        @if (WebSecurity.IsAuthenticated) {
            <text>
                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                <form id="logoutForm" action="~/Account/Logout" method="post">
                    @AntiForgery.GetHtml()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </form>
            </text>
        } else {
            <ul>
                <li><a href="~/Account/Register">Register</a></li>
                <li><a href="~/Account/Login">Log in</a></li>
            </ul>
        }
    </section>

}

<div style="padding: 10px; max-width: 100%; text-align: center;">

    <p class="cover-actions">
		<a data-action="sign-in-with-twitter" href="/account/login" class="btn btn-primary">
            <span class="icons icons-twitter"></span>
            <span style="font-size: .8em">Sign in with Twitter</span>
        </a>
        <a data-action="sign-in-with-facebook" href="/account/login" class="btn btn-primary">
            <span class="icons icons-facebook"></span>
            <span style="font-size: .8em">Sign in with Facebook</span>
        </a>
	</p>

</div>

<!-- place <nav> for page navigation here -->

<section>
    <div id="example1" class="pagespan">

		<div class="frame effects">
			<ul class="clearfix">
                <!-- 8 panels per row -->
                <li>
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/take-the-ball.jpg" alt="...">
                    <a href="http://www.bus.ucf.edu/dean/take-the-ball" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/dean-blog.jpg" alt="...">
                    <p><a href="http://www.bus.ucf.edu/dean" target="_blank">Read blog</a></p>
                </li>
                <li>
                    <img src="~/images/panels/meet-the-ambassadors.jpg" alt="...">
                    <p><a href="http://www.youtube.com/playlist?list=PLblI-5jkdoaLAGz-wPFnjv-WtZiEFP4VS" target="_blank">Watch the videos</a></p>
                </li>
                <li>
                    <img src="~/images/panels/social-media.jpg" alt="...">
                    <a href="#" target="_blank">
                        @*<p>Follow us on twitter, facebook, and other popular social media...</p>*@
                        <p>Stay connected</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/blackstone-launchpad.jpg" alt="...">
                    <a href="http://cel.ucf.edu/about/news/blackstone-launchpad-featured-in-the-orlando-sentinel" target="_blank">
                        @*<p>UCF’s Blackstone LaunchPad announced the future opening of its student entrepreneurial center.</p>*@
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
			</ul>
            <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->
		</div><!--/frames-->

        <ul class="pages"></ul><!--/position marker-->
        <br><br>

    </div>
</section>

<section>
    <div id="example2" class="pagespan">

		<div class="frame effects">
			<ul class="clearfix">
                <!-- 8 panels per row -->
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel2.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel3.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/negotiate-to-the-top.jpg" alt="...">
                    <a href="http://edc.research.ucf.edu/negotiate" target="_blank">
                        @*<p>Join us for Negotiate To The Top, our interactive two-day seminar led by Tim Cullen.</p>*@
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/strategic-leadership.jpg" alt="...">
                    <a href="http://edc.research.ucf.edu/strategic-leadership" target="_blank">
                        @*<p>Implementing a business strategy is a key part of ensuring any firm’s success.</p>*@
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel3.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel2.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more.</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
			</ul>
            <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->
		</div><!--/frames-->

        <ul class="pages"></ul><!--/position marker-->
        <br><br>

    </div>
</section>

<section>
    <div id="example3" class="pagespan">

        <div class="frame effects">
			<ul class="clearfix">
                <!-- 8 panels per row -->
                <li>
                    <img src="~/images/panels/panel2.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel3.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/organizational-hypocrisy.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <iframe src="//www.youtube.com/embed/Z92QqcI5CmM?rel=0" width="320" height="300"></iframe>
                </li>
                <li>
                    <img src="~/images/panels/panel2.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel3.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
                <li>
                    <img src="~/images/panels/panel1.jpg" alt="...">
                    <a href="#" target="_blank">
                        <p>Learn more</p>
                    </a>
                </li>
			</ul>
            <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
            <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->
		</div><!--/frames-->

        <ul class="pages"></ul><!--/position marker-->
        <br><br>
        

        <a href="/account/login"><img src="/images/setting-icon.png" alt="drawbridge settings" width="20" height="20"> Options</a>

    </div>
</section>

