@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Services and locations";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    .cover-img {}
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Our College</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->

                <section id="">
                    <div class="canvas">
		                <div class="container">
                            
                             <h3>Executive Development Center</h3>

                <p>The UCF Executive Development Center is located at:</p>

                <p>UCF Executive Development Center<br />
                    University of Central Florida <br />
                    36 West Pine Street<br />
                    Orlando, FL 32801
                </p>
                <p>We recommend parking in the 55 West Building Parking Garage (parking fee applies).</p>
	<p>Location is one of the many factors that sets the Executive Development Center apart from other training facilities. It is housed in the Ying Academic Center, two blocks from City Hall at 36 West Pine Street. The center
        is within easy walking distance of government offices, businesses, hotels and area restaurants, and is in close proximity to major highways and several parking structures.</p>

                <h4>Need to Hold a Meeting in Downtown Orlando?</h4>
                <p>The facilities of the Executive Development Center are available for your organization when meeting space is needed. Our state-of-the-art facility is the perfect place for workshops, seminars, board meetings, conferences, and special events. A range of meeting rooms will accomodate between 30 and 140 people.</p>
                <p>Each classroom is equipped with an internet-enabled computer connected to an overhead LCD projector allowing PowerPoint presentations and internet content. Each room can support advanced Audio/Visual options including microphones, video recording, speakerphone, and network video conferencing.</p>

<p>The classrooms also offer wireless internet, personal connections for laptops, interactive whiteboards, and much more!</p>

<p>The Executive Development Center Offers:</p>

<ul>
<li>Two Tiered Executive Classrooms with seating for 55, equipped with wireless Internet, video projection, recording capabilities, and two breakout rooms.</li>
<li>Executive Conference Room with overhead LCD projector and two LCD flat-screen televisions with seating for 30.</li>
<li>Auditorium with stadium seating for up to 140.</li>
<li>Two standard classrooms with seating for 35.</li>
<li>Video conferencing, LCD projectors, on-site tech support, and much more.</li>
</ul>

		<h4>Equipment Available</h4>
<ul>               
<li>Video Recording</li>
<li>Wireless Internet</li>
<li>LCD Projectors</li>
<li>TV/DVD</li>
<li>2 LCD TVs</li>
<li>Wired, Cordless, and Lavaliere Microphones</li>
<li>White Boards</li>
<li>Conference Phone</li>
<li>Laptop Connections</li>
<li>Podium, Easels, and Linens</li>  </ul> 

<p><strong>To reserve space call (407) 235-3901!</strong></p>

  
                <h4>Rental Fees</h4>

                <ul>
                <li>Technology: $300 One time charge per day (includes: overhead projector, microphones, computers, whiteboard, wireless access and conference phone.)</li>

<li>Staffing: $50 dollars per hour for events scheduled outside of normal operating hours</li>

<li>Security: $40 per hour for events scheduled outside of normal operating hours.</li>

<li>Catering: $75 Per day set up fee (includes setting up tables, chairs, ice, serving trays, and platters), If we are asked to provide coffee or water we charge $1 per person. If we are asked to provide catering for an event, we will charge a $50 fee + our catering costs.</li>

<li>Linen Fee: $30/Per Linen.</li>

<li>Video Teleconferencing: $200 per hour additional staff costs apply if conference is outside regular business hours.</li>

<li>Parking: Parking Validation $3/hour/person</li>

</ul>


<h5>Room Rental</h5>

                <table summary="Room Rental Fees - UCF Executive Development Center" id="room-rental-fees">
                     <thead>
                      <tr>
                       <th scope="col">Room Style</th>
                       <th scope="col">Capacity</th>
                       <th scope="col">Day Rate (8 Hours)</th>
                       <th scope="col">Half-Day (4 hours)</th>
                       <th scope="col">Hourly Rate</th>
                      </tr>
                     </thead>
                     <tbody>
                      <tr>
                       <td>Conference Room</td>
                       <td>30</td>
                       <td>$450</td>
                       <td>$250</td>
                       <td>$80</td>
                      </tr>
                      <tr>
                       <td>Tiered Seating Auditorium</td>
                       <td>140</td>
                       <td>$650</td>
                       <td>$350</td>
                       <td>$100</td>
                      </tr>
                      <tr>
                       <td>Executive Classrooms-2</td>
                       <td>60</td>
                       <td>$500</td>
                       <td>$275</td>
                       <td>$90</td>
                      </tr>
                      <tr>
                       <td>Classrooms-2</td>
                       <td>35</td>
                       <td>$400</td>
                       <td>$225</td>
                       <td>$75</td>
                      </tr>
                     </tbody>
</table>
<h4>Rental Policies</h4>

               <p>Any University of Central Florida (hereinafter referred to as “university”), and non-university organization, business and individuals applying to use the UCF Executive Development Center (hereinafter referred to as “User”) is responsible for knowing and abiding by the rules and policies governing facility usage thereof. The following is a list of general policies that outline the terms and conditions of use.</p>
                <h5>UCF Courses and Events</h5>

<p>Use of UCF Executive Development Center is made available to university departments, auxiliaries, and outside businesses and organizations sponsoring activities consistent with the university’s mission and goals. The sponsor (User) of such activities is held accountable for payment of fees or charges that apply for facility usage. Rental fees apply for any event held at UCF Executive Development Center for which an admission, registration or any other fee is charged for participants to attend.</p>
                <h5>Reservation Request Process</h5>

<p>Upon receipt and review of a properly completed Facility Reservation Request, the scheduling office staff will notify the User of approval or disapproval of the request via email. Details confirming the event as well as an estimate of rental and/or service charges will be specified on the confirmation email. Reservations are confirmed on a semester basis; dates extending beyond six months are held tentatively.</p>
                <h5>Cancellations</h5>

<p>By the University: Confirmed reservations are subject to cancellation if the reserved space is needed for UCF credit classes or activities sponsored by UCF Executive Development Center; or at any time prior to or during an event if User fails to comply with university policies and procedures; or if false statements are contained in the request. Prior notice will be given.</p>

<p>By the User: The University does not charge any fees for cancellations, but a timely notice within 48 hours before the event is required.</p>
                <h5>Hours of Operation</h5>

<p>Normal operating hours are currently Monday through Thursday, 8:00 am-10:00 pm, Friday and Saturday, 8:00 am-7:00 pm. Other fees shall apply for staffing and security during weekend hours.</p>
                <h5>Set Up Time</h5>

<p>Any event scheduled earlier than 8:00 am or beyond 10:00 pm including set-up time and clean-up time is subject to an additional staff and security surcharge and staff availability. Entry to the facility by caterers or event attendees will not be permitted earlier than 7:30 am, unless prior arrangements have been confirmed with the center’s facility scheduler. Charges will apply for the full reservation time unless the scheduling office staff is notified of any changes at least 2 business days before the event.</p>
                <h5>Blackout Dates and Holidays</h5>

<p>UCF Downtown is not available for use on evenings during semester breaks or the following university holidays:</p>
<ul>
<li>New Year’s Day</li>
<li>Labor Day</li>
<li>Martin Luther King’s Birthday</li>
<li>Veteran’s Day</li>
<li>Memorial Day</li>
<li>Thanksgiving Day</li>
<li>Independence Day</li>
<li>Day after Thanksgiving</li>
<li>Christmas</li>

</ul>
                <h5>Catering Services/Parking</h5>
<p>No catering service/equipment is provided by UCF Executive Development Center. Food can be provided by User. The University can provide tables to facilitate catering from external company and a list of local providers.</p>

<h5>Technology</h5>
<p>Request: Please specify required technology on facility reservation request form. All technology requests should be received 48 hours before the event.</p>

<p>Use of Technology: Only UCF computer technicians are authorized to install/remove software on the systems.</p>
                <h5>Schedule of Fees</h5>

<ul>
    <li>Rental:	$70 to $100 per hour. Based on room selection</li>
<li>Technology:	$300 per day (includes: overhead projector, microphones, computers, whiteboard, & wireless access)</li>
<li>Staffing:	$50 per hour shall apply for staffing during weekend hours</li>
<li>Security:	$40 per hour, mandatory for all evening events on a Friday, Saturday or Sunday</li>

</ul>
                <h5>Insurance Request</h5>

<p>Unless specifically waived by the university Business Manager, each User must provide a certificate of insurance indemnifying and saving harmless the university and its employees from any and all liability connected with the User’s acts and omissions and the acts and omissions of User’s employees, contractors and agents. Minimum coverage amounts may vary depending on the type of activity or event.</p>
<h5>Restrictions</h5>
<p>Alcoholic beverages may be consumed on the premises only in compliance with state laws and university regulations. A UCF Downtown staff person must be present at the facility for all scheduled events.</p>













		                </div>
	                </div>
                </section>

            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->