@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Facts and Figures";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    .cover-img {}
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Our College</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@



<h3>At a Glance</h3>
<p>Established in 1968, the UCF College of Business Administration offers programs at the bachelor’s, master’s, doctoral and executive levels. All programs, as well as the Kenneth G. Dixon School of Accounting are accredited by AACSB International—the Association to Advance Collegiate Schools of Business.</p>

<h4>Current Enrollment</h4>
<p><small>As of August 2013</small></p>

<table summary="College of Business Enrollment" id="enrollment">
<tbody>
<tr>
<td>Undergraduate</td>
<td>7,788</td>
</tr>
<tr>
<td>Graduate</td>
<td>894</td>
</tr>
<tr>
<td>Total</td>
<td>8,682</td>
</tr>
</tbody>
</table>

<h4>UCF Enrollment</h4>
<p><small>As of September 2013</small></p>
<p>60,100</p>
<h4>Bachelor's Degree Programs</h4>

<h5>Bachelor of Science Business Administration (B.S.B.A.)</h5>

<ul>
<li>Accounting</li>
<li>Economics</li>
<li>Finance</li>
<li>General Business Administration</li>
<li>Management</li>
<li>Marketing</li>
<li>Real Estate</li>
</ul>

<h5>Bachelor of Arts (B.A.)</h5>

<ul>
<li>Economics</li>
<li>Business Administration (B.A.B.A., Regional Campuses only)</li>
</ul>

<h4>Master's Degree Programs</h4>

<h5>Master of Business Administration (MBA)</h5>
<ul>
<li>Lockstep Evening MBA</li>
<li>Executive MBA (EMBA)</li>
<li>Professional MBA (PMBA)</li>
</ul>
<h5>Specialized Master's Degrees</h5>

<ul>
<li>Master of Science in Accounting (MSA)</li>
<li>Master of Science in Taxation (MST)</li>
<li>Professional Master's in Management with an HR concentration (PMSM)</li>
<li>Professional Master's of Science in Real Estate (PMRE)</li>
<li>Master of Sport Business Management</li>
</ul>
<h4>Doctoral Programs</h4>
<h5>Ph.D. in Business Administration</h5>
<ul>
<li>Accounting Concentration</li>
<li>Finance Concentration</li>
<li>Management Concentration</li>
<li>Marketing Concentration</li>
</ul>

<h3>Faculty</h3>
<p><small>As of Fall 2013</small></p>

<table summary="Faculty count, broken down by type" id="faculty">
<tbody>
<tr>
<td>Tenured</td>
<td>51</td>
</tr>
<tr>
<td>Tenure Earn</td>
<td>10</td>
</tr>
<tr>
<td>Nontenure Track</td>
<td>51</td>
</tr>
<tr>
<td>Dean/Assocs</td>
<td>3</td>
</tr>
<tr>
<td>Faculty Administrators</td>
<td>5</td>
</tr>
<tr>
<td>Total</td>
<td>120</td>
</tr>
<tr>
<td>Adjuncts</td>
<td>16</td>
</tr>
</tbody>
</table>


            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->