/* =============================================================================
   NEW CSS
   ========================================================================== */

/* Mobile Layout: 500px and below. */


/* Icons Font */

/*@font-face{
    font-family:'medium-icons';
    src:url('https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.wDFYjuIKEcRZubWt2cU-vA.eot');
    src:url('https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.wDFYjuIKEcRZubWt2cU-vA.eot?#iefix') 
    format('embedded-opentype'),url('https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.fR8Ym_qTkOj7ttLD-1_yDg.woff') 
    format('woff'),url('https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.t_a3wKvkurbsHtpmEJES-Q.ttf') 
    format('truetype'),url('https://s3.amazonaws.com/medium-static/_/fp/fonts/medium-icons.J0IuqklnHidBGg_rybjAyg.svg#medium-icons') 
    format('svg');
    font-weight:normal;
    font-style:normal
}

.icons{font-family:'medium-icons';font-style:normal;font-weight:400;text-decoration:none;speak:none;text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased}
.browser-android .icons{text-rendering:auto!important}
.icons:after:hover{text-decoration:none}

.error-400 .icons-error:before{content:"\e000"}
.error-401 .icons-error:before{content:"\e00e"}
.error-403 .icons-error:before{content:"\e002"}
.error-404 .icons-error:before{content:"\e003"}
.error-410 .icons-error:before{content:"\e004"}
.error-500 .icons-error:before{content:"\e005"}
.error-unknown .icons-error:before{content:"\e006"}


.icons-bold:before{content:"\e007"}
.icons-h1:before{content:"\e008"}
.icons-h2:before{content:"\e009"}
.icons-blockquote:before, .highlight-menu-blockquote .icons-blockquote:after{content:"\e00b"}
.icons-link:before{content:"\e00c"}
.icons-italic:before{content:"\e00d"}
.icons-logo:before{content:"\e001"}
.icons-avatar:before,
.icons-profile:before{content:"\e00f"}
.icons-settings:before{content:"\e010"}
.icons-arrow-right:before{content:"\e014"}
.icons-arrow-left:before{content:"\e015"}
.icons-arrow-down:before{content:"\e014";display:inline-block;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);transform:rotate(90deg)}
.icons-stats:before{content:"\e011"}
.icons-solid-check:before{content:"\e012"}
.icons-add:before{content:"\e00a"}
.icons-twitter-small:before,.icons-twitter:before{content:"\e029"}
.icons-info:before{content:"\e013"}
.icons-shrink:before{content:"\e016"}
.icons-enlarge:before{content:"\e017"}
.icons-replace-image:before{content:"\e018"}
.icons-add-circled:before{content:"\e019"}
.icons-remove:before{content:"\e01a"}
.icons-check:before{content:"\e01b"}
.icons-group:before{content:"\e01c"}
.icons-logo-m:before{content:"\e01d"}
.icons-invisible:before{content:"\e01e"}
.icons-notes:before{content:"\e01f"}
.icons-new-post:before{content:"\e020"}
.icons-draft:before{content:"\e021"}
.icons-activity:before{content:"\e022"}
.icons-diamond{content:"\e023"}
.icons-circle-check:before{content:"\e024"}
.icons-note-plus:before{content:"\e025"}
.icons-reading-list:before{content:"\e026"}
.icons-read-next:before{content:"\e027"}
.icons-full-diamond{content:"\e028"}
.icons-share:before{content:"\e02a"}
.icons-facebook:before{content:"\e02b"}
.icons-add-to-collection:before{content:"\e02c"}
.icons-search:before{content:"\e02d"}
.icons-trusted-tester:before{content:"\e02e"}
.highlight-menu-notes .icons-notes:after{content:'\e00a'}
.icons-ordered:before{content:'\e02f'}
.icons-follow:before{content:'\e030'}
.icons-heart:before{content:'\e031'}
.icons-add-further-reading:before{content:'\e032'}
.icons-email:before{content:'\e033'}
.icons-camera:before{content:'\e034'}
.icons-read:before{content:'\e035'}
.icons-collections:before{content:'\e036'}
.icons-avatar:before{color:#b3b3b1;font-size:75px;line-height:75px}
.avatar-micro.icons-avatar:before{font-size:23px;line-height:18px}
.typeahead .icons.icons-avatar:before{color:#b3b3b1}
.typeahead .active .icons.icons-avatar:before{color:#fff}
.avatar .icons-avatar:before{line-height:83px}
.icons-avatar-user{width:22px;height:22px;-webkit-border-radius:100%;-moz-border-radius:100%;border-radius:100%;display:block;overflow:hidden}
.icons-avatar-user img{width:22px;height:22px;display:block}
.icons.post-author-image{background:#f2f2f0}
.icons.post-author-image:before{font-size:80px;position:relative;top:8px}
.icons-info:before{font-size:22px;position:relative;top:2px}
.icons-twitter:before{color:#fff;font-size:23px;line-height:0;position:relative;top:2px}
.icons-twitter-dark:before{color:#b3b3b1}
.icons-replace-image:before{font-size:80px;position:absolute;top:45%;left:50%;color:#fff;margin-top:-39px;margin-left:-45px}
.post-page-wrapper .no-image .icons-replace-image:before{top:0;left:0}
.btn-replace-image .icons-replace-image{display:block;position:absolute;left:0;top:0;width:72px}
.template-flex-article .icons-replace-image:before{display:none}
.template-flex-article .no-image .icons-replace-image:before{display:block;color:#dededc;font-size:65px;margin-top:-8px;margin-left:0}
.image-picker-wrap .btn-chromeless:hover .icons-replace-image:before,
.image-picker-wrap .btn-chromeless:focus .icons-replace-image:before,
.image-picker-wrap.image-picker-dragover .icons-replace-image:before{color:#57ad68}
.template-flex-article .image .replace-image-message .icons-replace-image:before{display:block}
.icons-add-circled:before{color:#b3b3b1;font-size:20px;position:relative;top:5px}
.inline-tooltip-control:hover .icons-add-circled:before{color:#57ad68}
.collection-empty .icons-add-circled::before,.contribute-messaging .icons-add-circled::before{font-size:50px;position:absolute;top:100px;left:50%;margin-left:-24px}
.collection-empty .icons-add-circled::before{top:20px}
.error-message .icons-logo:before,
.icons-error:before{width:150px;height:150px;display:block;font-size:301px;color:#fff;line-height:100px}

.site-nav-list-item:first-child .site-nav-list-item-btn{line-height:46px}

.btn .icons:before{margin-right:8px;color:#b3b3b1;font-size:22px;line-height:0;position:relative;top:1px}
.btn .icons-shrink:before,
.btn .icons-enlarge:before,
.btn .icons-twitter:before{top:3px}
.btn .icons-heart:before{top:2px;margin-right:0;font-size:18px}
.btn .icons-solid-check:before,
.btn .icons-follow:before{font-size:18px;color:rgba(255,255,255,0.5);margin-right:8px}
.btn .icons-heart:before,
.btn-primary .icons-twitter:before,
.btn:hover .icons-heart:before,
.btn:hover .icons-solid-check:before,
.btn:hover .icons-follow:before{color:#fff}
.btn.active .icons-solid-check:before,
.btn.active .icons-heart:before,
.btn.active .icons-follow:before{color:#57ad68}
.btn-new-post .icons-new-post:before{color:#fff}

.cover-home .btn-new-post .icons-new-post:before{font-size:18px;top:0}
.cover-collection .btn-new-post .icons-new-post:before{color:#dededc;margin-right:0}
.cover-collection .btn-new-post:hover .icons-new-post:before{color:#fff}
.cover-has-subscribe-action .btn-edit .icons-settings:before{color:#dededc;font-size:24px;margin-right:0;position:relative;top:2px}
.cover-has-subscribe-action .btn-edit:hover .icons-settings:before{color:#fff}
.nav-page-btn .icons{font-size:19px}
.nav-page-btn .icons-arrow-left:before{margin-right:7px}
.nav-page-btn .icons-arrow-right:before{margin-left:7px}
.bucket-header-chevron .icons-arrow-right:before{position:relative;top:-1px}
.bucket-header-chevron .icons-arrow-down:before{position:relative;top:-5px}
.collection-sort-option .icons{font-size:70px;color:#b3b3b1;display:block;position:absolute;top:30px}
.collection-sort-option .icons-check{display:none}
.collection-sort-selector-oldest .collection-sort-option-oldest .icons-check:before,
.collection-sort-selector-default .collection-sort-option-default .icons-check:before{position:absolute;top:-37px;left:7px;font-size:23px;line-height:0;color:#fff}
.collection-sort-selector-oldest .collection-sort-option-oldest .icons-check,
.collection-sort-selector-default .collection-sort-option-default .icons-check{height:0;width:0;border-style:solid;border-width:50px 50px 0 0;border-color:#57ad68 transparent transparent transparent;top:0;margin-left:-20px;position:absolute;display:block}
.contributor-option .icons{font-size:80px;color:#b3b3b1;display:block;position:absolute;top:30px}
.contributor-option .icons-group{top:40px;font-size:65px}
.contributor-option .icons-check{display:none}
.contributor-selector-closed .contributor-option-closed .icons-check:before,
.contributor-selector-open .contributor-option-open .icons-check:before{position:absolute;top:-37px;left:7px;font-size:23px;line-height:0;color:#fff}
.contributor-selector-closed .contributor-option-closed .icons-check,
.contributor-selector-open .contributor-option-open .icons-check{width:0;height:0;border-style:solid;border-width:50px 50px 0 0;border-color:#57ad68 transparent transparent transparent;top:0;margin-left:-20px;position:absolute;display:block}
.editing .cover-user .replace-image-button:before{top:50%}
.icons-avatar.post-item-avatar:before{position:relative;top:-12px;font-size:40px;left:9px}

.cover-icon{font-size:700px;left:-200px;position:absolute;top:50%;margin-top:-500px;filter:alpha(opacity=5);-khtml-opacity:.05;-moz-opacity:.05;opacity:.05}
.notes-marker-icon{position:absolute;font-size:25px}
.icons-note-plus:before{top:-1px;position:relative;font-size:22px}
.icons-circle-check:before{font-size:24px}
.post-article .btn .icons-email:before{top:-1px}*/
