@{
    
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8" />
        <!--

        Copyright (c) University of Central Florida, College of Business | http://business.ucf.edu

        -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>UCF College of Business Administration</title>
        <meta name="description" content="University of Central Florida, College of Business Administration, Accounting, Economics, Finance, Management, Marketing, Real Estate, Sport Business" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-title" content="UCF-Business" />

        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="~/images/ico/apple-touch-icon-57-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/images/ico/apple-touch-icon-144-precomposed.png" />

        <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />

        <!-- Bootstrap core CSS -->
        <link type="text/css" rel="stylesheet" href="~/content/bootstrap/bootstrap.css" />
        <!-- Site CSS -->
        <link type="text/css" rel="stylesheet" href="~/styles/site.css" />
        <link type="text/css" rel="stylesheet" href="~/content/sly/css/font-awesome.min.css" />

        <link type="text/css" rel="stylesheet" href="new.css" />

        <script src="~/scripts/modernizr-2.6.2.js"></script>
    </head>
    <body class="page"><a id="top"></a>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div id="container" style="background: none;">
        <!--Content-->

            <header>
                <div class="content-wrapper">
                <!-- for development only --><div><label id="message" style="display: block;"></label></div><!-- for development only -->
                </div>
            </header>

            <nav class="site-nav" role="navigation">
                <button class="site-nav-logo distraction-free-component" data-action="open-nav">
		            <span class="icons icons-logo-">
			            <span class="screen-reader-text">site navigation</span>
		            </span>
		            <div class="site-nav-activity-flag"></div>
	            </button>

                <div class="site-nav-scrollable-container">
                    <!--site search-->
		            <div class="site-nav-search-wrapper">
			            <div class="site-nav-search-inner">
				            <div class="site-nav-search">
					            <input type="text" class="site-nav-search-input site-nav-search-input-desktop" title="Search Medium" placeholder="Search Medium" />
					            <button class="btn btn-chromeless site-nav-search-input-trigger site-nav-search-clear" data-action="clear-search">
						            <span class="icons icons-remove"></span>
					            </button>
					            <button class="btn btn-chromeless site-nav-search-input-trigger site-nav-search-query" data-action="query-search">
						            <span class="icons icons-search"></span>
					            </button>
				            </div>
				            <span class="site-nav-search-item navigable-list-item">
					            <button class="btn btn-chromeless site-nav-search-collapse" data-action="close-search">
						            <span class="icons icons-remove"></span>
						            <span class="site-nav-search-remove-mobile">Cancel</span>
					            </button>
				            </span>
			            </div>
			            <div class="site-nav-search-results"></div>
		            </div>
                    <!--navigation-->
		            <ul class="site-nav-list">
			            <li class="site-nav-list-item navigable-list-item site-nav-list-item-home">
				            <a class="site-nav-list-item-btn" title="Go home" href="/" tabindex="-1"><span class="icons icons-logo-m"></span>Home</a>
				            <div class="site-nav-search-nav-mobile">
					            <span class="icons icons-search site-nav-search-input-mobile-search-input-bg"></span>
					            <input type="search" class="site-nav-search-input site-nav-search-input-mobile" />
				            </div>
				            <div class="site-nav-search-nav-desktop">
					            <span class="site-nav-search-item site-nav-search-open-trigger navigable-list-item">
						            <button class="btn btn-chromeless site-nav-list-item-btn-secondary" data-action="open-search" tabindex="-1">
							            <span class="icons icons-search">
								            <span class="screen-reader-text">Search</span>
							            </span>
						            </button>
					            </span>
				            </div>
			            </li>
			            <li class="site-nav-list-item navigable-list-item">
				            <a class="site-nav-list-item-btn" title="Sign in with Twitter" data-action="sign-in-with-twitter" href="/m/account/authenticate-twitter" tabindex="-1"><span class="icons icons-twitter-small"></span>Sign in with Twitter</a>
			            </li>
		            </ul>
	            </div>
            </nav>

            <div class="site-nav-overlay"></div>

            <div id="content" class="main-content" >
                <div class="content-wrapper">
                    
	                <div class="screen-content">
		    
                        <aside class="cover cover-home" data-load-img=".cover-img">
			                <div class="cover-img" style="background-image: url('images/finance-bg.jpg');"><!--background image here-->
                                
                                <div id="UCFHBHeader" class="">
                                    <div class="UCFHBWrapper clearfix ">
                                        <section id="UCFtitle">
                                            <a href="http://www.ucf.edu" target="_blank"><span class="UCFHBText">University of Central Florida</span></a>
                                        </section><!--/UCF Logo-->
                                    </div><!--/UCF Header Wrapper-->
                                </div><!-- /UCFHBHeader -->

                                <p><!-- Page content and headlines go here.--></p>

                            </div>
			                <div class="cover-body">
                                
				                <div class="cover-body-inner">
					                <h1 class="cover-title">College of Business</h1>
					                <p class="cover-description">Those seeking greatness need only... <a href="#" title="Learn more about Medium">Apply!</a>. 
                                        <br><br>Follow us on <a title="Follow us on..." href="#"></a>...</p>
					                <div class="cover-actions">
						                <a data-action="sign-in-with-twitter" href="/account/login" class="btn btn-primary"><span class="icons icons-twitter"></span>Sign in with Twitter</a>
					                </div>
				                </div>
			                </div>
		                </aside>

		                <section class="wrapper" style="background:url('images/body-bg.jpg') no-repeat;"><!--background image here-->
			                <div class="wrapper-inner" >

                                <section>
                                    <div id="example1" class="pagespan">

                                        <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
                                        <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->

			                            <div class="frame effects">
				                            <ul class="clearfix">
					                            <li><img data-src="holder.js/100%x300" alt="..."></li>
                                                <li><img data-src="" alt="..."><p>2. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>3. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat...</p></li>
                                                <li><img data-src="" alt="..."><p>4. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>5. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>6. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>7. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>8. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>9. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
				                            </ul>
			                            </div><!--/frames-->

                                        <ul class="pages"></ul><!--/position marker-->
                                        <div class="scrollbar">
				                            <div class="handle">
					                            <div class="mousearea"></div>
				                            </div>
			                            </div><!--/scrollbar-->

                                    </div>
                                </section>

                                <section>
                                    <div id="example2" class="pagespan">

                                        <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
                                        <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->

			                            <div class="frame effects">
				                            <ul class="clearfix">
                                                <li><img data-src="" alt="..."><p>1. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniams...</p></li>
                                                <li><img data-src="" alt="..."><p>2. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>3. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat...</p></li>
                                                <li><img data-src="" alt="..."><p>4. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>5. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>6. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>7. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>8. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>9. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
				                            </ul>
			                            </div><!--/frames-->

                                        <ul class="pages"></ul><!--/position marker-->
                                        <div class="scrollbar">
				                            <div class="handle">
					                            <div class="mousearea"></div>
				                            </div>
			                            </div><!--/scrollbar-->

                                    </div>
                                </section>

                                <section>
                                    <div id="example3" class="pagespan">

                                        <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
                                        <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->

                                        <div class="frame effects">
				                            <ul class="clearfix">
                                                <li><img data-src="" alt="..."><p>1. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniams...</p></li>
                                                <li><img data-src="" alt="..."><p>2. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>3. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat...</p></li>
                                                <li><img data-src="" alt="..."><p>4. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>5. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>6. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>7. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>8. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
                                                <li><img data-src="" alt="..."><p>9. Lorem ipsum dosectetur adipisicing elit, sed do.Lorem ipsum dolor sit amet, consectetur Nulla fringilla...</p></li>
				                            </ul>
			                            </div><!--/frames-->

                                        <ul class="pages"></ul><!--/position marker-->
                                        <div class="scrollbar">
				                            <div class="handle">
					                            <div class="mousearea"></div>
				                            </div>
			                            </div><!--/scrollbar-->

                                    </div>
                                </section>

				                <footer class="wrapper-footer"> </footer>

			                </div>
		                </section>

	                </div>

                </div>
            </div>

        <!--Content-->
        </div>

        <footer>
            <div class="content-wrapper">
                <!--BEGIN-->
                <ul class="clearfix">
                    <li>
                        <p class="home">Address</p>

                        <a href="#">un-styled ink</i></a>
                    </li>
                    <li>
                        <p class="services">Contact</p>

                        <ul>
                            <li><a href="#">Link to page.</a></li>
                            <li><a href="#">Link to page.</a></li>
                            <li><a href="#">Link to page.</a></li>
                            <li><a href="#">Link to page.</a></li>
                        </ul>
                    </li>
                    <li>
                        <p class="social">Follow Us</p>

                        <ul>
                            <li><a href="#">LinkedIn</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                        </ul>
                    </li>
                    <li>
                        <p class="qlinks">Quick Links</p>

                        <ul>
                            <li><a href="#">Link to page.</a></li>
                            <li><a href="#">Link to page.</a></li>
                            <li><a href="#">Link to page.</a></li>
                        </ul>
                    </li>
                </ul>
                <!--FINIS-->
                <div class="float-left text-muted credit"><p>&copy; @DateTime.Now.Year - University of Central Florida, College of Business Administration</p></div>
            </div>
        </footer>

        <a href="#" class="back-to-top">&#x25B2; Top </a>
        <!-- jquery -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/scripts/jquery-2.0.3.min.js"><\/script>')</script>
        <!-- bootstrap -->
        <script src="~/scripts/bootstrap.min.js"></script>

        <!-- for development -->
        <script src="~/scripts/holder.min.js"></script>

        <!-- production -->
        @*<script data-main="../../scripts/main" src="~/scripts/require.js"></script>*@

        <script src="~/content/sly/js/sly.min.js"></script>
        <script src="~/content/sly/js/main.js"></script>

        
    </body>
</html>
