@{
    //-- Sliding Horizontal Layout 
    //-- http://tympanus.net/codrops/2013/09/05/sliding-horizontal-layout
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section styles {
    <!-- page-specific styles (optional) -->
    <!-- <style>/*-- styles --*/</style> -->
}

@section featured {
    <!-- featured content (optional) -->
    <!--<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
                <h2>Page Subtitle.</h2>
            </hgroup>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>-->
}

<div id="vs-container" class="vs-container">

    <header class="vs-header">
        <h1>Sliding Triple View Layout <span>with Visible Adjoining Sections</span></h1>
        <ul class="vs-nav">
            <li><a href="#section-1">Hate dog flop</a></li>
            <li><a href="#section-2">Stretch hopped</a></li>
            <li><a href="#section-3">Inspect anything</a></li>
            <li><!-- ... --></li>
            <!-- ... -->
        </ul>
    </header>

    <div class="vs-wrapper">
        <section id="section-1">
            <div class="vs-content">
                <!-- content -->
            </div>
        </section>

        <section id="section-2"><!-- ... --></section>
        <section id="section-3"><!-- ... --></section>
        <!-- ... -->
    </div>

</div>