@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Social Media";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    .cover-img {}
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Our College</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->

                <section id="">
                    <div class="canvas">
		                <div class="container">
                            
                             <h3>Social Media</h3>

                <p>Our College of Business social media accounts provide more than a window onto our events and our people. They allow us to engage with potential and current students, alumni and the community.</p>
                <p>As Dean Paul Jarley states, “[social media] allows me to <em>make a big place feel small</em>. I can directly communicate with large numbers of students, faculty, staff and friends of the college, many of whom I may rarely meet face to face."</p>
<p>“Social media also give me the opportunity to understand the UCF experience in real time, give students advice about how to get the most out of their time in college, and engage the UCF College of Business Administration community in a dialogue about our future.”</p>
                
             <div> 
                 <h4>College Accounts</h4>
                 <a href="http://www.facebook.com/ucfcba"><img src="http://i1194.photobucket.com/albums/aa368/ucfbusiness/facebook_zpsc302f265.png" alt="Facebook" /></a>
                  <a href="http://twitter.com/ucfbusiness"><img src="http://i1194.photobucket.com/albums/aa368/ucfbusiness/twitter_zps7d4c8b35.png" alt="Twitter" /></a>
                      <a href="http://instagram.com/ucfbusiness"><img src="http://i1194.photobucket.com/albums/aa368/ucfbusiness/instagram_zps79d7267e.png" alt="Instagram"/></a>
                            <a href="http://twitter.com/pauljarley"><img src="http://i1194.photobucket.com/albums/aa368/ucfbusiness/twitter_zps7d4c8b35.png" alt="Dean's Twitter" /></a>
                            <a href="http://pauljarley.wordpress.com"><img src="http://i1194.photobucket.com/albums/aa368/ucfbusiness/wordpress-2_zpsa004d4a1.png" alt="Dean's Blog" /></a>
                            

            </div>

            <div>
                 <h4>Richard Lapchick, Ph.D. - Director, DeVos Sport Business Management</h4>
                     <a href="http://twitter.com/richardlapchick"><img src="http://i1194.photobucket.com/albums/aa368/ucfbusiness/twitter_zps7d4c8b35.png" alt="Richard Lapchick on Twitter" /></a>
                        <a href="www.linkedin.com/pub/richard-lapchick/5/592/687"><img src="http://i1194.photobucket.com/albums/aa368/ucfbusiness/linkedin_zps6e2cddd0.png" alt="Richard Lapchick on LinkedIn" /></a>

            
            </div>
            <div>
                <h4>Sean Snaith, Ph.D. - Director, Institute for Economic Competitiveness</h4>                
                                     <a href="http://twitter.com/seansnaith"><img src="http://i1194.photobucket.com/albums/aa368/ucfbusiness/twitter_zps7d4c8b35.png" alt="Sean Snaith on Twitter" /></a>

            </div>


<!--
                 <table summary="Social media at the College of Business - additional accounts" id="social-media-additional">
                     <tbody>

                    <th scope="row">Sean Snaith, Ph.D.</th>
                       <td>xxxxx</td>
                      </tr>

                      <th scope="row">Richard Lapchick, Ph.D.</th>
                       <td>xxxxx</td>
                      </tr>


                        <tr>
                       <th scope="row">Executive Development Center</th>
                       <td>xxxxx</td>
                      </tr>

                          <th scope="row">DeVos Sport Business Management</th>
                       <td>xxxxx</td>
                      </tr>
                </tbody>
                     </table>-->
                <h4>Social Streams</h4>

                <!--Begin YouTube-->
              <iframe src="http://www.youtube.com/embed/videoseries?list=PLblI-5jkdoaLyHcPimtQLfo3YD9_RuAer" 
width="100%" height="500" frameborder="0"></iframe><br />
                <!--End YouTube-->


                <!--Begin Twitter-->   
                <div style="float: left;margin: 10px;">         
                <a width="380" data-theme="light" class="twitter-timeline" href="https://twitter.com/UCFBusiness" data-widget-id="389841622873030656">Tweets by UCFBusiness</a>
                 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                 </div>

                <div style="float: left;margin: 10px;">
                <a chrome="noheader" class="twitter-timeline" href="https://twitter.com/UCFBusiness/ucf-college-of-business" data-widget-id="389852317383536640">Tweets from UCFBusiness/ucf-college-of-business</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                </div>
                <br style="clear: both;" />
                    <!--End Twitter-->
           

<!--Begin Facebook-->

<!--End Facebook-->


<!--Begin Instagram-->

                
<div style="float: left;margin: 10px;">
  
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fucfcba&amp;width=380px&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true&amp;appId=106330429508301" scrolling="no" frameborder="0" show_border="true" style="border:none; overflow:hidden; width:380px; height:590px;" allowTransparency="true"></iframe><br />

    </div>
<div style="float: left;margin: 10px;">
<a href="http://instagram.com/ucfbusiness?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a><br />
<iframe width='380' height='513' src='http://statigr.am/widget.php?choice=myfeed&username=ucfbusiness&show_infos=true&linking=instagram&width=380&height=513&mode=slideshow&photo_border=true&pace=7&background=FFFFFF&text=777777&widget_border=true&radius=5&border-color=DDDDDD&user_id=350123707&time=1381783849766' allowTransparency='true' frameborder='0' scrolling='no' style='border:none; overflow:hidden; width:380px; height:513px;'></iframe>
<br style="clear: both;" />
<!--End Instagram-->





		                </div>
	                </div>
                </section>

            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->