@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Student Ambassadors";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    .cover-img {}
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Our College</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <div class="st-pusher">

            <div class="container">

            <h3>About the Ambassador Program</h3>
                <p>Ambassadors are the best and brightest the College of Business has to offer. These exceptional students represent the college at various special events.</p>
                <p>Ambassadors are the face of the college and help the college and its departments offer more quality events for alumni, friends, faculty and staff, while providing networking opportunities for its members</p>
                <p>Responsibilities of the Ambassadors include serving as hosts and hostesses at campus events, assisting the Office of the Dean and coordinating community service and events to rally other students as well as alumni, faculty and staff together in a joint effort. They participate in a wide variety of college activities, such as:</p>

                <ul>
                <li>Conducting campus tours for dignitaries and distinguished guests</li>
                    <li>Reaching out to potential and current College of Business students</li>
                    <li>Promoting the latest advances and achievements of the college</li>
                    <li>Engaging in fundraising and community service</li>
                </ul>

                <h4><a href="http://www.youtube.com/playlist?list=PLblI-5jkdoaLAGz-wPFnjv-WtZiEFP4VS" target="_blank">Current Ambassadors</a></h4>

                    <ul>
                        <li>Leif Bang</li>
                        <li>Tyler Bartels</li>
                        <li>Amy Bonilla</li>
                        <li>Amanda Brown</li>
                        <li>Brian Connelly</li>
                        <li>Jonathan Deleon</li>
                        <li>Casey Field</li>
                        <li>Kristine Garcia-Cartaya</li>
                        <li>Renee Giron</li>
                        <li>Amanda Haataia</li>
                        <li>Alex Ham</li>
                        <li>Lauren Heben</li>
                        <li>Melissa Hedtke</li>
                        <li>Joyce Jacobson</li>
                        <li>Natacha Jerome</li>
                        <li>Rechelle Lambert</li>
                        <li>Justin LaMotte</li>
                        <li>Dionte Madden</li>
                        <li>Rami Mosrie</li>
                        <li>Gabriella Perez</li>
                        <li>Ximena Ponce De Leon</li>
                        <li>Blake Roth</li>
                        <li>Jason Sena</li>
                    
                    </ul>

                <h4>Ambassador Graduates</h4>

                    <ul>
                        <li>Kenny Betancourt</li>
                        <li>Lauren LaVan</li>
                        <li>Abe Melloh</li>
                        <li>Lauren Jenkins</li>
                    
                    </ul>

           </div>

    </div><!-- /st-pusher -->
</div><!-- /st-container -->



