@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bachelors of Arts";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Business Administration</h1>
        <h2>@Page.Title</h2>
    </hgroup>

    <a href="https://apply.ucf.edu/application/login.aspx" class="btn btn-primary btn-lg" role="button" target="_blank">Apply Online</a>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">

        <nav id="menu" class="st-menu st-effect-2" data-scrollspy="scrollspy">
            <ul class="menu cl-effect-10">
                <li><a href="#curricular-learning-goals" data-hover="Curricular Learning Goals" class="cbp-fbcurrent"><span>Curricular Learning Goals</span></a></li>
                <li><a href="#required-major-courses" data-hover="Finance Major Courses"><span>Finance Major Courses</span></a></li>
                <li><a href="#plan-of-study" data-hover="Plan of Study"><span>Plan of Study</span></a></li>
                <li><a href="#internships" data-hover="Internships"><span>Internships</span></a></li>
                <li><a href="#careers" data-hover="Careers"><span>Careers</span></a></li>
            </ul>
        </nav><!-- /st-menu -->

        <section class="st-carousel">
            <div class="st-carousel-inner container">
                <div>
                    <h3>The Economics Major</h3>
                    <p>Economic issues dominate today’s news and public debates more than ever before. The primary strength of economics is that it provides a logical, ordered way of looking at most problems and issues. Undergraduate education in economics equips individuals to better understand and seek solutions to problems in business and society.</p>
                </div>
                <div>
                    <h3>The Economics Student</h3>
                    <p>The purpose of the Economics (B.A.) program is to provide a broad-based liberal arts background that can serve as a strong foundation for further graduate studies in law, social sciences, and other fields, or as training for careers in politics, teaching, research, social service, and other areas.</p>
                </div>
                <p>Please Note: the information listed on the website is for the 2013 Catalog Year. Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>
            </div>
        </section><!-- /st-carousel -->

        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                
            <span id="st-trigger-effects" class="st-menu-btn">
                <button data-effect="st-effect-2">Menu</button>
            </span>

            <section id="curricular-learning-goals">
                <div class="canvas">
		            <div class="container">
		            <h2>Curricular Learning Goals</h2>
                        <p>UCF Economics graduates will be able to: </p>

                        <h4>Discipline Specific Knowledge, Skills, Behavior and Values Outcomes</h4>
                        <ol>
                            <li>Demonstrate the application of the principles, theories, and analytical methods of Microeconomics to analyze economic problems.</li>
                            <li>Demonstrate the application of the principles, theories, and analytical methods of Macroeconomics to analyze economic problems.</li>
                            <li>Demonstrate the ability to gather, evaluate, and use information pertaining to economic issues in ethical and legal ways.</li>
                            <li>Demonstrate the application of statistical analysis methods and models to interpret economic data, and to draw inferences about economic behavior.</li>
                            <li>Demonstrate the ability to draw insights about economic behavior from the application of algebra and calculus to economic problems.</li>
                            <li>Apply economic principles and theories to analyze international economic issues.</li>

                        </ol>

                        <h4>Critical Thinking Outcomes</h4>
                        <p>Demonstrate critical thinking by applying systematic and logical reasoning to evaluate and draw valid conclusions about economic problems.</p>

                        <h4>Communication Outcomes</h4>
                        <p>Demonstrate the ability to communicate economic ideas clearly and coherently, according to the conventions of written English.</p>

                        <h4>Assessment of Finance Outcomes</h4>
                        <p>These outcomes will be assessed using a variety of assessment methods, including:</p>

                        <ul>
                            <li>ETS standardized field test in Economics (and subtests)</li>
                            <li>ETS iSkills<sup>TM</sup> Assessment Test</li>
                            <li>Written assignments</li>
                            <li>Exam questions</li>
                            <li>Exit survey</li>

                        </ul>

		            </div>
	            </div>
            </section>

            <section id="required-major-courses">
                <div class="canvas">
		            <div class="container">
		                <h2>Economics Major Courses</h2>
                        <h4>Required Common Program Prerequisites</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <h5><strong>ECO 2023</strong> Microeconomics</h5>
                            </div>
                            <div class="col-md-3">
                                <h5><strong>ECO 2013</strong> Macroeconomics</h5>
                            </div>
                        </div>

                        <h4>Required Courses for all Business Economics Majors</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <h5><strong>ECO 3401</strong> Quantitative Business Tools I</h5>
                                    <small>
                                    <em>(PR: MAC1105, ECO2023)</em><br />
                                        <em>**Students who have completed MAC 2233 &amp; STA 2023 w/ "C" or better will be waived from ECO3401</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-3">
                                <h5><strong>ECO 3411</strong> Quantitative Business Tool II</h5>
                                        <small>
                                    <em>(PR: Junior Standing, ECO 2013, ECO2023, &amp; ECO 3401)</em><br />
                                        <em>**Students who have completed STA 4163 or STA 4321 w/ "C" or better will be waived from ECO3411</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-3">
                                <h5><strong>ECO 3101</strong> Intermediate Microeconomics</h5>
                                    <small>
                                    <em>(PR: ECO 2013, ECO2023, &amp; ECO 3401)</em>
                                </small><br><br>
                            </div>
                                <div class="col-md-3">
                                <h5><strong>ECO 3203</strong> Intermediate Macroeconomics</h5>
                                    <small>
                                    <em>(PR: ECO 2013, ECO2023, &amp; ECO 3401)</em>
                                </small><br><br>
                            </div>

                            <div class="col-md-3">
                                <h5><strong>ECO 4902</strong> Capstone in Economics</h5>
                                    <small>
                                    <em>(PR: ECO 3101, ECO 3203, &amp; ECO 3411, Senior Standing)</em>
                                </small><br><br>
                            </div>
                        </div>

                        <h4>Required Economics Electives <br><small>Choose nine (9) 3000/4000 level courses from the list below:</small></h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5><strong>ECO 3223</strong> Money and Banking</h5>
                                <small>
                                    <em>(PR: ECO 2013)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>*ECO 3410</strong> Mathematical Economics</h5>
                                <small>
                                    <em>(PR: ECO 3101)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>ECO 3703</strong> International Microeconomics</h5>
                                <small>
                                    <em>(PR: ECO 3101)</em>
                                </small><br><br>
                            </div>
                        </div>


                        <div class="row">
                        </div>


                        <div class="row">

                        <div class="col-md-4">
                            <h5><strong>ECO 4303</strong> History of Economic Thought</h5>
                            <small>
                                <em>(PR: ECO 2013 or ECO 2023)</em>
                            </small><br><br>
                        </div>
                        <div class="col-md-4">
                            <h5><strong>*ECO 4412</strong> Econometrics</h5>
                            <small>
                                <em>(PR: ECO 3411)</em>
                            </small><br><br>
                        </div>

                                <div class="col-md-4">
                            <h5><strong>ECO 4504</strong> Public Economics</h5>
                            <small>
                                <em>(PR: ECO 3101)</em>
                            </small><br><br>
                        </div>



                                <div class="col-md-4">
                            <h5><strong>ECO 4713</strong>International Macroeconomics</h5>
                            <small>
                                <em>(PR: ECO 3101 or ECO 3203 or ECO 3223)</em>
                            </small><br><br>
                        </div>


                                    <div class="col-md-4">
                            <h5><strong>ECO 4751</strong> Law and Economics</h5>
                            <small>
                                <em>(PR: ECO 2013 &amp; ECO 2023)</em>
                            </small><br><br>
                        </div>



                                    <div class="col-md-4">
                            <h5><strong>*ECO 4934</strong>Topics in Econometrics</h5>
                            <small>
                                <em>(PR: ECO 4412)</em>
                            </small><br><br>
                        </div>



                                <div class="col-md-4">
                            <h5><strong>ECP 3004</strong> Seminar on Current Economic Topics</h5>
                            <small>
                                <em>(PR: ECO 3101)</em>
                            </small><br><br>
                        </div>

                                <div class="col-md-4">
                            <h5><strong>ECP 3203</strong> Labor Economics</h5>
                            <small>
                                <em>(PR: ECO 3101 or ECO 4703)</em>
                            </small><br><br>
                        </div>

                                <div class="col-md-4">
                            <h5><strong>ECP 4303</strong> Environmental &amp; Natural Resource Economics</h5>
                            <small>
                                <em>(PR: ECO 3101)</em>
                            </small><br><br>
                        </div>
                                <div class="col-md-4">
                            <h5><strong>*ECP 4403</strong>Industrial Org and Game Theory</h5>
                            <small>
                                <em>(PR: ECO 3101)</em>
                            </small><br><br>
                        </div>

                                <div class="col-md-4">
                            <h5><strong>ECP 4530</strong> Health Economics</h5>
                            <small>
                                <em>(PR: ECO 3101)</em>
                            </small><br><br>
                        </div>

                                <div class="col-md-4">
                            <h5><strong>ECS 4013</strong> Development Economics</h5>
                            <small>
                                <em>(PR: ECO 2013 &amp; ECO 2023)</em>
                            </small><br><br>
                        </div>

                        
                    </div>


                        <h4>One Year (Two Semesters) of Foreign Language</h4>
                        <p>Proficiency equivalent to one year of college instruction in a foreign language taught by the Department of Modern Languages and Literatures or Judaic Studies is required.  Or standardized examinations for foreign languages may be used to meet the requirement.</p>

                        <h4>Additional Electives May be Needed</h4>
                        <p>Students must fulfill both the requirements for a major and University requirements to receive a bachelor’s degree from UCF.  All students must earn a minimum of 120 unduplicated credit hours with at least a “C” average (2.0 GPA) for all UCF course work attempted.</p>

                        <h4>Upper-Level Requirements Needed in Order to Graduate</h4>
                        <p>Must at least 48 of these 120 credit hours in 3000-4000 level courses (upper-division) in Order to Graduate.</p>

		            </div>
	            </div>
            </section>

            <section id="plan-of-study">
                <div class="canvas">
                    <div class="container">
	                <h2>Recommended Course Sequence</h2>
                        <em>Catalog Year 2013-2014</em>
                        <p>This is a sample plan for completing the Finance Major.  The curriculum in the College of Business is structured so that students move through classes in a prescribed order.  Prerequisites are important and are strongly enforced.</p>
                        <p><em>Students are not limited to this plan of action; it is meant to be used as a guide.</em></p>
                        <p>To be competitive in today's job market, and make the most of your educational experience, one must concentrate on key areas: Academics, Involvement & Leadership, and Career. Your academic advisor can provide you with the resources available, but ultimately it is up to you to plan your own journey to success.</p>
                        <p>The course sequence below assumes that you have already completed the following courses:</p>
                            <ul>
                                <li>ECO 2013 - Macroeconomics</li>
                                <li>ECO 2023 - Microeconomics</li>
                                <li>One Year (Two Semesters) of Foreign Language</li>
                            </ul>
                        <p><small>*Denotes &ldquo;C&rdquo; (2.00) or better is required.</small></p>
                        <h4>Junior Year</h4>

                        <table summary="Junior Year" id="junior-year">
                            <thead>
                            <tr>
                            <th scope="col">Fall Semester</th>
                            <th scope="col">Credit Hours</th>
                            <th scope="col">Spring Semester</th>
                            <th scope="col">Credit Hours</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                            <td>ECO 3401 Quantitative Business Tool I</td>
                            <td>3</td>
                            <td>ECO 3411 Quantitative Business Tool II</td>
                            <td>4</td>
                            </tr>
                            <tr>
                            <td>Economics Elective</td>
                            <td>3</td>
                            <td>ECO 3101 Intermediate Macroeconomics</td>
                            <td>3</td>
                            </tr>
                            <tr>
                            <td>Economics Elective</td>
                            <td>3</td>
                            <td>Economics Elective</td>
                            <td>3</td>
                            </tr>
                            <tr>
                            <td>General Elective/Minor</td>
                            <td>3</td>
                            <td>General Elective/Minor</td>
                            <td>3</td>
                            </tr>
                            <tr>
                            <td>General Elective/Minor</td>
                            <td>3</td>
                            <td>General Elective/Minor</td>
                            <td>3</td>
                            </tr>
                            <tr>
                            <td>Total:</td>
                            <td>15</td>
                            <td>Total:</td>
                            <td>16</td>
                            </tr>
                            </tbody>
                        </table>



                        <p><strong>Plan of Action: Be able to articulate WHAT your major is and WHY you chose it.</strong></p>
                        <p>Begin looking into what types of jobs you can get with your identified major.  Complete Career Assessment Tools, through the Career Services Website; for example, My Plan.  Attend career workshops: resume and interview, job search strategies, graduate school preparation, etc.  Contact Experiential Learning to gain relevant work experience in an Economics related internship, as well as, setting up informational interviews and attending career fairs through the Career Services Office.  Join a Student Organization and seek a leadership position to help with networking and leadership skills.  Begin to develop a strong relationship with Faculty members in your identified major.</p>               
                        <h4>Senior Year</h4>


                        <table summary="Senior Year" id="senior-year">
                                <thead>
                                <tr>
                                <th scope="col">Fall Semester</th>
                                <th scope="col">Credit Hours</th>
                                <th scope="col">Spring Semester</th>
                                <th scope="col">Credit Hours</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                <td>ECO 3203 Intermediate Macroeconomics</td>
                                <td>3</td>
                                <td>ECO 4902 Capstone in Economics</td>
                                <td>1</td>
                                </tr>
                                <tr>
                                <td>Economics Elective</td>
                                <td>3</td>
                                <td>Economics Elective</td>
                                <td>3</td>
                                </tr>
                                <tr>
                                <td>Economics Elective</td>
                                <td>3</td>
                                <td>Economics Elective</td>
                                <td>3</td>
                                </tr>
                                <tr>
                                <td>Economics Elective</td>
                                <td>3</td>
                                <td>Economics Elective</td>
                                <td>3</td>
                                </tr>
                                <tr>
                                <td>General Elective/Minor</td>
                                <td>3</td>
                                <td>General Elective/Minor</td>
                                <td>3</td>
                                </tr>
                                <tr>
                                <td>Total:</td>
                                <td>15</td>
                                <td>Total:</td>
                                <td>13</td>
                                </tr>
                                </tbody>
                        </table>
                    
                    <p><strong>Complete a Graduation Check with your academic advisor.</strong></p>
                    <p>Get serious about what type of job you want to pursue when you graduate.  Attend career fairs and be prepared to promote your qualifications to employers.  Work with Career Services to update and finalize your resume and cover letter, and start applying for jobs.  Develop a list of references and request letters of recommendations from the Faculty members that you have developed a relationship with.  Buy professional business attire and be ready for interviews.  Begin the job search process, including on-campus interviews; sign-up for Knightlink. (Knightlink is a FREE service for UCF students and recent graduates.)  Continue your involvement with student organizations and serve as a mentor to younger students.</p>
                            </div>
                </div>
            </section>

            <section id="internships">
                <div class="canvas">
                    <div class="container">
                        <h2>Internships</h2>
                        <div class="col-span-2">
                            <p><strong>Economics Majors are unable to apply internship credit towards their major requirements</strong>; however, internships are available to all students at the University of Central Florida for elective credit through the Experiential Learning office.  The Experiential Learning office works with all majors.</p>
                            <p>For help finding an Internship, please go to the Business Satellite Office of Experiential Learning, located in BA1, room 130.  The phone number is (407) 823-5581 and the website is www.explearning.ucf.edu.</p>
                            <p><strong>Internships are:</strong></p>
                            <p>Internships are academic courses that allow students to apply classroom theory in a practical work setting and gain personal, academic and work competencies.</p>
                            <ul>
                                <li>One semester</li>
                                <li>Major-related</li>
                                <li>Off-campus</li>
                                <li>Usually for credit</li>
                                <li>Paid or unpaid</li>
                                <li>Structured for learning</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>

            <section id="careers">
                <div class="canvas">
                    <div class="container">
	                <h2>Careers</h2>
                        <hgroup>
                            <h3>What can I do with this major?</h3>
                            <h4>General Information and Strategies</h4>
                        </hgroup>
                        <ul>
                            <li>Economics is a social science that researches people and how they use their resources with a focus on the economic well-being of society.</li>
                            <li>An undergraduate degree in economics can lead to many career opportunities. Students should clearly define their goals and seek experiences and skills necessary to reach those goals.</li>
                            <li>Some undergraduate programs are located in colleges of Business and others in Arts and Sciences. These may lead to either the B.A. or B.S. Career opportunities can vary slightly depending upon the particular degree and curriculum.</li>
                            <li>Most “economist” positions require masters or doctoral degrees in economics or a closely related field.</li>
                            <li>Economics can serve as good preparation for graduate programs in economics, law, public administration, international affairs, management science, or business.</li>
                            <li>Gaining relevant experience through part-time and summer jobs or internships is critical.</li>
                            <li>Important skills for economists to gain include: data acquisition and analysis techniques, critical thinking, report writing, competency with relevant software, and the ability to identify economic trends.</li>
                            <li>Learn about economics and business careers through research on internet sites and books, informational interviews of professionals, and exposure to work environments through shadowing, volunteering, or interning.</li>
                            <li>Get involved in student professional associations in field of interest.</li>
                            <li>Build and utilize a personal network of contacts. Once in a position, find an experienced mentor.</li>
                        </ul>
                        <p>&nbsp;</p>

                        <h4>Economics</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Area</h5>
                                <p>Specialities include:
                                    •	Micro
                                    •	Macro
                                    •	Financial
                                    •	International
                                    •	Organizational/Industrial
                                    •	Demographic or Labor
                                    •	Public Finance
                                    •	Econometrics
                                    •	Business
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Employer</h5>
                                <p>
                                    •	Consulting firms
                                    •	Research firms
                                    •	Private corporations in a variety of industries including but not limited to: 
                                    •	Retail
                                    •	Banking
                                    •	Insurance
                                    •	Mining
                                    •	Transportation
                                    •	Healthcare
                                    •	Tourism
                                    •	Consumer goods manufacturing firms
                                    •	Federal government including but not limited to: 
                                    •	Department of Labor 
                                    •	Bureau of Labor Statistics
                                    •	Department of Commerce 
                                    •	Bureau of Economic Analysis
                                    •	Census Bureau
                                    •	Department of Agriculture 
                                    •	Agricultural Research Service
                                    •	Department of State
                                    •	Department of Health
                                    •	Environmental Protection Agency 
                                    •	Office of Policy, Planning and Development
                                    •	Securities and Exchange Commission
                                    •	Small Business Administration
                                    •	Congressional Budget Office
                                    •	Federal Reserve System 
                                    Board of Governors
                                    •	Legislatures
                                    •	Local and state government agencies
                                    •	Public utilities
                                    •	Trade associations
                                    •	Labor unions
                                    •	International organizations

                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Information</h5>
                                <p>
                                    •	Most economics positions in the private sector require a master’s or doctoral degree. Plan to specialize at the graduate level.
                                    •	Some entry level positions such as Research Assistant or Economics Assistant are available in government agencies for candidates with bachelor’s degrees, but more opportunities and the potential for advancement are available for candidates with graduate degrees.
                                    •	Approximately 50% of economists work for the federal government.
                                    •	Economists can specialize in a particular industry such as healthcare, transportation, or energy. Nearly all industries employ economists.
                                    •	Develop excellent quantitative, analytical, and computer skills along with the ability to communicate data and findings to people with less technical backgrounds.
                                    •	Supplement undergraduate curriculum with courses in math, statistics, computer science, business, and political science.
                                    •	Gain experience with survey design and working with large amounts of data.
                                    •	Become adept at making reports, creating charts and graphs, and writing findings clearly.
                                    •	Complete an internship with a government agency or market research firm.
                                    •	Read journals to understand the industry.
                                    •	Learn to work independently and to demonstrate a proclivity to problem solving.
                                </p>
                            </div>


                        <h4>Banking and Finance</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Area</h5>
                                <p>
                                    •	Financial Analysis
                                    •	Commercial Banking
                                    •	Retail/Consumer Banking
                                    •	Credit Analysis
                                    •	Lending
                                    •	Trust Services
                                    •	Mortgage Loans
                                    •	Branch Management
                                    •	Operations Securities: 
                                    •	Sales
                                    •   Research
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Employer</h5>
                                <p>
                                    •	Corporate finance departments
                                    •	Banks Credit unions
                                    •	Savings and loan associations
                                    •	Financial services institutions
                                    •	Federal Reserve banks
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Information</h5>
                                <p>
                                    •	Build a solid background in business including finance, accounting, and marketing.
                                    •	Gain experience through part-time, summer, or internship positions in a bank or financial services firm.
                                    •	Develop strong interpersonal and communication skills in order to work well with a diverse clientele.
                                    •	Serve as treasurer for student organizations.
                                    •	Get involved with investment clubs.
                                    •	Earn an MBA for positions in investment banking.
                                </p>
                            </div>
                        </div>



                        <h4>Insurance</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Area</h5>
                                <p>
                                    •	Claims
                                    •	Underwriting
                                    •	Risk Management
                                    •	Sales
                                    •	Loss Control
                                    •	Actuarial Science
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Employer</h5>
                                <p>
                                    •	Insurance firms
                                    •	 Banks
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Information</h5>
                                <p>
                                    •	Complete an internship with an insurance agency.
                                    •	Talk to professionals in the industry to learn more about claims, underwriting, and risk management. Many entry-level positions exist in these areas.
                                    •	Initiative and sales ability are necessary to be a successful agent or broker.
                                    •	Develop strong communication skills as many positions require interaction with others and the ability to explain information clearly and concisely.
                                    •	For actuary science, take additional courses in statistics and mathematics. Plan to take a series of actuarial exams to gain licensure from either the Society of Actuaries or the Casualty Actuarial Society. The type of insurance you deal with will determine which path to pursue. Most actuaries take these exams while working full-time, and the process takes several years.
                                </p>
                            </div>
                        </div>



                        <h4>Sales</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Area</h5>
                                <p>
                                    •	Industrial Sales
                                    •	Consumer Product Sales
                                    •	Financial Services Sales
                                    •	Services Sales
                                    •	Advertising Sales
                                    •	E-commerce
                                    •	Customer Service
                                    •	Sales Management: 
                                    •	District, Regional, and Higher
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Employer</h5>
                                <p>
                                    •	For-profit and nonprofit organizations
                                    •	Product and service organizations
                                    •	Manufacturers
                                    •	Financial companies
                                    •	Insurance companies
                                    •	Print and electronic media outlets
                                    •	Software and technology companies
                                    •	Internet companies
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Information</h5>
                                <p>
                                    •	Obtain related experience through internships or summer and part-time jobs.
                                    •	Seek leadership positions in campus organizations.
                                    •	Work for the campus newspaper, directory, or radio station selling advertisements.
                                    •	Become highly motivated and well-organized.
                                    •	Develop a strong commitment to customer satisfaction.
                                    •	To deliver effective customer service, develop problem solving skills, self-confidence, assertiveness, and empathy.
                                    •	Learn to work well under pressure and to be comfortable in a competitive environment.
                                    •	Prepare to work independently and to be self-motivated. Plan to work irregular and/or long hours.
                                    •	Learn to communicate effectively with a wide range of people. Supplement curriculum with classes in interpersonal communication and public speaking.
                                </p>
                            </div>


                        </div>


                        <h4>Management</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Area</h5>
                                <p>
                                    •	Areas and job titles vary by industry
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Employer</h5>
                                <p>
                                    •	Business and industry including: 
                                    •	Banks and financial institutions
                                    •	Retail stores
                                    •	Restaurants
                                    •	Hotels Service providers
                                    •	Healthcare organizations and hospitals
                                    •	Manufacturers
                                    •	Industrial organizations
                                    •	Local, state, and federal government
                                    •	Nonprofit organizations
                                    •	Self-employed
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Information</h5>
                                <p>
                                    •	Take additional courses in management.
                                    •	Prepare to start in entry-level management trainee positions. Demonstrate initiative and leadership to get promoted.
                                    •	Gain experience through internships or summer and part-time jobs.
                                    •	Get involved in student organizations and assume leadership roles.
                                    •	Demonstrate an entrepreneurial spirit, a strong work ethic, integrity, and a sense of independence.
                                    •	Learn to work well on a team and develop strong communication skills.
                                </p>
                            </div>
                        </div>

                        <h4>Education</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Area</h5>
                                <p>
                                    •	Teaching
                                    •	Research
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Employer</h5>
                                <p>
                                    •	Colleges and universities
                                    •	Secondary public and private schools
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Information</h5>
                                <p>
                                    •	Earn a Ph.D. to teach in post-secondary institutions.
                                    •	Gain research experience by assisting a professor.
                                    •	Maintain a high GPA and secure strong faculty recommendations to get admitted into graduate school.
                                    •	Obtain teacher certification for public school positions. Earn additional certifications as it is unlikely that schools will hire teachers only for economics.
                                    •	Seek experience working with young people.
                                    •	Develop strong public speaking skills.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
                </div>
            </section>

            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->

    </div><!-- /st-pusher -->
</div><!-- /st-container -->