@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bachelors of Arts in Business Administration";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    .cover-img {}
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h2>@Page.Title</h2>
        <h1>BABA in Economics</h1>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <div class="st-pusher">



    </div><!-- /st-pusher -->
</div><!-- /st-container -->