@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bachelors of Arts";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Business Administration</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <div class="st-pusher">



    </div><!-- /st-pusher -->
</div><!-- /st-container -->