@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bachelors of Science in Business Administration - Accounting";
}

<div class="title">
    <h1>@Page.Title</h1>
    <h2>Your app description page.</h2>
</div>