@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bachelors of Science in Business Administration - Finance";
}

@section Styles {
    <!--<style> /*-- page-specific styles --*/ </style>-->
}

@section featured {
<section class="featured">
    <div class="content-wrapper">

        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>H2 title header</h2>
        </hgroup>
        
        <div>
            <h3>The Finance Major</h3>
            <p>The finance major is designed to provide the student with a broad knowledge in business finance, 
                investments, financial institutions, international finance, risk management and insurance, 
                and real estate. The program provides the student with the theoretical background and tools 
                of analysis required for making effective financial decisions.</p>
        </div>

        <div>
            <h3>The Finance Student</h3>
            <p>Envision an education where hands-on guidance from award-winning faculty is a given. 
                Where classes aren’t just classes, but components of an innovative curriculum that teaches 
                the science, ethics, and art of good business.</p>
            <p>The study of finance prepares the student for careers in business financial management. 
                Students that major in finance are sought by both financial and non-financial firms.</p>
        </div>

    </div>
</section>
}


<hgroup class="title">
    <h2>Bachelors of Science in Business Administration</h2>
    <h1>Finance</h1>
</hgroup>

<div id="cbp-fbscroller" class="cbp-fbscroller">

    <nav id="menu" data-scrollspy="scrollspy">
        <div>
            <ul class="cl-effect-10">
                <li><a href="#curricular-learning-goals" data-hover="Curricular Learning Goals" class="cbp-fbcurrent"><span>Curricular Learning Goals</span></a></li>
                <li><a href="#core-business-courses" data-hover="Core Business Courses"><span>Core Business Courses</span></a></li>
                <li><a href="#major-required-courses" data-hover="Major Required Courses"><span>Major Required Courses</span></a></li>
                <li><a href="#plan-of-study" data-hover="Plan of Study"><span>Plan of Study</span></a></li>
                <li><a href="#internships" data-hover="Internships"><span>Internships</span></a></li>
                <li><a href="#careers" data-hover="Careers"><span>Careers</span></a></li>
                <li><a href="#certificates" data-hover="Certificates"><span>Certificates</span></a></li>
            </ul>
        </div>
    </nav>

    <section id="curricular-learning-goals">
        <div class="vs-content">
		    <h2>Curricular Learning Goals</h2>
		    <div class="col">
                <p>UCF Finance graduates will be able to: </p>

                <h3></h3>Discipline Specific Knowledge, Skills, Behavior and Values Outcomes
                <ol>
                    <li>Demonstrate comprehension of basic financial topics, such as risk and return, term structure of interest rates, efficient capital markets, and agency problems.</li>
                    <li>Demonstrate proficiency in solving problems related to time value mathematics.</li>
                    <li>Demonstrate proficiency in investment analysis techniques.</li>
                    <li>Demonstrate proficiency in solving problems related to corporate finance.</li>
                    <li>Demonstrate proficiency in solving problems related to financial markets.</li>
                    <li>Apply appropriate information technologies, such as Microsoft Excel, to specified financial analysis problems.  </li>
                </ol>

                <h3>Critical Thinking Outcomes</h3>
                <p>Demonstrate critical thinking skills related to financial analysis by effectively evaluating financial data and using the results to make corporate financial or investment decisions.</p>

                <h3>Communication Outcomes</h3>
                <p>Demonstrate effective written communication skills by producing written financial analyses that are organized, clear, and logical. </p>

                <h3>Assessment of Finance Outcomes</h3>
                <p>These outcomes will be assessed using a variety of assessment methods, including:</p>
                <ul>
                    <li>Exam questions</li>
                    <li>Written assignments</li>
                    <li>Case studies</li>
                </ul>
		    </div>
	    </div>
    </section>

    <section id="core-business-courses">
        <div class="vs-content">
		    <h2>Core Business Courses</h2>
		    <div class="col">
                <p>Business Core (36 credits)</p>


    GEB 3031	Cornerstone Lecture (1st or 2nd term Admitted)
    (PR: Admitted to the College of Business, Junior Standing CR:GEB3031L)
    GEB3031L	Cornerstone Lab (1st or 2nd term Admitted)
    (PR: Admitted to the College of Business upon completion of business prerequisites CR: GEB 3031)
    MAR 3023	Marketing
    (PR: Admitted to UCF)
    GEB 3375	Intro to International Business
    (PR: ACG 2021, ACG 2071, ECO 2013, ECO 2023 and Junior Standing)
    BUL 3130	Legal & Ethical Environments of Business
    (PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)
    ECO 3411	Quantitative Business Tool II
    (PR: Admitted to the College of Business, ECO 2013, ECO 2023 & ECO 3401, Junior Standing)
    FIN 3403	Business Finance**
    (PR: ACG 2021, ECO 2023 and Junior Standing)
    MAN 3025	Management of Organization
    (PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)
    MAR 3203	Supply Chain Management
    (PR: Admission to the College of Business or completion of ECO3401 with a "C" or better)
 	
    Graduating Semester:
    MAN 4720	Strategic Management/Capstone 
    (PR: MAN 3025, MAR 3023, FIN 3403 and GEB 3031 & GEB3031L)

		    </div>
	    </div>
    </section>

    <section id="required-major-courses">
        <div class="vs-content">
		    <h2>Required Major Courses</h2>
		    <div class="col">
                <p>Please Note: the information listed on the website is for the 2013 Catalog Year. 
                   Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>

    Required Courses for all Finance Majors:
    FIN 3303   	Financial Markets		
    (PR: FIN 3403)
		
    FIN 3414	Intermediate Corporate Finance		
    (PR: FIN 3403)
		
    FIN 3504	Investment Analysis		
    (PR: FIN 3403)
		
    FIN 4453	Financial Models		
    (PR: FIN 3414 & FIN 3504)

    Required Finance Electives – Choose two (2) courses from the list below:
    FIN 3461	Financial Statement Analysis 		
    (PR: FIN 3403)

    FIN 4324	Commercial Bank Management		
    (PR: FIN 3303)

    FIN 4514	Portfolio Analysis & Management		
    (PR: FIN 3303 & FIN 3504)

    FIN 4533	Financial Derivatives		
    (PR: FIN 3303 & FIN 3504)

    FIN 4604	International Financial Management		
    (PR: FIN 3403)

    FIN 4424	Adv. Topics in Financial Management		
    (PR: FIN 3414)

    Required Restricted Finance Electives – Choose two (2) courses from the list below:

    ACG 3131	Intermediate Financial Accounting I		
    (PR: ACG 2071)
		
    ACG 3141	Intermediate Financial Accounting II		
    (PR: ACG 3131)

    ACG 3361	Cost Accounting I		
    (PR: ACG 2071)

    TAX 4001	Taxation of Business Entites & Trans.		
    (PR: ACG 3131)

    ECO 4412	Economics Statistics & Econometrics		
    (PR: ECO 3411)

    MAR 3391	Professional Selling		
    (PR: MAR 3023)

    REE 3043	Fundamentals of Real Estate		
    (PR: JR Standing)

    REE 3433	Real Estate Law		
    (PR: JR Standing)

    REE 4103	Real Estate Appraisal		
    (PR: FIN 3403)

    REE 4203	Commercial Real Estate Finance		
    (PR: FIN 3403)

    REE 4204	Residential Real Estate Finance		
    (PR: FIN 3403)

    REE 4303	Real Estate Investment Analysis		
    (PR: FIN 3403)

    REE 4732	Real Estate Development		
    (PR: FIN 3403)

    REE 4933	Advanced Topics in Real Estate 		
    (PR: REE 3043 & REE 3433)

    GEB 4374	International Neg. & Trans		
    (PR: Admitted to Finance)

    FIN 4941	Internship		
    (PR: Consent of Department)

		    </div>
	    </div>
    </section>

</div>