@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bachelors of Science in Business Administration";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>General Business</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <div class="st-pusher">
        <nav id="menu" class="st-menu st-effect-2" data-scrollspy="scrollspy">
            <ul class="menu cl-effect-10">
                <li><a href="#curricular-learning-goals" data-hover="Curricular Learning Goals" class="cbp-fbcurrent"><span>Curricular Learning Goals</span></a></li>
                <li><a href="#core-business-courses" data-hover="Core Business Courses"><span>Core Business Courses</span></a></li>
                <li><a href="#required-major-courses" data-hover="Finance Major Courses"><span>General Business Major Courses</span></a></li>
                <li><a href="#plan-of-study" data-hover="Plan of Study"><span>Plan of Study</span></a></li>
                <li><a href="#internships" data-hover="Internships"><span>Internships</span></a></li>
                <li><a href="#careers" data-hover="Careers"><span>Careers</span></a></li>
                <li><a href="#certificates" data-hover="Certificates"><span>Certificates</span></a></li>
            </ul>
        </nav><!-- /st-menu -->
        <section class="st-carousel">
            <div class="st-carousel-inner container">
                <div>
                    <h3>The General Business Major</h3>
                    <p></p>
                </div>
                <div>video</div>
                <div>image</div>
                <div>
                    <h3>The General Business Student</h3>
                    <p></p>
                </div>
                <p>Please Note: the information listed on the website is for the 2013 Catalog Year. Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>
            </div>
        </section><!-- /st-carousel -->
        <article class="st-content">
            <div class="st-content-inner">
                <span id="st-trigger-effects" class="st-menu-btn">
                    <button data-effect="st-effect-2">Menu</button>
                </span>
                <section id="curricular-learning-goals">
                    <div class="canvas">
		                <div class="container">
                            <h2>Curricular Learning Goals</h2>
                            <p>UCF General Business graduates will be able to: </p>
                            <h4>Discipline Specific Knowledge, Skills, Behavior and Values Outcomes</h4>
                            <ol>
                                <li>Demonstrate a satisfactory level of general business knowledge and skills, which includes basic terminology, concepts, and theoretical foundations.</li>
                                <li>Demonstrate proficiency in solving problems associated with financial applications</li>
                                <li>Demonstrate business analysis skills by interpreting specific business problems in order to make appropriate recommendations or decisions.</li>
                                <li>Describe ethical decision-making processes in business situations.</li>
                                <li>Demonstrate knowledge of Management styles and practices.</li>
                                <li>6.	Apply appropriate information technologies to specified business applications.</li>
                            </ol>
                            <h4>Critical Thinking Outcomes</h4>
                            <p>Demonstrate critical thinking skills by analyzing business problems, applying proper logic, assessing the quality/validity of data, and formulating valid conclusions based on their analysis. </p>
                            <h4>Communication Outcomes</h4>
                            <p>Demonstrate effective written and oral communication skills related to business applications.</p>
                            <h4>Assessment of Management Outcomes</h4>
                            <p>These outcomes will be assessed using a variety of assessment methods, including:</p>
                            <ul>
                                <li>Exams</li>
			                    <li>Projects</li>
                                <li>Written assignments</li>
                                <li>Oral presentations</li>
                            </ul>
		                </div>
	                </div>
                </section>
                <section id="core-business-courses">
                    <div class="canvas">
		                <div class="container">
		                    <h2>Core Business Courses</h2>
                            <h4>Business Core (36 credits)</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>GEB 3031</strong> Cornerstone Lecture <br><small>(1st or 2nd term Admitted)</small></h5>
                                    <small>
                                        <em>(PR: Admitted to the College of Business, Junior Standing CR:GEB3031L)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>GEB 3031L</strong> Cornerstone Lab <br><small>(1st or 2nd term Admitted)</small></h5>
                                    <small>
                                        <em>(PR: Admitted to the College of Business upon completion of business prerequisites CR: GEB 3031)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 3023</strong> Marketing**</h5>
                                    <small>
                                        <em>(PR: Admitted to UCF)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>GEB 3375</strong> Intro to International Business</h5>
                                    <small>
                                        <em>(PR: ACG 2021, ACG 2071, ECO 2013, ECO 2023 and Junior Standing)</em>
                                    </small><br><br>
                                </div>

                                <div class="col-md-4">
                                    <h5><strong>BUL 3130</strong> Legal &amp; Ethical Environments of Business</h5>
                                    <small>
                                        <em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
                                    </small><br><br>
                                </div>

                                <div class="col-md-4">
                                    <h5><strong>ECO 3411</strong> Quantitative Business Tool II**</h5>
                                    <small>
                                        <em>(PR: Admitted to the College of Business, ECO 2013, ECO 2023 & ECO 3401, Junior Standing)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>FIN 3403</strong> Business Finance**</h5>
                                    <small>
                                        <em>(PR: ACG 2021, ECO 2023 and Junior Standing)</em>
                                    </small><br><br>
                                </div>

                                <div class="col-md-4">
                                    <h5><strong>MAN 3025</strong> Management of Organization**</h5>
                                    <small>
                                        <em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
                                    </small><br><br>
                                </div>

                                <div class="col-md-4">
                                    <h5><strong>MAR 3203</strong> Supply Chain Management</h5>
                                    <small>
                                        <em>(PR: Admission to the College of Business or completion of ECO3401 with a "C" or better)</em>
                                    </small><br><br>
                                </div>
			                </div>
                            <div class="row">
                                <div class="col-md-4">
			                        <h5><strong>Graduating Semester:</strong></h5>
			                        <h5><strong>MAN 4720</strong> Strategic Management/Capstone</h5>
			                        <small>
                                        <em>(PR: MAN 3025, MAR 3023, FIN 3403 and GEB 3031 & GE3031L)</em>
			                        </small><br><br>
                                </div>
                            </div>
                        </div>
                    </div>
	            </section>  
                <section id="required-major-courses">
                    <div class="canvas">
		                <div class="container">
                            <h2>Finance Major Courses</h2>
                            <h4>Required Courses for all General Business Majors:</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5><strong>FIN 3303</strong> Financial Markets</h5>
                                    <small>
                                        <em>(PR: FIN 3403)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-3">
                                    <h5><strong>MAN 3301</strong> Management of Human Resources</h5>
                                    <small>
                                        <em>(PR: MAN 3025)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-3">
                                    <h5><strong>MAR 3503</strong> Consumer Behavior</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-3">
                                    <h5><strong>ECP 4703</strong> Managerial Economics</h5>
                                    <small>
                                        <em>(PR: ECO 3411)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <h4>Required General Business Electives <br><small>Choose four (4) courses from the list below.<br> <em>Restricted electives are to be taken from two different departments from the courses listed below, at least two of the restricted electives must be at the 4000 level.</em></small></h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>ECO 3223</strong>Money & Banking</h5>
                                    <small>
                                        <em>(PR: ECO 2013)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>ECP 3203</strong>Labor Economics</h5>
                                    <small>
                                        <em>(PR: ECO 3101 or ECP4703)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>FIN 3414</strong>Intermediate Corporate Finance</h5>
                                    <small>
                                        <em>(PR: FIN 3403)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>FIN 3504</strong> Investment Analysis</h5>
                                    <small>
                                        <em>(PR: FIN 3403)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAN 4240</strong> Organization: Theory & Behavior</h5>
                                    <small>
                                        <em>(PR: MAN 3025)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAN 4441</strong> Conflict Resolution & Negotiation</h5>
                                    <small>
                                        <em>(PR: MAN 3025)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>GEB 3113</strong> Creativity and Entrepreneurship</h5>
                                    <small>
                                        <em>(PR: Sophomore Standing)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 3613</strong> Marketing Research & Analysis</h5>
                                    <small>
                                        <em>(PR: MAR 3023 & ECO 3411)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 3403</strong> Sales Force Management</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>MAR 4841</strong> Service Marketing</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 4156</strong> International Marketing</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                            </div>
		                </div>
	                </div>
                </section>
                <section id="plan-of-study">
                    <div class="canvas">
                        <div class="container">
	                    <h2>Recommended Course Sequence <small><br><em>Plan of Study</em></small></h2>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </section>
                <section id="internships">
                    <div class="canvas">
                        <div class="col container">
                            <h2>Internships</h2>
                            <p>General Business Majors are unable to apply internship credit towards their major requirements; however, internships are available to all students at the University of Central Florida for elective credit through the Experiential Learning office, which works with all majors.</p>
                            <p>For help finding an Internship, please go to the Business Satellite Office of Experiential Learning, located in BA1, room 130.  The phone number is (407) 823-5581 and the website is www.explearning.ucf.edu. </p>
                            <p>Internships are academic courses that allow students to apply classroom theory in a practical work setting and gain personal, academic and work competencies.</p>
                            <ul>
                                <li>One semester</li>
                                <li>Major-related</li>
                                <li>Off-campus</li>
                                <li>Usually for credit</li>
                                <li>Paid or unpaid</li>
                                <li>Structured for learning</li>
                            </ul>
                        </div>
                    </div>
                </section>
                <section id="careers">
                    <div class="canvas">
                        <div class="container">
                            <h2>Careers</h2>
                            <hgroup>
                                <h3>What can I do with this major?</h3>
                                <h4>General Information and Strategies</h4>
                            </hgroup>
                            <ul>
                                <li>General business is a broad area that can lead to many career opportunities. Students should clearly define their goals and seek experiences and skills necessary to reach those goals.</li>
                                <li>Gaining relevant experience through part-time and summer jobs or internships is critical.</li>
                                <li>Learn about various fields of business through research on internet sites and books, informational interviews of professionals, and exposure to work environments through shadowing, volunteering, or interning.</li>
                                <li>Develop interpersonal and organizational skills through participation in and leadership of student organizations. Strong communication skills, including public speaking, are also important to achieving success in this field.</li>
                                <li>Learn to work effectively with a wide variety of people and to work well in a team environment.</li>
                                <li>Get involved in student professional associations in field of interest.</li>
                                <li>Develop and utilize a personal network of contacts. Once in a position, find an experienced mentor.</li>
			                    <li>Consider earning an MBA or other related graduate degree after gaining work experience to reach the highest levels of business management.</li>
			                    <li>See also "What Can I Do With This Major?" for Management, Marketing, Finance, Human Resources, and Accounting for additional information.</li>
                            </ul>
                            <p>&nbsp;</p>
                            <h4>Management</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Area</h5>
                                    <p>Areas and job titles will vary by industry.</p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Employer</h5>
                                    <p> Business and industry including:
                                        •	Banks and financial institutions
                                        •	Retail stores 
                                        •	Restaurants
                                        •	Hotels
                                        •	Service providers
                                        •	Healthcare organizations
                                        •	Manufacturers
                                        •	Industrial organizations
				        •	Local, state, and federal government
                                        •	Nonprofit organizations
                                        •	Self-employed
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Information</h5>
                                    <p>
                                        •	Prepare to start in entry-level management trainee positions. Demonstrate initiative and leadership to get promoted.
                                        •	Gain experience through internships or summer and part-time jobs.
                                        •	Work at a retail store or restaurant; advance into an assistant manager position.
                                        •	Get involved in student organizations and assume leadership roles.
                                        •	Demonstrate an entrepreneurial spirit, a strong work ethic, integrity, and a sense of independence.
                                        •	Take courses in a secondary specialty such as marketing or information systems to increase job opportunities.
                                        •	Learn to work well on a team and develop strong communication skills.
                                    </p>
                                </div>
                            </div>
                            <h4>Insurance</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Area</h5>
                                    <p>
                                        •	Claims
                                        •	Underwriting
                                        •	Risk Management
                                        •	Sales
                                        •	Loss Control
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Employer</h5>
                                    <p>
                                        •	Insurance firms
                                        •	Banks
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Information</h5>
                                    <p>
                                        •	Complete an internship with an insurance agency.
                                        •	Talk to professionals in the industry to learn more about claims, underwriting, and risk management. Many entry-level positions exist in these areas.
                                        •	Initiative and sales ability are necessary to be a successful agent or broker.
                                        •	Develop strong communication skills as many positions require interaction with others and the ability to explain information clearly and concisely.
                                    </p>
                                </div>
                            </div>
                            <h4>Sales</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Area</h5>
                                    <p>
                                        •	Industrial Sales
                                        •	Consumer Product Sales
                                        •	Financial Services Sales
                                        •	Services Sales
                                        •	Advertising Sales
                                        •	E-commerce
				        •	Customer Service
                                        •	Sales Management: District, Regional, and Higher
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Employer</h5>
                                    <p>
                                        •	For-profit and nonprofit organizations
                                        •	Product and service organizations
                                        •	Manufacturers
                                        •	Financial companies	
                                        •	Insurance companies
                                        •	Print and electronic media outlets
                                        •	Software and technology companies
                                        •	Internet companies		
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Information</h5>
                                    <p>
                                        •	Obtain experience through internships or summer and part-time jobs.
                                        •	Seek leadership positions in campus organizations.
                                        •	Work for the campus newspaper, directory, or radio station selling advertisements.
                                        •	Become highly motivated and well-organized.
                                        •	Develop a strong commitment to customer satisfaction.
                                        •	To deliver effective customer service, develop problem solving skills, self-confidence, assertiveness, and empathy.
                                        •	Learn to work well under pressure and to be comfortable in a competitive environment. 
                                        •	Prepare to work independently and to be self-motivated. Plan to work irregular and/or long hours.
                                        •	Learn to communicate effectively with a wide range of people. Take additional courses in interpersonal communication and public speaking.
                                        •	Develop strong persuasion skills and learn how to build relationships.
                                        •	Some positions in sales, such as pharmaceuticals, require at least one to two years of a proven record in outside sales. Be prepared to start in a different industry before getting a job in pharmaceuticals.
                                    </p>
                                </div>
                            </div>
                            <h4>Banking</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Area</h5>
                                    <p>
                                        •	Commercial Banking
                                        •	Retail/Consumer Banking
                                        •	Credit Analysis
                                        •	Lending
                                        •	Trust Services
                                        •	Mortgage Loans
                                        •	Branch Management
                                        •	Operations
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Employer</h5>
                                    <p>
                                        •	Banks
                                        •	Credit unions
                                        •	Savings and loan associations
                                        •	Financial services institutions
                                        •	Federal Reserve banks
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Information</h5>
                                    <p>
                                        •	Develop a solid background in business including marketing and accounting.
                                        •	Get experience through part-time, summer, or internship positions in a bank.
                                        •	Develop strong interpersonal and communication skills in order to work well with a diverse clientele.
                                    </p>
                                </div>
                            </div>
                            <h4>Real Estate</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Area</h5>
                                    <p>
                                        •	Residential Brokerage
                                        •	Commercial Sales
                                        •	Appraisals
                                        •	Property Management
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Employer</h5>
                                    <p>
                                        •	Real estate brokers
                                        •	Banks
                                        •	Appraisal firms
                                        •	Apartment and condominium complexes
                                        •	Developers
                                        •	Large corporations: real estate departments
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Information</h5>
                                    <p>
                                        •	Obtain sales experience through part-time, summer or internship positions.
                                        •	Research the process of becoming a real estate broker through the National Association of Realtors.
                                        •	Develop an entrepreneurial spirit.
                                        •	Research apprenticeships in appraisal.
                                    </p>
			                    </div>
                            </div>
                            <h4>Human Resource Management</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Area</h5>
                                    <p>
                                        •	Recruiting/Staffing
                                        •	Compensation
                                        •	Benefits
                                        •	Training
                                        •	Safety
                                        •	Employee Relations
                                        •	Industrial Relations
                                        •	Organizational Development
                                        •	Equal Employment Opportunity
                                        •	Employment Law
                                        •	Consulting
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Employer</h5>
                                    <p>
                                        •	Large corporate entities
                                        •	Service industry
                                        •	Hospitals and healthcare organizations
                                        •	Universities
                                        •	Temporary or staffing agencies
                                        •	Executive search firms
                                        •	Local, state, and federal government
                                        •	Labor unions
                                    </p>
                                </div>
                                <div class="col-md-4">
                                    <h5>Information</h5>
                                    <p>
                                        •	Take courses in the social sciences such as psychology and sociology.
                                        •	Gain relevant experience through internships.
                                        •	Develop strong verbal and written communication skills.
                                        •	Learn to solve problems creatively, and gain experience with conflict resolution.
                                        •	Build a solid background in technology because many human resource systems are automated.
                                        •	Join the Society of Human Resource and other related professional associations.
                                        •	Be prepared for continuous learning once in the profession.
                                        •	Seek endorsements such as the Professional Human Resource Certification (PHR).
                                        •	Earn a masterÕs degree for career advancement or a law degree for employment law.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="certificates">                    <div class="canvas">                        <div class="container">                            <h2>Certificates</h2>                            <p><strong>None for this major</strong>. </p>                            <p>&nbsp;</p>                        </div>                    </div>                </section>
            </div>
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->