@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bachelors of Science in Business Administration";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Real Estate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <div class="st-pusher">
        <nav id="menu" class="st-menu st-effect-2" data-scrollspy="scrollspy">
                <ul class="menu cl-effect-10">
                <li><a href="#curricular-learning-goals" data-hover="Curricular Learning Goals" class="cbp-fbcurrent"><span>Curricular Learning Goals</span></a></li>
                <li><a href="#core-business-courses" data-hover="Core Business Courses"><span>Core Business Courses</span></a></li>
                <li><a href="#required-major-courses" data-hover="Finance Major Courses"><span>Finance Major Courses</span></a></li>
                <li><a href="#plan-of-study" data-hover="Plan of Study"><span>Plan of Study</span></a></li>
                <li><a href="#internships" data-hover="Internships"><span>Internships</span></a></li>
                <li><a href="#careers" data-hover="Careers"><span>Careers</span></a></li>
                <li><a href="#certificates" data-hover="Certificates"><span>Certificates</span></a></li>
            </ul>
        </nav><!-- /st-menu -->
        <section class="st-carousel">
            <div class="st-carousel-inner container">
                <div>
                    <h3>The Real estate Major</h3>
                    <p></p>
                </div>
                <div>video</div>
                <div>image</div>
                <div>
                    <h3>The Real Estate Student</h3>
                    <p></p>
                </div>
                <p>Please Note: the information listed on the website is for the 2013 Catalog Year. Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>
            </div>
        </section><!-- /st-carousel -->
        <article class="st-content">
            <div class="st-content-inner">
            <section id="curricular-learning-goals">
                <div class="canvas">
		            <h2>Curricular Learning Goals</h2>
		            <div class="container">

                        <p>UCF Real Estate graduates will be able to: </p>

                        <h4>Discipline Specific Knowledge, Skills, Behavior and Values Outcomes</h4>
                        <ol>
                            <li>Demonstrate comprehension of basic principles of real estate and real estate law. </li>
                            <li>Apply appropriate financial analysis tools to solve specified real estate investment, appraisal, and finance problems.</li>
                            <li>Demonstrate proficiency in solving problems related to time value mathematics and investments. </li>
                            <li>Demonstrate proficiency in the relationship of real estate and environmental law.</li>
                            <li>Demonstrate proficiency in answering questions and solving financial problems related to residential and commercial real estate.</li>
                            <li>Apply appropriate information technologies to specific problems associated with real estate.  </li>
                        </ol>

                        <h4>Critical Thinking Outcomes</h4>
                        <p>Demonstrate critical thinking skills related to financial and investment analysis by effectively evaluating financial data, and using the results to make proper investment decisions.</p>

                        <h4>Communication Outcomes</h4>
                        <p>Demonstrate effective written communication skills by producing written financial analyses that are organized, clear, and logical. </p>

                        <h4>Assessment of Real Estate Outcomes</h4>
                        <p>These outcomes will be assessed using a variety of assessment methods, including:</p>

                        <ul>
                            <li>Exam questions</li>
                            <li>Written assignments</li>
                            <li>Case studies</li>
                        </ul>

		            </div>
	            </div>
            </section>
            <section id="core-business-courses">
                <div class="canvas">
		            <h2>Core Business Courses</h2>
		            <div class="container">

                        <h4>Business Core (36 credits)</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5><strong>GEB 3031</strong> Cornerstone Lecture <br><small>(1st or 2nd term Admitted)</small></h5>
                                <small>
                                    <em>(PR: Admitted to the College of Business, Junior Standing CR:GEB3031L)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>GEB 3031L</strong> Cornerstone Lab <br><small>(1st or 2nd term Admitted)</small></h5>
                                <small>
                                    <em>(PR: Admitted to the College of Business upon completion of business prerequisites CR: GEB 3031)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>MAR 3023</strong> Marketing</h5>
                                <small>
                                    <em>(PR: Admitted to UCF)</em>
                                </small><br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5><strong>GEB 3375</strong> Intro to International Business</h5>
                                <small>
                                    <em>(PR: ACG 2021, ACG 2071, ECO 2013, ECO 2023 and Junior Standing)</em>
                                </small><br><br>
                            </div>

                            <div class="col-md-4">
                                <h5><strong>BUL 3130</strong> Legal &amp; Ethical Environments of Business</h5>
                                <small>
                                    <em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
                                </small><br><br>
                            </div>

                            <div class="col-md-4">
                                <h5><strong>ECO 3411</strong> Quantitative Business Tool II</h5>
                                <small>
                                    <em>(PR: Admitted to the College of Business, ECO 2013, ECO 2023 & ECO 3401, Junior Standing)</em>
                                </small><br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5><strong>FIN 3403</strong> Business Finance**</h5>
                                <small>
                                    <em>(PR: ACG 2021, ECO 2023 and Junior Standing)</em>
                                </small><br><br>
                            </div>

                            <div class="col-md-4">
                                <h5><strong>MAN 3025</strong> Management of Organization</h5>
                                <small>
                                    <em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
                                </small><br><br>
                            </div>

                            <div class="col-md-4">
                                <h5><strong>MAR 3203</strong> Supply Chain Management</h5>
                                <small>
                                    <em>(PR: Admission to the College of Business or completion of ECO3401 with a "C" or better)</em>
                                </small><br><br>
                            </div>
                          <div class="col-md-4">
    <h5>Graduating Semester</h5>
                                <h5><strong>MAN 4720</strong> Strategic Management/Capstone</h5>
                                <small>
                                    <em>(PR: MAN 3025, MAR 3023, FIN 3403 and GEB 3031 & GEB3031L)</em>
                                </small><br><br>
                            </div>
                        </div>

		            </div>
	            </div>
            </section>
            <section id="required-major-courses">
                <div class="canvas">
		            <h2>Real Estate Major Courses</h2>
		            <div class="container">

                        @*<p class="note">Please Note: the information listed on the website is for the 2013 Catalog Year. 
                           Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>
                        <p>&nbsp;</p>*@

                        <h4>Required Courses</h4>
                        <div class="row">
                            <div class="col-md-3">
                                <h5><strong>FIN 2100</strong> Personal Finance</h5>
      <br><br>
                            </div>
                            <div class="col-md-3">
                                <h5><strong>REE 3033</strong> Fundamentals of Real Estate</h5>
                                <small>
                                    <em>(PR: Junior Standing)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-3">
                                <h5><strong>REE 3433</strong> Real Estate Law</h5>
                                <small>
                                    <em>(PR: Junior Standing)</em>
                                </small><br><br>
                            </div>
                        </div>

                        <h4>Required Real Estate Electives <br><small>Choose five (5) courses from the list below</small></h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5><strong>REE 3614</strong> Environmental Issues for Real Estate</h5>
                                <small>
                                    <em>(PR: REE3043 & REE3433)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>REE 4103</strong> Real Estate Appraisal</h5>
                                <small>
                                    <em>(PR: FIN 3403)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>REE 4203</strong> Commercial Real Estate Finance</h5>
                                <small>
                                    <em>(PR: FIN 3403)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>REE 4204</strong> Residential Real Estate Finance</h5>
                                <small>
                                    <em>(PR: FIN 3403)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>REE 4303</strong> Real Estate Investment Analysis/h5>
                                <small>
                                    <em>(PR: FIN 3403)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>REE 4732</strong> Real Estate Development</h5>
                                <small>
                                    <em>(PR: FIN 3403)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>REE 4933</strong> Advanced Topics in Real Estate </h5>
                                <small>
                                    <em>(PR: REE3043 & REE3433)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>REE 4941</strong> Internship</h5>
                                <small>
                                    <em>(PR: Consent of Department)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>FIN 3414</strong> Intermediate Corporate Finance</h5>
                                <small>
                                    <em>(PR: FIN 3403)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>FIN 3504/strong> Investment Analysis</h5>
                                <small>
                                    <em>(PR: FIN 3403)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>MAR 3391</strong> Professional Selling</h5>
                                <small>
                                    <em>(PR: MAR 3023)</em>
                                </small><br><br>
                            </div>
                        </div>

	            </div>
            </section>
            <section id="plan-of-study">
                <div class="canvas">
	                <h2>Recommended Course Sequence</h2>
                    <div class="container">

                        <p>&nbsp;</p>
                        <p>&nbsp;</p>

                    </div>
                </div>
            </section>
            <section id="internships">
                <div class="canvas">
	                <h2>Internships</h2>
                    <div class="col container">
                
                        <p>Department of Finance internships are available to juniors and seniors majoring in finance. To qualify for an internship, 
                            undergraduate students must have successfully completed FIN 3403 Business Finance and at least one other 3000 or 4000 level 
                            finance course, and must have a minimum overall GPA of 2.75 and a GPA of 3.0 in the major.</p>
                        <p>All internships must be related to the field of finance. The objective of the program is to provide students with experience in 
                            finance that they would not otherwise have obtained. Therefore, students may not arrange internships with former or current employers. 
                            In rare cases, the internship coordinator may approve an internship with a student’s current employer if the job responsibilities 
                            assigned to the intern provide a different and appropriate experience in finance.</p>
                        <p>The Finance Internship Coordinator is Dr. Richard Curcio. The Finance Internship Packet needs to be filled out and turned into the 
                            Finance Department in BA1, room 409 in person. Internship packets are due 10 days before the first day of class of each semester 
                            by 4:00pm. (See the UCF academic calendar for the dates). This will allow time for processing paperwork and registering. Late internship 
                            application packets will not be accepted after this date. Internship applicants must provide a picture identification (current driver’s 
                            license will suffice) and original signatures from the intern employer. If your internship is approved, the Department of Finance will 
                            email a permission number to you at your Knights email address allowing you to register for the internship course.</p>
                        <p>For help finding an Internship, please go to the Business Satellite Office of Experiential Learning, located in BA1, room 130. 
                            The phone number is (407) 823-5581 and the website is www.explearning.ucf.edu. </p>
                        <p>Internships are academic courses that allow students to apply classroom theory in a practical work setting and gain personal, academic and work competencies.</p>

                        <ul>
                            <li>One semester</li>
                            <li>Major-related</li>
                            <li>Off-campus</li>
                            <li>Usually for credit</li>
                            <li>Paid or unpaid</li>
                            <li>Structured for learning</li>
                        </ul>

                    </div>
                </div>
            </section>
            <section id="careers">
                <div class="canvas">
                    <div class="container">
	                    <h2>Careers</h2>
                        <hgroup>
                            <h3>What can I do with this major?</h3>
                            <h4>General Information and Strategies</h4>
                        </hgroup>
                        <p>For anyone interested in entering the real estate world, a specialized degree in the field can provide a versatile path into the industry.  Although a college degree has not been traditionally required in the past, completing these studies can result in significantly more opportunities for success.  The degree can also act as a springboard to a variety of other career options.  A real estate graduate can apply his or her knowledge to numerous facets of the industry.  For new graduates with little to no experience in the field, a Realtor position is often recommended, as it can lay the groundwork for what they would like to accomplish in the future.</p>
                        <h4>Real Estate Agent</h4>
                        <p>The most common career choice for a real estate graduate is a real estate agent, or Realtor.  Real estate agents work with potential sellers by listing homes and with potential buyers by helping them narrow their interests, generate a list of home options that fit their preferences, and show them the homes.  When the buyer decides to make an offer, Realtors prepare the paperwork for the offer and begin working with the seller's agent to close the sale.  The standard commission for Realtors is around 5 percent of the accepted offer on the home.</p>
                        <h4>Property Management</h4>
                        <p>Property managers handle rental properties.  When a homeowner decides to rent out a property but does not want to manage the specifics of looking for renters and keeping up with property maintenance, the homeowner can use a property management agency.  In some cases, real estate offices will offer property management services on the side; in other cases the property management is the sole business.  Homeowners typically pay their property managers about 10 percent of the monthly rental price.  In areas with high rent and constant potential for renters -- often areas dominated by military bases -- working in property management can be very profitable.</p>
                        <h4>Brokerage Work</h4>
                        <p>A real estate broker position can be seen as an advancement in the careers of those who began their work in the field as Realtors.  Brokers own real estate offices and often manage administrative duties, while supervising real estate agents and ensuring that all of the state's requirements are met.  Because real estate brokers are also licensed agents, they can also handle the work of listing and selling properties, with some brokers often taking on larger commercial properties.</p>
                        <h4>Real Estate Law</h4>
                        <p>A real estate degree can be a stepping-stone towards a career in real estate law. Real estate law is complex and attorneys familiar with the industry are necessary for ensuring that the laws are upheld.  Attorneys typically review contracts and assist in sorting through problems that may arise when contract details are vague.  While a real estate degree alone will not ensure a career in real estate law, those with knowledge of the field have a much better chance of succeeding in real estate law if they pursue the study.</p>
                        <p>&nbsp;</p>
                        <h4>Real Estate</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5>Area</h5>
                                <p>
                                    •	Residential Brokerage
                                    •	Commercial Sales
                                    •	Appraisals
                                    •	Property Management
                                    •	Real Estate Portfolio Management
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Employer</h5>
                                <p>
                                    •	Real estate brokers
                                    •	Commercial banks
                                    •	Appraisal firms
                                    •	Apartment and condominium complexes
                                    •	Developers
                                    •	Large corporations: real estate departments
                                </p>
                            </div>
                            <div class="col-md-4">
                                <h5>Information</h5>
                                <p>
                                    •	Obtain sales experience through part-time, summer or internship positions.
                                    •	Research how to become a real estate broker through the National Association of Realtors.
                                    •	Develop an entrepreneurial spirit.
                                    •	Research apprenticeships in appraisal.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="certificates">                <div class="canvas">                    <div class="container">                        <h2>Certificates</h2>                        <p><strong>None for this major</strong>. </p>                        <p>&nbsp;</p>                    </div>                </div>            </section>
            </div>
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->