@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bachelors of Science in Business Administration";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Marketing</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <div class="st-pusher">
        <nav id="menu" class="st-menu st-effect-2" data-scrollspy="scrollspy">
            <ul class="menu cl-effect-10">
                <li><a href="#curricular-learning-goals" data-hover="Curricular Learning Goals" class="cbp-fbcurrent"><span>Curricular Learning Goals</span></a></li>
                <li><a href="#core-business-courses" data-hover="Core Business Courses"><span>Core Business Courses</span></a></li>
                <li><a href="#required-major-courses" data-hover="Marketing Major Courses"><span>Marketing Major Courses</span></a></li>
                <li><a href="#plan-of-study" data-hover="Plan of Study"><span>Plan of Study</span></a></li>
                <li><a href="#internships" data-hover="Internships"><span>Internships</span></a></li>
                <li><a href="#careers" data-hover="Careers"><span>Careers</span></a></li>
                <li><a href="#certificates" data-hover="Certificates"><span>Certificates</span></a></li>
            </ul>
        </nav><!-- /st-menu -->
        <section class="st-carousel">
            <div class="st-carousel-inner container">
                <div>
                    <h3>The Marketing Major</h3>
                    <p></p>
                </div>
                <div>video</div>
                <div>image</div>
                <div>
                    <h3>The Marketing Student</h3>
                    <p></p>
                </div>
                <p>Please Note: the information listed on the website is for the 2013 Catalog Year. Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>
            </div>
        </section><!-- /st-carousel -->
        <article class="st-content">
            <div class="st-content-inner">
                <span id="st-trigger-effects" class="st-menu-btn">
                    <button data-effect="st-effect-2">Menu</button>
                </span>
                <section id="curricular-learning-goals">
                    <div class="canvas">
		                <div class="container">
		                    <h2>Curricular Learning Goals</h2>
                            <p>UCF Marketing graduates will be able to: </p>
                            <h4>Discipline Specific Knowledge, Skills, Behavior and Values Outcomes</h4>
                            <ol>
                                <li>Demonstrate knowledge of foundational marketing concepts.</li>
                                <li>Demonstrate proficiency in quantitative techniques for analyzing marketing problems.</li>
                                <li>Appreciate the role of information and information technology in the design and execution of marking strategy.</li>
                                <li>Demonstrate proficiency in marketing managerial skills.</li>
                                <li>Demonstrate proficiency in solving problems related to financial markets.</li>
                                <li>Demonstrate proficiency in integrating societal values into marketing decision-making.</li>
                            </ol>
                            <h4>Critical Thinking Outcomes</h4>
                            <p>Demonstrate critical thinking skills related to sales, problem analysis, generating and analyzing alternative solutions to problems, and formulating valid conclusions based on the analysis.</p>
                            <h4>Communication Outcomes</h4>
                            <p>Demonstrate proficiency in conducting a professional, technology-facilitated marketing presentation.</p>
		                    <p>Demonstrate proficiency in writing a marketing report that communicates effectively, accurately, and in a professional style.</p>
                            <h4>Assessment of Marketing Outcomes</h4>
                            <p>These outcomes will be assessed using a variety of assessment methods, including:</p>
                            <ul>
                                <li>Exams</li>
                                <li>Written assignments</li>
                                <li>Oral presentations</li>
			                    <li>Case studies</li>
			                    <li>Supervisor ratings of interns</li>
                            </ul>
		                </div>
	                </div>
                </section>
                <section id="core-business-courses">
                    <div class="canvas">
		                <div class="container">
		                    <h2>Core Business Courses</h2>
                            <h4>Business Core (36 credits)</h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>GEB 3031</strong> Cornerstone Lecture <br><small>(1st or 2nd term Admitted)</small></h5>
                                    <small>
                                        <em>(PR: Admitted to the College of Business, Junior Standing CR:GEB3031L)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>GEB 3031L</strong> Cornerstone Lab <br><small>(1st or 2nd term Admitted)</small></h5>
                                    <small>
                                        <em>(PR: Admitted to the College of Business upon completion of business prerequisites CR: GEB 3031)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 3023</strong> Marketing</h5>
                                    <small>
                                        <em>(PR: Admitted to UCF)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>GEB 3375</strong> Intro to International Business</h5>
                                    <small>
                                        <em>(PR: ACG 2021, ACG 2071, ECO 2013, ECO 2023 and Junior Standing)</em>
                                    </small><br><br>
                                </div>

                                <div class="col-md-4">
                                    <h5><strong>BUL 3130</strong> Legal &amp; Ethical Environments of Business</h5>
                                    <small>
                                        <em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
                                    </small><br><br>
                                </div>

                                <div class="col-md-4">
                                    <h5><strong>ECO 3411</strong> Quantitative Business Tool II</h5>
                                    <small>
                                        <em>(PR: Admitted to the College of Business, ECO 2013, ECO 2023 & ECO 3401, Junior Standing)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>FIN 3403</strong> Business Finance**</h5>
                                    <small>
                                        <em>(PR: ACG 2021, ECO 2023 and Junior Standing)</em>
                                    </small><br><br>
                                </div>

                                <div class="col-md-4">
                                    <h5><strong>MAN 3025</strong> Management of Organization</h5>
                                    <small>
                                        <em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
                                    </small><br><br>
                                </div>

                                <div class="col-md-4">
                                    <h5><strong>MAR 3203</strong> Supply Chain Management</h5>
                                    <small>
                                        <em>(PR: Admission to the College of Business or completion of ECO3401 with a "C" or better)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
			                        <h5>Graduating Semester:</h5>
                                    <h5><strong>MAN 4720</strong> Strategic Management/Capstone</h5>
                                    <small>
                                        <em>(PR: MAN 3025, MAR 3023, FIN 3403 and GEB 3031 & GEB3031L)</em>
                                    </small><br><br>
                                </div>
                            </div>
		                </div>
	                </div>
                </section>
                <section id="required-major-courses">
                    <div class="canvas">
		                <div class="container">
		                    <h2>Marketing Major Courses</h2>
                            <h4>Required Courses</h4>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5><strong>MAR 3391</strong> Professional Selling</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-3">
                                    <h5><strong>MAR 3503</strong> Consumer Behavior</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-3">
                                    <h5><strong>MAR 3613</strong> Marketing Analysis & Research</h5>
                                    <small>
                                        <em>(PR: ECO 3411 or STA3032 & MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-3">
                                    <h5><strong>MAR 4803</strong> Marketing Management</h5>
                                    <small>
                                        <em>(PR: MAR 3503 & MAR3613)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <h5><strong>MAR 4804</strong> Marketing Strategy</h5>
                                    <small>
                                        <em>(PR: MAR 4803)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <h4>Required Marketing Electives <br><small>Choose three (3) courses from the list below</small></h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>MAR 3323</strong> Integrated Marketing Communication</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 3403</strong> Sales Force Management</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 3721</strong> Digital Media Marketing</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>MAR 3765</strong> Entrepreneurial Marketing</h5>
                                    <small>
                                        <em>(PR: MAR 3023 or GEB 3113)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 4156</strong> International Marketing</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 4231</strong> Retailing Management</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>MAR 4711</strong> Sport Marketing</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 4712</strong> Healthcare Marketing</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 4715</strong> Entertainment Marketing</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>MAR 4841</strong> Services Marketing</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 4934</strong> Contemp. Marketing Topics in FL</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 4941</strong> Internship</h5>
                                    <small>
                                        <em>(PR: Consent of Department)</em>
                                    </small><br><br>
                                </div>
                            </div>
                            <h4>Limited Access Track <br><small>All students must apply and be admitted</small></h4>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5><strong>MAR 3403</strong> Sales Force Management</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 4415</strong> Advanced Professional Selling (Fall Semester Only)</h5>
                                    <small>
                                        <em>(PR: MAR 3021)</em>
                                    </small><br><br>
                                </div>
                                <div class="col-md-4">
                                    <h5><strong>MAR 4413c</strong> Strategic Issues in Sales (Spring Semester Only)</h5>
                                    <small>
                                        <em>(PR: MAR 3023)</em>
                                    </small><br><br>
                                </div>
                            </div>
		                </div>
	                </div>
                </section>
                <section id="plan-of-study">
                    <div class="canvas">
                        <div class="container">
	                        <h2>Recommended Course Sequence</h2>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </section>
                <section id="internships">
                    <div class="canvas">
	                    <h2>Internships</h2>
                        <div class="col container">
                            <p>The Department of Marketing in the College of Business Administration offers an exciting and comprehensive internship program for marketing majors. Students have the opportunity to earn course credit while learning how to apply classroom concepts and theories in the workplace. In addition, local employers are able to find high-quality, hard-working student interns.</p>
                            <p>The goal of the Marketing Internship Program is to create a mutually beneficial internship experience that fosters a synergy among the intern, the employer, and the internship office.</p>
                            <p>Students interested in applying for internships must:</p>
                            <ul>
                                <li>Be a junior or senior in standing</li>
                                <li>Be a marketing major</li>
                                <li>Have a minimum overall GPA of 2.75</li>
                                <li>Have a minimum Marketing GPA of 2.75</li>
                                <li>Have satisfactorily completed MAR 3023</li>
                            </ul>
                            <h4>The Internship Application Process</h4>
                            <ol>
                                <li>Application paperwork: download and complete the internship application paperwork (Registration Form, Application Form, Internship Agreement) for the semester in which you plan to do an internship.</li>
                                <li>Unofficial degree audit: the unofficial degree audit can be obtained from your myUCF account, under Student Self-Service>Degree Audit (printer-friendly version).</li>
                                <li>Resume: create a one-page resume. *Resume Writing Workshops and/or individual meetings are available and sponsored by the Career Services satellite office in BA 2, Room 222, (407) 823-2352.</li>
                                <li>Once you have the items above, choose of one of these three options: Email the paperwork to marketinginternships@bus.ucf.edu.  Fax it to (407) 823-3891.  Bring it in to the Marketing Internships Office in BA 2, Room 307J. It is ok to slide paperwork under the door if the office is closed.</li>
                            </ol>
                            <h4>Undergraduate Student Application Forms</h4>
                            <p>**A current resume and a copy of your unofficial degree audit are also required to apply.</p>
                            <ol>
                                <li>Verbiage- Includes requirements and expectations for the student intern. By submitting a completed application, it is presumed that the intern has read and understands this document.</li>
                                <li>Internship Agreement- This contract outlines expectations of the student intern and potential consequences of poor performance.</li>
                                <li>Internship Application | Registration Form (must also be submitted with application). These forms are needed to register for MAR 4941 on myUCF.</li>
                            </ol>
                            <h4>Student Applicants: Interview and Registration</h4>
                            <p>The Interview Process</p>
                            <p>Note: An approved application is required to partake in the interview process.</p>
                            <ol>
                                <li>The Marketing Internship Office will send the resume you provided in your application to our list of approved internship sponsors.</li>
                                <li>Approved internship sponsors will contact you to schedule interviews based on their interest and needs.</li>
                                <li>Return all phone calls.</li>
                                <li>Attend and dress professionally for all scheduled interviews.</li>
                                <li>If you must cancel an interview, give the employer as much advanced warning as possible - preferably 24-48 hours before the scheduled interview is to take place.</li>
                                <li>Contact the Marketing Internship Coordinator to confirm that you have accepted an internship.  Once an internship position is accepted, you must intern exclusively with the offering employer, even if other internship opportunities arise.</li>
                                <li>You may now move on to the registration process.</li>
                            </ol>
                            <p>The Registration Process</p>
                            <p>Note: An approved application and an approved internship are required to partake in the registration process.</p>
                            <ol>
                                <li>To start the registration process, official confirmation is required from both you and the hiring company. Please send our office an e-mail confirmation.</li>
                                <li>Please email the Marketing Internship Coordinator to schedule an appointment to complete registration paperwork after the official confirmations have been sent.</li>
                                <li>All registration paperwork will be completed during your scheduled meeting with the Marketing Internship Coordinator.</li>
                                <li>Completed registration paperwork is then submitted for approval by the Department of Marketing.</li>
                                <li>Upon approval, you will be sent a registration code by e-mail. You may use this code to register through myUCF.</li>
                                <li>Once registered, you will be required to attend the online orientation for that semester (online through Webcourses)  Note: Students who are still in the process of securing their internship for credit are also required to attend this mandatory orientation if they wish to receive academic credit for their internship. Contact the internship coordinator with specific questions.</li>
                            </ol>
                        </div>
                    </div>
                </section>
                <section id="careers">
                    <div class="canvas">
                        <div class="container">
	                        <h2>Careers</h2>
                            <h3>What can I do with this major?</h3>
                            <ul>
                                <li>Complete the corresponding elective to one of the seven areas of interest listed below with a C or better. An internship may be used for only one certificate.</li>
                                <li>Complete an internship (for credit) within the same area with a C or better.</li>
                                <li>Download and complete the certificate application the semester before you graduate.</li>
                                <li>Bring certificate application along with resume and degree audit to the internship office the semester before you graduate. The internship coordinator will secure the necessary signatures - so leave the top part of the application BLANK.</li>
                                <li>Make sure to fill out a separate Certificate Application at the Registrar's Office and declare the certificate on your Intent to Graduate.</li>
                                <li>You should receive your certificate approximately one month after your graduation ceremony. If it has been more than a month and you have not received your certificate please contact the internship office.</li>
                                <li>Keep your contact information updated otherwise you may not receive your certificate.</li>
                                <li>Receipt of certificate is subject to the availability of internship opportunities in the area of interest. The UCF Department of Marketing CANNOT guarantee internship availability.</li>
                            </ul>
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </section>
                <section id="certificates">                    <div class="canvas">                        <div class="container">
                            <h2>Marketing Certificates</h2>
                            <p>For marketing majors who want to put their best foot forward in the job market, the Department of Marketing offers Certificates of Achievement in seven areas of career interest.</p>
                            <p>To earn a certificate, structure your elective courses as follows:</p>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Selling and Sales Management</h5>
                                    <ul>
                                        <li>Expose student to multifaceted nature of contemporary salesperson and sales manager positions</li>                                        <li>Enhance analytical / creative / decision-making skills as related to situations faced in the sales field</li>                                        <li>Improve decision-making / management skills and understanding of leadership in the sales field</li>                                        <li>Corresponding Elective: MAR 3403 - Sales Force Management</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Retailing Management</h5>
                                    <ul>
                                        <li>Introduce student to practical applications of retailing policies, methods, and procedures</li>                                        <li>Relate current retail strategies to basic concepts of retailing management</li>                                        <li>Help student gain a better understanding of real-world business situations</li>                                        <li>Corresponding Elective: MAR 4231 - Retailing Management</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>E-Marketing</h5>
                                    <ul>
                                        <li>Expose student to the 4 P's and 4 C's of e-marketing as related to formulation of applications</li>                                        <li>Enhance skills necessary to develop viable marketing strategies and execute the applications / strategies</li>                                        <li>Corresponding Elective: MAR 3721 - Technology Applications in Marketing</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Sport Marketing Management</h5>
                                    <ul>
                                        <li>Expose student to practical applications of segmentation, targeting and positioning with the sport marketing field</li>                                        <li>Demonstrate the use of research in creating a sport marketing strategic plan</li>                                        <li>Enhance student's problem-solving and decision-making capabilities with respect to the marketing of sport events and related activities</li>                                        <li>Corresponding Elective: MAR 4711 - Sport Marketing</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Healthcare Marketing</h5>
                                    <ul>
                                        <li>Expose student to the many methodologies utilized by healthcare organizations in positioning themselves and in distributing services or products</li>                                        <li>Improve decision-making skills in developing a marketing plan, setting objectives and evaluating results</li>                                        <li>Enhance studentÕs ability to identify, analyze and develop strategies to overcome the crucial issues faced by healthcare providers</li>                                        <li>Corresponding Elective: MAR 4712 - Healthcare Marketing</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <h5>Services Marketing</h5>
                                    <ul>
                                        <li>Expose student to the many unique aspects of marketing services within (but not limited to) one of the following areas: entertainment, fashion / merchandising, consulting, banking, financial services, real estate</li>                                        <li>Demonstrate the techniques utilized in the development of the marketing mix, and the development and implementation of services strategies</li>                                        <li>Enhance student's marketing / business skills through practical application</li>                                        <li>Corresponding Elective: MAR 4841 - Services Marketing</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>Entertainment Marketing</h5>
                                    <ul>
                                    <li>Designed for students that have placed an emphasis on coursework improving their entertainment marketing skills, knowledge of entertainment markets and todayÕs entertainment-driven economy</li>                                    <li>The frameworks, techniques and tools from completed coursework will inform those interested in careers particular to the entertainment industry</li>                                    <li>Corresponding Elective: MAR 4715 - Entertainment Marketing</li>
                                    </ul>                                    <p>Marketing Certificate Application (See attached)</p>                                </div>                            </div>                        </div>                    </div>                </section>
            </div>
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->