@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bachelors of Science in Business Administration";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/finance-bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Finance</h1>
        <h2>@Page.Title</h2>
    </hgroup>

    <a href="https://apply.ucf.edu/application/login.aspx" class="btn btn-primary btn-lg" role="button" target="_blank">Apply Online</a>
}

<div id="st-container" class="st-container clearfix">
    @*-- content push wrapper --*@
    <div class="st-pusher">

        <nav id="menu" class="st-menu st-effect-2">
            <ul class="menu cl-effect-10" data-scrollspy="scrollspy">
                <li><a href="#curricular-learning-goals" data-hover="Curricular Learning Goals" class="cbp-fbcurrent"><span>Curricular Learning Goals</span></a></li>
                <li><a href="#core-business-courses" data-hover="Core Business Courses"><span>Core Business Courses</span></a></li>
                <li><a href="#required-major-courses" data-hover="Finance Major Courses"><span>Finance Major Courses</span></a></li>
                <li><a href="#plan-of-study" data-hover="Plan of Study"><span>Plan of Study</span></a></li>
                <li><a href="#internships" data-hover="Internships"><span>Internships</span></a></li>
                <li><a href="#careers" data-hover="Careers"><span>Careers</span></a></li>
                <li><a href="#certificates" data-hover="Certificates"><span>Certificates</span></a></li>
            </ul>
        </nav><!-- /st-menu -->

        <section class="st-carousel">
            <div class="st-carousel-inner container">
                <div>
                    <h3>The Finance Major</h3>
                    <p>The finance major is designed to provide the student with a broad knowledge in business finance, 
                        investments, financial institutions, international finance, risk management and insurance, 
                        and real estate. The program provides the student with the theoretical background and tools 
                        of analysis required for making effective financial decisions.</p>
                </div>
                <div>
                    <h3>The Finance Student</h3>
                    <p>Envision an education where hands-on guidance from award-winning faculty is a given. 
                        Where classes aren’t just classes, but components of an innovative curriculum that teaches 
                        the science, ethics, and art of good business.</p>
                    <p>The study of finance prepares the student for careers in business financial management. 
                        Students that major in finance are sought by both financial and non-financial firms.</p>
                </div>
                <p>Please Note: the information listed on the website is for the 2013 Catalog Year. Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>
            </div>
        </section><!-- /st-carousel -->

        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                
            <span id="st-trigger-effects" class="st-menu-btn">
                <button data-effect="st-effect-2" title="page menu"><i class="fa fa-indent"></i> menu</button>
            </span>

            <section id="curricular-learning-goals">

                <h2>Curricular Learning Goals</h2>
                <p>UCF Finance graduates will be able to: </p>

                <h4>Discipline Specific Knowledge, Skills, Behavior and Values Outcomes</h4>
                <ol>
                    <li>Demonstrate comprehension of basic financial topics, such as risk and return, term structure of interest rates, efficient capital markets, and agency problems.</li>
                    <li>Demonstrate proficiency in solving problems related to time value mathematics.</li>
                    <li>Demonstrate proficiency in investment analysis techniques.</li>
                    <li>Demonstrate proficiency in solving problems related to corporate finance.</li>
                    <li>Demonstrate proficiency in solving problems related to financial markets.</li>
                    <li>Apply appropriate information technologies, such as Microsoft Excel, to specified financial analysis problems.  </li>
                </ol>

                <h4>Critical Thinking Outcomes</h4>
                <p>Demonstrate critical thinking skills related to financial analysis by effectively evaluating financial data and using the results 
                    to make corporate financial or investment decisions.</p>

                <h4>Communication Outcomes</h4>
                <p>Demonstrate effective written communication skills by producing written financial analyses that are organized, clear, and logical.</p>

                <h4>Assessment of Finance Outcomes</h4>
                <p>These outcomes will be assessed using a variety of assessment methods, including:</p>

                <ul>
                    <li>Exam questions</li>
                    <li>Written assignments</li>
                    <li>Case studies</li>
                </ul>

            </section>

            <section id="core-business-courses">

                <h2>Core Business Courses</h2>
                <h4>Business Core (36 credits)</h4>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5><strong>GEB 3031</strong> Cornerstone Lecture <br><small>(1st or 2nd term Admitted)</small></h5>
                        <small>
                            <em>(PR: Admitted to the College of Business, Junior Standing CR:GEB3031L)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5><strong>GEB 3031L</strong> Cornerstone Lab <br><small>(1st or 2nd term Admitted)</small></h5>
                        <small>
                            <em>(PR: Admitted to the College of Business upon completion of business prerequisites CR: GEB 3031)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5><strong>MAR 3023</strong> Marketing</h5>
                        <small>
                            <em>(PR: Admitted to UCF)</em>
                        </small><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5><strong>GEB 3375</strong> Intro to International Business</h5>
                        <small>
                            <em>(PR: ACG 2021, ACG 2071, ECO 2013, ECO 2023 and Junior Standing)</em>
                        </small><br><br>
                    </div>

                    <div class="col-md-4 course-item">
                        <h5><strong>BUL 3130</strong> Legal &amp; Ethical Environments of Business</h5>
                        <small>
                            <em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
                        </small><br><br>
                    </div>

                    <div class="col-md-4 course-item">
                        <h5><strong>ECO 3411</strong> Quantitative Business Tool II</h5>
                        <small>
                            <em>(PR: Admitted to the College of Business, ECO 2013, ECO 2023 & ECO 3401, Junior Standing)</em>
                        </small><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5><strong>FIN 3403</strong> Business Finance**</h5>
                        <small>
                            <em>(PR: ACG 2021, ECO 2023 and Junior Standing)</em>
                        </small><br><br>
                    </div>

                    <div class="col-md-4 course-item">
                        <h5><strong>MAN 3025</strong> Management of Organization</h5>
                        <small>
                            <em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
                        </small><br><br>
                    </div>

                    <div class="col-md-4 course-item">
                        <h5><strong>MAR 3203</strong> Supply Chain Management</h5>
                        <small>
                            <em>(PR: Admission to the College of Business or completion of ECO3401 with a "C" or better)</em>
                        </small><br><br>
                    </div>
                </div>
            </section>

            <section id="required-major-courses">

                <h2>Finance Major Courses</h2>
                <h4>Required Courses</h4>
                <div class="row">
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN 3303</strong> Financial Markets</h5>
                        <small>
                            <em>(PR: FIN 3403)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN 3414</strong> Intermediate Corporate Finance</h5>
                        <small>
                            <em>(PR: FIN 3403)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN 3504</strong> Investment Analysis</h5>
                        <small>
                            <em>(PR: FIN 3403)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN 4453</strong> Financial Models</h5>
                        <small>
                            <em>(PR: FIN 3414 & FIN 3504)</em>
                        </small><br><br>
                    </div>
                </div>
                <h4>Required Finance Electives <br><small>Choose two (2) courses from the list below</small></h4>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5><strong>FIN 3461</strong> Financial Statement Analysis</h5>
                        <small>
                            <em>(PR: FIN 3403)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5><strong>FIN 4324</strong> Commercial Bank Management</h5>
                        <small>
                            <em>(PR: FIN 3303)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5><strong>FIN 4514</strong> Portfolio Analysis &amp; Management</h5>
                        <small>
                            <em>(PR: FIN 3303 & FIN 3504)</em>
                        </small><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5><strong>FIN 4533</strong> Financial Derivatives</h5>
                        <small>
                            <em>(PR: FIN 3303 & FIN 3504)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5><strong>FIN 4604</strong> International Financial Management</h5>
                        <small>
                            <em>(PR: FIN 3403)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5><strong>FIN 4424</strong> Adv. Topics in Financial Management</h5>
                        <small>
                            <em>(PR: FIN 3414)</em>
                        </small><br><br>
                    </div>
                </div>
                <h4>Required Restricted Finance Electives <br><small>Choose two (2) courses from the list below</small></h4>
                <div class="row">
                    <div class="col-md-3 course-item">
                        <h5><strong>ACG 3131</strong> Intermediate Financial Accounting I</h5>
                        <small>
                            <em>(PR: ACG 2071)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>ACG 3141</strong> Intermediate Financial Accounting II</h5>
                        <small>
                            <em>(PR: ACG 3131)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>ACG 3361</strong> Cost Accounting I</h5>
                        <small>
                            <em>(PR: ACG 2071)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>TAX 4001</strong> Taxation of Business Entites &amp; Trans.</h5>
                        <small>
                            <em>(PR: ACG 3131)</em>
                        </small><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 course-item">
                        <h5><strong>ECO 4412</strong> Economics Statistics &amp; Econometrics</h5>
                        <small>
                            <em>(PR: ECO 3411)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>MAR 3391</strong> Professional Selling</h5>
                        <small>
                            <em>(PR: MAR 3023)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>REE 3043</strong> Fundamentals of Real Estate</h5>
                        <small>
                            <em>(PR: JR Standing)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>REE 3433</strong> Real Estate Law</h5>
                        <small>
                            <em>(PR: JR Standing)</em>
                        </small><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 course-item">
                        <h5><strong>REE 4103</strong> Real Estate Appraisal</h5>
                        <small>
                            <em>(PR: FIN 3403)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>REE 4203</strong> Commercial Real Estate Finance</h5>
                        <small>
                            <em>(PR: FIN 3403)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>REE 4204</strong> Residential Real Estate Finance</h5>
                        <small>
                            <em>(PR: FIN 3403)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>REE 4303</strong> Real Estate Investment Analysis</h5>
                        <small>
                            <em>(PR: FIN 3403)</em>
                        </small><br><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 course-item">
                        <h5><strong>REE 4732</strong> Real Estate Development</h5>
                        <small>
                            <em>(PR: FIN 3403)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>REE 4933</strong> Advanced Topics in Real Estate</h5>
                        <small>
                            <em>(PR: REE 3043 & REE 3433)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>GEB 4374</strong> International Neg. &amp; Trans</h5>
                        <small>
                            <em>(PR: Admitted to Finance)</em>
                        </small><br><br>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN 4941</strong> Internship</h5>
                        <small>
                            <em>(PR: Consent of Department)</em>
                        </small><br><br>
                    </div>
                </div>

            </section>

            <section id="plan-of-study">

	            <h2>Recommended Course Sequence</h2>
                <div>
                <em>Catalog Year 2013-2014</em>
                <p>This is a sample plan for completing the Finance Major. The curriculum in the College of Business is structured so that students move through classes in a prescribed order.  Prerequisites are important and are strongly enforced. <em>Students are not limited to this plan of action; it is meant to be used as a guide.</em></p>
                <p>To be competitive in today's job market, and make the most of your educational experience, one must concentrate on key areas: Academics, Involvement & Leadership, and Career. Your academic advisor can provide you with the resources available, but ultimately it is up to you to plan your own journey to success.</p></div>

                <p><small><strong>*</strong> <em>Denotes &ldquo;C&rdquo; (2.00) or better is required.</em></small></p>

                <h3>Junior Year</h3>
                <table summary="Junior Year" id="junior-year" class="table">
                    <thead>
                        <tr>
                        <th scope="col">Fall Semester</th>
                        <th scope="col">Credit Hours</th>
                        <th scope="col">Spring Semester</th>
                        <th scope="col">Credit Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>GEB 3031 - Cornerstone Lecture</td>
                        <td>3</td>
                        <td>MAN 3025 Management of Organization</td>
                        <td>4</td>
                        </tr>
                        <tr>
                        <td>GEB 3031L - Cornerstone Lab</td>
                        <td>1</td>
                        <td>ECO 3411 Quantitative Business Tool II</td>
                        <td>4</td>
                        </tr>
                        <tr>
                        <td>*FIN 3403c - Business Finance</td>
                        <td>4</td>
                        <td>*FIN 3303 - Financial Markets</td>
                        <td>3</td>
                        </tr>
                        <tr>
                        <td>MAR 3023 - Marketing</td>
                        <td>4</td>
                        <td>*FIN 3504 - Investment Analyses</td>
                        <td>3</td>
                        </tr>
                        <tr>
                        <td>GEB 3375 - Intro to International Business</td>
                        <td>4</td>
                        <td>-</td>
                        <td></td>
                        </tr>
                        <tr>
                        <td>Total:</td>
                        <td>16</td>
                        <td>Total:</td>
                        <td>14</td>
                        </tr>
                    </tbody>
                </table>

                <p><strong>Plan of Action: Be able to articulate WHAT your major is and WHY you chose it.</strong></p>
                <p>Begin looking into what types of jobs you can get with your identified major. 
                Complete Career Assessment Tools, through the Career Services Website; for example, My Plan. 
                Attend career workshops: resume and interview, job search strategies, graduate school preparation, etc. 
                Contact Experiential Learning to gain relevant work experience in a Finance related internship, as well as, 
                setting up informational interviews and attending career fairs through the Career Services Office. 
                Join a Student Organization and seek a leadership position to help with networking and leadership skills. 
                Develop strong relationships with Faculty members in your identified major.</p>

                <h3>Senior Year</h3>
                <table summary="Senior Year" id="senior-year" class="table">
                    <thead>
                        <tr>
                        <th scope="col">Fall Semester</th>
                        <th scope="col">Credit Hours</th>
                        <th scope="col">Spring Semester</th>
                        <th scope="col">Credit Hours</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>MAR 3203 Supply Chain Management</td>
                        <td>4</td>
                        <td>*FIN 4453 Financial Models</td>
                        <td>3</td>
                        </tr>
                        <tr>
                        <td>BUL 3130 Legal & Ethical Environ</td>
                        <td>4</td>
                        <td>*Finance Elective</td>
                        <td>3</td>
                        </tr>
                        <tr>
                        <td>*FIN 3414 Intermediate Corporate Finance</td>
                        <td>3</td>
                        <td>*Restricted Finance Elective</td>
                        <td>3</td>
                        </tr>
                        <tr>
                        <td>*Finance Elective</td>
                        <td>3</td>
                        <td>MAN 4720 Strategic Mgt/Capstone</td>
                        <td>4</td>
                        </tr>
                        <tr>
                        <td>*Restricted Finance Elective</td>
                        <td>3</td>
                        <td>-</td>
                        <td>-</td>
                        </tr>
                        <tr>
                        <td>Total:</td>
                        <td>17</td>
                        <td>Total:</td>
                        <td>1</td>
                        </tr>
                    </tbody>
                </table>

                <p><strong>Complete a Graduation Check with your academic advisor.</strong></p>
                <p>Get serious about what type of job you want to pursue when you graduate. 
                Attend career fairs and be prepared to promote your qualifications to employers.  
                Work with Career Services to update and finalize your resume and cover letter, 
                and start applying for jobs.  Develop a list of references and request letters 
                of recommendations from the Faculty members that you have developed a relationship with.  
                Buy professional business attire and be ready for interviews. 
                Begin the job search process, including on-campus interviews; sign-up for Knightlink. 
                (Knightlink is a FREE service for UCF students and recent graduates.) 
                Continue your involvement with student organizations and serve as a mentor to younger students.</p>

            </section>

            <section id="internships">

                <h2>Internships</h2>
                <div class="col-span-2">
                    <p>Department of Finance internships are available to juniors and seniors majoring in finance. To qualify for an internship, 
                        undergraduate students must have successfully completed FIN 3403 Business Finance and at least one other 3000 or 4000 level 
                        finance course, and must have a minimum overall GPA of 2.75 and a GPA of 3.0 in the major.</p>
                    <p>All internships must be related to the field of finance. The objective of the program is to provide students with experience in 
                        finance that they would not otherwise have obtained. Therefore, students may not arrange internships with former or current employers. 
                        In rare cases, the internship coordinator may approve an internship with a student’s current employer if the job responsibilities 
                        assigned to the intern provide a different and appropriate experience in finance.</p>
                    <p>The Finance Internship Coordinator is Dr. Richard Curcio. The Finance Internship Packet needs to be filled out and turned into the 
                        Finance Department in BA1, room 409 in person. Internship packets are due 10 days before the first day of class of each semester 
                        by 4:00pm. (See the UCF academic calendar for the dates). This will allow time for processing paperwork and registering. Late internship 
                        application packets will not be accepted after this date. Internship applicants must provide a picture identification (current driver’s 
                        license will suffice) and original signatures from the intern employer. If your internship is approved, the Department of Finance will 
                        email a permission number to you at your Knights email address allowing you to register for the internship course.</p>
                    <p>For help finding an Internship, please go to the Business Satellite Office of Experiential Learning, located in BA1, room 130. 
                        The phone number is (407) 823-5581 and the website is www.explearning.ucf.edu. </p>
                    <p>Internships are academic courses that allow students to apply classroom theory in a practical work setting and gain personal, academic and work competencies.</p>
                </div>
                <ul>
                    <li>One semester</li>
                    <li>Major-related</li>
                    <li>Off-campus</li>
                    <li>Usually for credit</li>
                    <li>Paid or unpaid</li>
                    <li>Structured for learning</li>
                </ul>

            </section>

            <section id="careers">

                <h2>Careers</h2>
                <hgroup>
                    <h3>What can I do with this major?</h3>
                    <h4>General Information and Strategies</h4>
                </hgroup>
                <ul>
                    <li>Quantitative skills are extremely important. Take additional courses in math, statistics, and accounting.</li>
                    <li>Many positions in finance require the ability to analyze and interpret data.</li>
                    <li>Develop strong interpersonal and communication skills. Cultivate an eye for detail.</li>
                    <li>Gain experience through internships, summer and part-time positions.</li>
                    <li>Read the Wall Street Journal and other financial news magazines to stay abreast of current events and to learn more about the industry.</li>
                    <li>Join student professional associations in the field of finance.</li>
                    <li>Several professional designations and licenses, e.g. Chartered Financial Analyst or Certified Financial Planner, are available to finance professionals working in a particular area. Earning these designations may help one obtain advanced positions.</li>
                </ul>
                <p>&nbsp;</p>

                <h4>Corporate and Public Finance</h4>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5>Area</h5>
                        <p>
                            •	Financial Analysis
                            •	Cash Management
                            •	Credit Management
                            •	Budget Analysis
                            •	Investment Management
                            •	Investor Relations
                            •	Financial Reporting
                            •	Payroll
                            •	Benefits
                            •	Real Estate
                            •	Risk Management	
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Employer</h5>
                        <p>
                            •	Private businesses of all sizes and types
                            •	State and local government entities
                            •	Federal agencies including: 
                            •	Internal Revenue Service
                            •	Treasury Department
                            •	Schools and universities
                            •	Non-profit organizations
                            •	Foundations
                            •	Hospitals
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Information</h5>
                        <p>
                            •	Complete a related internship.
                            •	Develop strong computer skills, including spreadsheets, databases, and presentation software.
                            •	Sharp analytical skills are crucial in this industry.
                            •	Earn an MBA to reach the highest levels of corporate finance.
                        </p>
                    </div>
                </div>

                <h4>Banking</h4>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5>Area</h5>
                        <p>
                            •	Corporate Credit Analysis
                            •	Commercial Lending
                            •	Trust Management
                            •	Capital Services and Mergers & Acquisitions
                            •	Mortgage Loans
                            •	Originations and Packaging
                            •	Branch Management
                            •	Operations
                            •	Cash Management
                            •	Credit Scoring and Risk Management
                            •	Private Banking	
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Employer</h5>
                        <p>
                            •	Commercial banks
                            •	Credit unions
                            •	Savings and loan associations
                            •	Savings banks
                            •	Mortgage banks
                            •	Captive finance companies
                            •	Regulatory agencies including: 
                            •	Federal Reserve, FDIC, OCC, OTS
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Information</h5>
                        <p>
                            •	Gain a solid background in business including marketing and accounting.
                            •	Get experience through part-time, summer or internship positions in a financial service firm.
                            •	Develop strong interpersonal and communication skills in order to work well with a diverse clientele.
                        </p>
                    </div>
                </div>

                <h4>Insurance</h4>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5>Area</h5>
                        <p>
                            •	Claims Analysis
                            •	Underwriting
                            •	Risk Management
                            •	Sales
                            •	Actuarial Science
                            •	Loss Control
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Employer</h5>
                        <p>
                            •	Life insurance firms
                            •	Property and casualty insurance firms
                            •	Commercial banks
                            •	Savings banks	
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Information</h5>
                        <p>
                            •	Complete an internship with an insurance agency.
                            •	Talk to professionals in the industry to learn more about claims, underwriting, and risk management. 
                            •	Initiative and sales ability are necessary to be a successful agent or broker.
                            •	Develop strong communication skills, as many positions require interaction with others and the ability to explain information clearly and concisely.
                            •	Take additional statistics classes to prepare for a career in actuary science.
                        </p>
                    </div>
                </div>

                <h4>Personal Financial Planning</h4>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5>Area</h5>
                        <p>
                            •	Sales
                            •	Customer Service
                            •	Operations
                            •	Portfolio Management
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Employer</h5>
                        <p>
                            •	Brokerage firms
                            •	Trust companies
                            •	Financial partnerships
                            •	Multi-line insurance firms
                            •	Sole practitioners
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Information</h5>
                        <p>
                            •	Gain experience in sales.
                            •	Demonstrate a highly motivated and entrepreneurial personality.
                            •	Research how one obtains the Certified Financial Planner (CFP) designation.
                            •	Develop a solid personal network.
                        </p>
                    </div>
                </div>

                <h4>Real Estate</h4>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5>Area</h5>
                        <p>
                            •	Residential Brokerage
                            •	Commercial Sales
                            •	Appraisals
                            •	Property Management
                            •	Real Estate Portfolio Management
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Employer</h5>
                        <p>
                            •	Real estate brokers
                            •	Commercial banks
                            •	Appraisal firms
                            •	Apartment and condominium complexes
                            •	Developers
                            •	Large corporations: real estate departments
                            •	Real estate investment trusts
                            •	Mutual funds
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Information</h5>
                        <p>
                            •	Obtain sales experience through part-time, summer or internship positions.
                            •	Research how to become a real estate broker through the National Association of Realtors.
                            •	Develop an entrepreneurial spirit.
                            •	Research apprenticeships in appraisal.
                        </p>
                    </div>
                </div>

                <h4>Investment Banking</h4>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5>Area</h5>
                        <p>
                            •	Corporate Financial Analysis
                            •	Mergers and Acquisitions
                            •	Equity and Debt
                            •	Underwriting
                            •	Institutional Bond and Equity Sales
                            •	Retail Bond and Equity Sales
                            •	Business Valuation
                            •	Business Sale Transactions
                            •	Currency Trading
                            •	Derivatives, e.g. options
                            •	Trading
                            •	Venture Capital Fund Management
                            •	New Venture Analysis
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Employer</h5>
                        <p>
                            •	Investment banking firms (Changes in laws have created a fluid situation in this industry; Mergers and acquisitions continue to take place.)
                            •	Financial services firms
                            •	Insurance firms (The Gramm Leach Bliley Act of 1999 allowed financial services firms to acquire or build investment banking subsidiaries and vice versa.)
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Information</h5>
                        <p>
                            •	An M.B.A. is required to move beyond the entry-level analyst position in investment banking. Investment banking is highly competitive.
                            •	Be prepared to work many hours of overtime per week, start at the bottom, and pay your dues.
                            •	Develop strong analytical and communication skills.
                            •	Cultivate personal ambitiousness.
                            •	Obtain a Series 7 License for both institutional and retail broker sales positions.
                            •	Work toward the CFA designation.
                        </p>
                    </div>
                </div>

                <h4>Money Management</h4>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5>Area</h5>
                        <p>
                            •	Research
                            •	Trading
                            •	Marketing
                            •	Portfolio Management	
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Employer</h5>
                        <p>
                            •	Portfolio management firms
                            •	Commercial banks
                            •	Investment banks
                            •	Federal Reserve banks
                            •	Insurance firms	
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Information</h5>
                        <p>
                            •	Most positions require an advanced degree in economics, finance or business and many years of financial experience.
                        </p>
                    </div>
                </div>

                <h4>Accounting</h4>
                <div class="row">
                    <div class="col-md-4 course-item">
                        <h5>Area</h5>
                        <p>
                            Corporate or Government Including:
                            •	Financial Management
                            •	Financial Reporting
                            •	Cost Accounting
                            •	Tax Planning
                            •	Research
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Employer</h5>
                        <p>
                            •	Companies of various sizes, in all industries
                            •	Federal agencies and departments including:
                            •	Federal Bureau of Investigation
                            •	Internal Revenue Service
                            •	Department of the Treasury
                            •	Office of Management and Budget
                            •	Securities Exchange Commission
                            •	State and local agencies
                        </p>
                    </div>
                    <div class="col-md-4 course-item">
                        <h5>Information</h5>
                        <p>
                            •	Sometimes opportunities in accounting exist in government and corporate settings for finance students.
                            •	Take more than the required amount of accounting classes to supplement finance curriculum.
                            •	Maintain a strong GPA.
                            •	Complete an internship in a government agency and become familiar with the government application process to work in the public sector.
                        </p>
                    </div>
                </div>

            </section>

            <section id="certificates">

                <h2>Certificates</h2>
                <p><strong>The following Certificates are restricted to finance majors only</strong>. 
                These certificates do not require additional hours beyond the finance major program. 
                They are intended to allow students to develop specializations in a specific area of interest. 
                No course grade lower than a C will be accepted for the certificate requirements, and the average GPA for the 12 credits must be a 3.0 or higher. 
                Certificates will be awarded only at the time of degree completion.</p><p>&nbsp;</p>

                <h4>Banking - 12 Credits</h4>
                <div class="row">
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN 4324</strong> Commercial Bank Management</h5>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>ACG 3131</strong> Intermediate Financial Accounting I</h5>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>ACG 3141</strong> Intermediate Financial Accounting II</h5>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>MAR 3391</strong> Professional Selling <em>or</em><br>
                            <strong>FIN* 4941</strong> Finance Internship</h5>
                    </div>
                </div>
                <h5><small><em>*An internship must be a paid internship with a financial services firm, and must be approved by the Department of Finance Internship coordinator and a Banking faculty member.</em></small></h5>
                <p>&nbsp;</p>

                <h4>Corporate Finance - 12 Credits</h4>
                <div class="row">
                    <div class="col-md-3 course-item">
                        <h5><strong>ACG 3131</strong> Intermediate Financial Accounting I</h5>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>ACG 3141</strong> Intermediate Financial Accounting II</h5>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN 3141</strong> Intermediate Corporate Finance</h5>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN* 4941</strong> Finance Internship</h5>
                    </div>
                </div>
                <h5><small><em>*An internship must be a paid internship with a financial services firm, and must be approved by the Department of Finance Internship coordinator.</em></small></h5>
                <p>&nbsp;</p>

                <h4>Investments - 12 Credits</h4>
                <div class="row">
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN 3504</strong> Investment Analysis</h5>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN 4514</strong> Portfolio Analysis and Management</h5>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN 4533</strong> Financial Derivatives</h5>
                    </div>
                    <div class="col-md-3 course-item">
                        <h5><strong>FIN* 4941</strong> Finance Internship</h5>
                    </div>
                </div>
                <h5><small><em>*An internship must be a paid internship with a financial services firm, and must be approved by the Department of Finance Internship coordinator.</em></small></h5>
                <p>&nbsp;</p>

            </section>

            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->

    </div><!-- /st-pusher -->
</div><!-- /st-container -->