@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Bachelors of Science in Business Administration";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Management</h1>
        <h2>@Page.Title</h2>
    </hgroup>

    <a href="https://apply.ucf.edu/application/login.aspx" class="btn btn-primary btn-lg btn-yellow" role="button" target="_blank">Apply Online</a>
}

<div class="clearfix">

            <section class="intro">
                <div class="canvas">
                    <div class="container">
                        <h3>The Management Major</h3>
                        <p>Primary objective is to educate students in the skills, knowledge and attitudes necessary to perform the basic tasks of management. Course offerings are designed to demonstrate how managers, as decision makers, affect organizational efficiency and effectiveness by considering the impact of environment, technology, administrative structure, information and human resources. General skills emphasized are problem identification, analysis and solutions. Specializations in entrepreneurship, human resource management and general management are available.</p>
                        <p>Please Note: the information listed on the website is for the 2013 Catalog Year. Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>
                    </div>
                </div>
            </section>
            <section id="curricular-learning-goals">
                <div class="canvas">
		            <div class="container">
                        <h2>Curricular Learning Goals</h2>
                        <p>UCF Real Estate graduates will be able to: </p>

                        <h4>Discipline Specific Knowledge, Skills, Behavior and Values Outcomes</h4>
                        <ol>
                            <li>Demonstrate comprehension of basic principles of real estate and real estate law. </li>
                            <li>Apply appropriate financial analysis tools to solve specified real estate investment, appraisal, and finance problems.</li>
                            <li>Demonstrate proficiency in solving problems related to time value mathematics and investments. </li>
                            <li>Demonstrate proficiency in the relationship of real estate and environmental law.</li>
                            <li>Demonstrate proficiency in answering questions and solving financial problems related to residential and commercial real estate.</li>
                            <li>Apply appropriate information technologies to specific problems associated with real estate.  </li>
                        </ol>

                        <h4>Critical Thinking Outcomes</h4>
                        <p>Demonstrate critical thinking skills related to financial and investment analysis by effectively evaluating financial data, and using the results to make proper investment decisions.</p>

                        <h4>Communication Outcomes</h4>
                        <p>Demonstrate effective written communication skills by producing written financial analyses that are organized, clear, and logical. </p>

                        <h4>Assessment of Real Estate Outcomes</h4>
                        <p>These outcomes will be assessed using a variety of assessment methods, including:</p>

                        <ul>
                            <li>Exam questions</li>
                            <li>Written assignments</li>
                            <li>Case studies</li>
                        </ul>

		            </div>
	            </div>
            </section>
            <section id="core-business-courses">
                <div class="canvas">
		            <div class="container">
                        <h2>Core Business Courses</h2>
                        <h4>Business Core (36 credits)</h4>
                        <div class="row">
                            <div class="col-md-4">
                                <h5><strong>GEB 3031</strong> Cornerstone Lecture <br><small>(1st or 2nd term Admitted)</small></h5>
                                <small>
                                    <em>(PR: Admitted to the College of Business, Junior Standing CR:GEB3031L)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>GEB 3031L</strong> Cornerstone Lab <br><small>(1st or 2nd term Admitted)</small></h5>
                                <small>
                                    <em>(PR: Admitted to the College of Business upon completion of business prerequisites CR: GEB 3031)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>MAR 3023</strong> Marketing</h5>
                                <small>
                                    <em>(PR: Admitted to UCF)</em>
                                </small><br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5><strong>GEB 3375</strong> Intro to International Business</h5>
                                <small>
                                    <em>(PR: ACG 2021, ACG 2071, ECO 2013, ECO 2023 and Junior Standing)</em>
                                </small><br><br>
                            </div>

                            <div class="col-md-4">
                                <h5><strong>BUL 3130</strong> Legal &amp; Ethical Environments of Business</h5>
                                <small>
                                    <em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
                                </small><br><br>
                            </div>

                            <div class="col-md-4">
                                <h5><strong>ECO 3411</strong> Quantitative Business Tool II</h5>
                                <small>
                                    <em>(PR: Admitted to the College of Business, ECO 2013, ECO 2023 & ECO 3401, Junior Standing)</em>
                                </small><br><br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h5><strong>FIN 3403</strong> Business Finance**</h5>
                                <small>
                                    <em>(PR: ACG 2021, ECO 2023 and Junior Standing)</em>
                                </small><br><br>
                            </div>

                            <div class="col-md-4">
                                <h5><strong>MAN 3025</strong> Management of Organization</h5>
                                <small>
                                    <em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
                                </small><br><br>
                            </div>

                            <div class="col-md-4">
                                <h5><strong>MAR 3203</strong> Supply Chain Management</h5>
                                <small>
                                    <em>(PR: Admission to the College of Business or completion of ECO3401 with a "C" or better)</em>
                                </small><br><br>
                            </div>
                          <div class="col-md-4">
    <h5>Graduating Semester</h5>
                                <h5><strong>MAN 4720</strong> Strategic Management/Capstone</h5>
                                <small>
                                    <em>(PR: MAN 3025, MAR 3023, FIN 3403 and GEB 3031 & GEB3031L)</em>
                                </small><br><br>
                            </div>
                        </div>

		            </div>
	            </div>
            </section>
            <section id="required-major-courses">
                <div class="canvas">
		            <div class="container">
                        <h2>Management Major Courses</h2>

                        <h3>General Track</h3>
                        <h3>Entrepreneurship Track</h3>
                        <h3>Human Resources Track</h3>

	                </div>
                </div>
            </section>
            <section id="internships">
                <div class="canvas">
                    <div class="col container">

                        <h2>Internships</h2>
                        

                    </div>
                </div>
            </section>
            <section id="careers">
                <div class="canvas">
                    <div class="container">

	                    <h2>Careers</h2>

                    </div>
                </div>
            </section>
            <section id="certificates">                <div class="canvas">                    <div class="container">                        <h2>Certificates</h2>                    </div>                </div>            </section>

</div><!-- /st-container -->