@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Undergraduate Degree Programs";
}

@section Styles {
    <style> /*-- cover-img --*/ 
        .cover-img {background-image: url('../../images/finance-bg.jpg');}
    </style>
}

@section featured {

    <hgroup class="title">
        <h1>@Page.Title</h1>
        <h2></h2>
    </hgroup>

}

<div>content</div>