@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Degree Programs";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    /*.cover-img {background-image: url('/images/undergrad-programs-bg.jpg'); background-size: cover;}*/
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<article>

<section>

        <div class="row">
            <div class="col-md-8">
                <h2>Bachelors of Science in<br>Business Administration <small>(7)</small></h2>
                <p>The Bachelor of Science in Business Administration is designed for students who wish to receive specialized training in any of 7 degree tracks.</p>
            </div>
            <div class="col-md-4">
                <div><a href="~/undergraduate/programs/bsba-accounting">Accounting</a></div>
                <div><a href="~/undergraduate/programs/bsba-economics">Economics</a></div>
                <div><a href="~/undergraduate/programs/bsba-finance">Finance</a></div>
                <div><a href="~/undergraduate/programs/bsba-general-business">General Business</a></div>
                <div><a href="~/undergraduate/programs/bsba-management">Management</a></div>
                <div><a href="~/undergraduate/programs/bsba-marketing">Marketing</a></div>
                <div><a href="~/undergraduate/programs/bsba-real-estate">Real Estate</a></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Bachelor of Arts in<br>Business Administration</h2>
                <p>The Bachelor of Arts in Business Administration is designed for 
                    students who wish to receive training in Business within a broad 
                    liberal arts education. <br><a href="~/undergraduate/programs/baba">Learn more.</a></p>
            </div>

            <div class="col-md-6">
                <h2>Bachelor of Arts in<br>Economics</h2>
                <p>The Bachelor of Arts in Economics is designed for students who wish 
                    to receive specialized training in Economics within a broad liberal 
                    arts education. <br><a href="~/undergraduate/programs/ba">Learn more.</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12"><h2>Business Minors <small>(11)</small></h2></div>
            <div class="col-md-4">
                <div><a href="~/undergraduate/programs/minor-accounting">Accounting</a></div>
                <div><a href="~/undergraduate/programs/minor-economics">Economics</a></div>
                <div><a href="~/undergraduate/programs/minor-economics-policy">Economics Policy</a></div>
                <div><a href="~/undergraduate/programs/minor-entrepreneurship">Entrepreneurship</a></div>
            </div>
            <div class="col-md-4">
                <div><a href="~/undergraduate/programs/minorfinance-">Finance</a></div>
                <div><a href="~/undergraduate/programs/minor-general-business">General Business</a></div>
                <div><a href="~/undergraduate/programs/minor-international-business">International Business</a></div>
                <div><a href="~/undergraduate/programs/minor-marketing">Marketing</a></div>
            </div>
            <div class="col-md-4">
                <div><a href="~/undergraduate/programs/minor-real-estate">Real Estate</a></div>
                <div><a href="~/undergraduate/programs/minor-sport-business">Sport Business Management</a></div>
                <div><a href="~/undergraduate/programs/minor-technological-entrepreneurship">Technological Entrepreneurship</a></div>
            </div>
        </div>

</section>

</article>