@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Undergraduate Degree Programs";
}

@section Styles {
    <!--<style> /*-- page-specific styles --*/ </style>-->
}

@section featured {
<section class="featured">
    <div class="content-wrapper">

        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>H2 title header</h2>
        </hgroup>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>

    </div>
</section>
}