@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "International Business Minor";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                            <h3>International Business Minor: 19 Credits</h3>
                            <p><small>2013-2014 Catalog Year</small></p>
                            <h4>For Business Majors Only</h4>
                            <h4>Required Courses (13 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>GEB 3375:</strong> International Business (4 Credits)</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>FIN 4604:</strong> International Financial Management (3 Credits)</h5>
                            <small>
                            <em>(PR: FIN 3403)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>MAN 4600:</strong> International Management (3 Credits)</h5>
                            <small>
                            <em>(PR: MAN 3025)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>MAR 4156:</strong> International Marketing (3 Credits)</h5>
                            <small>
                            <em>(PR: MAR 3023)</em>
                            </small><br><br>
                            </div>
                            </div>
                            <h4>Restricted Electives (Select 2 - 6 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5>ECO 3703 International Microeconomics</h5>
                            <h5>ECO 4713 International Macroeconomics</h5>
                            <h5>ECO 3704 Seminar in Global Economic Policy</h5>
                            <h5>ECS 4013 Development Economics</h5>
                            <h5>GEO 3471 World Political Geography</h5>
                            <h5>INR 4035 International Political Economy</h5>
                            <h5>INR 4224 Contemporary International Politics of Asia</h5>
                            <h5>INR 4243 International Politics of Latin America</h5>
                            <h5>INR 4401 International Law I</h5>
                            <h5>GEB 4361 Business in the International Environment</h5>
                            <h5>GEB 4374 International Negotiations and Transactions</h5>
                            <h5>GEB3955 Study Abroad</h5>
                            <h5>GEB4955 Study Abroad</h5>
                            <h5>Any 3000/4000 level Foreign Language course</h5>
                            </div>
                            </div>


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->