@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "General Business Minor";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                            <h3>General Business Minor: 18 Credits</h3>
                            <p><small>2013-2014 Catalog Year</small></p>
                            <h4>For Non-Business Majors Only</h4>
                            <h4>Required Courses</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>ECO 2013:</strong> Principles of Macroeconomics (3 Credits)</h5>
                            <p>OR</p>
                            <h5><strong>ECO 2023:</strong> Principles of Microeconomics (3 Credits)</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>FIN 2100:</strong> Personal Finance and Investments (3 Credits)</h5>  
                            </div>
                            <div class="col-md-4">
                            <h5><strong>BUL 3130:</strong> Legal &amp; Ethical Environments of Business (4 Credits)</h5>
                                <small>
                                <em>(PR: Junior Standing, Declared Minor)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>MAN 3025:</strong> Management of Organizations (4 Credits)</h5>
                                <small>
                                <em>(PR: Junior Standing, Declared Minor)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>MAR 3023:</strong> Marketing (4 Credits)</h5>
                            </div>
                            </div>



		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->