@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Entrepreneurship Minor";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                            <h3>Entrepreneurship Minor: 18 Credits</h3>
                            <p><small>2013-2014 Catalog Year</small></p>
                            <h4>For Business and Non-Business Majors</h4>
                            <h4>Required Courses (15 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>GEB 3113:</strong> Creativity and Entrepreneurship (3 Credits)</h5>
                            <small>
                            <em>(PR: Sophomore Standing)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>MAN 4802:</strong> New Venture &amp; Small Business Mgt. (3 Credits)</h5>
                            <small>
                            <em>(PR: GEB3113 or MAN 3025 &amp; FIN3403C)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>GEB 4111:</strong> New Venture Finance (3 Credits)</h5>
                            <small>
                            <em>(PR: MAN 4802)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>GEB 4110:</strong> Business Plan Preparation (3 Credits)</h5>
                            <small>
                            <em>(PR: GEB 4111)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>MAR 3765:</strong> Entrepreneurial Marketing (3 Credits)</h5>
                            <small>
                            <em>(PR: MAR3023 or GEB3113)</em>
                            </small><br><br>
                            </div>
                            </div>
                            <h4>Restricted Electives (Select 1 - 3 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>BUL 4540:</strong> Employment Law</h5>
                            <small>
                            <em>(PR: )</em>
                            </small><br><br>
                            <h5><strong>EGN 4641C:</strong> Engineering Entrepreneurship</h5>
                            <small>
                            <em>(PR: Senior Standing, GEB 4152)</em>
                            </small><br><br>
                            <h5><strong>GEB 4152:</strong> Tech. Innovation &amp; Entrepreneurship</h5>
                            <small>
                            <em>(PR: Junior Standing)</em>
                            </small><br><br>
                            <h5><strong>GEB 4435:</strong> Moral Foundation of Business</h5>
                            <small>
                            <em>(PR: Junior Standing)</em>
                            </small><br><br>
                            <strong><h5></strong>Any 3000 or 4000 MAN Course not in CBA Business Core</h5>
                            </div>
                            </div>


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->