@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Real Estate Minor";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                            <h3>Real Estate Minor: 25 Credits</h3>
                            <p><small>2013-2014 Catalog Year</small></p>
                            <h4>For Business and Non-Business Majors</h4>
                            <h4>Required Courses</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>ACG 2021:</strong> Principles of Financial Accounting (3 Credits)</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>ECO 2023:</strong> Principles of Microeconomics (3 Credits)</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>FIN 2100:</strong> Personal Finance and Investments (3 Credits)</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>FIN 3403c:</strong> Business Finance (4 Credits)</h5>
                            <small>
                            <em>(PR: Junior Standing &amp; ACG 2021 and ECO 2023)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">           
                            <h5><strong>REE 3043:</strong> Fundamentals of Real Estate (3 Credits)</h5>
                            <small>
                            <em>(PR: Junior Standing)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>EE 3433:</strong> Real Estate Law (3 Credits)</h5>
                            <small>
                            <em>(PR: Junior Standing)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>Real Estate Elective:</strong> (3 Credits)</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>Real Estate Elective:</strong> (3 Credits)</h5>
                            </div>
                            </div>
                            <h4>Restricted Electives (Select 2)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5>REE 4103 Real Estate Appraisal and Valuation</h5>
                            <h5>REE 4203 Commercial Real Estate Finance</h5>
                            <h5>REE 4204 Residential Real Estate Finance</h5>
                            <h5>REE 4303 Real Estate Investment Analysis</h5>
                            <h5>REE 4732 Real Estate Development</h5>
                            <h5>REE 3614 Environmental Issues for Real Estate</h5>
                            <h5>REE 4933 Advanced Topics in Real Estate</h5>
                            </div></div>


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->