@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Accounting Minor";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">


                                <h3>Accounting Minor: 21 Credits</h3>
                                <p><small>2013-2014 Catalog Year</small></p>
                                <h4>For Business and Non-Business Majors</h4>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5><strong>ACG 2021:</strong> Principles of Financial Accounting (3 Credits)</h5>
                                        <small>
                                            <em>(PR: Sophomore Standing and MAC 1105 or Equivalent)</em>
                                        </small><br><br>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>ACG 2071:</strong> Principles of Managerial Accounting (3 Credits)</h5>
                                        <small>
                                            <em>(PR: ACG 2021)</em>
                                        </small><br><br>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>ACG 3131:</strong> Financial Accounting Concepts and Analysis (3 Credits)</h5>
                                        <small>
                                            <em>(PR: Junior Standing ACG 2021 &amp; ACG 2071)</em>
                                        </small><br><br>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5>* Four Restricted Accounting Electives from Catalog (12 Credits)</h5>
                                        <small>
                                            <em>(at least three courses must have either an ACG or TAX prefix)</em>
                                        </small><br><br>
                                    </div>
                                </div>
                                <h4>Restricted Accounting Electives (Select 4)</h4>
                                <p><small>*Additional Prerequisites Needed</small></p>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5><strong>ACG 3361</strong> - Cost Accounting I</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>ACG3141</strong> - Intermediate Financial Accounting II</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>ACG 3501</strong> - Financial Accounting for Governmental &amp; Nonprofit Org</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5><strong>ACG4401C</strong> - Accounting Information Systems</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>ACG 4651</strong> – Auditing*</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>TAX 4001</strong> - Taxation of Business Entities &amp; Transactions</h5>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <h5><strong>FIN 3414</strong> - Intermediate Corporate Finance *</h5>
                                    </div>
                                    <div class="col-md-4">
                                        <h5><strong>FIN 4453</strong> - Financial Models *</h5>
                                    </div>
                                </div>


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->