@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Technological Entrepreneurship Minor";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">


                            <h3>Technological Entrepreneurship Minor: 18 Credits</h3>
                            <p><small>2013-2014 Catalog Year</small></p>
                            <h4>For Business and Non-Business Majors</h4>
                            <p><small>A minimum GPA of 2.25 is required for acceptance into this minor degree program.</small></p>
                            <h4>Required Courses (12 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>GEB 4152:</strong> Tech. Innovation &amp; Entrepreneurship (3 Credits)</h5>
                            <small>
                            <em>(PR: Junior Standing)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>GEB 4111:</strong> New Venture Finance (3 Credits)</h5>
                            <small>
                            <em>(PR: MAN 4802)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>GEB 4110:</strong> Business Plan Preparation (3 Credits)</h5>
                            <small>
                            <em>(PR: GEB 4111)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>MAN 4802:</strong> New Venture &amp; Small Business Mgt. (3 Credits)</h5>
                            <small>
                            <em>(PR: GEB3113 or MAN 3025 &amp; FIN3403C)</em>
                            </small><br><br>
                            <p>OR</p>
                            <h5><strong>EGN 4641C:</strong> Engineering Entrepreneurship (3 Credits)</strong></h5>
                            <small>
                            <em>(PR: Senior Standing, GEB 4152)</em>
                            </small><br><br>
                            </div>
                            </div>
                            <h4>Restricted Electives (6 Credits)</h4>
                            <p><small>**Innovation Design or Research Sequence**</small></p>
                            <p><small>**Must be approved by the program coordinator***</small></p>
                            <p>Contact Cameron Ford at cford@ucf.edu or (407) 823-2589 for more information.</p>
                            <p>The following list is examples – Please meet with Dr. Cameron Ford to discuss additional options</p>
                            <div class="row">
                            <div class="col-md-4">
                            <p>Innovation Design or Research Sequence</p>
                            <h5><strong>EEL 4914:</strong> Senior Design I and EEL 4915L: Senior Design II</h5>
                            <h5><strong>EML 4501C:</strong> Engineering Design I and EML 4502C: Engineering II</h5>
                            <h5><strong>EAS 4700C:</strong> Aerospace Design I and EAS 4710C: Aerospace Design II</h5>
                            <h5><strong>DIG 4713:</strong> Game Design and DIG 4715C Game Production</h5>
                            </div>
                            </div>             


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->