@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Marketing Minor";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                            <h3>Marketing Minor: 19 Credits</h3>
                            <p><small>2013-2014 Catalog Year</small></p>
                            <h4>For Business and Non-Business Majors</h4>
                            <h4>Required Courses (4 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>MAR 3023:</strong> Marketing (4 Credits)</h5>           
                            </div>
                            </div>
                            <h4>Restricted Electives (15 Credits)</h4>
                            <p><strong>Restricted Marketing Electives (12-15)</strong></p>
                            <p><small>*Requires additional prerequisites(s)</small></p>
                            <div class="row">
                            <div class="col-md-4">
                            <h5>MAR 3203 Supply Chain & Operations Management</h5>
                            <h5>MAR 3323 Integrated Marketing Communication</h5> 
                            <h5>MAR 3391 Professional Selling</h5>
                            <h5>MAR 3403 Sales Force Management</h5>
                            <h5>MAR 3503 Customer Behavior</h5>
                            <h5>*MAR 3613 Market Research</h5>
                            <h5>MAR 3721 Digital Media Marketing</h5>
                            <h5>MAR 3765 Entrepreneurial Marketing</h5>
                            <h5>MAR 4156 International Marketing</h5>
                            <h5>MAR 4231 Retailing Management</h5>
                            <h5>MAR 4711 Sport Marketing</h5>
                            <h5>MAR 4715 Entertainment Marketing</h5>
                            <h5>*MAR 4803 Marketing Management</h5>
                            <h5>*MAR 4804 Marketing Strategy</h5>
                            <h5>MAR 4841 Services Marketing</h5>
                            </div></div>
                            <h4>Restricted Non-Marketing Electives (0-3)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5>ADV 3008 Principles of Advertising</h5>
                            <h5>ANT 3610 Language & Culture</h5>
                            <h5>COM 3011C Communication and Human Relations</h5>
                            <h5>COM 3311 Communication Research Methods</h5>
                            <h5>COM 3120 Organizational Communication</h5>
                            <h5>COM 3110 Business and Professional Comm.</h5>
                            <h5>ENC 3211 Theory and Practice of Tech. Writing</h5>
                            <h5>EXP 3404 Basic Learning Processes</h5>
                            <h5>HSA 3111 U. S. Health Care Systems</h5>
                            <h5>PHI 3803 Philosophy and Creativity</h5>
                            <h5>PPE 3003C Personality Theory and Research</h5>
                            <h5>PSY 3213C Research Methods in Psychology</h5>
                            <h5>RTV 3007 Development and Structure of Elect</h5>
                            <h5>SOP 3004C Social Psychology</h5>
                            <h5>SPC 3301 Interpersonal Communication</h5>
                            <h5>SPC 4331 Nonverbal Communication</h5>
                            <h5>SPC 4426 Group Dynamics</h5>
                            <h5>STA 4102 Computer Processing and Statistical Data</h5>
                            <h5>SYA 4300C Research Methods</h5>
                            </div></div>


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->