@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Sport Business Minor";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                            <h3>Sport Business Management Minor: 18 Credits</h3>
                            <p><small>2013-2014 Catalog Year</small></p>
                            <h4>For Business Majors Only</h4>
                            <p><small>A 2.5 GPA in the minor is required in order to receive this minor.</small></p>
                            <h4>Required Courses (12 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>SPB 3003:</strong> Introduction to Sport Business Management (3 Credits)</h5>
                            <small>
                            <em>(PR: Sophomore Standing)</em>
                            </small><br><br>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>SPB 3603:</strong> Diversity and Social Issues in Sport Business Management (3 Credits)</h5>
                            <small>
                            <em>(PR: Sophomore Standing)</em>
                            </small><br><br>                     
                            </div>
                            <div class="col-md-4">
                            <h5><strong>SPB 3823:</strong> Role of Business Entrepreneurship in Sport/Ent (3 Credits)</h5>
                            <small>
                            <em>(PR: SPB 3003)</em>
                            </small><br><br>               
                            <h5><strong>MAR 4711:</strong> Sports Marketing (3 Credits)</h5>
                            <small>
                            <em>(PR: MAR 3023)</em>
                            </small><br><br>
                            </div>                
                            </div>
                            <h4>Restricted Electives (Select 2 - 6 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5>SPB 4304 Sports Event and Facility Management</h5>
                            <small>
                            <em>(PR: SPB 3003)</em>
                            </small><br><br> 
                            <h5>SPB 4804 Sport Business and Media</h5>
                            <small>
                            <em>(PR: SPB 3003)</em>
                            </small><br><br>  
                            <h5>GEB 4824 Business Law in Sport &amp; Entertainment</h5>
                            <small>
                            <em>(PR: SPB 3003)</em>
                            </small><br><br>  
                            </div>                
                            </div>
                            <h3>Sport Business Management Minor: 25 Credits</h3>
                            <p><small>2013-2014 Catalog Year</small></p>
                            <h4>For Non-Business Majors Only</h4>
                            <p><small>A 2.5 GPA in the minor is required in order to receive this minor.</small></p>
                            <h4>Required Introductory Courses (10 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>FIN 2100:</strong> Personal Finance and Investments (3 Credits)</h5>
                            <h5><strong>MAR 3023:</strong> Marketing (4 Credits)</h5>
                            <h5><strong>SPB 3003:</strong> Introduction to Sport Business Management (3 Credits)</h5>                          
                            </div>
                            </div>
                            <h4>Required Courses (9 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>SPB 3603:</strong> Diversity and Social Issues in SBM (3 Credits)</h5>
                            <small>
                            <em>(PR: SPB 3003)</em>
                            </small><br><br>  
                            <h5><strong>SPB 3823:</strong> Role of Business Entrepreneurship in Sport/Ent (3 Credits)</h5>
                            <small>
                            <em>(PR: SPB 3003)</em>
                            </small><br><br>  
                            <h5><strong>MAR 4711:</strong> Sports Marketing (3 Credits)</h5>
                            <small>
                            <em>(PR: MAR 3023)</em>
                            </small><br><br>                            
                            </div>
                            </div>
                            <h4>Restricted Electives - Select 2 (6 Credits)</h4>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>SPB 4304</strong> Sports Event and Facility Management</h5>
                            ong>SPB 3823:</strong> Role of Business Entrepreneurship in Sport/Ent (3 Credits)</h5>
                            <small>
                            <em>(PR: SPB 3003)</em>
                            </small><br><br>   
                            <h5><strong>SPB 4804</strong> Sport Business and Media</h5>
                            <small>
                            <em>(PR: SPB 3003)</em>
                            </small><br><br>    
                            <h5><strong>GEB 4824</strong> Business Law in Sport & Entertainment</h5>
                            <small>
                            <em>(PR: SPB 3003)</em>
                            </small><br><br> 
                            </div>
                            </div>


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->