@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Economics Policy Minor";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                            <h3>Economics Policy Minor: 18 Credits</h3>
                            <p><small>2013-2014 Catalog Year</small></p>

                            <h4>For Business and Non-Business Majors</h4>
                            <p><small>Not open to Economics BA or BSBA majors or Mathematics Majors with the Mathematics Concentration.</small></p>
                            <div class="row">
                            <div class="col-md-4">
                            <h5><strong>ECO 2013:</strong> Principles of Macroeconomics (3 Credits)</h5>
                          
                            </div>
                            <div class="col-md-4">
                            <h5><strong>ECO 2023:</strong> Principles of Microeconomics (3 Credits)</h5>
                            
                            </div>
                        


                            </div>

                            <h4>Restricted Economics Electives (Select 4 - 12 Credits)</h4>
                            <p><small>Additional Prerequisites may be required</small></p>
                            <p>Other ECO, ECP or ECS courses may be applied toward the Minor with approval of the Department.</p>


                            <div class="row">
                            <div class="col-md-4">
                            <h5>ECO 3223 Money and Banking</h5>
                            <h5>ECO 3704 Global Economic Policy</h5>
                            <h5>ECO 4303 History of Economic Thought</h5>
                            <h5>ECO 4751 Law and Economics</h5>
                            <h5>ECP 3302 Economics and the Environment</h5>
                            <h5>ECP 3006 Economics of Sports</h5>
                            <h5>ECS 4013 Development Economics</h5>
                            </div>
                      
                            </div>


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->