@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Economics Minor";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                        <h3>Economics Minor: 18 Credits</h3>
                        <p><small>2013-2014 Catalog Year</small></p>
                        <h4>For Business and Non-Business Majors</h4>
                        <p><small>Not open to Economics BA or BSBA majors or Mathematics Majors with the Mathematics Concentration.</small></p>
                        <div class="row">
                            <div class="col-md-4">
                                <h5><strong>ECO 2013:</strong> Principles of Macroeconomics (3 Credits)</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>ECO 2023:</strong> Principles of Microeconomics (3 Credits)</h5>
                            </div>
                            <div class="col-md-4">
                                <h5><strong>ECO 3101:</strong> Intermediate Microeconomics (3 Credits)</h5>
                                <small>
                                    <em>(PR: ECO 2013, ECO 2023 &amp; ECO 3401)</em>
                                </small><br><br>
                                <p>OR</p>
                                <h5><strong>ECO 3203:</strong> Intermediate Macroeconomics (3 Credits)</h5>
                                <small>
                                    <em>(PR: ECO 2013, ECO 2023 &amp; ECO 3401)</em>
                                </small><br><br>
                            </div>
                            <div class="col-md-4">
                                <h5>Select (3) restricted electives from any ECO, ECP, or ECS courses at the 3000-4000 level, excluding ECO 3401 (9 Credits)</h5>
                            </div>
                        </div>
                        <h4>Restricted Economics Electives (Select 3)</h4>
                        <div class="row">
                            <div class="col-md-4">
                            <h5><strong>ECO 3223</strong> - Money and Banking</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>ECO 3410</strong> - Mathematical Economics</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>ECO 3703</strong> - International Microeconomics</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            <h5><strong>ECO 4303</strong> - History of Economic Thought</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>ECO 4412</strong> – Econometrics - (Additional Prerequisites Needed)</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>ECO 4504</strong> - Public Economics</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            <h5><strong>ECO 4713</strong> - International Macroeconomics</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>ECO 4751</strong> - Law and Economics</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>ECP 3203</strong> - Labor Economics</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            <h5><strong>ECP 4303</strong> - Environ &amp; Nat Resource Economic</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>ECP 4403</strong> - Industrial Org and Game Theory</h5>
                            </div>
                            <div class="col-md-4">
                            <h5><strong>ECS 4013</strong> - Development Economics</h5>
                            </div>
                        </div>


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->