@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />

        <link rel="stylesheet" href="~/content/css/horizontal.css">

        <script src="~/scripts/modernizr-2.6.2.js"></script>

    </head>
    <body>

        <div class="pagespan">
            <section class="wrap">
                <div class="controls center">
                    <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
                    <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->
                </div><!--/controls -->
		        <div class="frame" id="news">
			        <ul class="clearfix">
                        <!-- 8 panel row -->
                        <li>
                            <img src="~/images/panels/panel1.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Learn more.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel2.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Learn more.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/take-the-ball.jpg" alt="...">
                            <a href="http://www.bus.ucf.edu/dean/take-the-ball" target="_blank">
                                <p>Learn more.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/dean-blog.jpg" alt="...">
                            <a href="http://www.bus.ucf.edu/dean" target="_blank">
                                <p>Read the latest post from Dean Paul Jarley...</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/meet-the-ambassadors.jpg" alt="...">
                            <a href="http://www.youtube.com/playlist?list=PLblI-5jkdoaLAGz-wPFnjv-WtZiEFP4VS" target="_blank">
                                <p>Meet the UCF College of Business Ambassadors...</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/social-media.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Follow us on twitter, facebook, and other popular social media...</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/blackstone-launchpad.jpg" alt="...">
                            <a href="http://cel.ucf.edu/about/news/blackstone-launchpad-featured-in-the-orlando-sentinel" target="_blank">
                                <p>UCF’s Blackstone LaunchPad announced the future opening of its student entrepreneurial center.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel1.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Learn more.</p>
                            </a>
                        </li>
			        </ul>
		        </div><!--/frame -->
                <ul class="pages"></ul><!--/pages -->
                <br><br>
            </section>
        </div>

        <div class="pagespan">
            <section class="wrap">
                <div class="controls center">
                    <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
                    <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->
                </div><!--/controls -->
		        <div class="frame" id="events">
			        <ul class="clearfix">
                        <!-- 8 panels per row -->
                        <li>
                            <img src="~/images/panels/panel1.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Learn more.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel2.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Learn more.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel3.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Learn more.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/negotiate-to-the-top.jpg" alt="...">
                            <a href="http://edc.research.ucf.edu/negotiate" target="_blank">
                                <p>Join us for Negotiate To The Top, our interactive two-day seminar led by Tim Cullen.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/strategic-leadership.jpg" alt="...">
                            <a href="http://edc.research.ucf.edu/strategic-leadership" target="_blank">
                                <p>Implementing a business strategy is a key part of ensuring any firm’s success.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel3.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Learn more.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel2.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Learn more.</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel1.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Learn more.</p>
                            </a>
                        </li>
			        </ul>
		        </div><!--/frame -->
                <ul class="pages"></ul><!--/pages -->
                <br><br>
            </section>
        </div>

        <div class="pagespan">
            <section class="wrap">
                <div class="controls center">
                    <button class="prev"><i class="icon-angle-left"></i></button><!--/back button-->
                    <button class="next"><i class="icon-angle-right"></i></button><!--/forward button-->
                </div><!--/controls -->
                <div class="frame" id="faculty">
			        <ul class="clearfix">
                        <!-- 8 panels per row -->
                        <li>
                            <img src="~/images/panels/panel2.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel3.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel1.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/organizational-hypocrisy.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p></p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel1.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel2.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel3.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                            </a>
                        </li>
                        <li>
                            <img src="~/images/panels/panel1.jpg" alt="...">
                            <a href="#" target="_blank">
                                <p>Lorem ipsum dosectetur adipisicing elit, sed do...</p>
                            </a>
                        </li>
			        </ul>
		        </div><!--/frame -->
                <ul class="pages"></ul><!--/pages -->
                <br><br>
            </section>
        </div>

        <!-- Scripts -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

        <!-- Latest compiled and minified bootstrap -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

        <script src="//scripts.bus.ucf.edu/cdn/js/scripts/plugins.js" type="text/javascript"></script>
        <script src="//scripts.bus.ucf.edu/cdn/js/scripts/sly.hoz.js" type="text/javascript"></script>

    </body>
</html>
