@{
    //mobile version of site
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="apple-mobile-web-app-title" content="UCF-Business" />

        <!--styles-->
        <style>
            /*-------------------------------------*/
            body, #container, #content, header, nav, aside, footer {
                margin: 0;
                padding: 0;
            }
            #container {
                border: 1px dashed blue;
                padding: 2px;
                min-height: 100px;
            }
            #content {
                background: #e3fbfb;
                border: 1px dashed blue;
                padding: 2px;
                min-height: 100px;
            }
            header, nav, aside, footer {
                background: #f4e2e2;
                border: 1px dashed red;
                height: 100px;
            }
            /*-------------------------------------*/
            
            
            
            /*-------------------------------------*/
        </style>

    </head>
    <body>


        <div id="container">

            <header></header>

            <nav></nav>

            <div id="content"></div>

            <aside></aside>

        </div>

        <footer></footer>

        <!--scripts-->



    </body>
</html>
