@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>

        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">

        <link href="../styles/component.css" rel="stylesheet">

    </head>
    <body>

        <div id="cbp-fbscroller" class="cbp-fbscroller">
	        <nav>
		        <a href="#fbsection1" class="cbp-fbcurrent">Section 1</a>
		        <a href="#fbsection2">Section 2</a>
		        <a href="#fbsection3">Section 3</a>
		        <a href="#fbsection4">Section 4</a>
		        <a href="#fbsection5">Section 5</a>
	        </nav>
	        <section id="fbsection1"></section>
	        <section id="fbsection2"></section>
	        <section id="fbsection3"></section>
	        <section id="fbsection4"></section>
	        <section id="fbsection5"></section>
        </div>

        <!-- jquery -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/scripts/jquery-2.0.3.min.js"><\/script>')</script>
        <script src="~/scripts/bootstrap.min.js"></script>


        <!--scripts-->

        <script src="js/jquery.easing.min.js"></script>

		<!-- waypoints jQuery plugin by http://imakewebthings.com/ : http://imakewebthings.com/jquery-waypoints/ -->
		<script src="js/waypoints.min.js"></script>

		<!-- jquery-smartresize by @@louis_remi : https://github.com/louisremi/jquery-smartresize -->
		<script src="js/jquery.debouncedresize.js"></script>

        <!--fixed scrolling-->
		<script src="js/cbpFixedScrollLayout.min.js"></script>

        <script>
			$(function() {
				cbpFixedScrollLayout.init();
			});
		</script>

    </body>
</html>
