
/* =============================================================================
Footer/Section Layout
========================================================================== */

footer .wrapper {
    padding: 20px 0;

    h5 { /* The headers */
        //background: #ddd;
        margin-bottom: 15px;
        line-height: 16px;
        font-size: 1em;
        font-weight: 700;
        color:#777;
        text-transform: uppercase;
        text-shadow: 0 1px rgba(0,0,0,0.1);

        opacity:0.9;
        cursor:default;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .icon {
        line-height: 2.23em;

        i {
            font-size: 1.8em;
            padding-right: 7px;
        }
    }
}

span.copyright {font-size: .65em; color: #bbb; line-height: 1.3em;}

// Mobile-Portrait //
@media (max-width: 499px) and (orientation: portrait){

    span.copyright {font-size: .55em; color: #bbb; line-height: 1.3em;}
}