
/* =============================================================================
Footer
========================================================================== */

footer {
    border: 1px dashed green; //<--- DEV LINE

    width: 100%;
    position: relative;

    h5 { /* headers */
        font-weight: 700;
        text-transform: uppercase;
        opacity:0.9;
        cursor:default;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    a.icon {
        line-height: 2.23em;

        i {
            font-size: 1.8em;
            padding-right: 7px;
        }
    }

    span.copyright {
        font-size: .65em;
        color: #bbb;

        @media screen and (max-width: 499px) and (orientation: portrait){font-size: .55em;}
    }

    // Small Desktop //
    @media screen and (min-width: 1025px){
        
        padding-left: 380px;
        position: absolute;
        bottom: 0;
    }

    // Notebook //
    @media screen and (min-width: 1300px){
        
        padding-left: 420px;
    }
}

/*UCF Stands for Opportunity*/
.ucf-sfo {
    width: 250px;

    // Mobile-Portrait //
    @media screen and (max-width: 499px) and (orientation: portrait){width: 50%;}
}