
/* =============================================================================
Footer/Section Layout
========================================================================== */

.wrapper-footer-inner {
    //background: #eee;
    padding:20px;

    p { /* The headers */
        //background: #ddd;
        margin-bottom: 15px;
        line-height: 16px;
        font-size: 1em;
        font-weight: 700;
        color:#777;
        text-transform: uppercase;
        text-shadow: 0 1px rgba(0,0,0,0.1);

        opacity:0.9;
        cursor:default;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .icon {
        line-height: 2.23em;

        i {
            font-size: 1.5em;
            padding-right: 7px;
        }
    }
}

ul#footer { /* column group */
    width: 100%;

    &> li { /* The links */
        //border: 1px dashed red;

        ul li {
            //padding: 3px 5px;
            font-size: 1.1em;
            font-weight: 400;
            color: #777;
        }
    }
}

span.copyright {font-size: .65em; color: #bbb; line-height: 1.3em;}


// Tablet //
@media (max-width: 999px){

    /* The columns */
    ul#footer > li {
        width: 20.3%;
        display: inline-block;
        vertical-align: top;

        &:first-child {
            width: 36%;
        }
    }
}

// Mobile-Landscape //
@media (max-width: 699px) and (orientation: landscape){
    ul#footer > li {
        width: 20%;
    }
}

// Mobile-Portrait //
@media (max-width: 499px) and (orientation: portrait){
    
    /* The columns */
    ul#footer > li {
        border-bottom: 1px solid #bbb;
        margin-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        display: inline-block;
        vertical-align: top;

        &:first-child {
            margin: 0;
            width: 100%;
        }

        &:last-child {
            border: none;
            li {display: inline;}
        }
    }

    span.copyright {font-size: .55em; color: #bbb; line-height: 1.3em;}
}

@media (min-width: 1000px) {
    
    /* The columns */
    ul#footer > li {
        width: 20%;
        display: inline-block;
        vertical-align: top;

        &:first-child {
            width: 38.5%;
        }
    }
}