
.animatedSlide {
	transition-property: transform;  
	transition-duration: 0.3s;  
	transition-timing-function: ease-out;
	
	-ms-transition-property: -ms-transform;  
	-ms-transition-duration: 0.3s;  
	-ms-transition-timing-function: ease-out;
	
	-moz-transition-property: -moz-transform;  
	-moz-transition-duration: 0.3s;  
	-moz-transition-timing-function: ease-out;
	
	-webkit-transition-property: -webkit-transform;  
	-webkit-transition-duration: 0.3s;  
	-webkit-transition-timing-function: ease-out;
	
	-o-transition-property: -o-transform;  
	-o-transition-duration: 0.3s;  
	-o-transition-timing-function: ease-out;
}
.no-csstransforms3d .animatedSlide {
	transition: left 0.3s ease-out, right 0.3s ease-out;  
	-ms-transition: left 0.3s ease-out, right 0.3s ease-out;   
	-moz-transition: left 0.3s ease-out, right 0.3s ease-out;
	-webkit-transition: left 0.3s ease-out, right 0.3s ease-out; 
	-o-transition: left 0.3s ease-out, right 0.3s ease-out; 
}

/*---------------------*/
/* == No Off.canvas == */
/*---------------------*/

.sidebarLeft.show, .sidebarRight.show {
    //background-color: #272727; // do not remove
    z-index: 2;
}

/* Main central area styles */
.page {
	word-wrap: break-word;
	position: relative;
    z-index: 3;
	
	.scrollableArea {
        background: red;
		position: absolute;
		bottom: 0;
	}
}
.no-js .page {
	width: 100%;
	height: 100%;
}
/* Slid styles */
.page.slidRight {
	transform: translate3d(40em,0,0);
	-ms-transform: translate3d(40em,0,0);
	-moz-transform: translate3d(40em,0,0);
	-webkit-transform: translate3d(40em,0,0);
	-o-transform: translate3d(40em,0,0);
	
    // Tablet //
    @media (max-width: 999px){
        transform: translate3d(50em,0,0);
	    -ms-transform: translate3d(50em,0,0);
	    -moz-transform: translate3d(50em,0,0);
	    -webkit-transform: translate3d(50em,0,0);
	    -o-transform: translate3d(50em,0,0);
    }

    // Mobile-Landscape //
    @media (max-width: 699px) and (orientation: landscape){}

    // Mobile-Portrait //
	@media (max-width: 499px) and (orientation: portrait){
		transform: translate3d(20em,0,0);
		-ms-transform: translate3d(20em,0,0);
		-moz-transform: translate3d(20em,0,0);
		-webkit-transform: translate3d(20em,0,0);
		-o-transform: translate3d(20em,0,0);
	}
}
.page.slidLeft {
	transform: translate3d(-40em,0,0);
	-ms-transform: translate3d(-40em,0,0);
	-moz-transform: translate3d(-40em,0,0);
	-webkit-transform: translate3d(-40em,0,0);
	-o-transform: translate3d(-40em,0,0);
	
    // Tablet //
    @media (max-width: 999px){
        transform: translate3d(-50em,0,0);
	    -ms-transform: translate3d(-50em,0,0);
	    -moz-transform: translate3d(-50em,0,0);
	    -webkit-transform: translate3d(-50em,0,0);
	    -o-transform: translate3d(-50em,0,0);
    }

    // Mobile-Landscape //
    @media (max-width: 699px) and (orientation: landscape){}

    // Mobile-Portrait //
	@media (max-width: 499px) and (orientation: portrait){
		transform: translate3d(-20em,0,0);
		-ms-transform: translate3d(-20em,0,0);
		-moz-transform: translate3d(-20em,0,0);
		-webkit-transform: translate3d(-20em,0,0);
		-o-transform: translate3d(-20em,0,0);
	}
}
.no-csstransforms3d .page.slidRight {
	left: 40em;

    // Tablet //
    @media (max-width: 999px){
        left: 48em;
    }
	
    // Mobile-Landscape //
    @media (max-width: 699px) and (orientation: landscape){}

    // Mobile-Portrait //
	@media (max-width: 499px) and (orientation: portrait){
		left: 20em;
	}
}
.no-csstransforms3d .page.slidLeft {
	left: -40em;

    // Tablet //
    @media (max-width: 999px){
        left: -48em;
    }

    // Mobile-Landscape //
    @media (max-width: 699px) and (orientation: landscape){}
	
    // Mobile-Portrait //
	@media (max-width: 499px) and (orientation: portrait){
		left: -20em;
	}
}

/* Sliding side bars */
.sidebarLeft, .sidebarRight {
	width: 30%;
    //height: 100%;
	word-wrap: break-word;
    z-index: 1;
	
    .sidebarButton {
        border: 1px solid red; //<---- development line

		//display: none;
		width: 1.6em;
		font-size: 2.5em;
		line-height: 1.6em;
		color: #dcdcdc;
		text-decoration: none;
		text-align: center;
		opacity: 0.2;

		top: 0;
        z-index: 0;
		
		&:hover {
			opacity: 0.5;
		}
    }

    /* hides close button unless JS is enabled */
	.shutLeft, .shutRight {
        @extend .sidebarButton;
        position: fixed;
	}

    .sidebarMenuTab {
        @extend .sidebarButton;
        position: relative;

        &.active {
            opacity: 0.5;
        }
	}
}
.sidebarLeft.slidRight, .sidebarRight.slidLeft {
	transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
}
.no-csstransforms3d .sidebarLeft.slidRight {
	left: 0;
}
.no-csstransforms3d .sidebarRight.slidLeft {
	right: 0;
}


/*---------------------*/
/* ==   Off.canvas  == */
/*---------------------*/

// Tablet //
@media (max-width: 999px){
    html.offcanvas {
	    //overflow-x: hidden;
    }
}

.offcanvas body {
	overflow-x: hidden;
}

.offcanvas .page {
	width: 100%;
	height: 100%;
}

.offcanvas .scrollableArea {
    position:relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    
    // Tablet //
    @media (max-width: 999px){
        position:absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/* Styles for both sidebars */
.offcanvas .sidebarLeft, .offcanvas .sidebarRight {
	width: 40em;
    height: 100%;
    
    position: fixed;
	top: 0;
	bottom: 0;

    // Tablet //
    @media (max-width: 999px){
        width: 50em;
    }

    // Mobile-Landscape //
    @media (max-width: 699px) and (orientation: landscape){}
	
    // Mobile-Portrait //
	@media (max-width: 499px) and (orientation: portrait){
		width: 20em;
	}

    .shutLeft, .shutRight {
		display: block;
	}

    .sidebarMenuTab  {
        display: inline-block;
    }
}
.offcanvas .sidebarLeft {
	left: 0;
    /*
	transform: translate3d(-7em,0,0);
	-ms-transform: translate3d(-7em,0,0);
	-moz-transform: translate3d(-7em,0,0);
	-webkit-transform: translate3d(-7em,0,0);
	-o-transform: translate3d(-7em,0,0);
    */
    transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	
	.shutLeft {
		left: 0;
	}
}
.offcanvas .sidebarRight {
	right: 0;
    /*
	transform: translate3d(7em,0,0);
	-ms-transform: translate3d(7em,0,0);
	-moz-transform: translate3d(7em,0,0);
	-webkit-transform: translate3d(7em,0,0);
	-o-transform: translate3d(7em,0,0);
    */
    transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	
	.shutRight {
		right: 0;
	}
}

/*
.no-csstransforms3d .offcanvas .sidebarLeft {
	left:-7em;
}
.no-csstransforms3d .offcanvas .sidebarRight {
	right:-7em;
}
*/