/* =============================================================================
   PAGE CONTENT WRAPPER
   ========================================================================== */

.main {
    //------------------------------------------------
    //background: #fff; //<--- Testing
    border: 1px dashed blue; //<--- DEV LINE
    //------------------------------------------------

    height: 100%;
    position: relative;
    top: 0;
    left: 0;

    // Small Desktop //
    @media screen and (min-width: 1000px){padding-left: 380px; min-height: 960px;}

    // Notebook //
    @media screen and (min-width: 1300px){padding-left: 420px;}
}

.topNav {
    background-color:#000;
    color:#fff;    

    ul {
        list-style: none;

        li {
            padding: 10px 0;
            padding-right: 15px;
            display:inline-block;
            height:100%;
            font-size: 1.3em;
        }
    }
}