/* =============================================================================
   PAGE CONTENT WRAPPER
   ========================================================================== */

#main.wrapper{
    //------------------------------------------------
    background: #fff; //<--- Testing
    border-right: 1px dashed blue; //<--- DEV LINE
    //------------------------------------------------

    position: relative;
    left: 0;

    // Small Desktop //
    @media (min-width: 1000px){
        
        position:absolute; //<-- if removing, you need to resize the panel width
        top: 0;
        left: 380px;
        right: 0;
        bottom: 0;
    }

    // Notebook //
    @media (min-width: 1300px){

        left: 420px;
    }

    // Large Desktop //
    @media (min-width: 1600px){
        
        .wrapper-inner{max-width:1018px;}
    }

    .wrapper-inner {
        max-width: 910px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        /*
        h1,
        h2,
        h3 {
            font-weight: 200;
            color: #ddb000;
        }*/
    }
}