/* =============================================================================
   PAGE CONTENT WRAPPER
   ========================================================================== */

.main {
    //------------------------------------------------
    background: #fff; //<--- Testing
    //border: 1px dashed blue; //<--- DEV LINE
    //------------------------------------------------

    position: relative;
    left: 0;

    // Small Desktop //
    @media (min-width: 1000px){
        
        position:absolute; //<-- if removing, you need to resize the panel width
        top: 0;
        left: 380px;
        right: 0;
        bottom: 0;
    }

    // Notebook //
    @media (min-width: 1300px){

        left: 420px;
    }

    // Large Desktop //
    @media (min-width: 1600px){
        
        .wrapper-inner{max-width:1018px;}
    }

    .main-inner {
        //max-width: 910px;
        height: 100%;
        position: relative;

        /*
        h1,
        h2,
        h3 {
            font-weight: 200;
            color: #ddb000;
        }*/
    }

    .section {
        //border: 1px solid green; //<--- DEV LINE
    }
}

.topNav {
    background-color:#000;
    color:#fff;    

    ul {
        list-style: none;

        li {
            padding: 10px 0;
            padding-right: 15px;
            display:inline-block;
            height:100%;
            font-size: 1.3em;
        }
    }
}