/* =============================================================================
   Back to top link/image
   ========================================================================== */

.back-to-top {
    background-color: rgba(235, 235, 235, 0.80);
    border: 2px solid #ccc;
    padding: 0 .4em;
    position: fixed;
    bottom: 1em;
    right: .5em;
    font-size: 1.8em;
    text-decoration: none;
    color: #000;
    display: none;
    border-radius: 25px;
    z-index: 9999;
}

.back-to-top:hover {    
    background-color: rgba(135, 135, 135, 0.50);
    text-decoration: none;
    color: #fff;
}