/* Mobile Layout: 500px and below. */
// styles go here.

.viewbook {
        display:none;
        visibility: hidden;
    }

.viewbook img {
    top: 20px;
    right: 40px;
    width: 116px;
    height: 125px;
}

/* Tablet Layout (portrait mode): 481px to 768px. Inherits styles from: Mobile Layout. */
@media all and (min-width: 501px) {

    .viewbook {
        top: 270px;
        left: 40px;
    }
    .viewbook img {
        width: 174px;
        height: 199px;
    }

}


/* Tablet Layout (landscape mode): 769px to 1024px. Inherits styles from: Mobile Layout and Portrait Layout. */
@media all and (min-width: 769px) {
    
    .viewbook {
        top: 40px;
        left: 40px;
    }

}


/* Desktop Layout: 1025px to max of 1920px. Inherits styles from: Mobile Layout and Tablet Layout. */
@media screen and (min-width: 1025px) {

    .viewbook img {
        position: absolute;
        top:150px;
        left:0;
    }

}


/* Print Layout: Inherits styles from: All Layouts. */
@media print {
    
    .viewbook {
        display:none;
        visibility: hidden;
    }

}