@{
    //-- Full Width Image Slider - http://tympanus.net/codrops/2013/02/26/full-width-image-slider/
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section styles {
    <style> /*-- Page-specific styles --*/ </style>
}

@section Scripts {
    
}

@section featured {
<section class="featured">
    <div class="content-wrapper">
        <hgroup class="title">
            <h1>@Page.Title.</h1>
            <h2>Modify this template to jump-start your ASP.NET Web Pages application.</h2>
        </hgroup>
        <p>
            If you have any questions about ASP.NET Web Pages, visit
            <a href="http://forums.iis.net/1166.aspx" title="ASP.NET Web Pages Forum">our forums</a>.
        </p>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque convallis porttitor 
            velit, a placerat dui ultricies sit amet. Etiam elementum dignissim sapien viverra sodales. 
            Vivamus id augue porta, condimentum libero sed, dignissim lacus. Mauris eget nisi iaculis, 
            ullamcorper ante et, congue justo. Curabitur sed commodo massa. Nam et eros sed massa dapibus 
            dictum. Pellentesque luctus dui nec congue imperdiet. Nam blandit sit amet erat ac consequat. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat luctus sem, non molestie 
            mi adipiscing in. Nulla rutrum, mi vel lacinia rutrum, tellus enim elementum sapien, 
            vel mollis velit elit nec risus.
        </p>
    </div>
</section>
}

