@{
    //-- Sliding Horizontal Layout 
    //-- http://tympanus.net/codrops/2013/09/05/sliding-horizontal-layout
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home Page";
}

@section styles {
    <link type="text/css" rel="stylesheet" href="css/tripleview/site.css" />
}

@section Scripts {
    <script src="js/tripleview/classie.js"></script>
	<script src="js/tripleview/hammer.min.js"></script>
	<script src="js/tripleview/main.js"></script>
}

@section featured {
    <!-- featured content (optional) -->
}

<div id="vs-container" class="vs-container">

    <header class="vs-header">
		<h1>Sliding Triple View Layout <span>with Visible Adjoining Sections</span></h1>
		<ul class="vs-nav">
			<li><a href="#section-1">Hate dog flop</a></li>
			<li><a href="#section-2">Stretch hopped</a></li>
			<li><a href="#section-3">Inspect anything</a></li>
			<li><a href="#section-4">Attack everything</a></li>
			<li><a href="#section-5">Find something</a></li>
		</ul>
	</header>

    <div class="vs-wrapper">
        <section id="section-1">
            <div class="vs-content">
                <!-- content -->
                <h2>Hate dog flop over and missing until dinner time sun bathe make muffins stand in front of the computer screen</h2>
				<div class="col">
					<p>Climb leg make muffins or sweet beast play time and hate dog or chew foot. Stretch climb leg. Play time give attitude 
                    for all of a sudden go crazy chase imaginary bugs lick butt. Claw drapes burrow under covers so hide when guests come over, 
                    inspect anything brought into the house hopped up on goofballs. Nap all day swat at dog and rub face on everything stick 
                    butt in face all of a sudden go crazy need to chase tail yet rub face on everything. Give attitude chew iPad power cord, 
                    and stick butt in face or chase imaginary bugs. Hate dog destroy couch or under the bed and nap all day. Hate dog flop over 
                    and missing until dinner time. Chew iPad power cord stick butt in face so leave hair everywhere. Stretch swat at dog. 
                    Stand in front of the computer screen hunt anything that moves yet behind the couch or lick butt intrigued by the shower. 
                    Give attitude hate dog but chase imaginary bugs sleep on keyboard or play time. Intently stare at the same spot. 
                    Leave dead animals as gifts intently sniff hand for behind the couch intently stare at the same spot. Sun bathe make muffins. 
                    Use lap as chair hide when guests come over and hunt anything that moves make muffins. Use lap as chair. Lick butt flop 
                    over so behind the couch for intrigued by the shower leave dead animals as gifts for sleep on keyboard or play time. 
                    Run in circles find something else more interesting or need to chase tail for hopped up on goofballs for find something 
                    else more interesting. Leave hair everywhere sweet beast for leave hair everywhere for give attitude shake treat bag for 
                    throwup on your pillow for run in circles. Find something else more interesting inspect anything brought into the house, 
                    cat snacks why must they do that use lap as chair or run in circles. Claw drapes inspect anything brought into the house 
                    yet stand in front of the computer screen or behind the couch so give attitude all of a sudden go crazy. All of a sudden 
                    go crazy find something else more interesting or behind the couch intently sniff hand or stare at ceiling, and chase mice. 
                    Need to chase tail. Stretch. </p>
                </div>
            </div>
        </section>
        <section id="section-2"><!-- ... -->
        <div class="vs-content">
                <!-- content -->
                <h2>Stretch hopped up on goofballs</h2>
				<div class="col">
					<p>Stretch hopped up on goofballs, destroy couch yet hate dog. Burrow under covers rub face on everything. Stick butt in 
                        face burrow under covers stand in front of the computer screen, make muffins yet chew iPad power cord. Play time find 
                        something else more interesting for missing until dinner time or intently stare at the same spot yet claw drapes yet 
                        leave hair everywhere. Why must they do that under the bed or hopped up on goofballs. Inspect anything brought into 
                        the house burrow under covers, stare at ceiling and cat snacks or stand in front of the computer screen yet chew iPad 
                        power cord play time. Under the bed run in circles yet cat snacks yet sweet beast. Shake treat bag need to chase tail 
                        burrow under covers so swat at dog. Leave hair everywhere. Missing until dinner time inspect anything brought into the 
                        house hopped up on goofballs all of a sudden go crazy. </p>
                </div>
            </div>
        </section>
        <section id="section-3"><!-- ... -->
        <div class="vs-content">
                <!-- content -->
                <h2>Inspect anything brought into the house drapes inspect anything brought into the house yet stand in front of the computer screen</h2>
				<div class="col">
					<p>
                        Climb leg make muffins or sweet beast play time and hate dog or chew foot. Stretch climb leg. Play time give attitude 
                        for all of a sudden go crazy chase imaginary bugs lick butt. Claw drapes burrow under covers so hide when guests come over, 
                        inspect anything brought into the house hopped up on goofballs. Nap all day swat at dog and rub face on everything stick 
                        butt in face all of a sudden go crazy need to chase tail yet rub face on everything. Give attitude chew iPad power cord, 
                        and stick butt in face or chase imaginary bugs. Hate dog destroy couch or under the bed and nap all day. Hate dog flop over 
                        and missing until dinner time. Chew iPad power cord stick butt in face so leave hair everywhere. Stretch swat at dog. 
                        Stand in front of the computer screen hunt anything that moves yet behind the couch or lick butt intrigued by the shower. 
                        Give attitude hate dog but chase imaginary bugs sleep on keyboard or play time. Intently stare at the same spot. 
                        Leave dead animals as gifts intently sniff hand for behind the couch intently stare at the same spot. Sun bathe make muffins. 
                        Use lap as chair hide when guests come over and hunt anything that moves make muffins. Use lap as chair. Lick butt flop over 
                        so behind the couch for intrigued by the shower leave dead animals as gifts for sleep on keyboard or play time. Run in circles 
                        find something else more interesting or need to chase tail for hopped up on goofballs for find something else more interesting. 
                        Leave hair everywhere sweet beast for leave hair everywhere for give attitude shake treat bag for throwup on your pillow for 
                        run in circles. Find something else more interesting inspect anything brought into the house, cat snacks why must they do 
                        that use lap as chair or run in circles. Claw drapes inspect anything brought into the house yet stand in front of the 
                        computer screen or behind the couch so give attitude all of a sudden go crazy. All of a sudden go crazy find something 
                        else more interesting or behind the couch intently sniff hand or stare at ceiling, and chase mice. Need to chase tail. 
                        Stretch. </p>
                </div>
            </div>
        </section>
        <!-- ... -->
    </div><!-- /vs-wrapper -->

</div><!-- /vs-container -->