// * In this file you should write your main styles. (or centralize your imports)

// Third-party
@import "boilerplate/boilerplate";
@import "bourbon/bourbon";

// Modules and Variables
@import "partials/base";

// Partials
@import "partials/typography";
@import "partials/back-to-top";

// Media-Queries
/* Mobile Layout: 480px and below. */
body{color: blue;}


/* Tablet Layout: 481px past 768px(portrait mode) to 1024px(landscape mode). Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
    body{color: red;}

}


/* Desktop Layout: 1025px to max of 1920px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1025px) {
    body{color: #333;}
   
}


/*------------------------------------------------------------------------------------------------------------------------------------------------------*/


/* Development Only Border CSS - delete when done */

.borderline {
    border: 1px dashed red;
}

.centerline, .content-wrapper {
    border: 1px dashed blue;
}

.container {
    border: 1px dashed green;
}

/* Jumbotron CSS */
/* Move down content because we have a fixed navbar that is 50px tall */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}


/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }