// * In this file you should write your main styles. (or centralize your imports)

// Compass
@import "compass";

// Third-party
@import "bourbon/bourbon";

// Modules and Variables
@import "partials/base";
@import "modules/stroll";


/* Development Only Border CSS - delete when done 
-------------------------------------------------- */

.borderline {
    border: 1px dashed red;
}

.centerline, .content-wrapper {
    border: 1px dashed blue;
}

.container {
    border: 1px dashed green;
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/

// Media-Queries
/* Mobile Layout: 480px and below. */


/* Tablet Layout: 481px past 768px(portrait mode) to 1024px(landscape mode). Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
}

/* Desktop Layout: 1025px to max of 1920px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1025px) {
}

/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
