// * In this file you should write your main styles. (or centralize your imports)

// Compass
@import "compass";


// Sprites
@import "ico/*.png";
@include all-ico-sprites;


// Third-party
@import "bourbon/bourbon";


// Partials
@import "partials/base";


// Modules and Variables
@import "modules/sly/sly";
@import "modules/stroll";
@import "modules/sidebar-effects";
@import "modules/typography";
@import "modules/pageslide";

/* Development Only Border CSS - delete when done 
-------------------------------------------------- */

/*
.borderline {
    border: 1px dashed red;
}

.centerline, .content-wrapper {
    border: 1px dashed blue;
    height: 75px;
}

.container {
    border: 1px dashed green;
}
*/