// Media-Queries Template

/* Mobile Layout: 480px and below. */





/* Tablet Layout: 481px past 768px(portrait mode) to 1024px(landscape mode). Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
    
    /* =============================================================================
   Footer/Section Layout
   ========================================================================== */

    .page footer {

        height: 50%; /* <----- */
        color:#ccc;
        font-size:12px;
        z-index:-2;

        border:1px dashed red; /*-- development only - borderline --*/
    }


    /*-------------------------------*/
    /* The columns */

    footer .wrapper {

        padding-bottom: 150px; /* <----- */
        width:100%;
        position:fixed;
        bottom:0;
        z-index:-1;

        border:1px dashed red; /*-- development only - borderline --*/
    }

    footer .wrapper > ul {
        width: 80%; margin: 0 auto;
    }


    /* The four columns of links */

    footer .wrapper ul > li {

        width:25%;
        float:left;
    }

    footer .wrapper ul {
        list-style: none;
    }

    /* The links */

    footer .wrapper > ul > li ul li {
        text-transform: uppercase;
        font-weight:bold;
        line-height:1.8;
        width: 100%;
    }



    /*-------------------------------*/
    /* The headers */

    footer .wrapper p {
        background-color: #058cc7;
        padding: 9px;
        width: 90%;    

        line-height: 18px;
        font-weight: bold;
        font-size: 14px;
        color:#fff;

        text-transform: uppercase;
        text-shadow: 0 1px rgba(0,0,0,0.1);
        box-shadow: 0 0 3px rgba(0,0,0,0.3);
        margin-bottom: 20px;
        opacity:0.9;
        cursor:default;
    }

    footer .wrapper > ul > li:hover p {
        opacity:1;
    }


    /*-------------------------------*/
    /* The links */

    footer .wrapper > ul ul a {

        text-decoration: none !important;
        color:#7d8691 !important;
        font-size: 1em;
        text-indent: 0;
        margin-left:-30px;
    }

    footer .wrapper > ul ul a:hover {
        color:#ddd !important;
    }

    footer .copy {
        position: fixed;
        left: 20px;
        bottom: 10px;
    }

    /*------------color themes (optional)-------------------
    footer p.home{
        background-color: #0096d6;

        background-image:-webkit-linear-gradient(top, #0096d6, #008ac6);
        background-image:-moz-linear-gradient(top, #0096d6, #008ac6);
        background-image:linear-gradient(top, #0096d6, #008ac6);
    }

    footer p.home:before{
        background-position: 0 -110px;
    }

    footer p.services{
        background-color: #00b274;

        background-image:-webkit-linear-gradient(top, #00b274, #00a46b);
        background-image:-moz-linear-gradient(top, #00b274, #00a46b);
        background-image:linear-gradient(top, #00b274, #00a46b);
    }

    footer p.services:before{
        background-position: 0 -129px;
    }

    footer p.reachus{
        background-color: #d75ba2;

        background-image:-webkit-linear-gradient(top, #d75ba2, #c75496);
        background-image:-moz-linear-gradient(top, #d75ba2, #c75496);
        background-image:linear-gradient(top, #d75ba2, #c75496);
    }

    footer p.reachus:before{
        background-position: 0 -89px;
    }

    footer p.clients{
        background-color: #e9ac40;

        background-image:-webkit-linear-gradient(top, #e9ac40, #d89f3b);
        background-image:-moz-linear-gradient(top, #e9ac40, #d89f3b);
        background-image:linear-gradient(top, #e9ac40, #d89f3b);
    }

    footer p.clients:before{
        background-position: 0 -69px;
    }
    ---*/

    
}


/* Desktop Layout: 1025px to max of 1920px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1025px) {

    

}