// Media-Queries - Customized Bootstrap Grids

/* Mobile Layout: 499px and below. */

.col-md-3, .col-md-4 {
    background: #EEE;
    border-top: 1px solid #FFF;
    border-left: 1px solid #DDD;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #BBB;
}

.col {
	-webkit-column-width: auto;
	-moz-column-width: auto;
	column-width: auto;

	-webkit-column-count: auto;
	-moz-column-count: auto;
	column-count: auto;
	}



/* Tablet Layout: 500px to 1024px(landscape mode). Inherits styles from: Mobile Layout. */
@media all and (min-width: 500px) {
    
    
    
}


/* Desktop Layout: 1025px to max (1920px).  Inherits styles from: Mobile Layout and Tablet Layout. */
@media screen and (min-width: 1025px) {

    .col-md-3, .col-md-4 {
        background: none;
        border: none;
    }

    .col {
	    margin: 0 auto;
	    text-align: justify;
	    line-height: 1.4;

	    -webkit-column-width: 30%;
	    -moz-column-width: 30%;
	    column-width: 30%;

	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;

	    -webkit-column-gap: 1%;
	    -moz-column-gap: 1%;
	    column-gap: 1%;
    }

}