// Media-Queries - Customized Bootstrap Grids

/* Apply to all resolutions. */

.col-span-2, .col-span-3 {
    -webkit-column-width: auto;
    -moz-column-width: auto;
    column-width: auto;

    -webkit-column-count: auto;
    -moz-column-count: auto;
    column-count: auto;
}


/* Tablet(landscape) and Netbook Desktop Layout. */
@media all and (max-width: 1024px) {

      .course-item {
        background: #EEE;
        border-top: 1px solid #FFF;
        border-left: 1px solid #DDD;
        border-right: 1px solid #BBB;
        border-bottom: 1px solid #BBB;
    } 
}


/* Tablet(portrait) Layout. */
@media all and (max-width: 768px) {
     
}


/* Tablet(portrait) Layout. */
@media all and (max-width: 500px) {
     
}


@media screen and (min-width:1025px){

    .col-span-2 {
	    margin: 0 auto;
	    text-align: justify;
	    line-height: 1.4;

	    -webkit-column-width: 45%;
	    -moz-column-width: 5%;
	    column-width: 45%;

	    -webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;

	    -webkit-column-gap: 1%;
	    -moz-column-gap: 1%;
	    column-gap: 1%;
    }

    .col-span-3 {
	    margin: 0 auto;
	    text-align: left;
	    line-height: 1.4;

	    -webkit-column-width: 30%;
	    -moz-column-width: 30%;
	    column-width: 30%;

	    -webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;

	    -webkit-column-gap: 1%;
	    -moz-column-gap: 1%;
	    column-gap: 1%;
    }

}

@media screen and (min-width:1666px){

}