html {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.no-js {}

/*remove if not used. - locks desktop screen and removes scrollbars
.js {
    overflow: hidden;
}*/

body {
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;

    /* Create a page-wide stacking context 
    (so that negative margins work as you expect) */
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
}

#container {
    position: relative;
    z-index: 1;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
}


/* =============================================================================
   NEW
   ========================================================================== */

.apply-button {font-size: 1.2em;font-weight: bold;}

/* =============================================================================
   NEW
   ========================================================================== */

/*
.body-scroll .cover{position:fixed;}
.editing .cover{background-image:none;}

.cover-actions{padding-top:23px;margin-top:0px;border-top:1px solid rgba(255,255,255,0.3)}
.cover-actions .btn{margin-right:5px}
.cover-actions .btn-delete{float:right}

.screen-reader-text{position:absolute;top:-9999px;left:-9999px}
.screen-content{outline:0}

.site-nav{position:absolute;top:0;left:0;bottom:0;outline:0;background-color:#232322}
.site-nav-logo{position:absolute;top:10px;left:10px;width:44px;height:44px;z-index:700;background-color:#333332;text-align:center;border:0;filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;-webkit-transition:top .2s linear,left .2s linear,opacity .2s linear;-moz-transition:top .2s linear,left .2s linear,opacity .2s linear;-ms-transition:top .2s linear,left .2s linear,opacity .2s linear;-o-transition:top .2s linear,left .2s linear,opacity .2s linear;transition:top .2s linear,left .2s linear,opacity .2s linear}
.site-nav-logo:after{content: 'UCF';color: #fff;}
.site-nav-logo .icons{display:block;position:absolute;top:0;left:0;right:0;bottom:0}
.site-nav-overlay{display:none;position:absolute;left:0;top:0;right:0;bottom:0;z-index:600}
.site-nav-hidden .site-nav-logo{filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;left:-54px}
.site-nav-scrollable-container{display:none;overflow:auto;-webkit-overflow-scrolling:touch;height:100%;-webkit-box-shadow:inset -1px 0 3px rgba(0,0,0,0.3);-moz-box-shadow:inset -1px 0 3px rgba(0,0,0,0.3);box-shadow:inset -1px 0 3px rgba(0,0,0,0.3)}
.site-nav-scrollable-container::-webkit-scrollbar{display:none}

*/

.cover{position:absolute;z-index:100;top:0;left:0;width:30%;height:100%;max-width:500px;box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);/* shadow */} 
.cover-img{position:absolute;width:100%;height:100%;top:0;left:0;background-position:right;
           -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;
           -webkit-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);-moz-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);box-shadow:inset -1px 0 0 rgba(0,0,0,0.3)}

.backend {background: #333;position:absolute;z-index:100;top:0;right:0;width:15%;height:100%;max-width:500px;box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);} /*Try max-width:600px;*/
.backend-cover-img {position:absolute;width:100%;height:100%;top:0;left:0;background-position:left;
           -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;
           -webkit-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);-moz-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);box-shadow:inset -1px 0 0 rgba(0,0,0,0.3)}

.cover-header{position:absolute;top:0;width:100%; text-shadow: 0px 1px 2px #333;}
.cover-header .container {color:#fff;position:relative;z-index:100}

.cover-body{position:absolute;bottom:0;padding:50px 10% 10%;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.cover-body:before{
    content:'';
    position:absolute;
    top:-80px;
    right:0;
    bottom:0;
    left:0;
    background-repeat:repeat-x;
}
.cover-body .cover-body-inner{position:relative;z-index:100}
.cover-body-footer {text-align: center; padding: 10px 0 0; color: #fff;}

.cover-description{font-size:1em;line-height:1.2;color:#fff;margin-bottom:14px;text-shadow:0 1px 3px rgba(0,0,0,0.3)}
.cover-description a{color:#fff;text-decoration:underline}


/*Cover Title (h1)*/
.cover-title, .cover-title span{margin-bottom:12px;line-height:1;color:#fff;font-family: 'Source Sans Pro', sans-serif;text-shadow:0 1px 3px rgba(0,0,0,0.3)}

/*Cover page hgroup*/
.page-title h1, .page-title h2 {margin:10px 0;line-height:1em;color:#fff;font-family: 'Source Sans Pro', sans-serif;}

/*Page wrapper*/
.wrapper {outline:0;position:absolute;left:30%;right:0;top:0;bottom:0;-webkit-overflow-scrolling:touch;}
.wrapper-inner {background:#fff;margin:0;padding:0;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}


/*Page content*/
.wrapper-body-inner article {padding: 10px 20px;}
.wrapper-body-inner h1, 
.wrapper-body-inner h2,
.wrapper-body-inner h3 {
    font-weight: 200;
    color: #ddb000;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/


@media all and (max-width:999px){
    
    html{-webkit-text-size-adjust: auto;-moz-text-size-adjust: auto;-ms-text-size-adjust: auto;}
    
    .cover{position:relative!important;width:100%;max-width:none;height:675px}
    
    /*.cover-img{background-image: url('/images/cover-sample.jpg'); background-position: 0 0}*/
    .cover-img {background-image: url('/images/cover-bg2.jpg')}

    .cover-body:before{
        background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
        background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
        background-image:-ms-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
        background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
        background-image:linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%)
    }
    .cover-description{font-size:1.6em}

    .wrapper{left:0;position:relative;}
    .wrapper-inner {max-width: 999px;}

    /*Cover Title (h1)*/
    .cover-title {font-size:3.4em;}
    .cover-title span {font-size: .8em;}
    /*UCF Stands for Opportunity*/
    .ucf-sfo {width:250px;}

    .btnPrev, .btnNext {
        background: rgba(255,255,255,.3);
        padding: .2em .3em;
        border: 2px solid white;
        border-radius: 25px;
        text-decoration: none;
        font-size: 1.8em;
        color: #fff;
        z-index: 100;
    }

    .btnNext.start {
        background: rgba(255,204,0,0.33);
        border: 2px solid #ffcc00;
    }

    /*Page hgroup*/
    .page-title {width: 50%}
    .page-title h1 {font-size:2.8em}
    .page-title h2 {font-size:1.8em}
}


@media all and (max-width:580px){

    .cover{min-height:350px;height:auto;display:table}

    /*.cover-img{background-image: url('/images/cover-sample_m.jpg'); background-position: 0 0}*/

    .cover-body:before{
        background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 23%,rgba(0,0,0,0) 100%);
        background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 23%,rgba(0,0,0,0) 100%);
        background-image:-ms-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 23%,rgba(0,0,0,0) 100%);
        background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 23%,rgba(0,0,0,0) 100%);
        background-image:linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 23%,rgba(0,0,0,0) 100%)
    }
    .cover-body{display:table-cell;vertical-align:bottom;position:relative;left:-1px;margin:0;padding:65px 5% 30px}
    .cover-description{font-size:.8em; margin-bottom:6px}
    

    /*Cover Title (h1)*/
    .cover-title {font-size:1.9em;}
    .cover-title span {font-size: .85em;}
    /*UCF Stands for Opportunity*/
    .ucf-sfo {width:60%;}

    .btnPrev, .btnNext {
        background: rgba(255,255,255,.3);
        padding: .13em .3em;
        border: 2px solid white;
        border-radius: 25px;
        text-decoration: none;
        font-size: 1.4em;
        color: #fff;
        z-index: 100;
    }

    .btnNext.start {
        background: rgba(255,204,0,0.33);
        border: 2px solid #ffcc00;
    }


    /*Page hgroup*/
    .page-title {width:100%;}
    .page-title h1 {font-size:1.5em}
    .page-title h2 {font-size:1.3em}

}


/*-----------------------------------------------------------------------------------------------------------------------------------------------*/


/* Tablet(landscape) and Small Desktop Layout. */
@media screen and (min-width:1000px){

    body {background:fixed; background-image:url(/images/main-bg.jpg); background-size:cover; background-position:centered; }
    
    .cover{position: fixed; box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3); /* shadow */}

    .cover-img {background-image: url('/images/cover-bg2.jpg')}

    .cover-body:before{
        background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
        background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
        background-image:-ms-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
        background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
        background-image:linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%)
    }

    .wrapper-inner {max-width:910px; box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3); /* shadow */}

    /*Cover Title (h1)*/
    .cover-title {font-size:2.400em;}
    .cover-title span {font-size: .750em;}

    .btnPrev, .btnNext {
        display: none;
        visibility: hidden;
    }

    /*Page hgroup*/
    .page-title {width: 50%}
    .page-title h1 {font-size:2.800em}
    .page-title h2 {font-size:1.800em}
}


/* Laptop Layout. */
@media screen and (min-width:1300px){

    /*Cover Title (h1)*/
    .cover-title {font-size:2.875em;}
    .cover-title span {font-size: .750em;}

    /*Page hgroup*/
    .page-title {width: 50%}
    .page-title h1 {font-size:2.800em}
    .page-title h2 {font-size:1.800em}
}


/* Large Desktop Layout. */
@media screen and (min-width:1600px){
    
    /*CCover Title (h1)*/
    .cover-title {font-size:3.875em;}
    .cover-title span {font-size: .750em;}

    .wrapper{left:500px}
    .wrapper-inner{max-width:1018px}

}