html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.no-js {}

/*remove if not used. - locks desktop screen and removes scrollbars
.js {
    overflow: hidden;
}*/

body {
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    font-weight: 400;
    line-height: 1.4em;

    /* Create a page-wide stacking context 
    (so that negative margins work as you expect) */
    position: relative;
    z-index: 0;
}

#container {
    position: relative;
    z-index: 1;
}


h1, h2, h3, h4, h5 {
    font-family: 'Source Sans Pro', sans-serif;
}


/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("/images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("/images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("/images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("/images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("/images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("/images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("/images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("/images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("/images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("/images/orderedList9.png") no-repeat;
        }


.apply-button {font-size: 1.2em;font-weight: bold;}

.copyright {font-size: .55em;color: #fff;line-height: 1.3em;}

.icon-setting {color:#fff;font-size:23px;line-height:0;position:relative;top:2px;background: url('/images/setting-icon.png');}

/* =============================================================================
   NEW
   ========================================================================== */

.cover{position:absolute;z-index:100;top:0;left:0;width:30%;height:100%;max-width:500px;box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);/* shadow */} 
.backend {background: #333;position:absolute;z-index:100;top:0;right:0;width:15%;height:100%;max-width:500px;box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);} /*Try max-width:600px;*/
.cover.img-loaded{background:#000;}
.body-scroll .cover{position:fixed;}
.editing .cover{background-image:none;}

.cover-img{position:absolute;width:100%;height:100%;top:0;left:0;background-position:center;
           -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;
           -webkit-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);-moz-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);box-shadow:inset -1px 0 0 rgba(0,0,0,0.3)}
.backend-cover-img {position:absolute;width:100%;height:100%;top:0;left:0;background-position:left;
           -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;
           -webkit-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);-moz-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);box-shadow:inset -1px 0 0 rgba(0,0,0,0.3)}

.cover-header{position:absolute;top:0;width:100%; text-shadow: 0px 1px 2px #333;}
.cover-header .container {color:#fff;position:relative;z-index:100}
.cover-body{position:absolute;bottom:0;padding:50px 10% 10%;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.cover-body:before{content:'';position:absolute;top:-80px;right:0;bottom:0;left:0;background-repeat:repeat-x;background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);background-image:-ms-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);background-image:linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%)}
.cover-body .cover-body-inner{position:relative;z-index:100}
.cover-title{font-size:60px;line-height:1;color:#fff;margin-bottom:12px;text-shadow:0 1px 3px rgba(0,0,0,0.3)}
.cover-title span{font-size: 43px;}
.cover-description{font-size:16px;line-height:1.2;color:#fff;margin-bottom:14px;text-shadow:0 1px 3px rgba(0,0,0,0.3)}
.cover-description a{color:#fff;text-decoration:underline}

/*
.cover-actions{padding-top:20px;margin-top:20px;border-top:1px solid rgba(255,255,255,0.3)}
.cover-actions .btn{margin-right:5px}
.cover-actions .btn-delete{float:right}
.cover-has-subscribe-action .cover-primary-actions{float:left}
.cover-has-subscribe-action .cover-secondary-actions{float:right;margin-top:5px}
.cover-has-subscribe-action .cover-secondary-actions .btn{margin-right:0;margin-left:5px;text-shadow:0 1px 3px rgba(0,0,0,0.3)}
.cover-new-collection-link{font-family:"freight-sans-pro","Myriad Pro","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;font-weight:400;margin-left:5px;color:#fff;font-size:14px;line-height:40px;text-shadow:0 1px 3px rgba(0,0,0,0.3)}
.cover-new-collection-link>a{color:#fff}
.cover-new-collection-link>a:hover{text-decoration:underline}
.cover-body:before{content:'';position:absolute;top:-80px;right:0;bottom:0;left:0;background-repeat:repeat-x;background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);background-image:-ms-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);background-image:linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%)}
.browser-ie .cover-body:before{top:0;background:rgba(0,0,0,0.5)}
.cover-body .cover-body-inner{position:relative;z-index:100}
.cover-bestof .cover-body-inner{text-align:center}
.cover-bestof .cover-actions{color:#fff;text-shadow:0 1px 3px rgba(0,0,0,0.3)}
.cover-bestof .icons{-webkit-transition:color .2s ease;-moz-transition:color .2s ease;-ms-transition:color .2s ease;-o-transition:color .2s ease;transition:color .2s ease;position:absolute;font-size:18px;color:rgba(255,255,255,0.7)}
.cover-bestof .icons-arrow-right,.cover-bestof .icons-arrow-left{width:60px}
.cover-bestof .icons:hover{color:#fff}
.cover-bestof .icons-arrow-left{left:0;text-align:left}
.cover-bestof .icons-arrow-right{text-align:right;right:0}
.cover-bestof .month-year-name{text-transform:capitalize}
.wf-loading .cover-title,.wf-loading .cover-description,.wf-loading .cover-meta{visibility:hidden}
*/

.screen-reader-text{position:absolute;top:-9999px;left:-9999px}
.screen-content{outline:0}

.page-title {width:100%;}
.page-title h1, .page-title h2 {margin:10px 0;color:#fff; font-weight:600; line-height:1em; font-size:3.2em}
.page-title h2 {font-size:2.8em}

.site-nav{position:absolute;top:0;left:0;bottom:0;outline:0;background-color:#232322}
.site-nav-logo{position:absolute;top:10px;left:10px;width:44px;height:44px;z-index:700;background-color:#333332;text-align:center;border:0;filter:alpha(opacity=100);-khtml-opacity:1;-moz-opacity:1;opacity:1;-webkit-transition:top .2s linear,left .2s linear,opacity .2s linear;-moz-transition:top .2s linear,left .2s linear,opacity .2s linear;-ms-transition:top .2s linear,left .2s linear,opacity .2s linear;-o-transition:top .2s linear,left .2s linear,opacity .2s linear;transition:top .2s linear,left .2s linear,opacity .2s linear}
.site-nav-logo:after{content: 'UCF';color: #fff;}
.site-nav-logo .icons{display:block;position:absolute;top:0;left:0;right:0;bottom:0}
.site-nav-overlay{display:none;position:absolute;left:0;top:0;right:0;bottom:0;z-index:600}
.site-nav-hidden .site-nav-logo{filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;left:-54px}
.site-nav-scrollable-container{display:none;overflow:auto;-webkit-overflow-scrolling:touch;height:100%;-webkit-box-shadow:inset -1px 0 3px rgba(0,0,0,0.3);-moz-box-shadow:inset -1px 0 3px rgba(0,0,0,0.3);box-shadow:inset -1px 0 3px rgba(0,0,0,0.3)}
.site-nav-scrollable-container::-webkit-scrollbar{display:none}

.wrapper {
    outline:0;
    position:absolute;
    left:30%;right:0;top:0;bottom:0;
    -webkit-overflow-scrolling:touch;
}
.wrapper-inner {
    padding:0;
    width:100%;
    max-width:810px;
    
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

@media all and (max-width:1024px){
    .wrapper{left:0;position:relative}
    .wrapper-inner{padding:0;max-width:100%}
}

@media all and (max-width:500px){
    .wrapper-inner{background: none;}
}

@media all and (min-width:1666px){
    .wrapper{left:500px}
    .wrapper-inner{padding-left:0;max-width:910px}
}

@media screen and (max-device-width:1024px){
    html{-webkit-text-size-adjust:none}
}

@media screen and (min-device-width:1025px){
    .cover, .site-nav-logo {position: fixed;}
}

@media all and (max-width:1024px){
    .cover{position:relative!important;width:100%;max-width:none;height:675px}
    .cover-body{width:100%;padding-bottom:40px}
    .cover-title{font-size:60px;margin-bottom:10px}
    .cover-bestof .cover-title{font-size:32px}
    .cover-description{font-size:1.6em}
    .backend-cover-img{border: 1px solid #000;}

    .page-title {width:70%;}
    .page-title h1 {font-size:3.4em}
    .page-title h2 {font-size:2.8em}
}

@media all and (max-width:500px){
    .cover{height:375px}
    .cover-bestof,.cover-home,.cover-collection{min-height:350px;height:auto;display:table}

    .cover-body{display:table-cell;vertical-align:bottom;position:relative;left:-1px;margin:0;padding:65px 5% 30px}
    .cover-body:before{background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0) 100%);background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0) 100%);background-image:-ms-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0) 100%);background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0) 100%);background-image:linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 10%,rgba(0,0,0,0) 100%)}
    .cover-title{font-size:2em;line-height:1;margin-bottom:5px}
    .cover-title span{font-size:.7em;}
    .cover-description{font-size:.8em; margin-bottom:6px}
    .cover-avatar{width:100px;height:100px}
    .cover-new-collection-link{margin-left:0;line-height:32px}

    .page-title {width:100%;}
    .page-title h1 {font-size:1.9em}
    .page-title h2 {font-size:1.3em}
}