html {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.no-js {}

/*remove if not used. - locks desktop screen and removes scrollbars
.js {
    overflow: hidden;
}*/

body {
    /* Create a page-wide stacking context 
    (so that negative margins work as you expect) */
    position: relative;
    height: 100%;
    z-index: 0;
    //outline: 0;
    //border: 1px solid green; //<-- development
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50%;
    margin-left: -50%;
}

/* =============================================================================
   Buttond
   ========================================================================== */

.btn-yellow {
    background: rgba(255,204,0,.8);
    border: 1px solid #fff;
    color: #fff;

    &:hover {
        background: rgba(255,204,0,1);
    }
}


/* =============================================================================
   NEW
   ========================================================================== */

.apply-button {font-size: 1.2em;font-weight: bold;}

/* =============================================================================
   NEW
   ========================================================================== */

.cover {
    width:420px;
    height:100%;
    max-width:500px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);/* shadow */

    position:absolute;
    top:0;
    left:0;
    z-index: 10;
}

.cover-img{position:absolute;width:100%;height:100%;top:0;left:0;background-position:right;
           -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;
           -webkit-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);-moz-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);}

/*
//.backend {background: #333;position:absolute;z-index:100;top:0;right:0;width:15%;height:100%;max-width:500px;box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3);} //Try max-width:600px
//.backend-cover-img {position:absolute;width:100%;height:100%;top:0;left:0;background-position:left;
//           -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover;
//           -webkit-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);-moz-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);}
*/

.cover-header{position:absolute;top:0;width:100%; text-shadow: 0px 1px 2px #333;}

.cover-body{
    margin:0;
    padding:40px 10% 10%;
    display:table-cell;
    vertical-align:bottom;

    width:100%;

    position:absolute;
    bottom:0;

    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

.cover-body:before{
    content:'';
    background-repeat:repeat-x;
    position:absolute;
    top:-80px;
    right:0;
    bottom:0;
    left:0;
}

.cover-body .cover-body-inner{position:relative;z-index:100;}
.cover-body-footer {text-align: center; padding: 10px 0 0; color: #fff;}

/*Cover Title (h1)*/
.cover-title, .cover-title span{margin-bottom:12px;line-height:1;color:#fff;font-family: 'Source Sans Pro', sans-serif;text-shadow:0 1px 3px rgba(0,0,0,0.3);}

/*Cover page hgroup*/
.page-title {
    width: 50%;
    line-height:1em;
    color:#fff;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;

    h1, h2 {
    margin:10px 0;
    }
}

/*Page wrapper*/
.wrapper {
    outline:0;
    -webkit-overflow-scrolling:touch;

    position:absolute;
    left:420px;
    right:0;
    top:0;
    bottom:0;
}

.wrapper-inner {
    background:#fff;
    margin:0;
    padding:0;
    width:100%;
    
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}


/*Page content*/

.wrapper-body-inner h1, 
.wrapper-body-inner h2,
.wrapper-body-inner h3 {
    font-weight: 200;
    color: #ddb000;
}

.text-area {
    padding: 25px;
    vertical-align:top;
}

/*-----------------------------------------------------------------------------------------------------------------------------------------------*/

@media all and (max-width:999px){

    .text-area {
        padding: 15px;
        vertical-align:top;
    }
    
    html{-webkit-text-size-adjust: auto;-moz-text-size-adjust: auto;-ms-text-size-adjust: auto;}
    
    .cover{position:relative!important;width:100%;max-width:none;height:520px;}

    .cover-img {background-image: url('/images/cover-bg2.jpg');}
    
    .cover-body:before{
        margin-top:50px;
        background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
        background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
        background-image:-ms-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
        background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
        background-image:linear-gradient(to top,rgba(0,0,0,0.7) 0,rgba(0,0,0,0.3) 30%,rgba(0,0,0,0) 100%);
    }

    .wrapper{left:0;position:relative;}
    //.wrapper-inner {max-width: 960px;}

    /*Cover Title (h1)*/
    .cover-title {font-size:3.4em;}
    .cover-title span {font-size: .8em;}

    /*UCF Stands for Opportunity*/
    .ucf-sfo {width:250px;}

    .btnPrev, .btnNext {
        background: rgba(255,255,255,.3);
        padding: .2em .3em;
        border: 2px solid white;
        border-radius: 25px;
        text-decoration: none;
        font-size: 1.8em;
        color: #fff;
        z-index: 100;
    }

    .btnNext.start {
        background: rgba(255,204,0,0.33);
        border: 2px solid #ffcc00;
    }

    /*Page hgroup*/
    .page-title h1 {font-size:2.8em;}
    .page-title h2 {font-size:1.8em;}
}


@media all and (max-width:580px){

    .cover{height:360px;}
    
    /*Cover Title (h1)*/
    .cover-title {font-size:1.9em;}
    .cover-title span {font-size: .85em;}

    /*UCF Stands for Opportunity*/
    .ucf-sfo {width:50%;}

    .btnPrev, .btnNext {
        background: rgba(255,255,255,.3);
        padding: .13em .3em;
        border: 2px solid white;
        border-radius: 25px;
        text-decoration: none;
        font-size: 1.4em;
        color: #fff;
        z-index: 100;
    }

    .btnNext.start {
        background: rgba(255,204,0,0.33);
        border: 2px solid #ffcc00;
    }


    /*Page hgroup*/
    .page-title {width:90%;}
    .page-title h1 {font-size:1.5em;}
    .page-title h2 {font-size:1.3em;}

}


/*-----------------------------------------------------------------------------------------------------------------------------------------------*/


/* Tablet(landscape) and Small Desktop Layout. */
@media screen and (min-width:1000px){

    body {background:fixed; background-image:url(/images/main-bg.jpg); background-size:cover; background-position:centered;}
    
    .cover{position: fixed; box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3); /* shadow */}

    .cover-img {background-image: url('/images/cover-bg2.jpg');}

    .cover-body:before{
        background-image:-webkit-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
        background-image:-moz-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
        background-image:-ms-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
        background-image:-o-linear-gradient(bottom,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
        background-image:linear-gradient(to top,rgba(0,0,0,0.5) 0,rgba(0,0,0,0.3) 70%,rgba(0,0,0,0) 100%);
    }

    .wrapper-inner {max-width:910px; box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3); /* shadow */}

    /*Cover Title (h1)*/
    .cover-title {font-size:2.400em;}
    .cover-title span {font-size: .750em;}

    .btnPrev, .btnNext {
        display: none;
        visibility: hidden;
    }

    /*Page hgroup*/
    .page-title h1 {font-size:2.800em;}
    .page-title h2 {font-size:1.800em;}
}


/* Laptop Layout. */
@media screen and (min-width:1300px){

    /*Cover Title (h1)*/
    .cover-title {font-size:2.875em;}
    .cover-title span {font-size: .750em;}

    /*Page hgroup*/
    .page-title h1 {font-size:2.800em;}
    .page-title h2 {font-size:1.800em;}
}


/* Large Desktop Layout. */
@media screen and (min-width:1600px){
    
    /*Cover Title (h1)*/
    .cover-title {font-size:3.875em;}
    .cover-title span {font-size: .750em;}
    
    /*
    //.wrapper{left:420px;}
    //.wrapper-inner{max-width:1018px;}
    */
}