html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

.no-js {}

/*remove if not used. - locks desktop screen and removes scrollbars
.js {
    overflow: hidden;
}*/

body {
background: url('../../images/content-bg.gif');
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    font-weight: 400;
    line-height: 1.4em;
    /* Create a page-wide stacking context 
    (so that negative margins work as you expect) */
    position: relative;
    z-index: 0;
}

#container {
    
    position: relative;
    z-index: 1;
}


h1, h2, h3,h4, h5 {
    font-family: 'Source Sans Pro', sans-serif;
}


/* ordered list */
ol.round {
    list-style-type: none;
    padding-left: 0;
}

    ol.round li {
        margin: 25px 0;
        padding-left: 45px;
    }

        ol.round li.zero {
            background: url("../Images/orderedList0.png") no-repeat;
        }

        ol.round li.one {
            background: url("../Images/orderedList1.png") no-repeat;
        }

        ol.round li.two {
            background: url("../Images/orderedList2.png") no-repeat;
        }

        ol.round li.three {
            background: url("../Images/orderedList3.png") no-repeat;
        }

        ol.round li.four {
            background: url("../Images/orderedList4.png") no-repeat;
        }

        ol.round li.five {
            background: url("../Images/orderedList5.png") no-repeat;
        }

        ol.round li.six {
            background: url("../Images/orderedList6.png") no-repeat;
        }

        ol.round li.seven {
            background: url("../Images/orderedList7.png") no-repeat;
        }

        ol.round li.eight {
            background: url("../Images/orderedList8.png") no-repeat;
        }

        ol.round li.nine {
            background: url("../Images/orderedList9.png") no-repeat;
        }

.apply-button {
    font-size: 1.2em;
    font-weight: bold;
}

.copyright {
    font-size: .55em;
    color: #fff;
    line-height: 1.3em;
}

/* =============================================================================
   NEW
   ========================================================================== */


.cover{
    position:absolute;
    z-index:100;
    top:0;
    left:0;
    width:30%;
    height:100%;
    max-width:500px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3); /* shadow */
}

.cover.img-loaded{background:#000}
.body-scroll .cover{position:fixed} /*<===== important*/
.editing .cover{background-image:none}

.cover-img{ /*<===== important // Cover-Photo(s) */
    position:absolute;
    background-position:center;
    width:100%;
    height:100%;
    top:0;
    left:0;
    
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    
    -webkit-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);
    -moz-box-shadow:inset -1px 0 0 rgba(0,0,0,0.3);
    box-shadow:inset -1px 0 0 rgba(0,0,0,0.3)
}

.cover-body{position:absolute;bottom:0;padding:50px 10% 10%;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;text-shadow: 0px 1px 2px #333;}
.cover-title{font-size:50px;line-height:1;color:#fff;margin-bottom:12px;text-shadow:0 1px 3px rgba(0,0,0,0.3)}
.cover-description{font-size:16px;line-height:1.2;color:#fff;margin-bottom:14px;text-shadow:0 1px 3px rgba(0,0,0,0.3)}
.cover-description a{color:#fff;text-decoration:underline}
.cover-meta{font-size:14px;color:#dededc;font-style:italic}

.screen-reader-text{position:absolute;top:-9999px;left:-9999px}

.screen-content{outline:0}

.site-nav{position:absolute;top:0;left:0;bottom:0;outline:0;}
.site-nav-logo{
    position:absolute;
    top:50px;
    left:10px;
    width:44px;
    height:44px;
    z-index:700;
    text-align:center;
    border:1px solid #333;
    filter:alpha(opacity=100);
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3); /* shadow */
    
    -khtml-opacity:.8;
    -moz-opacity:.8;
    opacity:.8;
    
    -webkit-transition:top .2s linear,left .2s linear,opacity .2s linear;
    -moz-transition:top .2s linear,left .2s linear,opacity .2s linear;
    -ms-transition:top .2s linear,left .2s linear,opacity .2s linear;
    -o-transition:top .2s linear,left .2s linear,opacity .2s linear;
    transition:top .2s linear,left .2s linear,opacity .2s linear
}
.site-nav-logo:after{
    content: 'UCF';
    color: #fff;
}
.site-nav-logo .icons{
    display:block;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0
}
.site-nav-overlay{display:none;position:absolute;left:0;top:0;right:0;bottom:0;z-index:600}
.site-nav-hidden .site-nav-logo{filter:alpha(opacity=0);-khtml-opacity:0;-moz-opacity:0;opacity:0;left:-54px}

.site-nav-scrollable-container{
    display:none;
    overflow:auto;
    -webkit-overflow-scrolling:touch;
    height:100%;
    
    -webkit-box-shadow:inset -1px 0 3px rgba(0,0,0,0.3);
    -moz-box-shadow:inset -1px 0 3px rgba(0,0,0,0.3);
    box-shadow:inset -1px 0 3px rgba(0,0,0,0.3)
}
.site-nav-scrollable-container::-webkit-scrollbar{display:none}

.wrapper {
    outline:0;
    position:absolute;
    left:30%;right:0;top:0;bottom:0;
    -webkit-overflow-scrolling:touch;
}
.wrapper-inner {
background: url('../../images/footer-bg.jpg') top center no-repeat;
    padding:0;
    width:100%;
    max-width:810px;
    
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

@media all and (max-width:1024px){
    
    .wrapper{left:0;position:relative}
    .wrapper-inner{padding:0;max-width:100%}

}

@media all and (max-width:500px){
    .wrapper-inner{padding:0}
}

@media all and (min-width:1666px){
    .wrapper{left:500px}
    .wrapper-inner{padding-left:0;max-width:910px}
}

@media screen and (max-device-width:1024px){
    html{-webkit-text-size-adjust:none}
}

@media screen and (min-device-width:1025px){
    .cover, .site-nav-logo {position: fixed;}
}

@media all and (max-width:1024px){
    .cover{position:relative!important;width:100%;max-width:none;height:576px}
    .cover-body{width:100%;padding-bottom:40px}
    .cover-title{font-size:50px;margin-bottom:10px}
    .cover-bestof .cover-title{font-size:32px}
    .cover-description{font-size:18px}
}

@media all and (max-width:500px){
    .cover{height:350px}
    .cover-bestof,.cover-home,.cover-collection{min-height:350px;height:auto;display:table}
    .cover-body{display:table-cell;vertical-align:bottom;position:relative;left:-1px;margin:0;padding:65px 5% 30px}
    .cover-title{font-size:32px;line-height:1;margin-bottom:5px}
    .cover-description{font-size:16px;margin-bottom:6px}
    .cover-avatar{width:100px;height:100px}
    .cover-new-collection-link{margin-left:0;line-height:32px}
}