// SLY

/* =============================================================================
   Mobile Mobile Layout: 480px and below.
   ========================================================================== */

/*slide buttons*/
.pagespan button, .pagespan button { visibility: hidden; display: hidden;}

/* Frame */
.frame { width: 100%;overflow: hidden;z-index: 9;box-shadow: 0px 9px 8px 4px rgba(0,0,0,0.8); /* shadow */}
.frame ul { list-style: none;height: 99%;position: relative;} /*frame viewport*/
.frame ul li { float: left;width: 320px;height: 340px;margin: 0 1px 0 0; padding: 0;padding-top: 20px;background: #ddd;color: #ddd;cursor: pointer;border: 2px solid #333;box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.3); } /*slides*/
.frame ul li.active { background: #ffcc00;color: #fff; } /*active slide*/

/*frame redraw*/
.frame { margin: 0 auto; width: 100%; height: 320px; overflow: hidden; text-shadow: none; } /*<== height of slide*/
.frame ul { list-style: none; margin: 0; padding: 0; height: 100%; } /*frame viewport*/
.frame ul li { background: #ffcc00; float: left; width: 300px; height: 100%; margin: 0 10px 0 0; padding: 0; cursor: pointer; } /*<== width of slide*/
.frame ul li.active { color: #fff; background: none; } /*active slide*/

/*slide caption*/
.frame ul li p { background: rgba(0,0,0,.4);padding: 10px 5px;position: absolute;bottom: 10px;left: 0px;color: #fff;z-index: 10;text-shadow: 0px 1px 2px #333; }

/* Scrollbar */
.scrollbar { margin: 0 0 1em 0; height: 2px; background: #ccc; line-height: 0; } /*-thin line-*/
.scrollbar { margin: 0 auto; height: 20px; background: #ccc; line-height: 20px; } /*-thick line-*/
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
    background: #808080;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}

/* Pages */
.pages { 
    list-style: none; 
    margin: 10px auto 0;
    padding: 0; 
    text-align: center; 
    position: relative;
}
.pages li {
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 0 4px 3px;
	text-indent: -999px;
	border-radius: 16px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #999;
}

/*controls*/
.controls { margin: 25px 0; text-align: center; }
.controls .divider { display: inline-block; margin: 0 10px; }
.controls button { line-height: 32px; vertical-align: middle; font-family: Novecento, sans-serif; }
.controls button i { position: relative; top: -2px; margin: 5px; padding: 0; font-size: 32px; vertical-align: middle; }

.next, .prev { visibility: none; display: none; }


/* ================================================================================================================
   Tablet Layout: 481px past 768px(portrait mode) to 1024px(landscape mode). Inherits styles from: Mobile Layout.
   ============================================================================================================== */
@media all and (min-width: 481px) {
    
    /* Frame */
    .frame ul li { /*<== size of slide*/
        height: 100%;
    }

    /* Pages */
    .pages li {
	    width: 14px;
	    height: 14px;
	    margin: 0 6px 3px;
	    text-indent: -999px;
	    border-radius: 10px;
    }

    /*frame redraw*/
    .frame { margin: 0 auto; width: 100%; height: 260px; overflow: hidden; text-shadow: none; } /*<== height of slide*/
    .frame ul { list-style: none; margin: 0; padding: 0; height: 100%; }
    .frame ul li { float: left; width: 230px; height: 100%; margin: 0 1px 0 0; padding: 0; cursor: pointer; } /*<== width of slide*/
    .frame ul li.active { color: #fff; background: none;}/*active slide*/
    
}


/* ===========================================================================================================
   Desktop Layout: 1025px to max of 1920px. Inherits styles from: Mobile Layout and Tablet Layout.
   ========================================================================================================= */
@media screen and (min-width: 1025px) {

    /* Frame */
    .frame { /*<== size of viewport*/
        margin: 0 auto;
        width: 100%;
        max-width: 620px; /*<==== Important ==<*/
    }
    .frame ul { background: rgba(0,0,0,.5);} /*frame viewport*/
    .frame ul li { /*<== size of slide*/
        height: 100%;
        border-radius: 120;
    }
    
    /* Pages */
    .pages { 
        list-style: none; 
        margin: 8px auto 0;
        padding: 0; 
        text-align: center; 
        position: relative;
    }

    /*slide buttons*/
    .pagespan button, .pagespan button { visibility: visible; background: transparent; border: 0; color: #ffcc00; opacity: .5;}
    .pagespan button:hover, .pagespan button:hover { opacity: 1; }
    .pagespan button:disabled, .pagespan button:disabled { opacity: .2; }

    .forward, .backward { float: left; width: 50px; height: 260px; font-size: 60px; }
    .forward { float: right; }

    .next, .prev { visibility: visible; display: block; float: left; width: 40px; height: 260px; font-size: 60px; }
    .next { float: right; }
    .next:hover, .prev:hover { background: rgba(255, 204, 0, .3); }


    /*scroll bar*/
    .scrollbar { visibility: hidden; display: hidden;}

}


/* =============================================================================
   Special Classes
   ========================================================================== */

/* One Item Per Frame example*/
.oneperframe { min-height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }


/* Crazy example */
.crazy ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }
.crazy ul li:nth-child(3n) { width: 300px; margin: 0 10px 0 5px; }
.crazy ul li:nth-child(4n) { width: 400px; margin: 0 30px 0 2px; }


/* 3D Effects */
.effects {
	min-height: 200px;
	-webkit-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	overflow-y: show;
}
.effects ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.effects ul li {
	position: relative;
	margin: 0 -20px;
	-webkit-transform: rotateY(60deg) scale(0.9);
	-ms-transform: rotateY(60deg) scale(0.9);
	transform: rotateY(60deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
}
.effects ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.effects ul li.active ~ li {
	-webkit-transform: rotateY(-60deg) scale(0.9);
	-ms-transform: rotateY(-60deg) scale(0.9);
	transform: rotateY(-60deg) scale(0.9);
}

/* Grid Background */
.grid-background { 
    margin: 0 auto; 
    padding: 115px 0 80px; 
    color: #fff; 
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    
	background-color: #3e404a;
	background-image: -webkit-linear-gradient(rgba(255,255,255,.05) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255,255,255,.04) 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(0deg, rgba(0,0,0,.3) 0, transparent 100px);
	background-image: -moz-linear-gradient(rgba(255,255,255,.05) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255,255,255,.04) 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(0deg, rgba(0,0,0,.3) 0, transparent 100px);
	background-image: linear-gradient(rgba(255,255,255,.05) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255,255,255,.04) 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(0deg, rgba(0,0,0,.3) 0, transparent 100px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px, 100% 100%;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px, center bottom;
}