// SLY

/* =============================================================================
   Mobile Mobile Layout: 480px and below.
   ========================================================================== */

/*slide buttons*/
.pagespan button, .pagespan button { visibility: hidden; display: hidden;}


/* Frame */
.frame {
	overflow: hidden;
    border: 1px dashed red;
    z-index: 9;
}
.frame ul { /*frame viewport*/
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%; /*99%*/
    position: relative;
}
.frame ul li { /*slides*/
	float: left;
	width: 320px; /*<== width of slide*/
	height: 340px; /*<== height of slide*/
	margin: 0;
	padding: 0;
	background: #ddd;
	color: #ddd;
	cursor: pointer;
}
.frame ul li.active { /*active slide*/
	color: #fff;
	background: #ffcc00; /*UCF gold*/
}
.frame ul li p { /*slide caption*/
    background: rgba(0,0,0,.4);
    padding: 10px 5px;
    position: absolute;
    bottom: 10px;
    left: 0px;
    color: #fff;
    z-index: 10;
}

/* Scrollbar */
.scrollbar { margin: 0 0 1em 0; height: 2px; background: #ccc; line-height: 0; } /*-thin line-*/
.scrollbar { margin: 0 auto; height: 20px; background: #ccc; line-height: 20px; } /*-thick line-*/
.scrollbar .handle {
	width: 100px;
	height: 100%;
	background: #292a33;
    background: #808080;
	cursor: pointer;
}
.scrollbar .handle .mousearea {
	position: absolute;
	top: -9px;
	left: 0;
	width: 100%;
	height: 20px;
}


/* Pages */
.pages { 
    list-style: none; 
    margin: 6px 0; 
    padding: 0; 
    text-align: center; 
    position: relative;
    /*-top: -40px; places markers in slide-*/
}
.pages li {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0 4px;
	text-indent: -999px;
	border-radius: 10px;
	cursor: pointer;
	overflow: hidden;
	background: #fff;
	box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
}
.pages li:hover {
	background: #aaa;
}
.pages li.active {
	background: #999;
}


/*controls*/
.controls { margin: 25px 0; text-align: center; }
.controls .divider { display: inline-block; margin: 0 10px; }
.controls button { line-height: 32px; vertical-align: middle; font-family: Novecento, sans-serif; }
.controls button i { position: relative; top: -2px; margin: 5px; padding: 0; font-size: 32px; vertical-align: middle; }

/* ================================================================================================================
   Tablet Layout: 481px past 768px(portrait mode) to 1024px(landscape mode). Inherits styles from: Mobile Layout.
   ============================================================================================================== */
@media only screen and (min-width: 481px) {
    
    /* Frame */
    .frame ul li { /*<== size of slide*/
        width: 680px;
        height: 100%;
    }
    
}


/* ===========================================================================================================
   Desktop Layout: 1025px to max of 1920px. Inherits styles from: Mobile Layout and Tablet Layout.
   ========================================================================================================= */
@media only screen and (min-width: 1025px) {

    /* Frame */
    .frame {
	    max-width: 800px;
        margin: 0 auto;
    }
    .frame ul li { /*<== size of slide*/
        min-width: 320px; 
        height: 100%;
    }
    
    /*slide buttons*/
    .pagespan button, .pagespan button { visibility: visible; background: transparent; border: 0; color: #ffcc00; opacity: .5; border: 1px dashed red;}
    .pagespan button:hover, .pagespan button:hover { opacity: 1; }
    .pagespan button:disabled, .pagespan button:disabled { opacity: .2; }

    .forward, .backward { float: left; width: 50px; height: 260px; font-size: 60px; border: 1px dashed blue; }
    .forward { float: right; }

    .next, .prev { float: left; width: 45px; height: 300px; font-size: 60px; }
    .next { float: right; }

    /*scroll bar*/
    .scrollbar { visibility: hidden; display: hidden;}

}


/* =============================================================================
   Special Classes
   ========================================================================== */

/* One Item Per Frame example*/
.oneperframe { min-height: 300px; line-height: 300px; }
.oneperframe ul li { width: 1140px; }
.oneperframe ul li.active { background: #333; }


/* Crazy example */
.crazy ul li:nth-child(2n) { width: 100px; margin: 0 4px 0 20px; }
.crazy ul li:nth-child(3n) { width: 300px; margin: 0 10px 0 5px; }
.crazy ul li:nth-child(4n) { width: 400px; margin: 0 30px 0 2px; }


/* 3D Effects */
.effects {
	min-height: 200px;
	/*line-height: 200px;*/
	-webkit-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;
	-webkit-perspective-origin: 50% 50%;
	-ms-perspective-origin: 50% 50%;
	perspective-origin: 50% 50%;
	overflow-y: show;
}
.effects ul {
	-webkit-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.effects ul li {
	position: relative;
	margin: 0 -20px;
	-webkit-transform: rotateY(60deg) scale(0.9);
	-ms-transform: rotateY(60deg) scale(0.9);
	transform: rotateY(60deg) scale(0.9);
	-webkit-transition: -webkit-transform 300ms ease-out;
	transition: transform 300ms ease-out;
}
.effects ul li.active {
	z-index: 10;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.effects ul li.active ~ li {
	-webkit-transform: rotateY(-60deg) scale(0.9);
	-ms-transform: rotateY(-60deg) scale(0.9);
	transform: rotateY(-60deg) scale(0.9);
}

/* Grid Background */
.grid-background { 
    margin: 0 auto; 
    padding: 115px 0 80px; 
    color: #fff; 
    text-shadow: 1px 1px 0 rgba(0,0,0,.3);
    
	background-color: #3e404a;
	background-image: -webkit-linear-gradient(rgba(255,255,255,.05) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255,255,255,.04) 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(0deg, rgba(0,0,0,.3) 0, transparent 100px);
	background-image: -moz-linear-gradient(rgba(255,255,255,.05) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255,255,255,.04) 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(0deg, rgba(0,0,0,.3) 0, transparent 100px);
	background-image: linear-gradient(rgba(255,255,255,.05) 2px, transparent 2px),
		linear-gradient(90deg, rgba(255,255,255,.04) 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px),
		linear-gradient(0deg, rgba(0,0,0,.3) 0, transparent 100px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px, 100% 100%;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px, center bottom;
}