@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Masters in Business Administration";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Executive</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}


<section id="">
<div class="canvas">
<div class="container">
<h3>Providing today’s leaders the competitive advantage necessary for their career advancement</h3>
<p>UCF’s Executive MBA is a 19-month program that prepares today’s leaders for career advancement in varied industries. Designed for mid- to senior-level professionals, EMBA provides an intense in-class experience, peer learning, an invaluable international residency, and life-long networking benefits.</p>
<p>The next EMBA class begins in January 2014 in Downtown Orlando.</p>
<p>Join us at our next Lunch & Learn to learn more:</p>
<ul><li>Friday, October 18, 2013 from 12:00 - 1:00 p.m.</li></ul>
<p>Contact us to schedule a one-on-one appointment with our advisors:</p>
<ul>
<li>Email: mba@ucf.edu</li>
<li>Phone: (407) 235-3913</li>
</ul>
<ul>
<li>Designed for experienced executives</li>
<li>19-month cohort program</li>
<li>Requires minimum of 5 years relevant work experience and bachelor’s degree</li>
<li>Located in Downtown Orlando</li>
</ul>
<p>Classes meet three Saturdays and one Friday per month</p>
<ul>
<li>Leadership-relevant curriculum includes a 10-day international residency</li>
<li>Tuition includes 39-credit hours, international residency, text books, course materials, parking and administrative fees</li>
</ul>
</div>
</div>
</section>

<section>
<div class="canvas">
<div class="container">
<h3>Curriculum</h3>
<p>EMBA classes meet primarily three Saturdays and one Friday per month, 8 a.m.-5 p.m., at the Executive Development Center’s state-of-the-art downtown facility. The 39 credit-hour curriculum comprises five sessions over a 19-month period. The program includes a week-long international residency, which provides students with an enlightening global business perspective. Click  to see the class schedule for cohort starting in January 2014.</p>
<p>The leadership-relevant curriculum provides students with cross-functional business knowledge and encourages application of new theories and principles in real-world situations. The exchange of ideas stemming from participants’ professional experiences is an integral part of the learning process.</p>
<p>View a list of courses currently taught in the EMBA.</p>
</div>
</div>
</section>
<section>
<div class="canvas">
<div class="container">
<h3>Admissions</h3>
<p>EMBA welcomes applications from well-rounded individuals with minimum 5 years’ work experience who bring unique insight to the classroom learning environment and team experience.</p>
<p>Follow these steps to apply:</p>
<ol>
<li>Complete the <a href="http://www.graduate.ucf.edu">online application</a> and remit the $30 application fee.</li>
<li>Submit all required documents, including official undergraduate transcripts, GMAT or GRE test scores, three letters of recommendation, and a career goal statement outlining your 5- and 10-year objectives, and explaining how the EMBA program will assist you in obtaining these goals.</li>
<li>Schedule an interview with the EMBA Admissions Committee.</li>
</ol>
</div>
</div>
</section>

<section>
<div class="canvas">
<div class="container">
<h3>Tuition Schedule</h3>
<p>The tuition for the EMBA program is an all-inclusive package. It covers all tuition costs, textbooks, laptop computer, orientation and graduation events, parking during class times, class shirt, lifetime membership to the UCF Alumni Association, and all administrative fees. The tuition is the same for Florida residents and non-residents.</p>
<p>Many employers offer EMBA reimbursement packages. Please check with your employer to determine the availability of financial assistance.</p>
<p>Participants of the EMBA program are often eligible for financial aid. Contact <a href="http://finaid.ucf.edu">UCF’s Financial Aid department</a> for more information.</p>
<p>View the current EMBA tuition schedule.</p>
</div>
</div>
</section>
