@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Masters in Business Administration";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Lockstep</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                
<ul>
                            
<li>Designed for working professionals</li>
<li>32-month program</li>
<li>Requires minimum of 2 years relevant work experience and bachelor’s degree</li>
<li>Located at UCF Main Campus</li>
<li>Evening weekday classes with two classes per term</li>
<li>30-credit hours of required coursework and 9-credit hours of electives</li>
<li>Tuition is per credit hour and is exclusive of text books, course materials and parking</li>

</ul>




		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->