@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Masters in Business Administration";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Professional</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                            <p>The Professional MBA program is ideal for full-time working professionals looking to earn an MBA without interrupting their careers.</p>
<p>The next Professional MBA begins in Downtown Orlando in April 2014!</p>

                            <p>Join us at our next information session to learn more:</p>
                            <ul>
                                <li>Wednesday, November 13, 2013 at 6:00 p.m.</li></ul>

                            <p>Contact us to schedule a one-on-one appointment with our advisors:</p>
                                <ul>
                                <li>Email: mba@ucf.edu</li>
                                <li>Phone: (407) 235-3913</li>
                                </ul>
                                 
<ul>
  <li>Designed for emerging professionals</li> 
<li>24-month cohort program</li>
<li>Requires minimum of 3 years relevant work experience and bachelor’s degree</li>
<li>Located in Downtown Orlando and other select UCF Regional Campuses</li>
<li>Evening weekday classes, twice/week</li>
<li>Curriculum integrates current business topics and applicable lessons for many industries</li>
<li>Tuition includes 39-credit hours, text books, course materials, laptop computer, parking and all administrative fees</li>                          

</ul>




		                </div>
	                </div>
                </section>

                 <section id="">
                    <div class="canvas">
		                <div class="container">
                            <h3>Curriculum</h3>
                                <p>PMBA classes meet Monday &amp; Thursday evenings, 6:00-9:50 p.m., at the Executive Development Center’s state-of-the-art downtown facility. Per the rotational schedule, they also meet at UCF’s Regional Campuses in Daytona, Palm Bay, and Valencia West.</p>

<p>The 39-credit hour curriculum comprises six sessions over 24 months and provides students with relevant knowledge in varied business areas. Core analytical courses build a solid foundation for advanced functional business topics. And capstone courses focus on “boardroom” leadership development and executive strategy.</p>

<p>View a list of courses currently taught in the PMBA.</p>

                        </div>
                    </div>
                </section>


                 <section id="">
                    <div class="canvas">
		                <div class="container">
                            <h3>Admissions</h3>

                                <p>PMBA welcomes applications from well-rounded individuals with minimum 3 years’ work experience who bring unique insight to the classroom learning environment and team experience.</p>

<p>Follow these steps to apply:</p>

<ol>
    <li>Complete the <a href="http://www.graduate.ucf.edu">online application</a> and remit the $30 application fee.</li>
    <li>Submit all required documents, including official undergraduate transcripts, GMAT or GRE test scores, three letters of recommendation, and a career goal statement outlining your 5- and 10-year objectives, and explaining how the PMBA program will assist you in obtaining these goals.</li>
<li>Schedule an interview with the PMBA Admissions Committee.</li>

</ol>
                       </div>
                    </div>
                </section>

                   <section id="">
                    <div class="canvas">
		                <div class="container">
                            <h3>Tuition Schedule</h3>

                                <p>The tuition for the PMBA program is an all-inclusive package. It covers all tuition costs, textbooks, laptop computer, orientation and graduation events, parking during class times, class shirt, lifetime membership to the UCF Alumni Association, and all administrative fees. The tuition is the same for Florida residents and non-residents.</p> 

<p>Many employers offer PMBA reimbursement packages. Please check with your employer to determine the availability of financial assistance.</p>

<p>Participants of the PMBA program are often eligible for financial aid. Contact <a href="http://finaid.ucf.edu">UCF’s Financial Aid department</a> for more information.</p>

<p>View a tuition schedule for program starting in April 2014 at the Executive Development Center in Downtown Orlando.</p>



            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->