@{
    Layout = "_FacultyLayout.cshtml";
    Page.Title = "Maureen Ambrose, Ph.D.";
}

@section fpStyles {
<style>
    .pt-page-1 {
	    background-image: url(/images/rhofler.jpg);
        background-size: cover;
    }
    
    .col-xs-6, .col-md-6 {
        background: rgba(0,0,0,.7);
        color: #fff;
    }

    .pt-page-2 {
	    background-image: url(/images/cover-bg.jpg);
        background-size: cover;
    }

    .pt-page-3 {
	    background: #60d7a9;
    }
    
    .pt-page-4 {
	    background: #fdc162;
    }
</style>
}

@section fpContents {

        <div class="clearfix" style="background: #333;">
            <ul id="menav" class="pt-menu"></ul>
        </div>

		<div id="pt-main" class="pt-perspective">
			<div id="page0" class="pt-page pt-page-1">
                <div class="scroll-pane">

                    <div class="clearfix">
                        <ul class="pt-menu" style="float: right">
                            <li><a class="btnNext"> Next >> </a></li>
                        </ul>
                    </div>

                    <div class="container">
                        <div class="col-xs-6 col-md-6">
                            <h3>Richard A. Hofler, Ph.D.</h3>
                            <h4>Professor of Economics</h4>
                            <p>&nbsp;</p>
                            <p>Richard Hofler is a Professor in the Department of Economics of the University of Central
                            Florida. His research areas are econometrics, health economics and labor economics. Richard’s
                            research in econometrics includes stochastic frontiers, both in applications of existing models
                            to novel areas and in developing new stochastic frontier models. For instance, in 1982 he was
                            the first researcher to apply stochastic frontier models to an area other than production. He
                            has published research papers in some of the top economics and statistics journals in the
                            country including the Journal of the American Statistical Association and the Review of
                            Economics and Statistics. Richard is currently supported by two grants from the National
                            Institutes of Health. In one of those grants he is analyzing how ACO participation and other
                            factors affect the performance of Rural Health Clinics in the U.S.</p>
                        </div>

                    </div>
                </div>
            </div>
			<div id="page1" class="pt-page pt-page-2">
                <div class="scroll-pane">

                    <div class="clearfix">
                        <ul class="pt-menu" style="float: right">
                            <li><a class="btnPrev"> << Previous </a></li>
                            <li><a class="btnNext"> Next >> </a></li>
                        </ul>
                    </div>

                    <div class="container">

                        <h1><span>Richard A. Hofler, Ph.D.</span> Research</h1>
                        <p>&nbsp;</p>

                        <div class="pagespan">
                            <section class="wrap">
                                <div class="frame" id="row2" data-intro="row2" data-position="left">
			                        <ul class="clearfix">

                                        <li>
                                            <div title="Test 1">
                                                <a href="rhofler1.pdf" target="_blank" class="target_blank">
                                                    <p>Count Data Stochastic Frontier Models, With An Application to the Patents - R&D Relationship</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 2">
                                                <a href="rhofler2.pdf" target="_blank" class="target_blank">
                                                    <p>An Alternative Measure of Structural Unemployment</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 3">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 4">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 5">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 6">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 7">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 8">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

			                        </ul>
		                        </div><!--/frame -->
                                <div class="scrollbar">
                                    <div class="handle">
                                        <div class="mousearea"><span></span></div>
                                    </div>
                                </div><!--/scrollbar --> 
                                <div class="controls center use-fastclick">
                                    <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
                                    <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
                                </div><!--/controls -->
                                <br>
                            </section>
                        </div>
                        <div class="pagespan">
                            <section class="wrap">
                                <div class="frame" id="row3" data-intro="row3" data-position="left">
			                        <ul class="clearfix">

                                        <li>
                                            <div title="Test 1">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 2">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 3">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 4">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 5">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 6">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 7">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 8">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

			                        </ul>
		                        </div><!--/frame -->
                                <div class="scrollbar">
                                    <div class="handle">
                                        <div class="mousearea"><span></span></div>
                                    </div>
                                </div><!--/scrollbar --> 
                                <div class="controls center use-fastclick">
                                    <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
                                    <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
                                </div><!--/controls -->
                                <br>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page2" class="pt-page pt-page-3">
                <div class="clearfix">
                    <ul class="pt-menu" style="float: right">
                        <li><a class="btnPrev"> << Previous </a></li>
                        <li><a class="btnNext"> Next >> </a></li>
                    </ul>
                </div>

                <div class="container">
                    <h1><span>Richard A. Hofler, Ph.D.</span> News</h1>
                </div>

            </div>
			<div id="page3" class="pt-page pt-page-4">
                <div class="scroll-pane">

                    <div class="clearfix">
                        <ul class="pt-menu" style="float: right">
                            <li><a class="btnPrev"> << Previous </a></li>
                        </ul>
                    </div>

                    <div class="container">
                    <h1><span>Richard A. Hofler, Ph.D.</span> CV</h1>



                        Date: January 2014 Address: Economics Dept., College
of Business Administration
P. O. Box 161400
Name: Richard A. Hofler University of Central Florida
Orlando, FL 32816-1400
Department: Economics Telephone: (407) 823-2606 (office)
(407) 823-3266 (dept.)
Rank: Professor
I. FIELDS
Research
Applied econometrics, health economics, and applied microeconomics
Teaching (courses taught)
Econometrics (graduate & undergraduate), health, labor, and microeconomic theory
(undergraduate and graduate)
II. EDUCATION
Degree Awarding Institution Graduation Dates
B.S. Old Dominion University 1977
Ph.D. University of North Carolina 1982
III. PRIOR EMPLOYMENT RECORD
Institution Rank/Position Dates
Univ. of Central FL Professor Aug. 1995 - present
Univ. of Central FL Chair-Economics Aug. 1997 – Dec. 1999
CURRICULUM VITAE Richard A. Hofler
Page 2
III. PRIOR EMPLOYMENT RECORD (cont.)
Institution Rank/Position Dates
Univ. of Central FL Interim Dean Jan. 1996 – Aug. 1997
Univ. of Central FL Chair Jan. 1994 - Dec. 1995
Univ. of Central FL Assoc. Prof. Aug. 1989 - July 1995
Oakland University Assoc. Prof. Sept. 1987 - Aug. 1989
Univ. of Tennessee Assoc. Prof. promoted with tenure
effective Sept. 1987
*** Univ. of Tennessee Asst. Prof. Sept. 1985 - Aug. 1987
** Univ. of Tennessee Asst. Prof. Sept. 1981 - Aug. 1985
(** joint appointment in Dept. of Economics and Center for Business and Economic Research)
(*** appointment in Dept. of Economics only)
IV. PUBLICATIONS
“An alternative measure of structural unemployment,” (with Uluc Aysun & Florence Bouvet),
Economic Modelling, forthcoming.
“Market Effort By Women In Different Marital States And By Race: Results from a Stochastic
Earnings Frontier Analysis,” (with Bisakha Sen), Economic Inquiry, forthcoming
“Count Data Stochastic Frontier Models, with an application to the patents-R&D Relationship,”
(with Eduardo Fe), Journal of Productivity Analysis, Vol. 39, No. 3, June 2013, 271-284.
“Dividend Policy and Institutional Ownership: Empirical Evidence using a Propensity Score
Matching Estimator,” (with Julie Elston and Junsoo Lee), Journal of Accounting and Finance, Vol.
11, Issue 1, 2012, pp. 89 - 102.
“A Method for Understanding Some Consequences of Bringing Patient-Generated Data into
Health Care Delivery,” (with Duane Steward), Medical Decision Making, Vol. 30, No. 4, July/August
2010, E1-E13.
“An Efficiency Approach to Choice Set Formation: Theory and Application to Recreational
Destination Choice,” (with Kevin Boyle, Wally Milon, and David Scrogin), Applied Economics, Vol.
42, Issue 3 (2010), 333-350.
CURRICULUM VITAE Richard A. Hofler
Page 3
“’We Got Game and Some!’ Efficiency in the WNBA: A Stochastic Production Frontier
Approach with Panel Data”, (with James E. Payne), 2008 Academy of Economics and Finance
Papers and Proceedings, 32, 123-130.
“Privatization, Foreign Bank Entry and Bank Efficiency in Croatia: A Fourier-Flexible Function
Stochastic Cost Frontier Analysis,” (with Evan Kraft and James Payne), Applied Economics, Vol. 38,
Issue 17, (September 2006), 2075-2088
“Efficiency in the National Basketball Association: A Stochastic Frontier Approach with Panel
Data,” (with James Payne), Managerial and Decision Economics, Vol. 27, Issue 4 (June 2006), 279-285
“Purchasing Power Parity: Evidence From a Transition Economy,” (with Junsoo Lee and James
Payne), Journal of Policy Modeling, Vol. 27, Issue 6 (September 2005), 665-672
“Performance of Health Centers in Networks,” (with Judy Ortiz and Myron Fottler), Health Care
Management Review, Vol. 30, Issue 2, (April-June 2005), 126-138
“Valuation on the Frontier: Calibrating Actual and Hypothetical Statements,” (with John List),
American Journal of Agricultural Economics, Vol. 86, No. 1 (February 2004), 213-221
“How Reliable Are Hospital Efficiency Estimates? Exploiting the Dual to Homothetic
Production,” (with Sherman Folland), Health Economics, Vol. 10, Issue 8, December 2001, 683-698
“International Labor Underpayment” A Stochastic Frontier Comparison of Canada and the United
States,” (with Kenneth G. McClure and Paul B. Girma) Canadian Journal of Regional Science, Vol. 21,
No. 1 (Spring 2000), 87-109
“International Capital Structure Difference Among the G7 Nations: A Current Empirical View,” (with
Kenneth G. McClure and Ronnie Clayton), European Journal of Finance, Vol. 5, No. 2, 1999, 141-164
“Measuring Efficiency in the National Basketball Association,” (with James E. Payne), Economics
Letters, Vol. 55, No. 2, August 1997, 293-299.
“How Close to Their Offensive Potential Do National Football League Teams Play?” (with James E.
Payne), Applied Economics Letters, Vol. 3, Issue 11, November 1996, 743-747.
"Regional Efficiency Differences and Development Policy of Agriculture in the Yugoslav Republics:
Estimates from Panel Data." (with James E. Payne), The Review of Regional Studies, April 1996, 287-
300.
"U.S. Nursing Homes: Are They Cost Efficient?," (with Brian Rungeling), Economics Letters, Vol.
44, Issue 3, (1994), 301-305.
CURRICULUM VITAE Richard A. Hofler
Page 4
"Estimating Reservation Wages of Employed Workers Using A Stochastic Frontier," (with Kevin J.
Murphy), Southern Economic Journal, Vol. 60, No. 4 (April 1994), 961-976.
"Employment Determination in Macroeconomic Models: Some Empirical Evidence," (with Lee C.
Spector), The Journal Of Macroeconomics, Vol. 15, No. 1 (Winter 1993), 123-138.
"Efficiency in Social Versus Private Agricultural Production: The Case of Yugoslavia," (with James
E. Payne), The Review of Economics and Statistics, Vol. 75, No. 1 (February 1993), 153-156.
"Underpaid and Overworked: Measuring the Effect of Imperfect Information on Wages." (with Kevin
J. Murphy), Economic Inquiry, Vol. 30, No. 3 (July 1992), 511-529.
"Job-Search and Immigrant Assimilation: An Earnings Frontier Approach," (with Nasser
Daneshvary, Henry W. Herzog, and Alan Schlottmann), The Review of Economics and Statistics, Vol. 74,
No. 3 (August 1992), 482-492.
"The Relative Efficiency of Slave Agriculture: A Comment," (with Sherman T. Folland), Applied
Economics, Vol. 23, No. 5 (May 1991), 861-868.
"Testing for the Correct Error Term Distribution: A Simple Two-Step Test," (with Lee C. Spector),
Economics Letters, Vol. 34, Issue 4, (December 1990), 339-343.
"Using a Composed Error Model to Estimate the Frictional and Excess Supply Components of
Unemployment," (with Kevin J. Murphy), Journal of Regional Science, Vol. 29, No. 2 (1989), 213-228.
"Separability of Labor in U.S. Manufacturing: An Empirical Analysis," (with Don P. Clark and Henry
Thompson), Economics Letters, Vol. 26, No. 2 (May 1988), 197-201.
"A Frontier Approach to Measuring The Effect of Market Discrimination: A Housing Illustration,"
(with Thomas P. Boehm), Southern Economic Journal, Vol. 54, No.2 (October 1987), 301-315.
"Using Homothetic Composed Error Frontiers to Measure Water Utility Efficiency," (with William F.
Fox), Southern Economic Journal, Vol. 53, No. 2 (October 1986), 461-77.
"Life on the Frontier: Migrant Information, Earnings, and Past Mobility," (with Henry W. Herzog
and Alan M. Schlottmann), The Review of Economics and Statistics, Vol. 67, No. 3 (August 1985),
373-382.
"A New Approach for Measuring Wage Ignorance in the Labor Market," (with Solomon W.
Polachek), The Journal of Economics and Business, Vol. 77 No. 3 (August 1985), 267-276.
"Economic Outlook for Tennessee and the U.S.," (with William F. Fox), The Survey of Business,
Vol. 19, No. 2 (Winter 1984), 22-29.
CURRICULUM VITAE Richard A. Hofler
Page 5
"Determinants of Geographic Unemployment Rates: A Selectively Pooled- Simultaneous Model,"
(with Kevin J. Murphy), The Review of Economics and Statistics, Vol. 66, No. 2 (May 1984), 216-223.
"The Tennessee Outlook: The Long Run," in An Economic Report to the Governor of the State of
Tennessee, Nashville: The Tennessee State Planning Office, December 1984, 49-63.
"The Outlook for Various Industries," An Economic Report to the Governor of the State of
Tennessee, Nashville: The Tennessee State Planning Office, December 1983, 35-50.
"Measuring the Sources of Local Property Tax Administration Deviations In States with Infrequent
Reappraisal Programs: A Case Study in Tennessee," (with Niles Schoening), Western Tax Review, Vol.
4, No. 2 (Fall 1983), 19-32.
"The Pooling Problem: A Proposed Solution with an Illustration," (with Kevin J. Murphy),
Proceedings of the 1983 Business and Economic Statistics Section, American Statistical Association,
260-264.
"A Frontier Measure of Fiscal Capacity," (with Niles Schoening), in Frontiers of Business and
Economic Research, R. W. Resek and J. R. Fitch (eds.), Urbana-Champaign: University of Illinois Press,
1983.
"Ignorance in the Labor Market: A New Approach for Measuring Information Content," (with
Solomon W. Polachek), Proceedings of the 1982 Business and Economic Statistics Section, American
Statistical Association, 422-425.
"Outlook for Specific Industries," The Survey of Business, Volume 17, No. 3 (Winter 1982), 21-30.
"Outlook for Specific Industries: Finance, Insurance, and Real Estate and Construction," An
Economic Report to the Governor of the State of Tennessee, Nashville: The Tennessee State Planning
Office, February 1982, 50-68.
"Benefit-Cost Analysis of the Sentencing Decision: The Case of Homicide," (with Ann D. Witte) in
The Costs of Crime, New York: C. M. Gray (ed.), SAGE Publications, 1979.
V. PRESENTATIONS
“Benchmarking Patient Safety and Quality in U.S. Hospitals: The Stochastic Frontier
Approach,” Southern Economic Association Annual Meeting, Tampa, FL, November 23-25, 2013.
“Benchmarking Patient Safety and Quality in U.S. Hospitals: The Stochastic Frontier
Approach,” 141st American Public Health Association Annual Meeting, Boston, MA., November 2 -
November 6, 2013.
CURRICULUM VITAE Richard A. Hofler
Page 6
"Efficiency Measurement Incorporating Quality: Exploring New Methodological Approaches",
International Health Economics Association Conference, Sydney, Australia, July, 2013.
“Rural Health Clinic Characteristics: A Comparison by Region and Implications for ACO
Participation,” National Rural Health Association’s 36th Annual Conference, Louisville, Kentucky, May
2013.
“An Alternative Measure of Structural Unemployment,” North American Productivity Workshop,
Rice University, June, 2012
“Count Data Stochastic Frontier Models, with an Application to the Patents-R&D Relationship,”
North American Productivity Workshop, Rice University, June, 2010
“A Count Data Stochastic Frontier,” North American Productivity Workshop, Stern School of
Business, New York University, June, 2008
“We’ve Got Game and More! Efficiency in the WNBA: A Stochastic Production Frontier
Approach with Panel Data,” Academy of Economics and Finance, Nashville, TN, February 15, 2008.
“Is Investment n Environmental Quality A Solution to Recessions? Studying the Welfare Effects
of Green Animal Spirits,” Southern Economic Association, Charleston, S.C., November 19, 2006
"On the Frontier of Generating Revealed Preference Choice Sets: An Efficient Approach" with
David Scrogin, American Agricultural Economics Association (AAEA) Annual Meeting in Denver,
August 1-4, 2004
“Teenage Indulgence in Cigarettes, Alcohol and Marijuana: Evidence of a “Gateway” Effect” with
Bisakha Sen and Rajshree Agarwal. Annual Southern Economic Conference, November 2000,
Washington, D.C.
“Market Effort by Women in Different Marital States: A Stochastic Earnings Frontier Approach,”
Southern Economic Association, November 1999, New Orleans, LA.
“International Cost-of-Capital Optimization: A Stochastic Frontier Analysis of the G7 Nations,”
Annual Conference on Multinational Financial Issues, June 1996, Washington, D.C.
“How Close to Their Potential Do National Football League Teams Play?” Southern Economic
Association, November 1995, New Orleans, LA.
“International Cost-of-Capital Optimization and Performance: A Comparison of the Major EC
Nations,” Southern Financial Association, November 1995, Sarasota, FL.
“The Use of Computers in Financial Education: An Integrated Classroom Approach,” Southern
CURRICULUM VITAE Richard A. Hofler
Page 7
Financial Association, November 1995, Sarasota, FL.
“International Cost-of-Capital Optimization: A Comparison of Suboptimal Performance and
Determinants Among the G7 Nations,” Annual Conference on Multinational Financial Issues, June 1995,
Philadelphia, PA.
"How Close To Their Potential Do National Football League Teams Play?" Midwest Economic
Association meeting, March 30-April 1, 1995, Cincinnati, OH.
"Technical and Allocative Inefficiencies of U.S. Hospitals Under a Stochastic Frontier Approach,"
University of Georgia Productivity Workshop, October 1994, Athens, Georgia.
"Measuring Efficiency in the National Basketball Association," presented at the Kentucky Economic
Association, October 1994, Western Kentucky University, Frankfort, Kentucky.
"Underpaid and Overworked: Measuring the Effect of Imperfect Information on Wages," presented
at the Conference on Current Issues in Productivity, December 1991, Rutgers The State University of
New Jersey, Newark, New Jersey.
"The Size of Underemployment in the U.S.: A Regional Comparison," presented at the annual
meeting of the North American Regional Science Association, November 1991, New Orleans, Louisiana.
"Measuring Regional Underemployment in the United States," presented at the annual meeting of
the Southern Regional Science Association, April 1991, Miami, Florida.
"Estimating Reservation Wages Using A Stochastic Frontier Approach," presented at the annual
meeting of the Southern Economic Association, November 1990, New Orleans, Louisiana.
"Measuring Underemployment in the U.S. Economy: A Stochastic Frontier Approach," presented at
the annual meeting of the Southern Regional Science Association, March 1990, Washington, D.C.
"Employment Determination in Macroeconomic Models: Some Empirical Evidence," presented at
the annual meeting of the Southern Economic Association, November 1988, San Antonio, Texas.
"Job Search and Immigrant Assimilation: An Earnings Frontier Approach," presented at the annual
meeting of the Southern Economic Association, November 1988, San Antonio, Texas.
"Using a Composed Error Model to Estimate the Frictional and Excess Supply Components of
Unemployment," presented at The University of Richmond, February 1987, Richmond, Virginia.
"A Frontier Approach to Measuring the Effect of Market Discrimination: The Case of Housing
Expenditures," presented at the annual meeting of the Southern Economic Association, November 1986,
New Orleans, Louisiana.
CURRICULUM VITAE Richard A. Hofler
Page 8
"A Frontier Approach to Measuring the Effect of Market Discrimination: The Case of Housing
Expenditures," presented at the annual meeting of the Southern Regional Science Association, March
1986, New Orleans, Louisiana.
"Migrant Information, Earnings, and Mobility," presented at The University of Texas at Dallas, April
1985, Dallas, Texas.
"Using a Composed Error Model to Estimate the Components of Unemployment: An Illustration in
Each of the Fifty States," presented at Joint Annual Meeting of the American Statistical Association, the
Biometric Society, and the Institute of Mathematical Statistics, August 1984, Philadelphia.
"Life on the Frontier: Migrant Information, Earnings, and Mobility," presented at the annual meeting
of the Southern Regional Science Association, May 1984, Orlando, Florida.
"Displaced Apparel Workers in the Upper Cumberland Development District," presented at
"Appalachia Working: The Competitive Edge for Today and Tomorrow," a conference sponsored by the
Appalachian Regional Commission, April 1984, Hershey, Pennsylvania.
"The Tennessee Economy: Structure and Outlook," presented at the annual meeting of the Labor
Market Information Conference of the Tennessee Department of Employment Security, December 1983,
Gatlinburg, Tennessee.
"The Pooling Problem: A Proposed Solution," presented at the annual meeting of the Southern
Economic Association, November 1983, Washington, D.C.
"Determinants of Geographic Unemployment Rates: A Selectively Pooled-Simultaneous Model,"
presented at the annual meeting of the Southern Economic Association, November 1983, Washington,
D.C.
"Selective Pooling for Simultaneous Models," presented at Joint Annual Meeting of the American
Statistical Association, the Biometric Society, and the Institute of Mathematical Statistics, August 1983,
Toronto, Ontario.
"Durable Goods Manufacturing and Structural Change in Tennessee," presented at the Structural
Change in the Southeast Conference sponsored by the Atlanta Federal Reserve, July 1983, Atlanta.
"Ignorance in the Labor Market: A New Approach for Measuring Information Content," presented at
the annual meeting of the American Economic Association, December 1982, New York.
"A Frontier Measure of Fiscal Capacity," presented at the annual meeting of the Association for
University Business and Economic Research, October 1982, Knoxville.
"A New Measure of Labor Market Information," presented at the State University of New York,
CURRICULUM VITAE Richard A. Hofler
Page 9
Buffalo, August 1982, Buffalo.
"A New Approach for Measuring Information Content," presented at Joint Annual Meeting of the
American Statistical Association, the Biometric Society, and the Institute of Mathematical Statistics,
August 1982, Cincinnati.
"Ignorance in the Market: A New Approach for Measuring Information Content," presented at the
State University of New York, Binghamton, December 1981.
"Estimation of a Random Coefficient Cost Frontier for California Prisons," presented at Western
Economic Association Meetings, June 1980.
"Estimates of a Prison System's Short-Run Traditional and Frontier Cost Functions," presented at
Southern Economic Association Meetings, November 1979, Atlanta.
VI. RESEARCH IN PROGRESS
“A Generalized Normal-Half Normal Stochastic Frontier Model”
“A Stochastic Frontier Model with a Power Transformed Inefficiency Term”
“Benchmarking Patient Safety and Quality in U.S. Hospitals: the Stochastic Frontier Approach”
“Estimating the Effects of an Exogenous Shock on the Financial Sector in a Local Economy:
Hurricanes and Banking Performance”
“Does Imitation by Developing Countries Hurt Innovation?”
“Characterizing Cognitive Production Frontiers”
“Naturally Occurring Noise: Experimental Economics & Stochastic Production Frontier Models”
Others underway.
VII. GRANTS Funded and Proposed
Patient Centered Outcomes Research Institute (PCORI), “EHR Use in Rural Primary Care
Organizations: Improving Patient Outcomes, Compliance, and Satisfaction”, Co-PI (Judy Ortiz et al.),
Proposed Amount: Proposed Amount: $1,589,021.80, under review
National Institutes of Health (National Institute for Minority Health Disparities), “EHR Use in
Rural Primary Care Organizations: Impact on Access and Patient Outcomes Related to Health
Disparity Populations,” Co-PI (Judy Ortiz et al.), Proposed Amount: $1,450,000.00, under review
National Diabetes Association, “Efficacy of the YMCA Diabetes Prevention Program in Women
with Gestational Diabetes and Their Offspring,” Co-PI (Jonathan Decker et al.), Proposed Amount:
$1,600,000.00, under review
National Institutes of Health, “A Novel Pregnancy Prevention Intervention for Latino Middle
School Girls,” Co-PI (Anne Norris et al.), Proposed Amount: $3,564,669.00, under review
CURRICULUM VITAE Richard A. Hofler
Page 10
Department of Health and Human Services, Public Health Services, “The Southeast
Transdisciplinary Collaborative Center on Rural Health Disparities and Policy Research,” Co-PI,
$13,097,657, not funded
National Institutes of Health/National Institute on Minority Health and Health Disparities Grant
#5U24MD006954-02, “Rural Health Clinics in Accountable Care Organizations: Impact on Disparities”
Co-PI, $1,600,000, 2011 - 2015
National Institutes of Health/Agency for Healthcare Research and Quality Grant #1R03HS020715-
01, Co-PI, $100,000, 7-01-2011 through 6-30-2013
National Science Foundation Grant #SES0616746, Co-PI, $65,000, 9-15-06 through 8-31-08
College of Business Administration Course Development Grant, University of Central Florida,
Summer 1993
College of Business Administration Executive Development Grant, University of Central Florida,
Summer 1992
University In-House Research Grant, University of Central Florida, Summer 1992
University In-House Research Grant, University of Central Florida, Summer 1991
College of Business Administration Research Committee Research Grant, University of Central
Florida, Summer 1990
University In-House Research Grant, University of Central Florida, Summer 1990
University Faculty Research Fellowship, Oakland University, Summer 1988
University Faculty Research Fellowship, University of Tennessee, Summer 1986
Research Grant No. R01-1491-75, Tennessee Department of Employment Security, 1984-85
Research Grant, State of Tennessee, Department of Economic and Community Development,
1982-83.
Research Grant No. 78-N1-AX-0059, U.S. Department of Justice, Law Enforcement Assistance
Administration, 1978-79.
Basic Biomedical Research Grant, U.S. Department of Health, Education and Welfare, 1977.
CURRICULUM VITAE Richard A. Hofler
Page 11
VIII. MISCELLANEOUS
The Potential Effect of the Imperial Tombs Exhibit on the Metro-Orlando Economy, with B.
Rungeling and W.W. McHone, April 17, 1995. Prepared at the request of the Orlando Museum of Art.
Discussant of paper at the annual meeting of the Southern Economic Association, November
1994, Orlando, Florida.
Distinguished Researcher of the Year, College of Business Administration, UCF, 1992-1993
Reviewer for College Of Business Administration Grant Proposals
External reviewer for National Science Foundation
Discussant of paper at the annual meeting of the Southern Economic Association, November
1990, New Orleans, Louisiana.
Discussant of paper at the annual meeting of the Southern Economic Association, November
1989, Orlando, Florida
Winner of the Allen H. Kealy Award for Outstanding Teacher in the College of Business for 1986-
1987, University of Tennessee, May 1987
Finalist for the Allen H. Kealy Award for Outstanding Teacher in the College of Business for 1985-
1986, University of Tennessee, May 1986
Discussant of three papers at the annual meeting of the Southern Regional Science Association,
May 1985, Washington, D.C.
"Tennessee's Economic Outlook" (with William F. Fox), written for subscribers to the Tennessee
Econometric Model-Quarterly, Center for Business and Economic Research, The University of
Tennessee, Knoxville, April 1984, technical report.
"Final Report to the Tennessee Department of Employment Security on the Tennessee
Employment Security Insurance Model" (with William F. Fox and John W. Mayo), Nashville, December
1983, grant report.
"Final Report to the National Institute of Law Enforcement and Criminal Justice on Empirical
Investigations of Correctional Cost Functions" (with Anne D. Witte, William C. McGuire, Jeffrey R. Bass,
Pamela B. Reid, William J. Trumbull, and Collette D. Chabbott) August 1979, Washington, D.C., grant
report.
Analyst/Administrator for The National Institute of Law Enforcement and Criminal Justice,
Department of Justice, Washington, D.C., May 1978 - November 1979.



                    </div>

                </div>
            </div>
            <div class="pt-page"></div> <!-- end marker (required) -->
		</div>


}