@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Undergraduate Admissions";
}

@section Styles {

}

@section featured {
    <hgroup class="page-title">
        <h1>@Page.Title</h1>
        <h2></h2>
    </hgroup>
    <p><a href="https://apply.ucf.edu/application/login.aspx" class="btn btn-primary btn-lg btn-yellow" role="button" target="_blank">Apply Online</a></p>
}

<h3>Admission Information and Requirements</h3>
<p>Our undergraduate business program prepares students to excel in the real world and obtain leadership positions in the growing global marketplace. Please keep in mind that an admission to UCF does not imply admission to the College of Business Administration and certain requirements need to be met before acceptance.</p>
<h3>Requirements</h3>
<p>a. Completion of the University General Education Program or an AA degree from a Florida public community college with a minimum GPA of 2.0.</p>
<p>b. Common program prerequisites with a minimum of a 2.0 GPA and "C" or better in each class.</p>
<ul>
<li>ACG 2021 - Principles of Financial Accounting</li>
<li>ACG 2071 - Principles of Managerial Accounting</li>
<li>ECO 2013 - Macroeconomics</li>
<li>ECO 2023 - Microeconomics</li>
<li>ECO 3401 - Quantitative Business Tools * (students who have taken MAC 2233 <strong>and</strong> STA 2023 with a "C" or better will be waived from ECO 3401)</li>
<li>CGS 2100 - Fundamentals of Computers in Business</li>
</ul>
<p>c. Completion of all Gordon Rules Requirements.</p>
<p>d. Overall GPA of 2.0 or above.</p>
<p>Upon completion of all requirements, please go online through your <a title="myUCF" href="https://my.ucf.edu" target="_blank">myUCF</a> - Student Self Service. Follow these steps:</p>
<ul>
<li>Click on the drop-down box in the middle of the page.</li>
<li>Highlight the "Change Major: Request" area to declare your business major (from pending to BSBA).</li>
</ul>