@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Undergraduate Admissions";
}

@section styles {
    <!-- page-specific styles (optional) -->
    <!-- <style>/*-- styles --*/</style> -->
}

@section featured {
    <!-- featured content (optional) -->
    <!--<section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
                <h2>Page Subtitle.</h2>
            </hgroup>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </section>-->
}