@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Admissions";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<article>

    <section>
        <div>
            <h3>How to Apply for a Business Major</h3>
            <p>Applying to the College of Business Administration is easy and straightforward—if you meet all of the requirements outlined below, your admission is guaranteed!</p>
            <p>Because the University does not guarantee acceptance to majors; College of Business students who plan to pursue a business degree are accepted to the college as preliminary business students, also known as “business pending” students.  Students seeking to declare and complete a major as part of the College of Business must meet the following requirements to qualify:</p>
            <p>Completion of UCF’s General Education Program, including the Gordon Rule Requirements with a minimum overall GPA of 2.0; or an AA degree awarded from a Florida public institution (including Community College, State College, and University) with a minimum overall GPA of 2.0.</p>
            
        </div>
    </section>

<section>
    <div>
            <h3>Admissions Requirements</h3>
            <p>Our undergraduate business programs prepare students to excel in the real world and obtain leadership positions in the growing global marketplace.  Please keep in mind that admission to UCF does not imply admission to the College of Business Administration and certain requirements need to be met before acceptance into the College. Prior to meeting these requirements, students who plan to pursue a business degree are accepted to the college as preliminary business students; also known as a “business pending.” </p>
            <p>Typically freshmen and sophomore students are restricted in the business courses they may register for and cannot declare a major within the College of Business until they complete the prerequisites necessary to apply and are accepted as upper-division students.  Also students who change from another major or are second degree seeking students and have decided to complete a major in Business will be restricted in the business courses they may register for and cannot declare a major within the College of Business until they complete the prerequisites necessary to apply and be accepted.</p>

    </div>
</section>

                                
<section>
		<div>
            <h3>Prerequisite Business Course Requirements</h3>
            <p>You must complete ALL prerequisite courses with a minimum of a 2.0 GPA and “C” or better in each class before you can be admitted to the College of Business.</p>

            <ul>
                <li>ACG 2021 Introduction to Financial Accounting</li>
                <li>ACG 2071 Introduction to Managerial Accounting</li>
                <li>ECO 2013 Principles of Macroeconomics</li>
                <li>ECO 2023 Principles of Microeconomics</li>
                <li>CGS 2100 Fundamentals of Computers in Business</li>
                <li>ECO 3401 Quantitative Business Tools <small>- OR -</small></li>
                <li>STA 2023 and MAC 2233	Introduction to Statistics  and Survey of Calculus</li>
            </ul>

            <h3>Pre Business Course Requirements</h3>

            <h4>Transfer Students</h4>
            <p>All newly admitted students are required to attend a mandatory orientation session. Students receive notification and documentation about signing up for the UCF Orientation Program once they are admitted to the university. At orientation, students meet with representatives from Undergraduate Student Services and are provided information (i.e., deadlines, policies and procedures) regarding UCF and the College of Business Administration. Advisors discuss major requirements and assist in creating a class schedule for the incoming semester.</p>

        </div>
</section>

                                
<section>
		<div>

        <h3>Prepare for Orientation</h3>
        <p>Make Sure Student Health Services Has ALL Immunization Records:</p>

        <ul>
            <li>Check myUCF</li>  
        <li>If you are on Hold, contact the Health Records Hotline at (407) 823-3707</li>  
        <li>You CANNOT register until you resolve ALL Holds and complete orientation </li>                         

        </ul>

        <h3>Review Your Degree Requirements Before Attending Orientation:</h3>
        <ul>
                    <li>The Undergraduate Catalog lists all majors and degree requirements</li> 
        <li>Formulate questions once you have reviewed your degree requirements</li>                

        </ul>

        <h3>Print, Review, and Bring Academic Information to Orientation:</h3>
        <ul>
                            
        <li>Bring (official or unofficial) transcripts from prior institutions </li> 
        •	Bring copies of dual enrollment or test credit </li> 
        •	Print UCF Degree Audit Found at: myUCF </li>
        Student Self Service > Student Center > Other Academic (Drop Down Box)  </li>
        •	Submit all final, official transcripts from high school and/or any other institutions attended to Undergraduate Admissions </li>
        </ul>

        <h3></h3>Check the Course Schedule Online:</h3>
                                    <ul>
        <li>Learn to navigate the system ahead of time</li> 
        <li>The Course Schedule can be found online.</li> 
            </ul>
        <h3>Learn Your PID:</h3>
        <ul>
        <li>If you do not remember your PID, go online to myUCF</li>
        <li>Click on "What are my PID and NID?" link (located under the sign on box) </li>
        <li>If you have forgotten your password contact the Help Desk at 407.823.5117 </li>                            

        </ul>

        <h3>Sign Up for KnightsMail Account:</h3>
        <ul>
        <li>This is your official UCF account for ALL university correspondence</li> 
        <li>Check KnightsMail for more information </li>
        </ul>
        <h3></h3>Placement Examination Information:</h3>
        <ul>

        <li>Students may need to complete a Math Placement Exam to be allowed to enroll in certain courses for the major</li> 
        <li>If you have not already completed College Algebra, you will be required to take a Placement Exam </li>
        <li>For more information please visit Knight Source </li>
        </ul>



        <h3></h3>During Orientation</h3>
        <h4>Be On Time:</h4>
        <ul>
        <li>Allow ample time to park and walk to the Student Union</li> 
        <li>You MUST complete Check-In and have your immunization processed</li> 

        </ul>


        <h4>Dress Appropriately:</h4>
        <ul>
            <li>Comfortable shoes and umbrellas are recommended - You will be walking throughout campus</li> 
        <li>Rooms on campus are well air-conditioned - be prepared for cool temperatures</li>                            

        </ul>

        <h3>After Orientation</h3>
        <h4>This Is Only the Beginning:</h4>

        <ul>
            <li>Be prepared to make individual appointments with an academic advisor after classes begin</li>  
        <li>Review your schedule prior to the start of the semester</li>  
        <li>Check fee invoice</li>  
        <li>Get involved</li>  
        <li>Be aware of all important dates and deadlines by reviewing the academic calendar</li>                            

        </ul>



        <h3>Remember</h3>
        <h4>Transcripts (Official Copies)</h4>
        <ul>
                            
        <li>Transcripts (Official Copies) submit all college and/or university transcripts and test scores (through which you gain credit) to Undergraduate Admissions</li>
        <li>Submit high school transcripts to Undergraduate Admissions if you have completed the foreign language admissions requirement in high school </li>
        </ul>

        <h4>Foreign Language Admissions Requirement</h4>
        <ul>
            <li>Complete two years of the same foreign language in high school OR</li> 
        <li>Complete one year of college instruction in the same foreign language </li>                            

        </ul>



        <h4>General Education Program/Associate of Arts (A.A.)</h4>
        <ul>
        <li>Students who transfer without an Associate of Arts (A.A.) earned at a Florida public institution may be subject to complete the UCF General Education Program requirement</li>
        <li>See an academic advisor on your campus prior to transferring to discuss these requirements</li>   
        <li>Once at UCF, those students without an A.A. should meet with Transfer and Transition Services </li>                            


        </ul>

        <!--Transfer Orientation-->



        <p>UCF Orientation Dates - <a href="http://orientation.ucf.edu/dates-and-costs">http://orientation.ucf.edu/dates-and-costs</a></p>


        </div>
</section>


<section>
		<div>

        @*<p>Welcome to the Undergraduate Programs in the College of Business Administration. The Undergraduate Student Services 
            office is your main source for academic support. We handle academic advising for all COBA majors and minors in the 
            College of Business, as well as advising on COBA and UCF policies and procedures.  Our mission is simple: to provide 
            quality academic advisement to students and to support all elements of their academic experience. We strive to 
            efficiently and professionally advise students with clear communication and concerned care and serve creative solutions to problems. 
            Students use our services primarily by appointment, but walk-ins are welcomed. Be advised that walk-in advising 
            will incur longer wait times. Please understand that the sole purpose of our office is for academic advising, 
            professional development and special situations.</p>*@

        <h5>Undergraduate Student Services</h5>
        <p>Office Location: BA 2, Room 101</p>

        <ul>Office Hours: 
            <li>8:00am to 5:00pm (Monday, Thursday and Friday)</li>
            <li>8:00am to 7:00pm (Tuesday and Wednesday)</li>
        </ul>

        <p>Advising Office Hours are 8:00am to 5:00pm Monday through Friday when school is not in Session.</p>	 

        <ul>
            <li>Phone: (407) 823-2184</li>
            <li>Fax: (407) 823-6206</li> 
            <li>Email: uss@bus.ucf.edu</li>  
            <li>Facebook Page: www.facebook.com/BusinessAdvisingUCF</li> 
        </ul>

        <p>Our advisors are professionals who can help guide you through the curriculum so that you may earn a degree that is of the greatest possible value to you in the most reasonable amount of time. While advisors may provide guidance and recommendations, the final decision and responsibility for your academic career rests on your shoulders. Your experience here will be most beneficial if you stay informed by reviewing your degree audit and visit with an advisor regularly.</p>

        </div>
</section>

</article>