@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Undergraduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<p>Welcome to the Office of Undergraduate Student Services (USS) in the UCF College of Business Administration. The mission of the USS office is simple: to provide quality academic advisement to students and support all elements of their academic experience as prescribed by the faculty of the college. As this is our focus, we look forward to helping you chart a path towards success during your experience at UCF.</p>

<p>With a seasoned professional advising staff and an experienced peer advising team available to address your questions and concerns, students are encouraged to visit the USS office for assistance throughout their course of study. We are ready to lend a hand with a wide range of items including, but not limited to:</p>

<ul>
    <li>academic advisement</li>
    <li>admission to the college</li>
    <li>registration issues</li>
    <li>transient/transfer course evaluation</li>
    <li>graduation</li>
</ul>

<p>Likewise, we hope your decision to visit this website has been rewarded with helpful information relating to degree requirements, advising appointments, important dates, and USS contact information among other items.</p>

<p>Please do not hesitate to reach us if we can be of assistance. As UCF Stands For Opportunity, we look forward to helping you capitalize on your experience during your time at the University of Central Florida. With this in mind, please visit the USS office to learn more about your degree curriculum and the responsibilities you share as a student in the College of Business Administration. In doing so, the Office of Undergraduate Student Services shares its gratitude for allowing it to serve as an integral component to your scholarship at UCF.</p>


Contact Our Office
Admission Requirements
Transient Student Information
Degree Programs
Peer Advising
Petitions
Probation
Lack of Progress
Readmission
Career Services
Orientation Resources
Graduation Information