@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "International Programs";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    .cover-img {}
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h2>@Page.Title</h2>
        <h1></h1>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                                                        
                            If you are a student interested in applying for one of the semester exchange programs, you must first meet with Sandra Tabert in the Undergraduate Academic Advising office. Please visit the COBA Pass website and schedule an appointment to meet with her directly. Afterwards, you will be required to log in to the UCF Study Abroad Online System and fill out the application by the deadline date posted for the program that you are interested in. You must also fill out the "Essay" section of the application, but will not be required to fill out the "References" section. The International Business Study Abroad Committee will meet after the posted deadline for review and selection. Once all seats are taken, additional applicants will be placed on a waiting list.
                            The Semester Exchange programs for undergraduate business students are carried out with UCF partner schools. All partner schools hold both regional, and AACSB and/or EQUIS business school accreditation. UCF students must pay UCF tuition, living expenses, and for their travel. Participants can use financial aid, scholarships, and student loans to help cover the cost of these programs. Students must be accepted into a specific program before being allowed to register for classes. UCF students must be registered for at least 12 credit hours during their semester abroad
                            College of Business Administration students in The Burnett Honors College have the ability to apply for the IB Scholarship that is sponsored by the College of Business Administration and the Honors College. If you are an Honors student, please make sure to apply for the IB Scholarship before the deadline date in order to be eligible for the scholarship. Contact Sandra Tabert or Nicole Gelfert for more information on scholarships available to Honors students.
                            For more information on financial aid, including grants, loans and scholarships, please meet with Ric Colon in the Office of Student Financial Assistance in Millican Hall, Room 120, or send him an email.
                            Eligibility Requirements:
                            1.	Business major
                            2.	Business Common Program Prerequisites complete
                            3.	Earned a cumulative GPA of at least a 3.0 at UCF
                            4.	Satisfied all necessary prerequisites prior to the study abroad term
                            5.	Has attended UCF for at least two full semesters prior to the beginning of the semester abroad
                            6.	You must have at least one semester left to graduate, upon returning from your semester abroad.
                            Business Exchange Programs
                            •	Brisbane, Australia - Griffith University (PDF)
                            •	Vienna, Austria - Vienna University of Economics and Business (PDF)
                            •	Nancy, France - ICN Business School (PDF)
                            •	Tilburg, Netherlands - Tilburg University (PDF)
                            •	Barcelona, Spain - Institut Químic de Sarrià (IQS) (PDF)
                            •	Jönköping, Sweden - Jönköping University (PDF)
                            For more information about the semester exchange programs, please contact Sandra Tabert in the College of Business Administration or visit the Office of International Studies. You may also contact Faculty Advisor Dr. Robert Sweo.
                            
		                </div>
	                </div>
                </section>

                <section id="">
                    <div class="canvas">
		                <div class="container">
                                                        
                            Short-term study abroad programs are often offered over the Summer, but can also be take place during Spring Break or Winter Break. They are ideal for students with limited time and resources who still want to experience multi-cultural interaction and intellectual growth. Short-term programs offer students the opportunity to immerse themselves in aspects of another culture—the language, literature, history, art and archaeology—as well as have the opportunity to live abroad.
                            If you are interested in applying for one of the short-term study abroad programs, you must first meet with Sandra Tabert in the Undergraduate Academic Advising office. Students will be required to log in to the UCF Study Abroad Online System to apply for the programs. Applications and information about program fees and payment deadlines are handled by the UCF Office of International Studies.
                            Eligibility Requirements
                            •	Minimum 2.5 overall GPA
                            •	MAR 3023 or MAN 3025 completed with a "C" or better by the end of the Spring semester
                            •	Junior standing (at least 60 credits completed)
                            Business Summer Programs
                            •	Nancy, France - ICN Business School
		                </div>
	                </div>
                </section>

                <section id="">
                    <div class="canvas">
		                <div class="container">

                            The Global Ambassador Program is a volunteer peer advising platform designed specifically for UCF College of Business students who are currently, or have recently returned, from their international education experiences. Having studied abroad, the Ambassadors can attest to the benefits of the international experience and have unique, real-life stories to share with students who are just embarking on their educational endeavors. The Global Ambassadors are a vital component in motivating other students to take advantage of the many international opportunities that studying abroad has to offer. If you want to know what it is really like to live in another country or what the classes are like overseas, contact one of our Global Ambassadors.
                            Search below for your program of interest and connect directly with your peers!
                            AUSTRALIA - Griffith University
                            Name: Peter Brennan
                            •	Major: Accounting
                            •	Semester Abroad: Spring 2013 – Griffith University
                            •	Graduating Semester: Spring 2014
                            What would you say to a student who was interested in studying abroad?
                            Studying abroad, particularly in Australia, is truly an unforgettable experience.  I have only been here for a short period of time, but I can already say that it has been a part of my life that I will never forget. You meet so many different people while learning about the world and yourself. 
                            There is no better time to travel to a place like Australia than while in college. I can say with certainty that this is going to be my favorite memory as an undergraduate at UCF.
                            What do you wish you had known about your program before you left?
                            I wish I knew how much higher the cost of living is in Australia.  Had I known this, I would have tried to save more money.
                            Name: Rachael Hammer
                            •	Major: General Business
                            •	Minor: International Business
                            •	Semester Abroad: Summer 2011 – ICN Business School of France
                            •	Semester Abroad: Spring 2013 – Griffith University
                            •	Graduating Semester: Fall 2013
                            AUSTRIA - Vienna University of Economics and Business
                            Name: Zvjezdana Jovetic
                            •	Major: General Management
                            •	Minor: International Business
                            •	Semester Abroad: Spring 2013 – Vienna University of Economics & Business
                            •	Graduating Semester: Spring 2014
                            FRANCE - ICN School of Business
                            Name: Victoria Kreinbrink
                            •	Semester Exchange Program or University Name: ICN Nancy
                            •	Country Abroad: France
                            •	Semester Abroad (Term and Year): Fall 2012 and Spring 2013
                            •	Additional Countries Visited While Abroad: Switzerland, Italy, Spain, Portugal, Germany, Luxembourg, Netherlands
                            •	Major (s): Biology and Economics
                            •	Minor (s): Environmental Studies
                            •	Expected Graduation Date: Spring 2014
                            What would you say to a student who was interested in studying abroad?
                            It really changes who you are as a person and your perspective on things. It also helps you become more independent and adapt to situations you might encounter.
                            Name: Rebecca Laube
                            •	Major: Business Economics
                            •	Minor: International Business
                            •	Minor: Medical Anthropology
                            •	Semester Abroad: Fall 2012 – ICN Business School of France
                            •	Semester Abroad: Spring 2013 – ICN Business School of France
                            •	Graduating Semester: Spring 2014
                            What would you say to a student who is interested in studying abroad?
                            Studying abroad is the experience of a lifetime.  You get the opportunity to meet people from around the globe, learn using completely different methods and perspectives and gain more outside the classroom than you ever thought possible.  Although there are ways to make studying abroad more affordable, it is worth every cent!
                            What do you wish you had known about your program before you left?
                            I wish that I knew more about the style of teaching and learning in France and at ICN in particular – it is quite different than at UCF.  I was very pleasantly surprised by the classroom atmosphere, however, and the global learning environment is superb!
                            Name: Elizabeth Thomas
                            •	Semester Exchange Program or University Name: ICN Business School
                            •	Country Abroad: France
                            •	Semester Abroad (Term and Year): Spring 2013
                            •	Additional Countries Visited While Abroad: Luxembourg, Switzerland, Hungary, Austria, Czech Republic, Iceland
                            •	Major(s): Accounting
                            •	Minor(s): International Business
                            What would you say to a student who was interested in studying abroad?
                            Studying abroad gives you a great opportunity to make multinational friends in your program, allowing you to learn with groups of students from all over the world. It’s a once in a lifetime opportunity.
                            Name: Melissa Hedtke
                            •	Semester Exchange Program or University Name: ICN Business School
                            •	Country Abroad: France
                            •	Semester Abroad (Term and Year): Spring 2013
                            •	Additional Countries Visited While Abroad: Spain and Switzerland (planned trips to Italy, UK and Greece)
                            •	Major(s): Economics and Finance
                            •	Minor(s): International Business
                            •	Expected Graduation Date: Spring 2014
                            What would you say to a student who was interested in studying abroad?
                            I would tell them to consider all aspects of the experience. Studying abroad is much more than just attending a university in another country. There are many experiences you can only get by being in a different place.
                            What do you wish you had known about your program before you left?
                            I wish I had learned more French before coming to Nancy, France. It would have also been helpful to have a list of forms and paperwork I needed to fill out after arriving. 
                            SPAIN - Institut Químic de Sarrià (IQS)
                            Name: Evan Lowe
                            •	Semester Exchange Program or University Name: IQS-Barcelona
                            •	Country Abroad: Spain
                            •	Semester Abroad: Spring 2013
                            •	Additional Countries Visited While Abroad: Greece, France, Italy
                            •	Major(s): Finance and Accounting
                            •	Minor(s): Economics
                            •	Expected Graduation Date: Fall 2014
                            What would you say to a student who was interested in studying abroad?
                            If you can pull it off comfortably financially, do it, and if you can't do it financially right now, make it your goal to be able to in the near future! Even if it puts you a little behind in your coursework, do it anyway. It is a once in a life time opportunity and you don't want to look back 10 years from now and WISH you had studied abroad. If your reason for not wanting to go is fear, that is all the more reason to do it. Getting out of your comfort zone is the best way to grow as a person.
                            What do you wish you had known about your program before you left?
                            I wish I had a better idea of where I would be living when I got here as well as have more concrete dates for exams.
                            Name: Drew Kelly
                            •	Semester Exchange Program or University Name: IQS-Barcelona
                            •	Country Abroad: Spain
                            •	Semester Abroad: Spring 2013
                            •	Major(s): General Business
                            •	Minor(s): International Business & Sports Business Management
                            •	Expected Graduation Date: Fall 2014



		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->