@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Undergraduate Programs";
}

@section Styles {

}

@section featured {
    <hgroup class="page-title">
        <h1>@Page.Title</h1>
    </hgroup>
    <p><a href="https://apply.ucf.edu/application/login.aspx" class="btn btn-primary btn-lg btn-yellow" role="button" target="_blank">Apply Online</a></p>
}


<section class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6">

            <h2>Bachelors of Science in<br>Business Administration <small>(7)</small></h2>
            <p>The Bachelor of Science in Business Administration is designed for students who wish to receive specialized training in any of 7 degree tracks.</p>

            <div><a href="~/programs/bsba-accounting">Accounting</a></div>
            <div><a href="~/programs/bsba-economics">Economics</a></div>
            <div><a href="~/programs/bsba-finance">Finance</a></div>
            <div><a href="~/programs/bsba-general-business">General Business</a></div>
            <div><a href="~/programs/bsba-management">Management</a></div>
            <div><a href="~/programs/bsba-marketing">Marketing</a></div>
            <div><a href="~/programs/bsba-real-estate">Real Estate</a></div>
        </div>
        <div class="col-xs-12 col-sm-6">

            <h2>Bachelor of Arts in<br>Business Administration</h2>
            <p>
                The Bachelor of Arts in Business Administration is designed for
                students who wish to receive training in Business within a broad
                liberal arts education. <br><a href="~/programs/baba">Learn more.</a>
            </p>

            <h2>Bachelor of Arts in<br>Economics</h2>
            <p>
                The Bachelor of Arts in Economics is designed for students who wish
                to receive specialized training in Economics within a broad liberal
                arts education. <br><a href="~/programs/ba">Learn more.</a>
            </p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><h2>Business Minors <small>(11)</small></h2></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div><a href="~/programs/minor-accounting">Accounting</a></div>
            <div><a href="~/programs/minor-economics">Economics</a></div>
            <div><a href="~/programs/minor-economics-policy">Economics Policy</a></div>
            <div><a href="~/programs/minor-entrepreneurship">Entrepreneurship</a></div>
        </div>
        <div class="col-md-4">
            <div><a href="~/programs/minor-finance">Finance</a></div>
            <div><a href="~/programs/minor-general-business">General Business</a></div>
            <div><a href="~/programs/minor-international-business">International Business</a></div>
            <div><a href="~/programs/minor-marketing">Marketing</a></div>
        </div>
        <div class="col-md-4">
            <div><a href="~/programs/minor-real-estate">Real Estate</a></div>
            <div><a href="~/programs/minor-sport-business">Sport Business Management</a></div>
            <div><a href="~/programs/minor-technological-entrepreneurship">Technological Entrepreneurship</a></div>
        </div>
    </div>
</section>