@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Study Abroad";
}

@section Styles {
    <!--<style> /*-- page-specific styles --*/
        /*.cover-img {background-image: url('/images/bg.jpg');}*/
    </style>-->
}

@section featured {
    <div>
        @*<p><a href="https://apply.ucf.edu/application/login.aspx" class="btn btn-primary btn-lg btn-yellow" role="button" target="_blank">Apply Online</a></p>*@
        <hgroup class="page-title">
            <h1>@Page.Title</h1>
        </hgroup>
    </div>
}

<header>
    <div class="container-fluid">
        <div class="row" style="background-image:url(/images/sa-bg.jpg); background-repeat:no-repeat; background-size:cover; background-position: bottom center;">
            <h1 class="text-center" style="padding: 100px 0">Study Abroad is a life changing experience.</h1>
        </div>
    </div>
</header>

<section>
    <div class="content container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <h2>If you don’t believe it, just ask anyone who has returned from a semester or year in another country.</h2>
                <p class="lead">In fact, study abroad students are so passionate that you may have a hard time getting them to stop talking about traveling to new places, meeting new friends, exploring new cultures and learning about international business practices.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <blockquote>
                    <img src="/images/pjarley.jpg" class="img-rounded img-responsive" style="float:right; margin:1em;" />
                    <p>Studying abroad will not only demonstrate to potential employers your willingness to get out of your comfort zone and embrace new experiences, it will teach you more about yourself and the place you call home than you can imagine. Seeing how other people live, work, and solve familiar problems in unfamiliar ways will give you greater perspective about human behavior and greater vision to devise solutions to get people where you want them to be. Employers love that skill set… It’s what they call leadership potential.</p>
                    <footer>Paul Jarley, Dean</footer>
                </blockquote>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3>If you are still unsure then consider this:</h3>
                <p class="lead">Out of the 8000 currently enrolled business students, how are you going to differentiate yourself? How are you going to give yourself an edge in an ever increasing competitive job market? How are you going to convince an employer that you have unique qualities and are the one they should hire?</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <blockquote>
                    <img src="/images/amy.jpg" class="img-rounded img-responsive" style="float:left; margin:1em;" />
                    <p>Studying abroad was no easy task. Language barriers, financial aid, time zone differences, academic differences, hundreds of students from around the world put into one room, all added to the whirlwind. But through it all, Mark Twain's words resonated through my mind: "Twenty years from now you will be more disappointed by the things you didn't do than by the ones you did do." Till this day, studying abroad has been one of the best decisions of my life; I have no regrets. My eyes are opened, I recognize my role in the world, and I have grown into a more well-rounded decision maker, risk taker and adventurer!</p>
                    <footer>Amy Bonilla, Business Student</footer>
                </blockquote>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="content container-fluid">
        <p>&nbsp;</p>
        <div class="row">
            <div class="col-sm-6">
                <p>Whether you plan to work for a large international firm or for a bank in your hometown, a semester abroad will help prepare you for your career in our global economy. The College of Business Administration (COBA) is committed to providing our students with international opportunities by partnering with top business schools from around the world.</p>
                <p>Students interested in study abroad should plan to attend a <a href="//internationaleducationweek.ucf.edu/?p=505" target="_blank">Study Abroad Basics</a> presentation offered by the <a href="//www.international.ucf.edu/" target="_blank">UCF Office of International Studies</a>. It is also always advisable to work closely with your academic advisor and/or career coach to discuss how study abroad will fit into your general course of study and graduation plan.</p>
            </div>
            <div class="col-sm-6">
                <p>Please note: The COBA exchange programs listed below are competitive and space is limited.  As a general rule, students will need to have a minimum of a 3.0 GPA to be considered for a COBA exchange program and should discuss the application process with an advisor as far as a year in advance.</p>
                <ul>
                    <li><a href="//www.iqs.edu/en/" target="_blank">Barcelona, Spain – Institut Quimic de Sarria (IQS)</a></li>
                    <li><a href="//www.wu.ac.at/start/en/" target="_blank">Vienna, Austria – Vienna University of Economics and Business (WU)</a></li>
                    <li><a href="//www.icn-groupe.fr/en/" target="_blank">Nancy, France – ICN Business School</a></li>
                    <li><a href="//www.tilburguniversity.edu/" target="_blank">Tilburg, Netherlands – Tilburg University</a></li>
                    <li><a href="//hj.se/en/" target="_blank">Jonkoping, Sweden – Jonkoping University</a></li>
                    <li><a href="//www.griffith.edu.au/" target="_blank">Brisbane, Australia – Griffith University</a></li>
                </ul>
            </div>
        </div>
        <p>After attending a Study Abroad Basics presentation and researching programs, you are encouraged to make an appointment with the Director of International Programs.  The best way to schedule an appointment is by email at <a href="mailto:suzanne.waldrop@ucf.edu?subject=Study Abroad Program">suzanne.waldrop@ucf.edu</a>.</p>
    </div>
</section>