
/* =============================================================================
   Main-Content
   ========================================================================== */
h5 {
    font-weight: 700;
}

.main-content table td {
    min-width: 50px;
}

.main-content table td:first-child {
    width: 30px;
}

