@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Admissions";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Graduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>

    @*<ul>
        <li>Programs</li>
        <li>Admissions</li>
        <li>Certificates</li>
    </ul>*@
}

    <h3>Application Form</h3>
    <p>This form must be completed online . Your application will not be processed until the fee is submitted. This fee is required of all applicants, for each application submitted.</p>
    <hr>

    <h3>Official Transcripts</h3>
    <p>If you are not a UCF graduate, official transcripts from each college or university attended showing the equivalent of a U.S. bachelor’s degree must be sent directly to:</p>
    <p>University of Central Florida<br />
    Graduate Studies Office<br />
    P.O. Box 160112<br />
    Orlando, FL 32816</p>
    <p>The minimum requirement for acceptance is a 3.0 GPA in your undergraduate course work. If your degree was not received in the U.S. you must also send one copy of each transcript to an accredited evaluation service for a course-by-course evaluation. We recommend World Education Services (WES) or Josef Silny.</p>
    <hr>

    <h3>Graduate Management Admissions Test (GMAT)</h3>
    <p>For GMAT information or to register for the test, visit <a href="//www.mba.com/">www.mba.com</a>. Please allow six weeks for receipt of test results after taking the examination. For GMAT review course information visit the UCF Test Prep website.</p>
    <h3>Current Resume</h3>
    <p>Upload your current resume into your application before submitting.</p>
    <h3>Goal Statement</h3>
    <p><small>(not required for Master in Accounting or Master in Taxation)</small></p>
    <p>You must write a goal statement of no more than 1000 words addressing the following:</p>

    <ul>
         <li>Prepare a career goal statement outlining your 5- and 10-year objectives, and explain how an MBA will assist you in obtaining these goals</li>                       
    </ul>

    <p>Upload your goal statement into your application before submitting.</p>
    <h3>Three Letters of Recommendation (MBA Only)</h3>
    <p>You must provide three email addresses of recommenders in your application, preferably from academic or professional sources. The recommenders will be emailed a link to complete and submit online recommendation letters for your file.</p>
    <hr>

    <h3>International Students</h3>
    <p>The TOEFL (Test of English as a Foreign Language) is required of all applicants whose native language is not English and do not have a degree from a U.S. institution or English instruction institution. A minimum score of 577 paper-based; 233 computer-based; or 90-91 Internet-based; 7.0 IELTS is required. Questions regarding international student status and I-20 information should be directed to:</p>
    <p>The International Services Center<br />
    University of Central Florida<br />
    Orlando, FL 32816</p>
    <p>Alternatively, call 407-823-2337 or visit the <a href="//www.intl.ucf.edu/">International Services Center</a> website.</p>

    <hr>
    <p>Admission decisions will be made after all official documents and support documents have been submitted and processed. The College of Graduate Studies will notify you by email.</p>
    <p>Make sure you are applying for the correct semester! Applying for an incorrect semester will result in having to submit a second application and application fee. Questions? Email us or call 407-UCF-GRAD.</p>
    <p>Application and application fee must be submitted by the application deadline. Support documents, including official transcripts, GMAT, essay, resume, and three email addresses of recommenders must be submitted no later than one month after the application deadline. For questions regarding the receipt of application documents, contact the College of Graduate Studies at 407-823-2766 or via email . All documents can be mailed to:</p>


    <p>UCF College of Graduate Studies<br />
    P.O. Box 160112<br />
    Orlando, FL 32816</p>
