@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Graduate Business Certificates";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    .cover-img {background-image: url('/images/gbc-bg.jpg');}
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h2>@Page.Title</h2>
        <h1></h1>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                            The Graduate Certificate in Entrepreneurship is designed for those interested in launching new ventures or improving small businesses. The courses describe how to integrate product/service, marketing, management and financial expertise to identify and articulate business opportunities. Each course balances theoretical insights and tactical knowledge reflecting current research and practice.
Required Courses (9 hours) offered evenings only
•	GEB 6115 - Entrepreneurship
•	GEB 6116 - Business Plan Formation
•	GEB 6518 - Strategic Innovation OR MAN 5867 Small Business Consulting
MBA students can count certificate classes as MBA electives. Must apply to a certificate program to be awarded the certificate. Only one business certificate can be earned. No course substitutions allowed.
Admission Requirements
•	Bachelor's degree or graduate degree from a regionally accredited university, or currently enrolled UCF graduate students
•	Minimum 3.0 GPA in the last 60 hours of bachelor's degree
•	Current resume
Application Deadlines
•	Fall : July 15
•	Spring : December 1
For more detailed information on this certificate, contact Dr. Cameron Ford at (407) 823-3700. For information about entrepreneurship opportunities, visit the Center for Entrepreneurship and Innovation website.


		                </div>
	                </div>
                </section>

                                
                <section id="">
                    <div class="canvas">
		                <div class="container">
                            The Graduate Certificate in Technology Ventures is designed for those interested in creating and growing technology-based business ventures, including startups, corporate ventures and spin-outs. The courses offer insight into opportunity assessment, innovation diffusion, intellectual property issues, university-industry collaboration, technology business strategies, and business plan formulation.
Required Courses (9 hours) offered evenings only
•	GEB 5516 - Technological Entrepreneurship
•	GEB 6116 - Business Plan Formation
•	GEB 6518 - Strategic Innovation
Admission Requirements
•	Bachelor's degree or graduate degree from a regionally accredited university, or currently enrolled UCF graduate students
•	Minimum 3.0 GPA in the last 60 hours of bachelor's degree
•	Current resume
Application Deadlines
•	Fall: July 15
•	Spring: December 1
MBA students can count certificate classes as MBA electives. Must apply to a certificate program to be awarded the certificate. Only one business certificate can be earned. No course substitutions allowed.
For more detailed information on these certificates, contact Dr. Cameron Ford at (407) 823-3700. For information about entrepreneurship opportunities, visit the Center for Entrepreneurship and Innovation website.


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->