@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Business Certificates";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Graduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                            <p>The Graduate Certificate in Entrepreneurship is designed for those interested in launching new ventures or improving small businesses. The courses describe how to integrate product/service, marketing, management and financial expertise to identify and articulate business opportunities. Each course balances theoretical insights and tactical knowledge reflecting current research and practice.</p>
<h3>Required Courses (9 hours)</h3>
    <p><small>offered evenings only</small></p>
<ul>

    <li>GEB 6115 - Entrepreneurship</li>
    <li>GEB 6116 - Business Plan Formation</li>
    <li>GEB 6518 - Strategic Innovation OR MAN 5867 Small Business Consulting</li>

                            </ul>

<p>MBA students can count certificate classes as MBA electives. Must apply to a certificate program to be awarded the certificate. Only one business certificate can be earned. No course substitutions allowed.</p>
<h3>Admission Requirements</h3>
<ul>
<li>Bachelor's degree or graduate degree from a regionally accredited university, or currently enrolled UCF graduate students</li>
<li>Minimum 3.0 GPA in the last 60 hours of bachelor's degree</li>
<li>Current resume</li>

</ul>
<h3>Application Deadlines</h3>
<ul>
  <li>Fall : July 15</li> 
<li>Spring : December 1</li>                          

</ul>
<p>For more detailed information on this certificate, contact Dr. Cameron Ford at (407) 823-3700. For information about entrepreneurship opportunities, visit the Center for Entrepreneurial Leadership website.</p>


		                </div>
	                </div>
                </section>

                                
                <section id="">
                    <div class="canvas">
		                <div class="container">
                            <p>The Graduate Certificate in Technology Ventures is designed for those interested in creating and growing technology-based business ventures, including startups, corporate ventures and spin-outs. The courses offer insight into opportunity assessment, innovation diffusion, intellectual property issues, university-industry collaboration, technology business strategies, and business plan formulation.</p>
<h3>Required Courses (9 hours)</h3> 
                            <p><small>offered evenings only</small></p>
<ul>
                            
<li>GEB 5516 - Technological Entrepreneurship</li>
<li>GEB 6116 - Business Plan Formation</li>
<li>GEB 6518 - Strategic Innovation</li>

</ul>

<h3>Admission Requirements</h3>
  <ul>
  <li>Bachelor's degree or graduate degree from a regionally accredited university, or currently enrolled UCF graduate students</li>
<li>Minimum 3.0 GPA in the last 60 hours of bachelor's degree</li>
<li>Current resume</li>                          
  
  </ul>
<h3>Application Deadlines</h3>
<ul>

<li>Fall: July 15</li>
<li>Spring: December 1</li>
</ul>


<p>MBA students can count certificate classes as MBA electives. Must apply to a certificate program to be awarded the certificate. Only one business certificate can be earned. No course substitutions allowed.</p>
<p>For more detailed information on these certificates, contact Dr. Cameron Ford at (407) 823-3700. For information about entrepreneurship opportunities, visit the Center for Entrepreneurial Leadership website.</p>


		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->