@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Ribeye|Arvo|Sail|Graduate|Cookie|Bevan);

/*-------------------------------------
Primary Styles
-------------------------------------*/
// All

html {
    margin: 0;
    padding: 0;
	overflow:hidden;
}

body {
    @extend html;
    background: #ffcc00;
    background-image: url(../images/bg.jpg);
    background-size: cover;

    h1, h2, h3, h4, h5 {
        padding: .5em 0;
        font-family: 'Arvo', sans-serif;
	    letter-spacing: 1px;
	    font-weight: 400;
        line-height: 1.1em;
    }

    .video-player {
        background: url(../images/video-md.png) no-repeat;
        border:1px solid #444;
        border-radius: 5px;
        width: 420px;
        height: 280px;

        &:hover {
            cursor:pointer;
        }
    }

    .ucf {
        background-image: url(../images/ucflogo.png);
        background-repeat: no-repeat;
        background-size: 310px;
        width: 310px;
        height: 25px;
        text-indent: -999px;
        position: absolute;
        top: -1.5%;
        left: 1.5%;
    }

    .copyright {
        padding:5px;
        font-size:.6em;
        color:#555;
        position:fixed;
        bottom:0;
        left:0;
        z-index: 100;
    }
}

// Tablet
@media screen and (max-width: 999px){
    
    .video-player {
        width: 230px;
        height: 170px;
    }
}

// Mobile
@media screen and (max-width: 599px){
    
    .video-player {
        background: url(../images/video-md.png) no-repeat;
        border:1px solid #444;
        border-radius: 5px;

        &:hover {
            cursor:pointer;
        }
    }
}

// Small Desktop
@media screen and (min-width: 1000px){

    .ucf {
        background-size: 310px;
    }
    
    .video-player {
        background: url(../images/video-md.png) no-repeat;
        border:1px solid #444;
        border-radius: 5px;
        width: 420px;
        height: 280px;

        &:hover {
            cursor:pointer;
        }
    }
}

// Notebook
@media screen and (min-width: 1300px){}

// Large Desktop
@media screen and (min-width: 1600px){}


// Partials
/*-------------------------------------
Social
-------------------------------------*/
@import 'partials/socialbuttons';


// Modules
/*-------------------------------------
Fullpage JS
-------------------------------------*/
@import 'modules/fullpage/fullpage';
@import 'modules/fullpage/section';
@import 'modules/fullpage/slide';