@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Bachelors of Arts";
}

@section Styles {
	<!--<style> /*-- page-specific styles --*/
		/*.cover-img {background-image: url('/images/bg.jpg');}*/
	</style>-->
}

@section featured {
	<div>
		@*<p><a href="https://apply.ucf.edu/application/login.aspx" class="btn btn-primary btn-lg btn-yellow" role="button" target="_blank">Apply Online</a></p>*@
		<hgroup class="page-title">
			<h1>Business Administration</h1>
			<h2>@Page.Title</h2>
		</hgroup>
	</div>
}

<header>
	<div class="content container-fluid"></div>
</header>

<section id="core-business-courses">
	<div class="content container-fluid">
		<h2>Core Business Courses</h2>
		<h4>Business Core (36 credits)</h4>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>GEB 3031</strong> Cornerstone Lecture <br><small>(1st or 2nd term Admitted)</small></h5>
				<small>
					<em>(PR: Admitted to the College of Business, Junior Standing CR:GEB3031L)</em>
				</small><p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>GEB 3031L</strong> Cornerstone Lab <br><small>(1st or 2nd term Admitted)</small></h5>
				<small>
					<em>(PR: Admitted to the College of Business upon completion of business prerequisites CR: GEB 3031)</em>
				</small><p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>MAR 3023</strong> Marketing</h5>
				<small>
					<em>(PR: Admitted to UCF)</em>
				</small><p>&nbsp;</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>GEB 3375</strong> Intro to International Business</h5>
				<small>
					<em>(PR: ACG 2021, ACG 2071, ECO 2013, ECO 2023 and Junior Standing)</em>
				</small><p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>BUL 3130</strong> Legal &amp; Ethical Environments of Business</h5>
				<small>
					<em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
				</small><p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>ECO 3411</strong> Quantitative Business Tool II</h5>
				<small>
					<em>(PR: Admitted to the College of Business, ECO 2013, ECO 2023 & ECO 3401, Junior Standing)</em>
				</small><p>&nbsp;</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>FIN 3403</strong> Business Finance**</h5>
				<small>
					<em>(PR: ACG 2021, ECO 2023 and Junior Standing)</em>
				</small><p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>MAN 3025</strong> Management of Organization</h5>
				<small>
					<em>(PR: Admitted to the College of Business upon completion of business prerequisites, Junior Standing)</em>
				</small><p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>MAR 3203</strong> Supply Chain Management</h5>
				<small>
					<em>(PR: Admission to the College of Business or completion of ECO3401 with a "C" or better)</em>
				</small><p>&nbsp;</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h5>Graduating Semester:</h5>
				<h5><strong>MAN 4720</strong> Strategic Management/Capstone</h5>
				<small>
					<em>(PR: MAN 3025, MAR 3023, FIN 3403 and GEB 3031 & GEB3031L)</em>
				</small><p>&nbsp;</p>
			</div>
		</div>
	</div>
</section>

<section id="required-major-courses">
	<div class="content container-fluid">
		<h2>Regional Campus Students ONLY</h2>
		@*<p class="note">Not eligible for a double degree or double major with another CBA major</p>
			<p>&nbsp;</p>*@
		<h4>Approved Academic Minor from Selected Regional Campuses</h4>
		<ol>
			<li>Anthropology in Multicultural Studies (ALL)
			<li>Coaching (South Lake)
			<li>Communication Sciences and Disorders (Cocoa)
			<li>Crime, Law & Deviance (ALL)
			<li>Criminal Justice (ALL)
			<li>Diversity & Social Inequality (ALL)
			<li>English Creative Writing (ALL)
			<li>Exceptional Education (Cocoa, Daytona)
			<li>Health Services Administration (ALL)
			<li>History (ALL)
			<li>Human Communication (Cocoa, Daytona, Osceola, Palm Bay, Sanford, Valencia West)
			<li>Legal Studies (ALL)
			<li>Mass Communication (ALL)
			<li>Mass Culture & Collective Behavior (ALL)
			<li>Medical Sociology (ALL)
			<li>Political Science (ALL)
			<li>Psychology (ALL)
			<li>Sociology (ALL)
			<li>Tech. Education & Industry Training (ALL)
			<li>Women's Studies (ALL)</li>
		</ol>
		<h4>One Year (Two Semesters) of Foreign Language</h4>
		<p>Proficiency equivalent to one year of college instruction in a foreign language taught by the Department of Modern Languages and Literatures or Judaic Studies is required. 
		Standardized examinations for foreign languages may be used to meet the requirement.</p>
		<h4>Additional Electives</h4>
		<p>Students must fulfill both University requirements and those for their major in order to receive a bachelor's degree from UCF. 
		All students must earn a minimum of 120 unduplicated credit hours with at least a "C" average (2.0 GPA) for all UCF course work attempted.</p>
		<h4>Upper-Level Requirements</h4>
		<p>Must complete at least 48 of these 120 credit hours in 3000-4000 level courses (upper-division) in order to complete the degree.</p>
	</div>
</section>

<section id="curricular-learning-goals">
	<div class="content container-fluid">
		<h2>Curricular Learning Goals</h2>
		<p>UCF General Business BABA will be able to: </p>
		<h4>Discipline Specific Knowledge, Skills, Behavior and Values Outcomes</h4>
		<ol>
			<li>Demonstrate comprehension of basic business terminology and concepts.
			<li>Utilize basic accounting and financial, mathematical, and/or statistical analysis tools to analyze general business related problems.
			<li>Comprehend various ethical situations confronted in business environments.
			<li>Distinguish global and cultural differences in business environments and practices.
			<li>Apply appropriate information technologies to specified business situations.</li>
		</ol>
		<h4>Critical Thinking Outcomes</h4>
		<p>Demonstrate satisfactory critical thinking skills by analyzing specified business problems, applying proper logic, assessing the quality/validity of the data, and formulating valid conclusions based on the analyses.</p>
		<h4>Communication Outcomes</h4>
		<p>
			Produce proficient written and oral communications related to business applications./p>

			<h4>Assessment of Management Outcomes</h4>
		<p>These outcomes will be assessed using a variety of assessment methods, including:</p>
		<ul>
			<li>Exams</li>
			<li>Projects</li>
			<li>Written assignments</li>
			<li>Oral presentations</li>
		</ul>
	</div>
</section>