@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Graduate Certificates";
}

@section Styles {
    <!--<style> /*-- page-specific styles --*/
        /*.cover-img {background-image: url('/images/bg.jpg');}*/
    </style>-->
}

@section featured {
    <div>
        <hgroup class="page-title">
            <h1>@Page.Title</h1>
        </hgroup>
    </div>
}

<header>
    <div class="content container-fluid">
        @*<p>Please Note: the information listed on the website is for the @DateTime.Today.Year Catalog Year. Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>*@
    </div>
</header>


<section id="entrepreneurship">
    <div class="content container-fluid">
        <h2>Entrepreneurship</h2>
        <p>This certificate is designed for those interested in launching new ventures or improving small businesses. The courses describe how to integrate product/service, marketing, management and financial expertise to identify and articulate business opportunities. Each course balances theoretical insights and tactical knowledge reflecting current research and practice.</p>
        <h3>Required Courses (9 hours)</h3>
        <p><small>offered evenings only</small></p>
        <div class="row">
            <div class="col-sm-4">
                <h5><strong>GEB 6115</strong> Entrepreneurship</h5>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-4">
                <h5><strong>GEB 6116</strong> Business Plan Formation</h5>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-4">
                <h5><strong>GEB 6518</strong> Strategic Innovation <em>or</em> <strong>MAN 5867</strong> Small Business Consulting</h5>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</section>


<section id="technology-venture">
    <div class="content container-fluid">
        <h2>Technology Ventures</h2>
        <p>This certificate is designed for those interested in creating and growing technology-based business ventures, including startups, corporate ventures and spin-outs. The courses offer insight into opportunity assessment, innovation diffusion, intellectual property issues, university-industry collaboration, technology business strategies, and business plan formulation.</p>
        <h3>Required Courses (9 hours)</h3>
        <p><small>offered evenings only</small></p>
        <div class="row">
            <div class="col-sm-4">
                <h5><strong>GEB 5516</strong> Technological Entrepreneurship</h5>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-4">
                <h5><strong>GEB 6116</strong> Business Plan Formation</h5>
                <p>&nbsp;</p>
            </div>
            <div class="col-sm-4">
                <h5><strong>GEB 6518</strong> Strategic Innovation</h5>
                <p>&nbsp;</p>
            </div>
        </div>
    </div>
</section>

<section id="admission-requirements">
    <div class="content container-fluid">
        <h2>Admission</h2>
        <h3>Requirements:</h3>
        <ul>
            <li>Bachelor's degree or graduate degree from a regionally accredited university, or currently enrolled UCF graduate students</li>
            <li>Minimum 3.0 GPA in the last 60 hours of bachelor's degree</li>
            <li>Current resume</li>
        </ul>
        <h3>Application Deadlines:</h3>
        <ul>
            <li>Fall semester: July 15, @DateTime.Today.Year</li>
            <li>Spring semester: December 1, @DateTime.Today.Year</li>
        </ul>
        <p>&nbsp;</p>
        <p>MBA students can count certificate classes as MBA electives. 
        Must apply to a certificate program to be awarded the certificate. 
        Only one business certificate can be earned. No course substitutions allowed.</p>
        <p>For more detailed information on these certificates, contact Dr. Cameron Ford at (407) 823-3700.</p>
    </div>
</section>