@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Minor in Entrepreneurship";
}

@section Styles {
	<!--<style> /*-- page-specific styles --*/
		/*.cover-img {background-image: url('/images/bg.jpg');}*/
	</style>-->
}

@section featured {
	<div>
		<hgroup class="page-title">
			<h1>@Page.Title</h1>
		</hgroup>
	</div>
}

<header>
	<div class="content container-fluid">
		@*<p>Please Note: the information listed on the website is for the @DateTime.Today.Year Catalog Year. Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>*@
	</div>
</header>

<section>
	<div class="content container-fluid">
		<h2>Entrepreneurship Minor: 18 Credits</h2>
		<h5>For Business and Non-Business Majors</h5>
		<p>&nbsp;</p>
		<h4>Required Courses <small>(15 Credits)</small></h4>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>GEB 3113:</strong> Creativity and Entrepreneurship (3 Credits)</h5>
				<small>
					<em>(PR: Sophomore Standing)</em>
				</small>
			</div>
			<div class="col-sm-4">
				<h5><strong>MAN 4802:</strong> New Venture &amp; Small Business Mgt. (3 Credits)</h5>
				<small>
					<em>(PR: GEB3113 or MAN 3025 &amp; FIN3403C)</em>
				</small>
			</div>
			<div class="col-sm-4">
				<h5><strong>GEB 4111:</strong> New Venture Finance (3 Credits)</h5>
				<small>
					<em>(PR: MAN 4802)</em>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>GEB 4110:</strong> Business Plan Preparation (3 Credits)</h5>
				<small>
					<em>(PR: GEB 4111)</em>
				</small>
			</div>
			<div class="col-sm-4">
				<h5><strong>MAR 3765:</strong> Entrepreneurial Marketing (3 Credits)</h5>
				<small>
					<em>(PR: MAR3023 or GEB3113)</em>
				</small>
			</div>
		</div>
		<p>&nbsp;</p>
		<h4>Restricted Electives <small>(3 Credits)</small></h4>
		<p>Select (1) restricted elective from any 3000 or 4000 MAN Course not in CBA Business Core.</p>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>BUL 4540:</strong> Employment Law</h5>
				<small>
					<em>(PR: )</em>
				</small>
			</div>
			<div class="col-sm-4">
				<h5><strong>EGN 4641C:</strong> Engineering Entrepreneurship</h5>
				<small>
					<em>(PR: Senior Standing, GEB 4152)</em>
				</small>
			</div>
			<div class="col-sm-4">
				<h5><strong>GEB 4152:</strong> Tech. Innovation &amp; Entrepreneurship</h5>
				<small>
					<em>(PR: Junior Standing)</em>
				</small>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>GEB 4435:</strong> Moral Foundation of Business</h5>
				<small>
					<em>(PR: Junior Standing)</em>
				</small>
			</div>
		</div>
	</div>
</section>
							