@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Minor in Economics Policy ";
}

@section Styles {
	<!--<style> /*-- page-specific styles --*/
		/*.cover-img {background-image: url('/images/bg.jpg');}*/
	</style>-->
}

@section featured {
	<div>
		<hgroup class="page-title">
			<h1>@Page.Title</h1>
		</hgroup>
	</div>
}

<header>
	<div class="content container-fluid">
		@*<p>Please Note: the information listed on the website is for the @DateTime.Today.Year Catalog Year. Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>*@
	</div>
</header>

<section>
	<div class="content container-fluid">
		<h2>Economics Policy Minor: 18 Credits</h2>
		<h5>For Business and Non-Business Majors</h5>
		<p>&nbsp;</p>
		<h4>Required Courses <small>(6 Credits)</small></h4>
		<p><small>Not open to Economics BA or BSBA majors or Mathematics Majors with the Mathematics Concentration.</small></p>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>ECO 2013</strong> Principles of Macroeconomics (3 Credits)</h5>
			</div>
			<div class="col-sm-4">
				<h5><strong>ECO 2023</strong> Principles of Microeconomics (3 Credits)</h5>
			</div>
		</div>
		<p>&nbsp;</p>
		<h4>Restricted Economics Electives <small>(12 Credits)</small></h4>
		<p>Select (4) restricted electives from any ECO, ECP, or ECS courses at the 3000-4000 level.</p>
		<p><small>*Additional Prerequisites may be required</small></p>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>ECO 3223</strong> Money and Banking</h5>
			</div>
			<div class="col-sm-4">
				<h5><strong>ECO 3704</strong> Global Economic Policy</h5>
			</div>
			<div class="col-sm-4">
				<h5><strong>ECO 4303</strong> History of Economic Thought</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>ECO 4751</strong> Law and Economics</h5>
			</div>
			<div class="col-sm-4">
				<h5><strong>ECP 3302</strong> Economics and the Environment</h5>
			</div>
			<div class="col-sm-4">
				<h5><strong>ECP 3006</strong> Economics of Sports</h5>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>ECS 4013</strong> Development Economics</h5>
			</div>
		</div>
	</div>
</section>
