@{
	Layout = "~/_SiteLayout.cshtml";
	Page.Title = "Minor in Finance";
}

@section Styles {
	<!--<style> /*-- page-specific styles --*/
		/*.cover-img {background-image: url('/images/bg.jpg');}*/
	</style>-->
}

@section featured {
	<div>
		<hgroup class="page-title">
			<h1>@Page.Title</h1>
		</hgroup>
	</div>
}

<header>
	<div class="content container-fluid">
		@*<p>Please Note: the information listed on the website is for the @DateTime.Today.Year Catalog Year. Please refer to your degree audit if you are declared in an earlier Catalog Year.</p>*@
	</div>
</header>

<section>
	<div class="content container-fluid">
		<h2>Finance Minor: 25 Credits</h2>
		<h5>For Business and Non-Business Majors</h5>
		<p>&nbsp;</p>
		<h4>Required Courses <small>(16 Credits)</small></h4>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>ACG 2021</strong> Principles of Financial Accounting (3 Credits)</h5>
				<p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>ECO 2023</strong> Principles of Microeconomics (3 Credits)</h5>
				<p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>FIN 2100</strong> Personal Finance and Investments (3 Credits)</h5>
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>FIN 3403</strong> Business Finance (4 Credits)</h5>
				<small>
					<em>(PR: Junior Standing, ACG 2021 &amp; ECO 2023)</em>
				</small><p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>FIN 3303</strong> Financial Markets(3 Credits)</h5>
				<small>
					<em>(PR: FIN 3403)</em>
				</small><p>&nbsp;</p>
			</div>
		</div>
		<p>&nbsp;</p>
		<h4>Restricted Electives <small>(9 Credits)</small></h4>
		<p>Select (3) restricted electives from Catalog.</p>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>FIN 3414</strong> Intermediate Corporate Finance</h5>
				<p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>FIN 3461</strong> Financial Statement Analysis</h5>
				<p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>FIN 3504</strong> Investment Analysis</h5>
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>FIN 4324</strong> Commercial Bank Management</h5>
				<p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>*FIN 4453</strong> Financial Models</h5>
				<p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>*FIN 4514</strong> Portfolio Analysis and Management</h5>
				<p>&nbsp;</p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-4">
				<h5><strong>*FIN 4533</strong> Financial Derivatives</h5>
				<p>&nbsp;</p>
			</div>
			<div class="col-sm-4">
				<h5><strong>FIN 4604</strong> International Financial Management</h5>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
</section>