@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Master of Science in Accounting";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h2>@Page.Title</h2>
        <h1></h1>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                

                            
<p>View the <a href="http://www.graduatecatalog.ucf.edu/programs/program.aspx?id=1036&program=Accounting%20MSA">course catalog entry</a> for this program.</p>
<p>The Master of Science in Accounting (MSA) program prepares students for careers as professional accountants and consultants in public accounting, financial institutions, government, and nonprofit organizations. The MSA degree, along with the appropriate prerequisite foundation work from an undergraduate degree in accounting, satisfies the Florida education requirements for the CPA license. Students without an undergraduate degree in accounting will have to take additional business and/or accounting foundation courses.</p>
<p>Business foundation courses are designed for students with a nonbusiness undergraduate degree (e.g., psychology, education, or engineering).  Accounting foundation courses are designed for students with an undergraduate business degree (e.g., finance, marketing, or management).</p>
<p>The program is designed to develop the student's analytical, problem-solving and decision-making capabilities to meet the challenges of leadership in professional accounting positions in the present and in ever-changing future. The curriculum provides a broad and creative learning environment with significantly greater breadth and depth in accounting than possible in baccalaureate programs. The MSA degree is awarded upon satisfactory completion of a graduate program of 30 semester hours, and an end-of-program written examination. MSA graduates are highly recruited, advance quickly, and are able to directly shape their future. They are partners. They are consultants and advisors. They own their own practices.</p> 
<p>Visit Charlie Kelliher's website (MSA program advisor) for more information about our MSA program.</p>




		                </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->