@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Professional Masters in Management";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Graduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}

<article>

<div>
<p>UCF’s Professional Master of Science in Management (PMSM), with a concentration in Human Resources, is a unique 16-month evening program. It enables working professionals who aspire to take on leadership roles in human resource or general management to earn an accredited Master’s degree in an accelerated timeframe.</p>
<p>Classes begin in Downtown Orlando in January 2014</p>
</div>

<div>
<hr>
<h3>Curriculum</h3>
<p>PMSM classes meet Tuesday & Thursday evenings, 6:00-9:50 p.m., at the Executive Development Center’s state-of-the-art downtown facility.</p>
<p>The 30-credit hour curriculum comprises five sessions over 16 months with courses covering general management and business strategy as well as advanced offerings in HR management. Participants gain the latest business techniques and knowledge for success in today’s competitive marketplace.</p>
<p>View a list of courses currently taught in the PMSM.</p>

</div>

<div>
<hr>
<h3>Admission Criteria</h3>
<p>PMSM (with an HR concentration) welcomes applications from well-rounded individuals with minimum 2 years’ work experience who bring unique insight to the classroom learning environment and team experience.</p>
<p>Follow these steps to apply:</p>
<ol>
    <li>Complete the online application and remit the $30 application fee.</li>
    <li>Submit all required documents, including official undergraduate transcripts, GMAT or GRE test scores, three letters of recommendation, and a career goal statement outlining your 5- and 10-year objectives, and explaining how the PMSM/HR program will assist you in obtaining these goals.
    </li>
    <li>Schedule an interview with the PMSM Admissions Committee.</li>
</ol>
</div>

<div>
<hr>
<h3>Tuition Schedule</h3>
<p>The tuition for the PMSM program is an all-inclusive package. It covers all tuition costs, textbooks, orientation, parking during class times, class shirt, lifetime membership to the UCF Alumni Association, and all administrative fees. This fee applies to Florida residents only. Non-Florida residents should contact the Executive Development Center to determine the current out-of-state tuition rate for the PMSM program.</p>
<p>Many employers offer PMSM reimbursement packages. Please check with your employer to determine the availability of financial assistance.</p>
<p>Participants of the PMSM program are often eligible for financial aid. Contact UCF’s Financial Aid department for more information.</p>
</div>

</article>