@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Professional Masters in Real Estate";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h1>Graduate</h1>
        <h2>@Page.Title</h2>
    </hgroup>
}


<article>

<div>

<p>UCF’s Professional Master of Science in Real Estate (PMRE) is the Dr. P. Phillips School of Real Estate’s flagship program. It prepares students for senior-level positions in residential and commercial real estate brokerage, appraisal, development, and mortgage brokerage. Students continue their full-time careers while earning the accredited graduate degree.</p>
</div>

<div>
<hr><h3>Curriculum</h3>
<p>PMRE classes meet Monday & Wednesday evenings, 6:00-9:50 p.m., at the Executive Development Center’s state-of-the-art downtown facility.</p>
<p>The 30-credit hour curriculum comprises five sessions over 20 months. Core business courses in accounting, finance, and marketing will be offered with advanced coursework in residential and commercial real estate. Program graduates gain useful knowledge applicable to a variety of real estate-related fields.</p>
<p>View a list of courses currently taught in the PMRE.</p>

</div>


<div>
<hr><h3>Admissions Criteria</h3>
<p>PMRE welcomes applications from well-rounded individuals with minimum 2 years’ work experience who bring unique insight to the classroom learning environment and team experience.</p>
<p>Follow these steps to apply:</p>

<ol>
<li>Complete the online application and remit the $30 application fee.</li>
<li>Submit all required documents, including transcripts, GMAT or GRE test scores, letters of recommendation, and essay.</li>
<li>Schedule an interview with the PMRE Admissions Committee.</li>
</ol>



</div>
       
                            

<div>
<hr><h3>Tuition Schedule</h3>
<p>The tuition for the PMRE program is an all-inclusive package. It covers all tuition costs, textbooks, laptop computer, orientation, parking during class times, class shirt, lifetime membership to the UCF Alumni Association, and all administrative fees. This fee applies to Florida residents only. Non-Florida residents should contact the Executive Development Center to determine the current out-of-state tuition rate for the PMBA program.</p>
<p>Many employers offer PMRE reimbursement packages. Please check with your employer to determine the availability of financial assistance.</p>
<p>Participants of the PMRE program are often eligible for financial aid. Contact UCF’s Financial Aid department for more information.</p>
</div>

</article>