@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Master of Science in Taxation";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h2>@Page.Title</h2>
        <h1></h1>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">
                


<p>View the <a href="http://www.graduatecatalog.ucf.edu/programs/program.aspx?id=1440&program=Taxation%20MST">course catalog entry</a> for this program.</p>
<p>The Master of Science in Taxation (MST) program is designed to prepare students for careers as tax professionals and tax consultants in public practice, government and industry. The MST degree, along with appropriate prerequisite work from an undergraduate degree in accounting, satisfies the education requirements to become a licensed CPA in the state of Florida.</p>
<p>The MST program provides the practical problem solving tools and strong technical knowledge needed to advance in today's financial world. Building on a sound business and accounting foundation, the MST program adds a valuable third dimension to your knowledge with electives that allow you to shape the program to help you achieve your goals.</p>
                            <p>MST graduates are highly sought after and recruited and advance quickly in such fields as public accounting, industry, government, and nonprofit organizations. With careers ranging from tax to controllerships to corporate executive positions, they are partners. They are consultants and advisors and they own their own practices. Regardless of your career path, knowledge of taxes will benefit you as they are a major factor in both business and investment decisions.</p>
                            <p>Graduates are among the best in terms of CPA exam pass rates and have been in the top five nationally on the CPA exam four times. UCF's Tax Team has placed in the top ten in the Andersen Tax Challenge for six years in a row placing second and third in two of the six years. Students may start during any term and complete the 30-semester hour program in one year, if attending full-time. However, the flexible program serves the needs of both full-time and part-time students. Courses count toward CPE credit.</p>

                            <p>Small classes and supportive faculty members help you to reach your full potential. Tax faculty includes Donna Bobek Schmitt, Ph.D. and Charles Kelliher, Ph.D.. The School of Accounting's Master of Science in Taxation (MST) degree is designed to develop the skills necessary to make independent professional judgments in a tax environment. The program provides graduates with the conceptual understanding and the sound technical competence necessary to specialize in taxation in both public accounting and industry. The MST program consists of 30 hours of graduate course work including 18 hours of required tax courses and 12 hours of electives.</p>
		                <p>Tax Professional and Tax Consulting specializations are available in the program. Both specializations build on required foundation work and require either an end of program oral examination or research report.</p>

                            <p>Visit Charlie Kelliher's website (MST program advisor) for more information about our MST program.</p>
                            
                        
                        </div>
	                </div>
                </section>
            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->