@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "DeVos Sport Business Management Graduate Program";
}

@section Styles {
<style> /*-- page-specific styles --*/ 
    
    /*.cover-img {background-image: url('/images/bg.jpg');}*/
    
</style>
}

@section featured {
    <hgroup class="page-title">
        <h2>@Page.Title</h2>
        <h1></h1>
    </hgroup>
}

<div id="st-container" class="st-container clearfix">
    <!-- content push wrapper -->
    <div class="st-pusher">
        <article class="st-content">@*-- this is the wrapper for the content --*@
            <div class="st-content-inner">@*-- extra div for emulating position:fixed of the menu --*@
                <!--MENU-->
                <section id="">
                    <div class="canvas">
		                <div class="container">

<p>The DeVos Sport Business Management Program is a master’s degree program in sport business management that accepted its inaugural class in the fall of 2002. It is a landmark program, focusing on business skills necessary for graduates to conduct successful careers in the rapidly changing and dynamic sports industry while also emphasizing diversity, community service and sport and social issues.</p>

<p>The DeVos Program is an integrative “living classroom” with a rigorous and comprehensive academic curriculum that keeps teams of students together throughout their two years of coursework. The program is distinguished by its solid core of strategic and analytical business courses, combined with a unique offering of classes that emphasize the social impact of sport. Additionally, the program provides one of the few opportunities in the country to earn an MBA with a concentration in sport business. Students will learn about the role of sport in society, how the power of sport can help create a more inclusive society, and the responsibility of sport to use that power to make a difference in our world. Furthermore, each student will have an individual mentor – a professional with master’s degree credentials who is currently employed in sports.</p>

<h3>Curriculum</h3>	

<p>The curriculum incorporates UCF College of Business Administration core classes with specific sport business classes. By combining coursework with internships, interactive projects and programs that allow students to work along-side world-class sport business leaders, the program offers both a superior education and network of contacts to help create rewarding post- graduation opportunities.</p>
<h3>Program Benefactor</h3>	
<p>The program is funded by a gift from the Richard and Helen DeVos Foundation and RDV Sports, with matching funds from the State of Florida. RDV Sports, named for Chairman Rich DeVos, is the parent company of the Orlando Magic of the National Basketball Association, the Orlando Miracle of the Women’s National Basketball Association, RDV Sportsplex and Magic Carpet Aviation.</p>

<p>View the course catalog entry for this program.</p>
<p>The DeVos Sport Business Management Program in the College of Business Administration at the University of Central Florida is the first of its kind in the area of sport management graduate studies. The program was launched in the Fall of 2002. It is the vision of Rich & Helen DeVos, owners of RDV Sports and the Orlando Magic of the National Basketball Association. The endowment for the program is a $2.5 million gift by Mr. & Mrs. DeVos, which has been matched by the State of Florida. The endowment, in addition to the donated scholarships, has allowed the program to have either scholarships or graduate assistant positions for all students.</p>
<p>The DeVos Program is an integrative "living classroom" with a rigorous and comprehensive academic schedule that keeps teams of students together throughout their two-year coursework. The core curriculum of the DeVos Sport Business Management Program incorporates UCF College of Business Administration core classes, specific sport business classes, and other unique classes that emphasize the social impact of sport. Students are given interactive projects and programs that allow them to work along-side world-class sport business leaders, while building a network of contacts that help create rewarding post-graduation opportunities. Additionally, graduates will discover" the role of sport in society; how the power of sport can help create a more inclusive society; and the responsibility of sport to use that power to make a difference.</p>
<p>RDV Sports, named for chairman Rich DeVos, is the parent company of the Orlando Magic, the RDV Sportsplex, and Magic Carpet Aviation. The DeVos Sport Business Management Program has a full partnership with the Orlando Magic. For more information on RDV, visit the RDV Sports website, or call 407-916-2400.</p>

<h3>Two Degrees Option</h3>
<p>The faculty of the College of Business has approved that DeVos students can earn two degrees. All graduates will earn a Master's in Sport Business Management. Students can apply to the MBA Program and complete two additional courses and be awarded an MBA. In the graduating class of 2013, all 28 students received both their MBA and MSBM.</p>

                
		                </div>
	                </div>
                </section>

                                
                <section id="">
                    <div class="canvas">
		                <div class="container">
<h3>Curriculum &amp; Course Requirements</h3>
<p>The DeVos Sport Business Management Program curriculum has a strong business focus along with required traditional sport management courses as well as courses focusing on ethical standards, diversity, sport and social issues and leadership in sport. Students must have a 3.0 to graduate and no more than two C's.</p> 
<h4>Typical Two Year Course Schedule (As based on the Class of 2014)</h4> 
<p>These typical schedules are for full-time students. All students will start the program together in the fall. For more detailed information on the curriculum, see the College of Graduate Studies page. Please note that classes that are 3.0 credit courses are semester long courses, while 1.5 credit classes are half of the semester.</p> 
<p>For those students have not taken courses in Statistics, Microeconomics, Macroeconomics, Accounting, and Finance will need to fulfill their foundation core classes before attendance for their first fall semester.</p> 

<p>For students with the foundation core:</p>
<h5>Year 1<br />
Fall (13.5 hrs)</h5>

<ul>
    <li>Applied Business Research Tools (3.0)
      <ul><li>For the class of 2014, held Mondays 10:30AM-1:30PM, statistics based class, taught by: Richard Hofler, Ph.D.</li></ul>
    </li>
    <li>Managerial Accounting Analysis (3.0)
      <ul><li>For the class of 2014, held Tuesdays 10:30AM-1:30PM, taught by: Darryl Allen, Ph.D.</li></ul>
    </li>
    <li>Economic Analysis of the Firm (3.0)
        <ul><li>For the class of 2014, held Wednesdays 10:30AM-1:30PM, taught by: Walter Milon, Ph.D.</li></ul>
    </li>
    <li>Strategic Supply Chain Management (3.0)
        <ul><li>For the class of 2014, held Thursdays 10:30AM-1:30PM, taught by: Steven Leon, Ph.D.</li></ul>
    </li>
    <li>Leadership in Sport (1.5)
        <ul><li>For the class of 2014, held Thursdays 1:30PM-4:30PM, second half of the semester, taught by: C. Keith Harrison, Ed.D.</li></ul>
</ul>

<h5>Spring (12 hrs)</h5>

<ul>
    <li>Organizational Behavior and Development (3.0)
        <ul><li>For the class of 2014, held Tuesdays 10:30AM-1:30PM, taught by: Craig Crossley, Ph.D.</li></ul>    

</li>
    <li>Strategic Financial Management (3.0)
        <ul><li>For the class of 2014, held Thursdays 10:30AM-1:30PM, taught by: Melissa Frye, Ph.D.</li></ul>
   </li>

    <li>*Strategic Marketing Management (3.0)
        <ul><li>For the class of 2014, held Wednesdays 10:30AM-1:30PM, taught by: Dr. Anand Krishnamoorthy (all 28 students in the class of 2014 were accepted into the MBA portion of the program)</li></ul>
    </li>
    <li>Moral and Ethical Issues in Sport (1.5)
        <ul><li>For the class of 2014, held Mondays 10:30AM-1:30PM, first half of the semester, taught by: Richard Lapchick, Ph.D.</li></ul>
    </li>
    <li>Diversity and Social Issues in Sport (1.5)
    
        <ul><li>For the class of 2014, held Mondays 1:30PM-4:30PM, second half of the semester, taught by: C. Keith Harrison, Ed.D.</li></ul>
    
    </li>

</ul>
<p><small>*If accepted into the MBA portion of the program 12 hours</small></p>


<h5>Summer (7.5 hrs)</h5>


<ul>
                            
<li>Professional Selling in Sport (1.5)
      <ul><li>For the class of 2014, held Monday and Wednesday 8:00AM-8:50AM of Summer Session A (5/13-6/21), taught by Scott Bukstein</li></ul>
</li>
<li>U.S. Sport Industries: The Business of College and Professional Sport (1.5)
        <ul><li>For the class of 2014, held Monday and Wednesday 10:00AM-11:50AM of Summer Session A (5/13-6/21), taught by Scott Bukstein</li></ul>

</li>

<li>Event and Facility Management in Sport (1.5)
    <ul><li>For the class of 2014, held Friday 8:00AM-11:50AM of Summer Session A (5/13-6/21), taught by: Scott Bukstein</li></ul>
</li>

<li>Applied Strategy Business Policy (3.0)
    <ul><li>For the class of 2014, held Monday and Wednesday of Summer Session B (6/24-8/2), 12:00PM-3:50PM, taught by: Samir Phillip Dagher, Ph.D.</li></ul>

</li>

</ul>

<h5>Year 2</h5>

<h5>Fall (12 hrs)</h5>
<ul>
<li>Global Environment in Sport (3.0)</li>
<li>Sport Law (3.0)</li>
<li>Strategic Sport Marketing (3.0)</li>
<li>Business of Sport Media (3.0)</li>
</ul>



<h5>Spring (3 hrs)</h5>
<ul>
<li>Internship (3.0)
   <ul><li>An internship equivalent to three credit hours with a designated sport organization is required. It would normally be a full-time, 15-week internship taken after the completion of all academic courses. The internship is an independent learning activity that takes place in authentic settings (all settings are professional sports settings, such as the NBA, NFL, etc.) in which students must apply, reflect upon, and refine knowledge and skills acquired in the program. This internship can be taken at across the United States and is not limited to Orlando, FL.</li></ul>

</li>

</ul>

<h4>Total Credit Hours</h4>
<ul>

<li>Master's in Sport Business Management Total - 42 credit hours</li>
<li>Master's in Business Administration Option Total - 6 credit hours</li>
<li>Both Master's Degrees Total - 48 credit hours</li>
<li>*Note: In the graduating class of 2013, all 28 students received both degrees</li>

</ul>

<h3>Admission & Application Information - MSBM &amp; MBA</h3>
<p>For more detailed information, see the College of Graduate Studies page.</p>
<p>The Master's in Sport Business Management (MSBM) Program is full-time and consists of a cohort group of approximately 25 to 32 students who complete the program in five consecutive semesters. Courses will start either at 7:30 a.m.  or 10:30 a.m. and last three hours each Monday through Friday. This program DOES NOT offer evening or online courses. There will also be a three credit hour internship which will be in the last semester of the program, please see Curriculum and Course Requirements for more details.</p>
<p>Students must complete 42 hours of community service per semester with the exception of the summer and internship semester. Assistance in obtaining internships and community service will be provided by the program. Students are also encouraged to attend conferences and events; in addition, they are expected to coordinate events while in the program such as the Alumni Brunch and Family Weekend. For a list of attended conferences, please Networking Opportunities until DeVos Student Resources.</p>
<p>Students in the Sport Business Management Program have the opportunity to apply to the MBA program and, if accepted, also receive an MBA. If accepted, they will earn this second degree upon successful completion of two additional graduate courses (six credit hours). In the class of 2013, all 28 students graduated received their MBA when they walked in graduation in December 2012, and all 28 will receive their MSBM in May 2013 after completion of their internships.</p>
<p>Applications are accepted throughout the year. However, admission will only be granted in the fall for this specialized program.</p>

<h4>Deadlines (Apply Online)</h4>
<ul>
<li>Domestic Applicants
  <ul><li>Fall Priority - November 15, 2013</li>
        <li>Fall - January 15, 2014</li>
  </ul>

</li>
<li>International Applicants
    <ul><li>Fall Priority -  November 15, 2013</li>
      <li>Fall -  January 15, 2014</li>
    
    </ul>

<li>International Transfer Applicants
    <ul><li>Fall Priority -  November 15, 2013</li>
        <li>Fall -  January 15, 2014</li>
</ul>

</li>

</ul>



<p>If you have an undergraduate degree or a minor in business, you probably have the foundation core which you will need before enrolling in the program. It is your responsibility to follow up with the DeVos Program Coordinator to determine if your undergraduate classes will transfer. If you do not have an undergraduate degree or minor in business and are still interested in applying, please note that you must take the Business Foundation Core Courses before entering into your fall semester of being admitted.</p>

<h4>Business Foundation Core Courses</h4>
                            <ul>
                                <li>Financial Accounting</li>
                               <li>Macro and Micro Economics</li>
                                <li>Business Statistics</li>
                               <li>Business Finance</li>
                            
                            </ul>

<p>The average undergraduate GPA for the incoming classes of 2011-2012 and 2012-2013 was 3.3 while the average GMAT score was 526. We admit students based on their total package of academic success, professional and community service experience, commitment to teamwork, and other factors that show the admissions committee that the applicant is a good fit for the DeVos program.
</p>

<h4>Admission Requirements</h4>
<ul>
    <li>GPA: 3.0.</li>
<li>GMAT of 550</li>
<li>Three professional letters of recommendation written within the last six months.</li>
<li>Official Transcript of your undergraduate degree from an accredited university, signed and sealed</li>
<li>A current resume.</li>
<li>Some professional experience preferred.</li>
	<li>Essay for Sport Business Management Program. In the essay, you are required to cover the following:
        <ol>
           <li>Why are you applying for the DeVos Program? Have you applied to other sport business management programs?</li>
           <li>What is there about your work experiences and academic preparation that makes you confident that you will succeed in the world of sports business?</li>
           <li>Identify, based on what you have read or observed, one or two of the most critical challenges facing sport business leaders in this decade.</li>
            <li>Describe one or two life experiences – related to social issues, diversity, ethics, etc. – that influence your expectations about the DeVos Program.</li>
            <li>Explain the impact that community service activities have made on you and others.</li>
            <li>What are your five- and ten-year career objectives and how will this assist you in obtaining your objectives?</li>
        </ol>

    </li>
       <li>All finalists will be required to have an in-person or Skype interview.</li>  
    
    </ul>           
		                </div>
	                </div>
                </section>



            </div><!-- /st-content-inner -->
        </article><!-- /st-content -->
    </div><!-- /st-pusher -->
</div><!-- /st-container -->