/* =============================================================================
   Back to top link/image
   ========================================================================== */
/* line 5, ../Content/scss/partials/_back-to-top.scss */
.back-to-top {
  position: fixed;
  bottom: 2em;
  right: 0px;
  text-decoration: none;
  color: #000000;
  background-color: rgba(235, 235, 235, 0.8);
  font-size: 12px;
  padding: 1em;
  display: none;
  z-index: 1000;
}

/* line 18, ../Content/scss/partials/_back-to-top.scss */
.back-to-top:hover {
  background-color: rgba(135, 135, 135, 0.5);
}

/* =============================================================================
   UCF Header
   ========================================================================== */
/* line 5, ../Content/scss/partials/_ucf-header.scss */
#UCFHBHeader {
  background: black url("../../images/ucfbar/header_border.png") repeat-x;
  background-position: bottom left;
  padding: 4px 0 2px 0;
  /* to treat the bg as a border +2px to bottom padding*/
  height: 36px;
  /**/
  position: absolute;
  right: 0;
  left: 0;
  border-width: 0 0 1px;
  top: 0;
  z-index: 1030;
}

/* line 21, ../Content/scss/partials/_ucf-header.scss */
#UCFHBHeader #UCFtitle {
  float: left;
}

/* line 25, ../Content/scss/partials/_ucf-header.scss */
#UCFHBHeader #UCFtitle a {
  background: url("../../images/ucfbar/ucflogo.png") no-repeat;
  background-position: top left;
  width: 318px;
  height: 29px;
  display: block;
}

/* line 33, ../Content/scss/partials/_ucf-header.scss */
#UCFHBHeader #UCFtitle a span.UCFHBText {
  display: none;
}

/* line 37, ../Content/scss/partials/_ucf-header.scss */
#UCFHBHeader label {
  text-indent: -900px;
  color: #FFF;
  float: left;
}

/* line 43, ../Content/scss/partials/_ucf-header.scss */
#UCFHBHeader #UCFHBUni_links {
  margin-left: 75px;
  float: left;
}

/* line 48, ../Content/scss/partials/_ucf-header.scss */
#UCFHBHeader .alert-message {
  width: 580px;
  margin: 0 auto;
  display: none;
}

/* Mobile Layout: 480px and below. */
/* line 17, ../Content/scss/site.scss */
body {
  color: blue;
}

/* Tablet Layout: 481px past 768px(portrait mode) to 1024px(landscape mode). Inherits styles from: Mobile Layout. */
@media only screen and (min-width: 481px) {
  /* line 22, ../Content/scss/site.scss */
  body {
    color: red;
  }
}
/* Desktop Layout: 1025px to max of 1920px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1025px) {
  /* line 29, ../Content/scss/site.scss */
  body {
    color: #333;
  }
}
/*------------------------------------------------------------------------------------------------------------------------------------------------------*/
/* Jumbotron CSS */
/* Move down content because we have a fixed navbar that is 50px tall */
/* line 40, ../Content/scss/site.scss */
body {
  padding-top: 36px;
  /* original size was 50px*/
  padding-bottom: 20px;
}

/* Development Only Border CSS - delete when done 
-------------------------------------------------- */
/* line 49, ../Content/scss/site.scss */
.borderline {
  border: 1px dashed red;
}

/* line 53, ../Content/scss/site.scss */
.centerline, .content-wrapper {
  border: 1px dashed blue;
}

/* line 57, ../Content/scss/site.scss */
.container {
  border: 1px dashed green;
}

/* Sticky footer styles
-------------------------------------------------- */
/* line 66, ../Content/scss/site.scss */
html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
/* line 72, ../Content/scss/site.scss */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
/* line 83, ../Content/scss/site.scss */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
/* line 93, ../Content/scss/site.scss */
#wrap > .container {
  padding: 60px 15px 0;
}

/* line 96, ../Content/scss/site.scss */
.container .credit {
  margin: 20px 0;
}

/* line 100, ../Content/scss/site.scss */
#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 105, ../Content/scss/site.scss */
code {
  font-size: 80%;
}

/* ordered list */
/* line 111, ../Content/scss/site.scss */
ol.round {
  list-style-type: none;
  padding-left: 0;
}

/* line 116, ../Content/scss/site.scss */
ol.round li {
  margin: 25px 0;
  padding-left: 45px;
}

/* line 121, ../Content/scss/site.scss */
ol.round li.zero {
  background: url("../Images/orderedList0.png") no-repeat;
}

/* line 125, ../Content/scss/site.scss */
ol.round li.one {
  background: url("../Images/orderedList1.png") no-repeat;
}

/* line 129, ../Content/scss/site.scss */
ol.round li.two {
  background: url("../Images/orderedList2.png") no-repeat;
}

/* line 133, ../Content/scss/site.scss */
ol.round li.three {
  background: url("../Images/orderedList3.png") no-repeat;
}

/* line 137, ../Content/scss/site.scss */
ol.round li.four {
  background: url("../Images/orderedList4.png") no-repeat;
}

/* line 141, ../Content/scss/site.scss */
ol.round li.five {
  background: url("../Images/orderedList5.png") no-repeat;
}

/* line 145, ../Content/scss/site.scss */
ol.round li.six {
  background: url("../Images/orderedList6.png") no-repeat;
}

/* line 149, ../Content/scss/site.scss */
ol.round li.seven {
  background: url("../Images/orderedList7.png") no-repeat;
}

/* line 153, ../Content/scss/site.scss */
ol.round li.eight {
  background: url("../Images/orderedList8.png") no-repeat;
}

/* line 157, ../Content/scss/site.scss */
ol.round li.nine {
  background: url("../Images/orderedList9.png") no-repeat;
}
