@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Home";

    //Cache Page
    Response.Cache.SetExpires(DateTime.Now.AddSeconds(60));
    Response.Cache.SetCacheability(HttpCacheability.Public);
    Response.Cache.SetValidUntilExpires(true);

    //System.Diagnostics.Trace.WriteLine("This message is forwarded to the TraceContext from System.Diagnostics using the WebPageTraceListener.");
}

@section Scripts {
    @*<script>
    </script>*@
}

@section Styles {
    @*<style>
    </style>*@
}

@section featured {
    <section id="login" style="display: none;">
        <p>Authenticated: @WebSecurity.IsAuthenticated</p>
        @if (WebSecurity.IsAuthenticated) {
            <text>
                Hello, <a class="email" href="~/Account/Manage" title="Manage">@WebSecurity.CurrentUserName</a>!
                <form id="logoutForm" action="~/Account/Logout" method="post">
                    @AntiForgery.GetHtml()
                    <a href="javascript:document.getElementById('logoutForm').submit()">Log out</a>
                </form>
            </text>
        } else {
            <ul>
                <li><a href="~/Account/Register">Register</a></li>
                <li><a href="~/Account/Login">Log in</a></li>
            </ul>
        }
    </section>
}

@*//-- ROW: 6 Panels *@
<div class="pagespan">
    <section class="wrap">
        <div class="frame" id="row1" data-intro="row1" data-position="left">
			<ul class="clearfix">
                
                <li class="long-panel"><div title="Start Here"> <!---->
                    <a href="//issuu.com/ucfbusiness/docs/cba-viewbook-2012?e=0" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" style="background-image: url(/images/panels/viewbook.jpg);">
                        <p>Start Here...with our college guide</p>
                    </a>
                </div></li>

                <li><div title="Dr. Paul Jarley's Blog">
                    <a href="//pauljarley.wordpress.com" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/dean-blog.jpg">
                        <p>Failure Competition</p>
                    </a>
                </div></li>

                <li><div title="Meet our faculty">
                    <a href="//www.bus.ucf.edu/directory.aspx" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/meet-our-faculty.jpg">
                        <p>Directory</p>
                    </a>
                </div></li>

                <li><div title="Dean's Speaker Series">
                    <a href="//events.ucf.edu/?y=2014&m=01&d=24&eventdatetime_id=16079" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/snaith.jpg">
                        <p>Dr. Sean Snaith: The Future of Our National and State Economy</p>
                    </a>
                </div></li>

                <li><div title="Meet our ambassadors">
                    <a href="~/student-ambassadors">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/ambassadors.jpg">
                        <p></p>
                    </a>
                </div></li>

			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div><!--/scrollbar --> 
        <div class="controls center use-fastclick">
            <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls -->    
    </section>
</div>

@*//-- ROW: 6 Panels *@
<div class="pagespan">
    <section class="wrap">
		<div class="frame" id="row2" data-intro="row2" data-position="left">
			<ul class="clearfix">

                <li><div title="Hall of Fame Reception">
                    <a href="//www.ucfknightsnetwork.com/businessReUKnight2014" target="_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/hall-of-fame.jpg">
                        <p>15th Annual Hall of Fame Reception</p>
                    </a>
                </div></li>

                <li><div title="UCF Today">
                    <a href="//today.ucf.edu/section/business/" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/ucf-news.jpg">
                        <p>UCF Today</p>
                    </a>
                </div></li>

                <li><div title="Dr. Richard Lapchick">
                    <a href="//www.huffingtonpost.com/2014/01/02/college-leaders-white-men-study_n_4532721.html?ncid=edlinkusaolp00000003" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/rlapchick.jpg">
                        <p>Most College Presidents, Coaches And Other Leaders Are White Men, Study Confirms</p>
                    </a>
                </div></li>

                <li><div title="Dr. Sean Snaith's Economic Forecasts">
                    <a href="//iec.ucf.edu/page/forecasts.aspx" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/snaith-forecasts.jpg">
                        <p>Florida and U.S. Economic Forecasts from Dr. Sean Snaith</p>
                    </a>
                </div></li>

                <li><div title="Blackstone Launchpad site">
                    <a href="//ucf.thelaunchpad.org" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/blackstone.jpg">
                        <p></p>
                    </a>
                </div></li>

                <li><div title="Dr. Glenn Hubbard">
                    <a href="//tegr.it/y/1at78" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/glenn-hubbard.jpg">
                        <p>Watch Dr. Glenn Hubbard presentation</p>
                    </a>
                </div></li>

                <li><div title="Professional Achievement Awardee, Mike Plaumann">
                    <a href="//www.youtube.com/embed/HGHnnM62wqI" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/professional-achievement.jpg">
                        <p>Alumni Professional Achievements</p>
                    </a>
                </div></li>

			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div><!--/scrollbar --> 
        <div class="controls center use-fastclick">
            <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls --> 
    </section>
</div>

@*//-- ROW: 6 Panels *@
<div class="pagespan">
    <section class="wrap">
        <div class="frame" id="row3" data-intro="row3" data-position="left">
			<ul class="clearfix">

                <li class="long-panel"><div title="graduate business programs">
                    <a href="//ucfmba.ucf.edu" target="_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" style="background-image: url(/images/panels/mba.jpg);">
                        <p>Get your UCF MBA</p>
                    </a>
                </div></li>

                <li><div title="UCF MBA">
                    <a href="//www.bizjournals.com/orlando/subscriber-only/2013/12/20/mba-programs.html" target="_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/ucf-mba.jpg">
                        <p>University of Central Florida Executive Development Center tops MBA program enrollment</p>
                    </a>
                </div></li>

                <li><div title="executive and professional development">
                    <a href="//edc.research.ucf.edu/executive-education" target="_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/executive-development.jpg">
                        <p>Learn more about executive and professional development opportunities</p>
                    </a>
                </div></li>

                <li><div title="undergraduate student services">
                    <a href="//www.bus.ucf.edu/students/undergraduate/" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/advising.jpg">
                        <p>Undergraduate Student Services</p>
                    </a>
                </div></li>

                <li><div title="keon testing center">
                    <a href="//www.bus.ucf.edu/testingcenter" class="target_blank">
                        <img src="//images.bus.ucf.edu/testinglab/camshot.jpg?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%">
                        <p>Keon Testing Center</p>
                    </a>
                </div></li>

                @*<li><div title="blank tile">
                    <img src="~/images/panels/blank.jpg" alt="..." width="100%" height="100%">
                    <p></p>
                </div></li>

                <li><div title="blank tile">
                    <img src="~/images/panels/blank.jpg" alt="..." width="100%" height="100%">
                    <p></p>
                </div></li>

                <li><div title="blank tile">
                    <img src="~/images/panels/blank.jpg" alt="..." width="100%" height="100%">
                    <p></p>
                </div></li>*@

			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div><!--/scrollbar --> 
        <div class="controls center use-fastclick">
            <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls --> 
    </section>
</div>

@*//-- ROW: 6 Panels *@
<div class="pagespan">
    <section class="wrap">
        <div class="frame" id="row4" data-intro="row4" data-position="left">
			<ul class="clearfix">

                <li><div title="Take the ball by Dr. Paul Jarley">
                    <a href="//www.bus.ucf.edu/dean/take-the-ball" class="target_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/take-the-ball.jpg">
                        <p>Learn how to Take the Ball</p>
                    </a>
                </div></li>

                <li><div title="Black and Gold Friday">
                    <a href="//www.bus.ucf.edu/events/black-and-gold-friday" target="_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/black-gold-friday.jpg">
                        <p></p>
                    </a>
                </div></li>

                <li><div title="Stay connected with social media">
                    <a href="~/social-media">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/social-media.jpg">
                        <p>Join the conversation</p>
                    </a>
                </div></li>

                <li><div title="Starter Riot">
                    <a href="//www.bus.ucf.edu/events/starter-riot" target="_blank">
                        <img src="~/images/blank.gif?@DateTime.Now.TimeOfDay" alt="..." width="100%" height="100%" data-echo="/images/panels/starter-riot.jpg">
                        <p></p>
                    </a>
                </div></li>


                @*<li><div title="blank tile">
                    <img src="~/images/panels/blank.jpg" alt="..." width="100%" height="100%">
                    <p></p>
                </div></li>

                <li><div title="blank tile">
                    <img src="~/images/panels/blank.jpg" alt="..." width="100%" height="100%">
                    <p></p>
                </div></li>

                <li><div title="blank tile">
                    <img src="~/images/panels/blank.jpg" alt="..." width="100%" height="100%">
                    <p></p>
                </div></li>*@

			</ul>
		</div><!--/frame -->
        <div class="scrollbar">
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div><!--/scrollbar --> 
        <div class="controls center use-fastclick">
            <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
            <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
        </div><!--/controls --> 
    </section>
</div>