@{
    Layout = "_FacultyLayout.cshtml";
    Page.Title = "Directory List";
}

@section fpStyles {
<style>

</style>
}

@section fpContents {
    <h1>Directory</h1>
    
    <h3><a href="mambrose">Maureen Ambrose, Ph.D.</a></h3>
    <h3><a href="rhofler">Richard A. Hofler, Ph.D.</a></h3>
    <h3><a href="#"></a></h3>
}