@{
    Layout = "_FacultyLayout.cshtml";
    Page.Title = "Maureen Ambrose, Ph.D.";
}

@section fpStyles {
<style>
    .pt-page-1 {
	    background-image: url(/images/mambrose.jpg);
        background-size: cover;
    }
    
    .col-xs-6, .col-md-6 {
        background: rgba(0,0,0,.7);
        color: #fff;
    }

    .pt-page-2 {
	    background-image: url(/images/cover-bg.jpg);
        background-size: cover;
    }

    .pt-page-3 {
	    background: #60d7a9;
    }
    
    .pt-page-4 {
	    background: #fdc162;
    }
</style>
}

@section fpContents {

        <div class="clearfix" style="background: #333;">
            <ul id="menav" class="pt-menu"></ul>
        </div>

		<div id="pt-main" class="pt-perspective">
			<div id="page0" class="pt-page pt-page-1">
                <div class="scroll-pane">

                    <div class="clearfix">
                        <ul class="pt-menu" style="float: right">
                            <li><a class="btnNext"> Next >> </a></li>
                        </ul>
                    </div>

                    <div class="container">
                        <div class="col-xs-6 col-md-6">
                            <h3>Maureen L. Ambrose, Ph.D.</h3>
                            <h4>Gordon J. Barnett <br> Professor of Business Ethics</h4>
                            <p>&nbsp;</p>
                            <p>Maureen L. Ambrose is the Gordon J. Barnett Professor of Business Ethics in the College of Business at the University of Central Florida.  She received her Ph.D. in 1986 from the University of Illinois at Urbana-Champaign.  Prior to joining the faculty at the University of Central Florida, she served on the faculty at the University of Iowa and the University of Colorado at Boulder and, where she was Director of Research for the College of Business.  She has also been a visiting scholar at the Instituto d’Empressa in Madrid and the Université de Toulouse in France. Her research interests include organizational fairness, ethics, and workplace deviance.  Her work has appeared in the Academy of Management Journal, Academy of Management Review, Journal of Applied Psychology, Journal of Management, Organizational Behavior and Human Decision Processes and Administrative Sciences Quarterly.   She is Fellow of the Academy of Management and the Society of Industrial and Organizational Psychology.  She is a member of the Society for Organizational Behavior and has served on the Executive Committee for the Society since 2007.</p>
                            <p>She recently completed a five year term in the Division Chair track for the Organizational Behavior Division, with over 5000 members, the largest division of the Academy of Management. She previously served as Representative-at-Large for the Organizational Behavior Division and as a member of the Academy of Management Ethics Education Committee.  Other professional service includes serving as Associate Editor for the Academy of Management Journal, guest editor for Organizational Behavior and Human Decision Processes, and membership on the editorial boards for the Academy of Management Journal, Human Resource Management Review Journal of Applied Psychology, Journal of Management, Journal of Managerial Issues, Journal of Organizational Behavior, and Organizational Behavior and Human Decision Processes.</p>
                            
                            <iframe width="100%" height="315" src="//www.youtube.com/embed/OPSyo0vy90U" frameborder="0" allowfullscreen></iframe>
                        </div>

                    </div>
                </div>
            </div>
			<div id="page1" class="pt-page pt-page-2">
                <div class="scroll-pane">

                    <div class="clearfix">
                        <ul class="pt-menu" style="float: right">
                            <li><a class="btnPrev"> << Previous </a></li>
                            <li><a class="btnNext"> Next >> </a></li>
                        </ul>
                    </div>

                    <div class="container">

                        <h1><span>Maureen L. Ambrose, Ph.D.</span> Research</h1>
                        <p>&nbsp;</p>

                        <div class="pagespan">
                            <section class="wrap">
                                <div class="frame" id="row2" data-intro="row2" data-position="left">
			                        <ul class="clearfix">

                                        <li>
                                            <div title="Test 1">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 2">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 3">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 4">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 5">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 6">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 7">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 8">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

			                        </ul>
		                        </div><!--/frame -->
                                <div class="scrollbar">
                                    <div class="handle">
                                        <div class="mousearea"><span></span></div>
                                    </div>
                                </div><!--/scrollbar --> 
                                <div class="controls center use-fastclick">
                                    <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
                                    <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
                                </div><!--/controls -->
                                <br>
                            </section>
                        </div>
                        <div class="pagespan">
                            <section class="wrap">
                                <div class="frame" id="row3" data-intro="row3" data-position="left">
			                        <ul class="clearfix">

                                        <li>
                                            <div title="Test 1">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 2">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 3">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 4">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 5">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 6">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 7">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div title="Test 8">
                                                <a href="#" class="target_blank">
                                                    <p>Title of Paper or Document</p>
                                                </a>
                                            </div>
                                        </li>

			                        </ul>
		                        </div><!--/frame -->
                                <div class="scrollbar">
                                    <div class="handle">
                                        <div class="mousearea"><span></span></div>
                                    </div>
                                </div><!--/scrollbar --> 
                                <div class="controls center use-fastclick">
                                    <button class="btn prevPage"><i class="fa fa-chevron-left"></i><i class="icon-chevron-left"></i></button><!--/back button-->
                                    <button class="btn nextPage"><i class="fa fa-chevron-right"></i></button><!--/forward button-->
                                </div><!--/controls -->
                                <br>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
            <div id="page2" class="pt-page pt-page-3">
                <div class="clearfix">
                    <ul class="pt-menu" style="float: right">
                        <li><a class="btnPrev"> << Previous </a></li>
                        <li><a class="btnNext"> Next >> </a></li>
                    </ul>
                </div>

                <div class="container">
                    <h1><span>Maureen L. Ambrose, Ph.D.</span> News</h1>
                </div>

            </div>
			<div id="page3" class="pt-page pt-page-4">
                <div class="scroll-pane">

                    <div class="clearfix">
                        <ul class="pt-menu" style="float: right">
                            <li><a class="btnPrev"> << Previous </a></li>
                        </ul>
                    </div>

                    <div class="container">
                    <h1><span>Maureen L. Ambrose, Ph.D.</span> CV</h1>

                    <h3>Research Interests:</h3>
                    <ul>
                    <li>Organizational fairness</li>
                    <li>Ethics in organizations</li>
                    <li>Computerized performance monitoring</li>
                    <li>Cognitive processes in organizations</li>
                    </ul>
                    <h3>Teaching Interests:</h3>
                    <ul>
                    <li>Organizations Behavior</li>
                    <li>Organizational Change</li>
                    <li>Negotiation and Conflict Management</li>
                    <li>Leadership and Managerial Skills</li>
                    </ul>
                    <h3>Education:</h3>
                    <ul>
                    <li>Ph.D., 1986 University of Illinois at Urbana Champaign 
                    <ul>
                    <li>Major: Industrial/Organizational Psychology</li>
                    <li>Minors: Quantitative Psychology; Organizational Behavior</li>
                    </ul>
                    </li>
                    <li>A.M., 1983 University of Illinois at Urbana Champaign 
                    <ul>
                    <li>Major: Industrial/Organizational Psychology</li>
                    </ul>
                    </li>
                    <li>B.A., 1980 University of California at Santa Barbara 
                    <ul>
                    <li>Major: Experimental Psychology</li>
                    <li>Graduated Summa Cum Laude</li>
                    </ul>
                    </li>
                    </ul>
                    <h3>Professional Experience:</h3>
                    <ul>
                    <li>8/99-present Professor, Department of Management University of Central Florida, Orlando, Florida 32816</li>
                    <li>8/97-8/99 Director of Research, College of Business University of Colorado at Boulder, Boulder, Colorado 80309</li>
                    <li>8/91-8/99 Associate Professor, Department of Management University of Colorado at Boulder, Boulder, Colorado 80309</li>
                    <li>8/85-8/91 Assistant Professor, Department of Management and Organizations, University of Iowa, Iowa City, Iowa 52242</li>
                    </ul>
                    <h3>Teaching Experience:</h3>
                    <h4>Ph.D.</h4>
                    <ul>
                    <li>Organizational Behavior: A doctoral seminar on organizational behavior.</li>
                    </ul>
                    <h4>Masters</h4>
                    <ul>
                    <li>Organizational Behavior: A required introductory organizational behavior course.</li>
                    <li>Organizational Change: An elective on managing organizational change.</li>
                    <li>Conflict Management and Negotiation: An elective on conflict management and negotiation skills.</li>
                    <li>Leadership and Managerial Skills: An elective on leadership behaviors and skills.</li>
                    <li>Managing Group Behavior: An elective focusing on group-level HR and OB topics.</li>
                    </ul>
                    <h4>Undergraduate</h4>
                    <ul>
                    <li>Organizational Behavior: An upper level undergraduate course on organizational behavior.</li>
                    </ul>
                    <h4>Non-degree</h4>
                    <ul>
                    <li>University of Colorado, Executive Development Program: 
                    <ul>
                    <li>Conflict Management: A seminar on managing organizational conflicts for mid-level oil and gas industry executives.</li>
                    </ul>
                    </li>
                    <li>University of Colorado, Economics Institute: 
                    <ul>
                    <li>Management and Organizational Behavior: A non-degree organizational behavior course for international students preparing for graduate work in the United States.</li>
                    <li>Organizational Change: A seminar on the basics of organizational change for Armenian and Georgian government officials and business executives.</li>
                    <li>Human Resource Management: A seminar on the basics of human resource practices in the United States for Armenian and Georgian government officials and business executives.</li>
                    <li>Management: A three-week course on management issues for Hyundai Electronics Corporation executives.</li>
                    <li>Leadership, Motivation, and Change: A two-week course on organizational leadership and change for DACOM Corporation mid-level managers.</li>
                    </ul>
                    </li>
                    <li>University of Colorado, SK Telecom Program: 
                    <ul>
                    <li>Strategic Leadership: A seminar on leadership and strategic alliances for SK Telecom executives.</li>
                    </ul>
                    </li>
                    </ul>
                    <h3>Publications:</h3>
                    <ul>
                    <li>Ambrose, M. L., Arnaud, A., &amp; Schminke, M. (in press). Individual moral development and ethical climate: The influence of P-O fit on job attitudes. Journal of Business Ethics.</li>
                    <li>Seabright, M., Ambrose, M., &amp; Schminke, M. (forthcoming). Two images of workplace sabotage. In J. Greenberg (Ed.) Insidious Workplace Behavior. Hillsdale, NJ: Erlbaum.</li>
                    <li>Ambrose, M. L. Hess, R. L., &amp; Gansar, S. (2007). The relationship between justice and attitudes: An examination of justice effects on specific and global attitudes . Organizational Behavior and Human Decision Processes, 103, 21-36.</li>
                    <li>Mitchell, M. S., &amp; Ambrose, M. L. (2007). Abusive supervision and workplace deviance and the moderating effects of the negative norm of reciprocity. Journal of Applied Psychology.</li>
                    <li>Ambrose, M. L., &amp; Schminke, M. (2007). Examining justice climate: Issues of fit, simplicity, and content. In F. Dansereau, &amp; F. J. Yammarino (Eds.), Research In Multilevel Issues. New York, NY: Elsevier.</li>
                    <li>Alder, G.S., Noel, T.W, &amp; Ambrose, M.L. (2006). Clarifying the effects of Internet monitoring on job attitudes: The mediating role of employee trust. Information &amp; Management, 43, 894-903.</li>
                    <li>Alder, G.S., Ambrose, M.L., &amp; Noel, T.W. (2006). The effect of formal advance notice and justification on Internet monitoring fairness: Much ado about nothing? Journal of Leadership and Organizational Studies, 13, 93-107.</li>
                    <li>Alder, G. S., &amp; Ambrose, M. L. (2005). Feedback&rsquo;s influence on the perceived fairness of computer performance monitoring: An empirical investigation. Organizational Behavior and Human Decision Processes, 97, 161-177.</li>
                    <li>Schminke, M., Ambrose, M. L., &amp; Neubaum, D. O. (2005). The effect of leader moral development on ethical climate and employee attitudes. Organizational Behavior and Human Decision Processes, 97, 135-151.</li>
                    <li>Ambrose, M. L., &amp; Arnaud, A. (2005). Are procedural justice and distributive justice conceptually distinct? In J. Greenberg and J. Colquitt (Eds.) The handbook of organizational justice: Fundamental questions about fairness in the workplace (pp. 59-84). Hillsdale, NJ: Erlbaum.</li>
                    <li>Alder, G. S., &amp; Ambrose, M. L. (2005). Toward understanding fairness judgments associated with computerized performance monitoring: An integration of feedback, justice, and monitoring research. Human Resource Management Review, 15, 43-67.</li>
                    <li>Ambrose, M. L., &amp; Rosse, J. G. (2003). Procedural justice and personality testing: When sincerity matters. Group and Organization Management, 28, 502-526.</li>
                    <li>Ambrose, M. L., &amp; Cropanzano, R. S. (2003). A Longitudinal analysis of organizational fairness: An examination of reactions to tenure and promotion decisions. Journal of Applied Psychology, 88, 266-275.</li>
                    <li>Ambrose, M. L., &amp; Schminke, M. (2003). Organization structure as a moderator of the relationship between procedural justice, interactional justice, POS and supervisory trust. Journal of Applied Psychology, 88, 295-305.</li>
                    <li>Schminke, M., Ambrose, M. L., &amp; Miles, J. A. (2003). Ethical frameworks: An examination of sex differences, setting, and accuracy of perceptions. Sex Roles, 48, 361-375.</li>
                    <li>Ambrose, M. L. (2002). Organizational justice in the 21st Century: Three themes in contemporary research. Organizational Behavior and Human Decision Processes, 89, 803-812.</li>
                    <li>Ambrose, M. L., Seabright, M., &amp; Schminke, M. (2002). Sabotage in the workplace: The role of organizational injustice. Organizational Behavior and Human Decision Processes, 89, 947-965.</li>
                    <li>Ambrose, M. L., &amp; Kulik, C. T. (2001). How do I know that&rsquo;s fair? A categorization approach to fairness judgments. In S. Gilliland, D. Steiner, &amp; D. Skarlicki (Eds.) Research in Social Issues in Management: Theoretical and cultural perspectives on organizational justce (pp. 35-63). Greenwich, CT: IAP Press.</li>
                    <li>Ambrose, M.L., &amp; Schminke, M. (2001). Are flexible organizations the death knell for the future of procedural justice? In R. Cropanzano (ed.) Justice in the workplace II: From theory to practice (229-244). Hillsdale, NJ: Erlbaum.</li>
                    <li>Cropanzano, R.S., &amp; Ambrose, M.L. (2001). Procedural and distributive justice are more similar than you think: A monistic perspective and research agenda. In J. Greenberg and R. Cropanzano (eds.) Advances in organizational justice (pp. 119-151). Palo Alto, CA: Stanford University Press.</li>
                    <li>Ambrose, M. L., &amp; Daily, C. M. (2001). From the editors: The roles of a scholar in the publication process. Academy of Management Journal, 43, 247-248.</li>
                    <li>Schminke, M., Ambrose, M. L., &amp; Cropanzano, R. (2000). The effect of organizational structure on perceptions of fairness. Journal of Applied Psychology, 85, 294-304.</li>
                    <li>Ambrose, M.L., &amp; Alder, G.S. (2000). Designing, implementing, and utilizing computerized performance monitoring: Enhancing organizational justice. In G. Ferris (ed.) Research in Personnel and Human Resource Management (Vol. 18), pp187-220. Greenwich, CT: JAI, Press.</li>
                    <li>Ambrose, M. L. (2000). Drug testing and procedural fairness: The influence of situational variables. Social Justice Research, 13, 25-40.</li>
                    <li>Ambrose, M. L., &amp; Schminke, M. (1999). Sex differences in business ethics: The importance of perceptions. Journal of Managerial Issues, 11, 454-474.</li>
                    <li>Ambrose, M. L., &amp; Kulik, C. T. (1999) Old friends, new faces: Motivation in the 1990s. Journal of Management, 25, 231-292.</li>
                    <li>Ambrose, M.L., Alder, G.S., &amp; Noel, T.W. (1998). Electronic monitoring and ethics: A consideration of employer and employee rights. In M. Schminke (ed.) Managerial ethics: Morally managing people and processes (pp.61-80). Hillsdale, NY: Erlbaum.</li>
                    <li>Schminke, M., Ambrose, M.L., &amp; Noel, T.W. (1997) The effect of ethical frameworks on perceptions of organizational justice. Academy of Management Journal, 40, 1190-1207.</li>
                    <li>Schminke, M., &amp; Ambrose, M.L. (1997). Asymmetric perceptions of ethical frameworks of men and women in business and nonbusiness settings. Journal of Business Ethics, 16, 719-729.</li>
                    <li>Kulik, C.T., Lind, E.A., Ambrose, M.L. , &amp; MacCoun, R.J. (1996). Understanding gender differences in distributive and procedural justice. Social Justice Research, 9, 351-369.</li>
                    <li>Ambrose, M.L. &amp; Harland, L.K. (1995). Procedural justice and influence tactics: Fairness, frequency, and effectiveness. In R. Cropanzano &amp; K. M. Kacmar (eds.) Organizational politics, justice, and support: Managing social climate at work (pp.97-130). Westport, CT: Quorum Press.</li>
                    <li>Ambrose, M.L. &amp; Kulik, C.T. (1994). Computerized performance monitoring: The influence of performance pattern and information format on appraisal judgments. Journal of Applied Social Psychology, 24, 801-823.</li>
                    <li>Kulik, C.T. &amp; Ambrose, M.L. (1993). Category based and feature based processes in performance appraisal: Integrating visual and computerized sources of performance data. Journal of Applied Psychology, 78, 821-830.</li>
                    <li>Lind, E.A., Kulik, C.T., Ambrose, M.L., &amp; de Vera, M.V. (1993). Outcome and process concerns in organizational dispute resolution. Administrative Science Quarterly, 38, 224-251.</li>
                    <li>Kulik, C.T. &amp; Ambrose, M.L. (1993). The impact of computerized performance monitoring design features on the performance appraisal process. Journal of Managerial Issues, V, 182-197.</li>
                    <li>Kulik, C.T., &amp; Ambrose, M.L. (1992). Personal and situational determinants of referent choice. Academy of Management Review, 17, 212-237.</li>
                    <li>Ambrose, M.L., Harland, L., &amp; Kulik, C.T. (1991). The influence of social comparisons on perceptions of organizational fairness. Journal of Applied Psychology, 76, 239-246.</li>
                    <li>Lind, E.A., Ambrose, M.L., Kulik, C.T., Park, M.V. (1990). Perspective and procedural justice: Attorney and litigant evaluations of court procedures. Social Justice Research, 4, 325-336.</li>
                    <li>Ambrose, M.L., &amp; Kulik, C.T. (1989). The influence of social comparisons on perceptions of procedural fairness. Journal of Business and Psychology, 4, 129 138.</li>
                    <li>Ambrose, M.L., &amp; Kulik, C.T. (1988). Referent Sharing: Convergence within workgroups of perceptions of equity and referent choice. Human Relations, 41, 697 707.</li>
                    <li>Oldham, G.R., Kulik, C.T., Ambrose, M.L., Stepina, L.P., and Brand, J.F. (1986). Relations between job facet comparisons and employee reactions, Organizational Behavior and Human Decision Processes, 38, 28 47.</li>
                    <li>Oldham, G.R., Kulik, C.T., Stepina, L.P., &amp; Ambrose, M.L. (1986). Personal and structural correlates of the comparative referents used by employees. Academy of Management Journal, 29, 599 608.</li>
                    </ul>
                    <h3>Book Reviews:</h3>
                    <ul>
                    <li>Ambrose, M.L. (1993). A review of "Issues, theory, and research in industrial/ organizational psychology." Contemporary Psychology.</li>
                    <li>Ambrose, M.L. (1992). Leadership: What we know, what we don't. A review of the Bass and Stogdill handbook of leadership, 3rd Ed. Contemporary Psychology, 37, 64-65.</li>
                    </ul>
                    <h3>Practitioner Publications:</h3>
                    <ul>
                    <li>Ambrose, M. L. (1998). Firms focus on ethics must start at the top. Boulder County Business Report, June.</li>
                    <li>Ambrose, M.L. (1995). Making computerized performance monitoring systems work for you. Colorado Business Review, 55, 3-4.</li>
                    <li>Ambrose, M. L. (1991). Computerized performance monitoring: Does the format of information matter? Iowa Business, 2, 9-11.</li>
                    </ul>
                    <h3>Manuscripts under review:</h3>
                    <ul>
                    <li>Ambrose, M. L., &amp; Schminke, M. The role of overall justice judgments in organizational justice research. Revision requested Journal of Applied Psychology.</li>
                    <li>Neubaum, D. O., &amp; Ambrose, M. L. Organizational care and firm performance: The moderating role of industry discretion. Revision requested Strategic Management Journal.</li>
                    <li>Ambrose, M. L., and Kuenzi, M. Organizational justice and social comparisons: The moderating effect of social comparisons on the relationship between individual justice perceptions and attitudes. Revision requested Journal of Applied Psychology.</li>
                    </ul>
                    <h3>Work in Progress:</h3>
                    <ul>
                    <li>Neubaum, D. O., &amp; Ambrose, M. L. Perceived organizational support and firm performance: The moderating effect of organizational structure.</li>
                    <li>Mitchell, M., &amp; Ambrose, M. L. Organizational justice, social exchange, and employee deviance: An empirical investigation.</li>
                    <li>Bardes, M. &amp; Ambrose, M. L. Supervisor, subordinate, and situational antecedents of abusive supervision.</li>
                    </ul>
                    <h3>Papers and Presentations:</h3>
                    <ul>
                    <li>Ambrose, M. L., &amp; Schminke, M. (2007). Why do people behave unfairly? Presented at Workshop on Research Advances in Organizational Behavior, Human Resources Management, and Corporate Social Responsibility, Toulouse, France, May.</li>
                    <li>Ambrose, M. L., &amp; Schminke, M. (2006). Roadblocks to justice: A four-component model of fairness behavior. Presented at the International Rounddtable on Organizational Justice, Tucson, Arizona, November.</li>
                    <li>Ambrose, M. L., &amp; Schminke, M. (2006). An examination of overall justice. Presented at the annual meeting of the Society of Industrial and Organizational Psychology, Dallas, May.</li>
                    <li>Ambrose, M. L., &amp; Schminke, M. (2005). Overall justice: Some empirical observations. Presented at the annual Society of Organizational Behavior meeting, Minneapolis, October.</li>
                    <li>Neubaum, D. O., &amp; Ambrose, M. L. (2005). Does it pay to be nice? Organizational care, performance, and the moderating role of discretion. Presented at the annual meeting of the Strategic Management Society, Orlando, October.</li>
                    <li>Kuenzi, M. &amp; Ambrose, M. L. (2005). The moderating effect of organizational justice climate on the relationship between individual justice perceptions and outcomes. To be presented at the annual meeting of the Academy of Management, Honolulu, August.</li>
                    <li>Alder, G. S., Ambrose, M. L., &amp; Noel, T. (2005). Clarifying the effects of Internet monitoring on job attitudes: The mediating role of employee trust. To be presented at the annual meeting of the Academy of Management, Honolulu, August.</li>
                    <li>Mitchell, M. S., &amp; Ambrose, M. L. (2005). Organizational justice as a moderator of the relationship between outcome favorability and workplace deviance. Presented at the annual meeting of the Midwest Academy of Management, Chicago, IL.</li>
                    <li>Mitchell, M. &amp; Ambrose, M. L. (2004). Abusive supervision and workplace deviance: Moderating effects of negative reciprocity. Presented at the annual meeting of the Academy of Management, New Orleans, August.</li>
                    <li>Mitchell, M. &amp; Ambrose, M. L. (2004). Is workplace deviance a victim&rsquo;s response to unfair exchange? Presented at the annual meeting of the Society of Industrial and Organizational Psychology, Chicago, April.</li>
                    <li>Ambrose, M. L. (2003). Taking ethics mainstream: Lessons from organizational justice. Presented at the professional development workshops at the Academy of Management meeting, Seattle, August.</li>
                    <li>Ambrose, M. L., Noel, T. W., &amp; Alder, G. S. (2002). The effect of advance notice, justification, and trust on employee reactions to Internet monitoring. Presented at the annual meeting of the Academy of Management, Denver.</li>
                    <li>Arnaud, A., Ambrose, M. L., &amp; Schminke, M. (2002). Individual moral development and ethical climate: The influence of P-O fit on job attitudes. Presented at the annual meeting of the Academy of Management, Denver.</li>
                    <li>Ambrose, M. L., &amp; Hess, R. L. (2001). Organizational justice and customer satisfaction. Presented at the International Roundtable on Organizational Justice, Vancouver, Canada.</li>
                    <li>Alder, G. S., &amp; Ambrose, M. L. (2001). The effect of feedback on performance in a computer monitored environment. Presented at the annual meeting of the Academy of Management, Washington, DC.</li>
                    <li>Ambrose, M. L., and Schminke, M. (2000). Organization structure as a moderator of the relationship between procedural/Interactional justice and overall fairness judgments. Paper presented at the annual meeting of the Academy of Management, Toronto.</li>
                    <li>Seabright, M., Ambrose, M. L., and Schminke, M. (2000). Two images of workplace sabotage: Hot and cold deviance. Paper presented at the annual meeting of the Academy of Management, Toronto.</li>
                    <li>Schminke, M., and Ambrose, M. L. (2000). Entrepreneurship and ethics: A multi-level analysis. Paper presented at the annual meeting of the Academy of Management, Toronto.</li>
                    <li>Ambrose, M. L., Seabright, M., and Schminke, M. (2000). Sabotage at work: The role of organizational justice. Paper presented at the annual meeting of the International Association of Business and Society, Essex Junction, VT. Published in the Proceedings of the 12th Annual Meeting of the International Association of Business and Society.</li>
                    <li>Ambrose, M. L., &amp; Kulik, C. T. (1999). How do I know that&rsquo;s fair? A categorization approach to fairness judgments. Presented at the International Roundtable on Organizational Justice, Nice, France.</li>
                    <li>Ambrose, M. L., Seabright, M., &amp; Schminke, M. (1999). Sabotage in the workplace: A justice analysis of dysfunctional behavior. Presented at the Society for Industrial and Organizational Psychology annual meeting. Atlanta, Georgia.</li>
                    <li>Ambrose, M.L., &amp; Schminke, M. (1998). Procedural justice in the 21 Century. Presented at the International Social Justice Research Conference, Denver, May.</li>
                    <li>Alder, G.S., &amp; Ambrose, M.L. (1997). Electronic monitoring and ethics: A consideration of employer and employee rights. Presented at the Academy of Management meetings, Boston.</li>
                    <li>Schminke, M., Ambrose, M.L., &amp; Miles, J. (1997). Ethical frameworks: An examination of sex differences, setting, and accuracy of perceptions. Presented at the Academy of Management meetings, Boston.</li>
                    <li>Ambrose, M. L., &amp; Harland, L. K. (1996). Organizational fairness and selection tests: The role of job-relatedness and justification. Presented at the Academy of Management meetings, Cincinnati.</li>
                    <li>Alder, G. S., &amp; Ambrose, M. L. (1996). Designing, implementing, and utilizing computerized performance monitoring: An organizational justice approach. Presented at the Academy of Management meetings, Cincinnati.</li>
                    <li>Cropanzano, R., &amp; Ambrose, M. L. (1996). There&rsquo;s no such thing as procedural justice. Presented at the meetings of the Society for Industrial and Organizational Psychology, San Diego.</li>
                    <li>Ambrose, M.L., &amp; Cropanzano, R. (1995). Organizational fairness and promotion and tenure procedures. Presented at the Academy of Management meeting, Vancouver.</li>
                    <li>Kulik, C.T., Ambrose, M.L., &amp; Schmidtke, J.M. (1995). Computer-based performance appraisals: The effect of information format and processing goals. Presented at the Midwest Psychological Association conference, Chicago.</li>
                    <li>Schminke, M., Ambrose, M.L., &amp; Noel, T.W. (1994). The effect of ethical frameworks on perceptions of organizational justice. Presented at the Academy of Management meeting, Dallas.</li>
                    <li>Ambrose, M.L. &amp; Rosse, J.R. (1993). Relational justice and personality testing: Sometimes nice guys do finish last. Presented at the Academy of Management meeting, Atlanta.</li>
                    <li>Ambrose, M.L. (1992). Drug testing procedures and organizational fairness. Paper presented at the Academy of Management meetings, Las Vegas.</li>
                    <li>Kulik, C.T. &amp; Ambrose, M.L. (1992). Justice, gender, and power. Paper presented at the Academy of Management meetings, Las Vegas.</li>
                    <li>Harland, L. K., &amp; Ambrose, M. L. (1992). From Bobby Knight to the Mayflower Madam: Using popular press books to integrate theory and practice in OB classes. Workshop presented at annual Organizational Behavior Teaching Conference, Calgary.</li>
                    <li>Ambrose, M.L., &amp; Kulik, C.T. (1992). Access to computer monitored information: A comparison of social and non-social targets. Paper presented at the annual meetings of the Society for Industrial and Organizational Psychology, Montreal.</li>
                    <li>Kulik, C.T. &amp; Ambrose, M.L. (1991). Category based and feature based processes in performance appraisal: Integrating visual and computerized sources of performance data. Paper presented at the Academy of Management meetings, Miami.</li>
                    <li>Ambrose, M.L. (1991). Drug testing procedures and organizational fairness. Paper presented as part of an invited symposium at the annual meetings of the Midwestern Psychological Association, Chicago.</li>
                    <li>Ambrose, M.L., Harland, L., &amp; Kulik, C.T. (1989). The influence of social comparisons on perceptions of organizational fairness. Paper presented at the Academy of Management meetings, Washington, D.C.</li>
                    <li>Ambrose, M.L., &amp; Kulik, C.T. (1989). Computerized monitoring: The effect of information format on appraisal judgments. Paper presented at the meetings of the Society for Industrial and Organizational Psychology, Boston.</li>
                    <li>Ambrose, M.L. (1987). Evaluative judgments: Retrieval and computational judgment processes. Paper presented as part of the Employee Judgment Processes in Organizations symposium at the Academy of Management meetings, New Orleans.</li>
                    <li>Ambrose, M.L. (1987). The influence of process control on the evaluation of intangible outcomes. Paper presented at the 98th convention of the American Psychological Association, New York.</li>
                    <li>Ambrose, M.L. and Kulik, C.T. (1985). Referent Sharing: Convergence of perceptions of equity and choice of referents within groups. Paper presented at the Academy of Management meetings, San Diego.</li>
                    <li>Ambrose, M.L. (1983). Application of Item Response Theory to the detection of item bias between males and females on a test of mathematical ability. Paper presented at the 94th Convention of the American Psychological Association. Paper received the Robert S. Wherry, Sr. Award for the Division 14 Best Student Paper.</li>
                    </ul>
                    <h3>Conference Activities:</h3>
                    <ul>
                    <li>Faculty participant (2004). Conflict Management division workshop on organizational justice. Academy of Management meetings, New Orleans, August.</li>
                    <li>Faculty participant (2003). Doctoral student consortium. Southern Management Association meetings, Clearwater.</li>
                    <li>Panelist (2003). I/O psychologist in business schools. Presented at the meeting of the Society of Industrial and Organizational Psychologist, April, Orlando.</li>
                    <li>Faculty participant (2002). OB/ODC/OMT Doctoral student consortium. Academy of Management meetings, Denver.</li>
                    <li>Panelist (2002). AMJ reviewing workshop: roundtable chair. Academy of Management meetings, Denver.</li>
                    <li>Panelist (2001). The craft of reviewing. Academy of Management meetings, Washington, DC.</li>
                    <li>Panelist (2001). Editor&rsquo;s panel HR Junior faculty/Doctoral student consortium. Academy of Management meetings, Washington, DC.</li>
                    <li>Panelist (2000). Editor&rsquo;s panel HR Junior faculty/Doctoral student consortium. Academy of Management meetings, Toronto.</li>
                    <li>Faculty presenter (1999). HR Doctoral student consortium. Academy of Management meetings, Chicago.</li>
                    <li>Facilitator (1998). OB Faculty Forum: Work and well being in the 21st Century, Academy of Management meetings, San Diego.</li>
                    <li>Facilitator (1997). OB Faculty Forum: Surviving and thriving at the OB/HR interface, Academy of Management meetings, Boston.</li>
                    <li>Senior Faculty facilitator (1996). OB/HR Junior Faculty Consortium, Academy of Management meetings, Cincinnati.</li>
                    <li>Faculty participant (1996). Doctoral student consortium, Midwest Academy of Management meetings, Kansas City.</li>
                    <li>Senior Faculty facilitator (1995). OB/HR Junior Faculty Consortium, Academy of Management meetings, Vancouver.</li>
                    <li>Co-Chairperson (1994). Beyond Individual Justice: A Multi-Level Look at the Role of Organizational Fairness. Joint symposium (Conflict Management, Organizational Behavior, and Organization and Management Theory), Academy of Management meetings, Dallas.</li>
                    <li>Chairperson (1994). Society for Industrial and Organizational Psychology Career Service Award.</li>
                    <li>Chairperson (1993). Procedural Justice. Organizational Behavior session, Academy of management meetings, Atlanta.</li>
                    <li>Chairperson (1991). Organizational Fairness: The Role of Justice in Organizations. Invited symposium at the annual meetings of the Midwestern Psychological Association, Chicago.</li>
                    <li>Chairperson (1990). Decision making. Personnel and Human Resources session, Academy of Management meetings, San Francisco.</li>
                    <li>Chairperson (1989). Decision making and performance appraisal. Personnel and Human Resources session, Academy of Management meetings, Washington, D.C.</li>
                    <li>Co chair (1987) of the Employee Judgment Processes in Organizations symposium at the Academy of Management meetings, New Orleans.</li>
                    <li>Participant (1987). Organization and Management Theory Junior Faculty Workshop, Academy of Management meetings, New Orleans, 1987.</li>
                    <li>Chairperson (1986). New directions in job design. Organizational Behavior session, Academy of Management meetings, Chicago.</li>
                    </ul>
                    <h3>Invited Presentations:</h3>
                    <ul>
                    <li>Justice climate as a moderator of the relationship between individual justice and attitudes. Presented at Instituto de Empressa, April 2006.</li>
                    <li>Overall justice: Some empirical observations. Presented at LIRHE, University of Toulouse, March 2006.</li>
                    <li>The effect of organizational justice climate on the relationship between individual justice and attitudes. Presented at LIRHE, University of Toulouse, March 2006.</li>
                    <li>Basic negotiation skills. Presented to the University of Central Florida Leadership Institute, April, 2003.</li>
                    <li>Negotiating skills. Presented to the University of Central Florida Leadership Enhancement Program, April 2002, January 2003.</li>
                    <li>Honing your negotiation skills. Presented at the UCF Women&rsquo;s Research II: Engendering Diversity conference, October, 2002.</li>
                    <li>Organizational justice and sabotage. Presented at the University of Illinois at Urbana-Champaign, May 2001.</li>
                    <li>Effective leadership and conflict management skills. Presented to the University of Central Florida Knights of the Roundtable, February, 2001.</li>
                    <li>Negotiating a job offer. Presented to the University of Central Florida SHRM chapter, April 2000.</li>
                    <li>Organizational structure and organizational justice. Presented at Leiden University, Netherlands, May 1999.</li>
                    <li>Organizational fairness and promotion and tenure procedures. Presented to UNO-SIOP, March, 1998.</li>
                    <li>Procedural justice and tenure decisions. Presented at the University of Iowa, College of Business, October, 1996.</li>
                    <li>Team teaching and integration (with I. Zigurs). Presented in the University of Colorado College of Business Teaching Seminar, November, 1994.</li>
                    <li>Gender-based asymmetric perceptions of ethical frameworks in business and nonbusiness settings. The Ohio State University, Department of Management Lecture Series. Columbus, Ohio, May 1994.</li>
                    <li>Using research in the classroom (with K. Nakamoto &amp; B. Lewis. Panel discussion presented in the University of Colorado College of Business Teaching Seminar, March 1993.</li>
                    <li>Creating synergy: Using small groups in the classroom. University of Colorado at Boulder Graduate Teaching Program Conference, January, 1993.</li>
                    <li>Organizational fairness and drug testing. Presented at the Colorado-Wyoming Industrial and Organizational Psychologists meeting, Spring 1992.</li>
                    <li>Computerized monitoring: The effect of information format on appraisal judgments. University of Illinois at Urbana-Champaign, Colloquium series, November, 1991.</li>
                    <li>The use of computer aided simulations in behavioral research. Presentation at the Women in Research Conference, Iowa City, March, 1986.</li>
                    </ul>
                    <h3>Awards and Recognition:</h3>
                    <ul>
                    <li>UCF College of Business Excellence in Research Award, 2007</li>
                    <li>UCF Research Incentive Award, 2004</li>
                    <li>UCF Teaching Incentive Program Award, 2004</li>
                    <li>UCF College of Business Excellence in Research Award, 2002</li>
                    <li>UCF College of Business Galloway Award for Research, 2002</li>
                    <li>UCF Department of Management Galloway Award for Research, 2002</li>
                    <li>UCF Department of Management Galloway Award for Research, 2001</li>
                    <li>University of Colorado, Dean&rsquo;s Teaching Scholar 1996, 1997, 1998, 1999</li>
                    <li>University of Iowa, Old Gold Research Fellowship Recipient, 1987, 1988, 1989, 1990</li>
                    </ul>
                    <h3>Professional Activities and Service:</h3>
                    <ul>
                    <li>Member, Academy of Management</li>
                    <li>Member, American Psychological Society</li>
                    <li>Member, Society for Industrial and Organizational Psychology</li>
                    <li>Member, Society of Organizational Behavior</li>
                    <li>Member, International Social Justice Research</li>
                    </ul>
                    <ul>
                    <li>Associate Editor, Academy of Management Journal (1999-2002)</li>
                    <li>Guest Co-Editor, Organizational Behavior and Human Decision Processes Special Issue: Organizational Justice (2002)</li>
                    </ul>
                    <ul>
                    <li>Editorial Board, Journal of Organizational Behavior (2007-present)</li>
                    <li>Editorial Board, Organizational Behavior and Human Decision Processes (2001-present)</li>
                    <li>Editorial Board, Journal of Applied Psychology (1996-2000)</li>
                    <li>Editorial Board, Journal of Management (1995-2000; 2004-present)</li>
                    <li>Editorial Board, Academy of Management Journal (1993-1996)</li>
                    <li>Editorial Board, Journal of Managerial Issues (1993-2000)</li>
                    </ul>
                    <ul>
                    <li>Ad hoc Reviewer, Academy of Management Review</li>
                    <li>Ad hoc Reviewer, Journal of Organizational Behavior</li>
                    <li>Ad hoc Reviewer, Journal of Management Inquiry</li>
                    <li>Ad hoc Reviewer, Journal of Social Behavior and Personality</li>
                    <li>Ad hoc Reviewer, Journal of Business and Psychology</li>
                    <li>Ad hoc Reviewer, Organization Science</li>
                    <li>Ad hoc Reviewer, Personality and Social Psychology Bulletin</li>
                    <li>Ad hoc Reviewer, Personnel Psychology</li>
                    <li>Ad hoc Reviewer, Human Performance</li>
                    <li>Ad hoc Reviewer, Journal of Organizational and Occupational Psychology</li>
                    <li>Ad hoc Reviewer, Journal of Business Venturing</li>
                    <li>Ad hoc Reviewer, Journal of Business Ethics</li>
                    </ul>
                    <ul>
                    <li>Reviewer, OB Division, Academy of Management Conference</li>
                    <li>Reviewer, PHR Division, Academy of Management Conference</li>
                    <li>Reviewer, High Technology Management Conference</li>
                    <li>Reviewer, SIOP Conference</li>
                    </ul>
                    <ul>
                    <li>SIOP Program Planning Subcommittee for the 1993 APA Convention</li>
                    <li>SIOP Program Planning Subcommittee for the 1994 SIOP Convention</li>
                    </ul>
                    <ul>
                    <li>Academy of Management Organizational Behavior Division Chair (2006-2007)</li>
                    <li>Academy of Management Organizational Behavior Division Chair Elect (2005-2006)</li>
                    <li>Academy of Management Organizational Behavior Division Program Chair (2004-2005)</li>
                    <li>Academy of Management Organizational Behavior Division Program Chair Elect (2003-2004)</li>
                    <li>Midwest Academy of Management OB/OT Track Chair, 1997-1998</li>
                    <li>Chairperson Academy of Management Blue Ribbon Task Force on Management Education (1997-1999)</li>
                    <li>Academy of Management Organizational Behavior Division Events Task Force (1996-2000)</li>
                    <li>Academy of Management Human Resource Division 1993, 1994, 1997 Scholarly Achievement Awards Committee</li>
                    <li>Academy of Management Organizational Behavior Division Representative-at-large (1996-1998)</li>
                    <li>Academy of Management Organizational Behavior Division 1995 Scholarly Achievement Awards Committee</li>
                    <li>Academy of Management Social Events Task Force, 1994-1995</li>
                    </ul>
                    <h3>University, College, and Departmental Service:</h3>
                    <h4>Department</h4>
                    <ul>
                    <li>Strategic Management Search Committee (2002-03)</li>
                    <li>Management Department Chair Search Committee (2001)</li>
                    <li>Human Resource Management Search Committee (2000-01)</li>
                    <li>Promotion and Tenure Committee (2000-present)</li>
                    <li>Doctoral Committee (1999-present)</li>
                    </ul>
                    <h4>College</h4>
                    <ul>
                    <li>College of Business Research Committee (2003-2005; 2006-2008; Chair 2007-present)</li>
                    <li>College of Business Promotiona and Tenure Review Committee (2002-2005)</li>
                    <li>College of Business Doctoral Program Review Committee (2002-2006)</li>
                    <li>College of Business Colloquia Series, Department of Management Representative (2000-2006)</li>
                    </ul>
                    <h4>University</h4>
                    <ul>
                    <li>Personnel Committee (2002-2004)</li>
                    <li>Research Incentive Award Selection Committee (2003, 2005, 2007)</li>
                    </ul>

                    </div>


                </div>
            </div>
            <div class="pt-page"></div> <!-- end marker (required) -->
		</div>


}